<h2>PerlでポータブルなLinuxファイル管理入門 PerlクラブBooks【無料公開版】</h2>

「<a href="https://perlclub.net/book/perl_linux_file">PerlでポータブルなLinuxファイル管理入門</a>」は、Perlを使ったポータブルなLinuxのファイル管理をマスターするための書籍です。

<ul>
  <li><a href="/books/linux/beginning.html">はじめに</a></li>
  <li><a href="/books/linux/chapter01.html">第１章 Perlのインストール</a></li>
  <li><a href="/books/linux/chapter02.html">第２章 Linuxコマンドを覚えよう</a></li>
  <li><a href="/books/linux/chapter03.html">第３章 ファイル バックアップの自動化</a></li>
  <li><a href="/books/linux/chapter04.html">第４章 Perlワンライナーと Linuxコマンドの組み合わせ</a></li>
  <li><a href="/books/linux/chapter05.html">第５章 Perlファイル操作</a></li>
</ul>
