<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"1." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"1." counter(count1) "." counter(count2) " ";
  }

</style>

<div style="font-size:25px;font-weight:bold;padding:10px;">第１章 Perlのインストール</div>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <!-- <img width="65" src="images/kaeru_w_01.png"> -->
  </div>
  <div class="chapter_description_right;" style="padding:10px;">
    Perlテキスト処理プログラミングって、最初は何から始めたらいいのかな。最初はPerlのインストールから。この章では、Perlのインストール方法を、Windows、Mac、Linux/UNIXで解説していくよ。
  </div>
</div>

<h2>WindowsへのPerlのインストール</h2>

WindowsにPerlをインストールしましょう。Strawberry Perl(ストロベリーパール)と呼ばれるWindows用のPerlディストリビュートをダウンロードして、インストールします。インストールの解説はWindows 10であることを前提にします。Windows 7, 8でも、ほとんど同じ手順で行えますが、アプリケーションを探す場所など、一部異なる場合があります。

<h3>Strawberry PerlのWebサイト</h3>

Strawberry Perl(ストロベリーパール)と呼ばれるWindows用のPerlディストリビューションのサイトに、ブラウザを使ってアクセスしてください。
　
<b>Strawberry Perl for Windows</b>
https://strawberryperl.com/
　
<div>
  <!-- <img src="images/chapter01/strawberry_perl.png" width="400"> -->
</div>
 
<h3>Strawberry Perlのダウンロード</h3>

Strawberry Perlをダウンロードして、インストールしてみましょう。2021年の最新のPerlは、Perl 5.32です。

Strawberry Perlのサイトの以下のリンクから<b>strawberry-perl-5.32.0.1-64bit.msi</b>をクリックして、Strawberry Perlをダウンロードしましょう。

<div>
  <!-- <img src="images/chapter01/strawberry_perl_download.png"> -->
</div>

Perlは毎年、最新バージョンがリリースされますので、新しいバージョンになっている場合は、それをダウンロードします。末尾のバージョン番号が少し違うこともあるかもしれませんが、気にしないで大丈夫です。

2021年では、ほとんどの場合は64bit版のPerlで大丈夫だと思いますが、Windows OSが32bitである場合は、32bitの方のStrawberry Perlをダウンロードしてください。

<h3>Strawberry Perlのインストール</h3>
 
ダウンロードしたStrawberry Perlをダブルクリックします。インストーラーが起動します。空き容量の計算に少し時間がかかる場合がありますが、そのまま待ちましょう。インストーラーが起動しますので「Next」を押して進みます。

途中で「I accept the terms in the License Agreement」というチェックボックスがでてくるので、チェックをいれて「Next」を押します。

さらに「Next」を押して進んでいって、最後に「Install」をクリックするとStrawberry Perlのインストールが始まります。

ここで「この不明な発行元からのアプリがデバイスに変更を加えることを許可しますか?」というダイアログが表示されると思いますが、「はい」をクリックしましょう。

5分くらい時間がかかるので待ちましょう。

プログレスバーが満タンになると、Strawberry Perlのインストールが完了します。

「Finish」を押してダイアログを閉じましょう。Readmeが表示されますが、これも閉じて大丈夫です。

<h3>Perlがインストールされていることの確認</h3>

インストールが完了したら実際にStrawberry Perlがインストールできているか確認してみましょう。

コマンドプロンプトというツールをを実行してPerlのバージョンを表示してみます。

コマンドプロンプトは画面左下のウインドウズの「スタートメニュー」→「アプリの一覧」→「Windowsシステムツール」→「コマンドプロンプト」から実行できます。

黒い画面がでてくるので、以下の文字をキーボードで入力し「Enter」を押してみてください。

<pre>
perl -v
</pre>

次のようにバージョン情報が表示されればインストールは成功しています。

<pre>
This is perl 5, version 32, subversion 0 (v5.32.0) built for MSWin32-x64-multi-thread
</pre>

これでStrawberry Perlのインストールは完了です。

<h3>Windowsへのその他のPerlのインストール方法</h3>

Windowsへのその他のPerlのインストール方法も紹介しておきます。 

<h4>ActivePerl</h4>

Windows用のPerlディストリビューションとしてよく知られたActivePerlをインストールしてPerlを実行することができます。

<h4>msys2</h4>

msys2と呼ばれるUnixの疑似環境をインストールして、Perlを実行できます。Perlのサーバーアプリケーションなど、UNIXの機能を必要とするアプリケーションも正しく動かすことができます。Unixの疑似環境なので、シンボリックリンクなど本物のLinux/UNIXと一部互換性がない部分もあります。

<h4>WSL2</h4>

WSL2と呼ばれるLinux環境をWindows上で有効にして、Perlを実行できます。本物のLinux環境なので、Linuxの機能を必要とするPerlのサーバーアプリケーションを完全に正しく動かすことができます。これは、Windows 10の機能です。 

<h2>コマンドプロンプトでPerlを実行する</h2>

WindowsでPerlを実行するにはコマンドプロンプトと呼ばれるツールを使用します。perlコマンドを使ってPerlプログラムを実行できます。

まず最初にWindowsにおけるコマンド実行ツールであるコマンドプロンプトについて解説します。

<h3>コマンドプロンプトとは</h3>

コマンドプロンプトとは、Windows環境におけるCUIを用いたプログラムの実行環境のことです。CUIとは、Character-based User Interfaceの略で、テキストを入力して、プログラムを実行する環境のことです。Windows上で、Perlプログラムを実行するときは、コマンドプロンプトを使います。

<h3>コマンドプロンプトを実行するには</h3>

画面左下のWindowsメニューからアプリの一覧で「Windowsシステムツール」→「コマンドプロンプト」で実行できます。コマンドプロンプトのアイコンを左クリックでドラッグして、デスクトップに、ショートカットを作っておくと便利です。

コマンドプロンプトを実行すると、以下のようにコマンドプロンプトが立ち上がります。

<!-- <img src="images/chapter01/commandprompt.png"> -->

コマンドプロンプトのホームディレクトリは、ユーザーディレクトリです。

この例では以下です。

<pre>
C:\Users\kimot
</pre>

<h3>拡張子を表示する</h3>

Perlのプログラムは単なるテキストファイルですが、拡張子を「.pl」にするので、拡張子を表示するように設定しておきましょう。拡張子とはプログラムの種類を表すためのものです。

画面左下のWindowsメニューを右クリック → 「エクスプローラー」をクリック → 上のタブの「表示」をクリック → 「ファイル名拡張子」にチェックを入れる。

<h3>Perlプログラムを作成する</h3>

コマンドプロンプトのホームディレクトリをエクスプローラーで開きましょう。

この例では以下のディレクトリにアクセスします。

<pre>
C:\Users\kimot
</pre>

画面左下のWindowsメニューを右クリック → 「エクスプローラー」をクリック → 左メニュー「OS(C:)」をクリック → 「ユーザー」をクリック → 「kimot」をクリック。

Usersに該当する部分は、日本語では「ユーザー」と表示されていることに注意してください。

C:\Users\kimotのディレクトリの空いている部分を右クリック→「新規作成」→「テキスト文書」。名前を「start.pl」にして保存してください。「拡張子を変えると動かなくなる可能性があります」の注意ができますが、そのまま進めます。

「.pl」の関連付けをメモ帳に変更します。使っているテキストエディタがある場合は、使っているテキストエディタに関連付けを変更してください。

「start.pl」を右クリック →「プログラムから開く」→「別のプログラムを選択」→「メモ帳」→「常にこのアプリを使って.plファイルを開く」にチェック。

「start.pl」をクリックして、メモ帳で開く。

以下の内容を入力してください。

<pre>
print "Hello World";
</pre>

左上の「ファイル」→「上書き保存」で保存します。ショートカットキー「Ctrl + s」でも保存できます。

<h3>Perlプログラムを実行する</h3>

Perlを実行するにはperlコマンドを使用します。コマンドプロンプトで以下の記述してEnterを入力してください。

<pre>
perl start.pl
</pre>

以下のように出力されれば、Perlプログラムを実行できています。おめでとうございます。

<pre>
Hello World
</pre>

コマンドプロンプトでよく使うコマンドをいくつか紹介します。

<h3>ファイル一覧を表示する - dirコマンド</h3>

ファイル一覧を表示するには「dir」コマンドを使用します。「dir」と入力してEnterを押すと、ファイルの一覧が表示されます。

<pre>
dir
</pre>

以下のようにファイルが表示されます。

<pre>
2021/03/25  16:54    <DIR>          Desktop
2021/03/18  10:58    <DIR>          Documents
2021/03/29  08:04                20 start.pl
</pre>

<h3>ディレクトリを作成する - mkdirコマンド</h3>

ディレクトリを作成するにはmkdirコマンドを使用します。ディレクトリとはフォルダのことです。

<pre>
mkdir ディレクトリ名
</pre>

testという名前のディレクトリを作成してみましょう。

<pre>
mkdir test
</pre>

<h3>作業ディレクトリを変更する - cdコマンド</h3>

作業ディレクトリを変更するには「cd」コマンドを使用します。

<pre>
cd ディレクトリ名
</pre>

testというディレクトリに作業ディレクトリを変更する例です。

<pre>
cd test
</pre>

作業ディレクトリの表示が変わっています。

<pre>
C:\Users\kimot\test>
</pre>

一つ上の階層へ作業ディレクトリを変更したい場合は特殊な「..」というディレクトリ名を使用します。

<pre>
cd ..
</pre>

<h3>ドライブを変更する</h3>

「c:」で、C ドライブに「d:」で、D ドライブにドライブを変更することができます。

<pre>
c:
d:
</pre>


<h3>コマンド履歴を参照する</h3>

上下キーでコマンド履歴をたどることができます。

<pre>
↑
↓
</pre>

<h3>補足:コマンドプロンプトとPowerShellの違い</h3>

WindowsのCUI実行環境にはコマンドプロンプトの他に、PowerShellと呼ばれるものがあります。PowerShellはコマンドプロンプトより機能が豊富な一方で、入出力が「.net」によって変換されるという特殊な仕様があります。

このため、リダイレクトやパイプという機能を使う場合に、意図しない動作を引き起こすことがあります。

<h2>MacへのPerlのインストール</h2>

Macには、デフォルトでPerlがインストールされているので、すぐに使い始めることができます。

<h3>ターミナルの起動</h3>

MacでPerlを実行するには、ターミナルと呼ばれるCUI環境を使用します。

「アプリケーション」->「ユーティリティ」->「ターミナル」からターミナルを起動しましょう。ターミナルは、コマンドが実行できるCUI端末です。

<h3>Perlがインストールされていることの確認</h3>

以下のコマンドでPerlがインストールされているか確認してみましょう。

<pre>
perl -v
</pre>

Perlのバージョン情報が表示されればOKです。

<h3>拡張子を表示する</h3>

Perlのプログラムは単なるテキストファイルですが、拡張子を「.pl」にするので、拡張子を表示するように設定しておきましょう。拡張子とはプログラムの種類を表すためのものです。

「Finder」＞「環境設定」と選択してから、「詳細」をクリックします。

「すべてのファイル名拡張子を表示」を選択します。

<h3>Perlプログラムの作成</h3>

お気に入りのテキストエディタで「start.pl」というファイルをホームディレクトリに作成してください。

以下の内容を入力してください。

<pre>
print "Hello World";
</pre>

<h3>Perlプログラムの実行</h3>

Perlを実行するにはperlコマンドを使用します。コマンドプロンプトで以下の記述してEnterを入力してください。

<pre>
perl start.pl
</pre>

以下のように出力されれば、Perlプログラムを実行できています。おめでとうございます。

<pre>
Hello World
</pre>

<h3>Macでのその他のPerlのインストール方法</h3>

もしシステムにデフォルトでインストールされるPerlではなく、ユーザー環境にPerlをインストールしたい場合は、perlbrewやplenvというツールがあります。

ユーザー環境にPerlがインストールできるとシステム環境を汚さなくっても済むのでお勧めの方法でもあります。

<h2>Linux/UNIXへのPerlのインストール</h2>

ほとんどのLinux/UNIXには、Perlがインストールされています。Perlがインストールされていることを前提に解説します。

<h3>Perlがインストールされていることの確認</h3>

以下のコマンドでPerlがインストールされているか確認してみましょう。

<pre>
perl -v
</pre>

Perlのバージョン情報が表示されればOKです。

<h3>Perlプログラムの作成</h3>

お気に入りのテキストエディタで「start.pl」というファイルをホームディレクトリに作成してください。

以下の内容を入力してください。

<pre>
print "Hello World";
</pre>

<h3>Perlプログラムの実行</h3>

Perlを実行するにはperlコマンドを使用します。コマンドプロンプトで以下の記述してEnterを入力してください。

<pre>
perl start.pl
</pre>

以下のように出力されれば、Perlプログラムを実行できています。おめでとうございます。

<pre>
Hello World
</pre>

<h3>Linux/UNIXでのその他のPerlのインストール方法</h3>

もしシステムにデフォルトでインストールされるPerlではなく、ユーザー環境にPerlをインストールしたい場合は、perlbrewやplenvというツールがあります。

ユーザー環境にPerlがインストールできるとシステム環境を汚さなくっても済むのでお勧めの方法でもあります。

<h2>覚えておきたいシェルコマンド</h2>

MacやLinux/UNIXでは、CUI端末で作業をしますが、コマンドを実行できるのはシェルという機能があるからです。

よく使うシェルのコマンドをいくつか覚えておきましょう。

<h3>ファイル一覧を表示する - lsコマンド</h3>

ファイル一覧を表示するには「ls」コマンドを使用します。

<pre>
ls
</pre>

<h3>ディレクトリを作成する - mkdirコマンド</h3>

ディレクトリを作成するにはmkdirコマンドを使用します。

<pre>
mkdir ディレクトリ名
</pre>

testという名前のディレクトリを作成してみましょう。

<pre>
mkdir test
</pre>

<h3>作業ディレクトリを変更する - cdコマンド</h3>

作業ディレクトリを変更するには「cd」コマンドを使用します。

<pre>
cd ディレクトリ名
</pre>

testというディレクトリに作業ディレクトリを変更する例です。

<pre>
cd test
</pre>

一つ上の階層へ作業ディレクトリを変更したい場合は特殊な「..」というディレクトリ名を使用します。

<pre>
cd ..
</pre>

Perlのインストールが完了したので、実際にPerlでプログラムを書いてみましょう。
