<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>Perlの算術演算子 - Perl入門ゼミ</title>
<meta name="description" content="Perlで四則演算を行うための算術演算子について解説します。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="Perlの算術演算子 - Perl入門ゼミ" />
<meta name="twitter:description" content="Perlで四則演算を行うための算術演算子について解説します。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop="name">演算子</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2><a href="/blog/20080910122105.html">Perlの算術演算子</a></h2>
<p>
  Perlで四則演算を行うための<strong>算術演算子</strong>について解説します。
</p>
<h4>加算</h4>
<p>
  足し算を行うには<a href="/blog/20180219151904.html">加算演算子「+」</a>を使用します。
</p>
<pre>
# 足し算
my $add = 1 + 1;
</pre>
<h4>減算</h4>
<p>
  引き算を行うには<a href="/blog/20180220151913.html">減算演算子「-」</a>を使用します。
</p>
<pre>
# 引き算
my $sub = 9 - 1;
</pre>
<h4>乗算</h4>
<p>
  掛け算を行うには、<a href="/blog/20180221151922.html">乗算演算子「*」</a>を使用します。
</p>
<pre>
# 掛け算
my $multi = 5 * 4;
</pre>
<h4>除算</h4>
<p>
  割り算を行うには<a href="/blog/20180222151930.html">除算演算子「/」</a>を使用します。
</p>
<pre>
# 割り算
my $div = 9 / 4;
</pre>
<p>
  割り算の答えは割り切れないときは小数になります。
</p>
<h3>簡略な記述による4則演算</h3>
<p>
  自分自身に対して4則演算を行いたいときは簡略な記述方法があります。
</p>
<pre>
# $add = $add + 3 と同じ
$add += 3;

# $sub = $sub - 5 と同じ
$sub -= 5;

# $multi = $multi * 2 と同じ
$multi *= 2;

# $div = $div / 7 と同じ
$div /= 7;
</pre>
<h3>商と余りを求める</h3>
<p>
  商を求める演算子はありません。 / 演算子で割り算をした後 int関数で整数部を取り出します。
</p>
<pre>
# 商
my $div_int = int( 9 / 4 );
</pre>
<p>
  余りを求めるには、<a href="/blog/20180223151939.html">剰余演算子</a>を使います。
</p>
<pre>
# 余り
my $mod = 9 % 4;
</pre>
<h3>べき乗を求める</h3>
<p>
  べき乗を求めるには<strong>**</strong>演算子を使用します。
</p>
<pre>
my $two_power_num = 4 ** 2;
</pre>
<p>
  べき乗を求めるには<a href="/blog/20080629121475.html">べき乗演算子「**」</a>を使います。べき乗とは、同じ数を複数回かける演算のことです。
</p>
<h3>インクリメント演算子とデクリメント演算子</h3>
<p>
  ある数値に1を加えたり、1を引いたりする演算には、<a href="/blog/20180224151948.html">インクリメント演算子</a>と<a href="/blog/20180226151973.html">デクリメント演算子</a>を利用することができます。特別な記述が用意されています。++$i や ++$i という記述を1を加えることができ、--$iや$i--という記述で1を減算することができます。
</p>
<pre>
# インクリメント
$num++;

# デクリメント
$num--;
</pre>
<p>
  インクリメントとデクリメントの書き方は++あるいは--を変数の前につけるか後につけるかで2とおりあります。演算子を変数の前につけるか後ろにつけるかで、文脈によって意味が変わるので注意が必要です。
</p>
<pre>
my $i = 0;
my $k = ++$i;
</pre>
<pre>
my $i = 0;
my $k = $i++;
</pre>
<p>
  上記の二つは$kに入る値が異なります。最初の場合は、$kには、1が入ります。二つ目の場合は、$kには0が入ります。
</p>
<p>
  前に++をおいた場合は、代入する前に$iが1加算され、後ろに++をおいた場合は、代入が行われた後に$iに1が加算されます。
</p>
<p>
  代入の場合で解説しましたが、関数に値を渡す場合の例も挙げておきます。
</p>
<pre>
# funcの引数には、$iに1を加算したものが渡される。
func(++$i);

# funcの引数には、$i が渡され、その後に1加算される。
func($i++);
</pre>
<h3>数値型の自動拡張</h3>
<p>
  Perlは、プログラミング言語上は、数値型を持っていませんが、内部では、数値型を持っています。
</p>
<p>
  32ビット整数で計算できない場合は、環境がサポートしていれば、64bit整数に拡張され計算されます。
</p>
<p>
  また、64bit整数でも表現できない場合は、倍精度浮動小数点型に拡張され計算されます。
</p>
<h3>文字列の足し算もそのまま行える</h3>
<p>
  Perlでは<a href="/blog/20161003147558.html">文字列</a>と数値の変換は自動的に行われ、文字列であっても、数値を含んでいれば、加算演算子で足し算ができます。
</p>
<pre>
my $num_str1 = "34";
my $num_str2 = "56";

my $total = $num_str1 + $num_str2;
</pre>
<p>
  テキストファイルから、数値を含んでいる文字列を取得し、そのまま足し算できるので、ちょっとした作業には、Perlが抜群に便利です。
</p>
<h3>サンプルプログラム</h3>
<p>
  数値計算に関するサンプルプログラムです。
</p>
<h4>四則演算</h4>
<p>
  足し算、引き算、掛け算、割り算のサンプルです。
</p>
<pre>
use strict;
use warnings;

print "(1)4則演算\n";

# 足し算
my $add = 1 + 1;

# 引き算
my $sub = 9 - 1;

# 掛け算
my $multi =5 * 4;

# 割り算
my $div = 9 / 4;

print "\$add = $add\n";
print "\$sub = $sub\n";
print "\$multi = $multi\n";
print "\$div = $div\n\n";

print "(2)簡略な記述による4則演算\n";

# $add = $add + 3 と同じ
$add += 3;

# $sub = $sub - 5 と同じ
$sub -= 5;

# $multi = $multi * 2 と同じ
$multi *= 2;

# $div = $div / 7 と同じ
$div /= 7;

print "\$add = $add\n";
print "\$sub = $sub\n";
print "\$multi = $multi\n";
print "\$div = $div\n\n";


print "(3)商と余りを求める演算\n";
# 商
my $div_int = int( 9 / 4 );
# 余り
my $mod = 9 % 4;

print "\$div_int = $div_int\n";
print "\$mod = $mod\n";
</pre>
<h4>べき乗を求める</h4>
<p>
  べき乗を求めるサンプルです。
</p>
<pre>
use strict;
use warnings;

# べき乗を求める。
print "1: べき乗を求める。\n";
my $num = 4;
my $two_power_num = 4 ** 2;
print "$numの2乗は$two_power_numです。\n";
</pre>
<h4>インクリメントとデクリメント</h4>
<p>
  インクリメント演算子とデクリメント演算子を使ったサンプルです。
</p>
<pre>
use strict;
use warnings;

# 評価される前に1プラスされる。
print "(1)前置のインクリメントとデクリメント\n";
my $i = 0;
print ++$i . "\n";
print $i . "\n";

print --$i . "\n";
print $i . "\n";

# 評価された後に1プラスされる。
print "(2)後置のインクリメントとデクリメント\n";
$i = 0;
print $i++ . "\n";
print $i . "\n";

print $i-- . "\n";
print $i;
</pre>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
