<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>DateTimeで利用できるロケール一覧 - Perl入門ゼミ</title>
<meta name="description" content="DateTimeで利用することのできるロケールの一覧です。ロケールとは地域のことで、地域に適した日付や時刻の情報を得ることが可能になります。DateTimeについては「DateTimeモジュールで「日付・時刻」を汎用的に扱う」をご覧ください。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="DateTimeで利用できるロケール一覧 - Perl入門ゼミ" />
<meta name="twitter:description" content="DateTimeで利用することのできるロケールの一覧です。ロケールとは地域のことで、地域に適した日付や時刻の情報を得ることが可能になります。DateTimeについては「DateTimeモジュールで「日付・時刻」を汎用的に扱う」をご覧ください。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20090815124848.html">
        <span itemprop="name">DateTime</span></a>
    <meta itemprop="position" content="3" />
  </li>
</ol>
<h2><a href="/blog/20081107122606.html">DateTimeで利用できるロケール一覧</a></h2>
<p>
  DateTimeで利用することのできるロケールの一覧です。ロケールとは地域のことで、地域に適した日付や時刻の情報を得ることが可能になります。DateTimeについては「<a href="/blog/20090815124848.html">DateTimeモジュールで「日付・時刻」を汎用的に扱う</a>」をご覧ください。
</p>
<table>
  <tr>
    <td>
       <b>ロケールID</b>           
    </td>
    <td>
      <b>ロケール名</b>
    </td>
  </tr>
  <tr>
    <td>
       aa                  
    </td>
    <td>
      Afar
    </td>
  </tr>
  <tr>
    <td>
       aa_DJ               
    </td>
    <td>
      Afar Djibouti
    </td>
  </tr>
  <tr>
    <td>
       aa_ER               
    </td>
    <td>
      Afar Eritrea
    </td>
  </tr>
  <tr>
    <td>
       aa_ER_SAAHO         
    </td>
    <td>
      Afar Eritrea Saho
    </td>
  </tr>
  <tr>
    <td>
       aa_ET               
    </td>
    <td>
      Afar Ethiopia
    </td>
  </tr>
  <tr>
    <td>
       af                  
    </td>
    <td>
      Afrikaans
    </td>
  </tr>
  <tr>
    <td>
       af_NA               
    </td>
    <td>
      Afrikaans Namibia
    </td>
  </tr>
  <tr>
    <td>
       af_ZA               
    </td>
    <td>
      Afrikaans South Africa
    </td>
  </tr>
  <tr>
    <td>
       ak                  
    </td>
    <td>
      Akan
    </td>
  </tr>
  <tr>
    <td>
       ak_GH               
    </td>
    <td>
      Akan Ghana
    </td>
  </tr>
  <tr>
    <td>
       am                  
    </td>
    <td>
      Amharic
    </td>
  </tr>
  <tr>
    <td>
       am_ET               
    </td>
    <td>
      Amharic Ethiopia
    </td>
  </tr>
  <tr>
    <td>
       ar                  
    </td>
    <td>
      Arabic
    </td>
  </tr>
  <tr>
    <td>
       ar_AE               
    </td>
    <td>
      Arabic United Arab Emirates
    </td>
  </tr>
  <tr>
    <td>
       ar_BH               
    </td>
    <td>
      Arabic Bahrain
    </td>
  </tr>
  <tr>
    <td>
       ar_DZ               
    </td>
    <td>
      Arabic Algeria
    </td>
  </tr>
  <tr>
    <td>
       ar_EG               
    </td>
    <td>
      Arabic Egypt
    </td>
  </tr>
  <tr>
    <td>
       ar_IQ               
    </td>
    <td>
      Arabic Iraq
    </td>
  </tr>
  <tr>
    <td>
       ar_JO               
    </td>
    <td>
      Arabic Jordan
    </td>
  </tr>
  <tr>
    <td>
       ar_KW               
    </td>
    <td>
      Arabic Kuwait
    </td>
  </tr>
  <tr>
    <td>
       ar_LB               
    </td>
    <td>
      Arabic Lebanon
    </td>
  </tr>
  <tr>
    <td>
       ar_LY               
    </td>
    <td>
      Arabic Libya
    </td>
  </tr>
  <tr>
    <td>
       ar_MA               
    </td>
    <td>
      Arabic Morocco
    </td>
  </tr>
  <tr>
    <td>
       ar_OM               
    </td>
    <td>
      Arabic Oman
    </td>
  </tr>
  <tr>
    <td>
       ar_QA               
    </td>
    <td>
      Arabic Qatar
    </td>
  </tr>
  <tr>
    <td>
       ar_SA               
    </td>
    <td>
      Arabic Saudi Arabia
    </td>
  </tr>
  <tr>
    <td>
       ar_SD               
    </td>
    <td>
      Arabic Sudan
    </td>
  </tr>
  <tr>
    <td>
       ar_SY               
    </td>
    <td>
      Arabic Syria
    </td>
  </tr>
  <tr>
    <td>
       ar_TN               
    </td>
    <td>
      Arabic Tunisia
    </td>
  </tr>
  <tr>
    <td>
       ar_YE               
    </td>
    <td>
      Arabic Yemen
    </td>
  </tr>
  <tr>
    <td>
       as                  
    </td>
    <td>
      Assamese
    </td>
  </tr>
  <tr>
    <td>
       as_IN               
    </td>
    <td>
      Assamese India
    </td>
  </tr>
  <tr>
    <td>
       az                  
    </td>
    <td>
      Azerbaijani
    </td>
  </tr>
  <tr>
    <td>
       az_AZ               
    </td>
    <td>
      Azerbaijani Azerbaijan
    </td>
  </tr>
  <tr>
    <td>
       az_Cyrl             
    </td>
    <td>
      Azerbaijani (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       az_Cyrl_AZ          
    </td>
    <td>
      Azerbaijani Azerbaijan (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       az_Latn             
    </td>
    <td>
      Azerbaijani (Latin)
    </td>
  </tr>
  <tr>
    <td>
       az_Latn_AZ          
    </td>
    <td>
      Azerbaijani Azerbaijan (Latin)
    </td>
  </tr>
  <tr>
    <td>
       be                  
    </td>
    <td>
      Belarusian
    </td>
  </tr>
  <tr>
    <td>
       be_BY               
    </td>
    <td>
      Belarusian Belarus
    </td>
  </tr>
  <tr>
    <td>
       bg                  
    </td>
    <td>
      Bulgarian
    </td>
  </tr>
  <tr>
    <td>
       bg_BG               
    </td>
    <td>
      Bulgarian Bulgaria
    </td>
  </tr>
  <tr>
    <td>
       bn                  
    </td>
    <td>
      Bengali
    </td>
  </tr>
  <tr>
    <td>
       bn_BD               
    </td>
    <td>
      Bengali Bangladesh
    </td>
  </tr>
  <tr>
    <td>
       bn_IN               
    </td>
    <td>
      Bengali India
    </td>
  </tr>
  <tr>
    <td>
       bs                  
    </td>
    <td>
      Bosnian
    </td>
  </tr>
  <tr>
    <td>
       bs_BA               
    </td>
    <td>
      Bosnian Bosnia and Herzegovina
    </td>
  </tr>
  <tr>
    <td>
       byn                 
    </td>
    <td>
      Blin
    </td>
  </tr>
  <tr>
    <td>
       byn_ER              
    </td>
    <td>
      Blin Eritrea
    </td>
  </tr>
  <tr>
    <td>
       ca                  
    </td>
    <td>
      Catalan
    </td>
  </tr>
  <tr>
    <td>
       ca_ES               
    </td>
    <td>
      Catalan Spain
    </td>
  </tr>
  <tr>
    <td>
       cch                 
    </td>
    <td>
      Atsam
    </td>
  </tr>
  <tr>
    <td>
       cch_NG              
    </td>
    <td>
      Atsam Nigeria
    </td>
  </tr>
  <tr>
    <td>
       cop                 
    </td>
    <td>
      Coptic
    </td>
  </tr>
  <tr>
    <td>
       cs                  
    </td>
    <td>
      Czech
    </td>
  </tr>
  <tr>
    <td>
       cs_CZ               
    </td>
    <td>
      Czech Czech Republic
    </td>
  </tr>
  <tr>
    <td>
       cy                  
    </td>
    <td>
      Welsh
    </td>
  </tr>
  <tr>
    <td>
       cy_GB               
    </td>
    <td>
      Welsh United Kingdom
    </td>
  </tr>
  <tr>
    <td>
       da                  
    </td>
    <td>
      Danish
    </td>
  </tr>
  <tr>
    <td>
       da_DK               
    </td>
    <td>
      Danish Denmark
    </td>
  </tr>
  <tr>
    <td>
       de                  
    </td>
    <td>
      German
    </td>
  </tr>
  <tr>
    <td>
       de_AT               
    </td>
    <td>
      German Austria
    </td>
  </tr>
  <tr>
    <td>
       de_BE               
    </td>
    <td>
      German Belgium
    </td>
  </tr>
  <tr>
    <td>
       de_CH               
    </td>
    <td>
      German Switzerland
    </td>
  </tr>
  <tr>
    <td>
       de_DE               
    </td>
    <td>
      German Germany
    </td>
  </tr>
  <tr>
    <td>
       de_LI               
    </td>
    <td>
      German Liechtenstein
    </td>
  </tr>
  <tr>
    <td>
       de_LU               
    </td>
    <td>
      German Luxembourg
    </td>
  </tr>
  <tr>
    <td>
       dv                  
    </td>
    <td>
      Divehi
    </td>
  </tr>
  <tr>
    <td>
       dv_MV               
    </td>
    <td>
      Divehi Maldives
    </td>
  </tr>
  <tr>
    <td>
       dz                  
    </td>
    <td>
      Dzongkha
    </td>
  </tr>
  <tr>
    <td>
       dz_BT               
    </td>
    <td>
      Dzongkha Bhutan
    </td>
  </tr>
  <tr>
    <td>
       ee                  
    </td>
    <td>
      Ewe
    </td>
  </tr>
  <tr>
    <td>
       ee_GH               
    </td>
    <td>
      Ewe Ghana
    </td>
  </tr>
  <tr>
    <td>
       ee_TG               
    </td>
    <td>
      Ewe Togo
    </td>
  </tr>
  <tr>
    <td>
       el                  
    </td>
    <td>
      Greek
    </td>
  </tr>
  <tr>
    <td>
       el_CY               
    </td>
    <td>
      Greek Cyprus
    </td>
  </tr>
  <tr>
    <td>
       el_GR               
    </td>
    <td>
      Greek Greece
    </td>
  </tr>
  <tr>
    <td>
       el_POLYTON          
    </td>
    <td>
      Greek
    </td>
  </tr>
  <tr>
    <td>
       en                  
    </td>
    <td>
      English
    </td>
  </tr>
  <tr>
    <td>
       en_AS               
    </td>
    <td>
      English American Samoa
    </td>
  </tr>
  <tr>
    <td>
       en_AU               
    </td>
    <td>
      English Australia
    </td>
  </tr>
  <tr>
    <td>
       en_BE               
    </td>
    <td>
      English Belgium
    </td>
  </tr>
  <tr>
    <td>
       en_BW               
    </td>
    <td>
      English Botswana
    </td>
  </tr>
  <tr>
    <td>
       en_BZ               
    </td>
    <td>
      English Belize
    </td>
  </tr>
  <tr>
    <td>
       en_CA               
    </td>
    <td>
      English Canada
    </td>
  </tr>
  <tr>
    <td>
       en_Dsrt             
    </td>
    <td>
      English (Deseret)
    </td>
  </tr>
  <tr>
    <td>
       en_Dsrt_US          
    </td>
    <td>
      English United States (Deseret)
    </td>
  </tr>
  <tr>
    <td>
       en_GB               
    </td>
    <td>
      English United Kingdom
    </td>
  </tr>
  <tr>
    <td>
       en_GU               
    </td>
    <td>
      English Guam
    </td>
  </tr>
  <tr>
    <td>
       en_HK               
    </td>
    <td>
      English Hong Kong SAR China
    </td>
  </tr>
  <tr>
    <td>
       en_IE               
    </td>
    <td>
      English Ireland
    </td>
  </tr>
  <tr>
    <td>
       en_IN               
    </td>
    <td>
      English India
    </td>
  </tr>
  <tr>
    <td>
       en_JM               
    </td>
    <td>
      English Jamaica
    </td>
  </tr>
  <tr>
    <td>
       en_MH               
    </td>
    <td>
      English Marshall Islands
    </td>
  </tr>
  <tr>
    <td>
       en_MP               
    </td>
    <td>
      English Northern Mariana Islands
    </td>
  </tr>
  <tr>
    <td>
       en_MT               
    </td>
    <td>
      English Malta
    </td>
  </tr>
  <tr>
    <td>
       en_NA               
    </td>
    <td>
      English Namibia
    </td>
  </tr>
  <tr>
    <td>
       en_NZ               
    </td>
    <td>
      English New Zealand
    </td>
  </tr>
  <tr>
    <td>
       en_PH               
    </td>
    <td>
      English Philippines
    </td>
  </tr>
  <tr>
    <td>
       en_PK               
    </td>
    <td>
      English Pakistan
    </td>
  </tr>
  <tr>
    <td>
       en_SG               
    </td>
    <td>
      English Singapore
    </td>
  </tr>
  <tr>
    <td>
       en_Shaw             
    </td>
    <td>
      English (Shavian)
    </td>
  </tr>
  <tr>
    <td>
       en_TT               
    </td>
    <td>
      English Trinidad and Tobago
    </td>
  </tr>
  <tr>
    <td>
       en_UM               
    </td>
    <td>
      English United States Minor Outlying Islands
    </td>
  </tr>
  <tr>
    <td>
       en_US               
    </td>
    <td>
      English United States
    </td>
  </tr>
  <tr>
    <td>
       en_US_POSIX         
    </td>
    <td>
      English United States Computer
    </td>
  </tr>
  <tr>
    <td>
       en_VI               
    </td>
    <td>
      English U.S. Virgin Islands
    </td>
  </tr>
  <tr>
    <td>
       en_ZA               
    </td>
    <td>
      English South Africa
    </td>
  </tr>
  <tr>
    <td>
       en_ZW               
    </td>
    <td>
      English Zimbabwe
    </td>
  </tr>
  <tr>
    <td>
       eo                  
    </td>
    <td>
      Esperanto
    </td>
  </tr>
  <tr>
    <td>
       es                  
    </td>
    <td>
      Spanish
    </td>
  </tr>
  <tr>
    <td>
       es_AR               
    </td>
    <td>
      Spanish Argentina
    </td>
  </tr>
  <tr>
    <td>
       es_BO               
    </td>
    <td>
      Spanish Bolivia
    </td>
  </tr>
  <tr>
    <td>
       es_CL               
    </td>
    <td>
      Spanish Chile
    </td>
  </tr>
  <tr>
    <td>
       es_CO               
    </td>
    <td>
      Spanish Colombia
    </td>
  </tr>
  <tr>
    <td>
       es_CR               
    </td>
    <td>
      Spanish Costa Rica
    </td>
  </tr>
  <tr>
    <td>
       es_DO               
    </td>
    <td>
      Spanish Dominican Republic
    </td>
  </tr>
  <tr>
    <td>
       es_EC               
    </td>
    <td>
      Spanish Ecuador
    </td>
  </tr>
  <tr>
    <td>
       es_ES               
    </td>
    <td>
      Spanish Spain
    </td>
  </tr>
  <tr>
    <td>
       es_GT               
    </td>
    <td>
      Spanish Guatemala
    </td>
  </tr>
  <tr>
    <td>
       es_HN               
    </td>
    <td>
      Spanish Honduras
    </td>
  </tr>
  <tr>
    <td>
       es_MX               
    </td>
    <td>
      Spanish Mexico
    </td>
  </tr>
  <tr>
    <td>
       es_NI               
    </td>
    <td>
      Spanish Nicaragua
    </td>
  </tr>
  <tr>
    <td>
       es_PA               
    </td>
    <td>
      Spanish Panama
    </td>
  </tr>
  <tr>
    <td>
       es_PE               
    </td>
    <td>
      Spanish Peru
    </td>
  </tr>
  <tr>
    <td>
       es_PR               
    </td>
    <td>
      Spanish Puerto Rico
    </td>
  </tr>
  <tr>
    <td>
       es_PY               
    </td>
    <td>
      Spanish Paraguay
    </td>
  </tr>
  <tr>
    <td>
       es_SV               
    </td>
    <td>
      Spanish El Salvador
    </td>
  </tr>
  <tr>
    <td>
       es_US               
    </td>
    <td>
      Spanish United States
    </td>
  </tr>
  <tr>
    <td>
       es_UY               
    </td>
    <td>
      Spanish Uruguay
    </td>
  </tr>
  <tr>
    <td>
       es_VE               
    </td>
    <td>
      Spanish Venezuela
    </td>
  </tr>
  <tr>
    <td>
       et                  
    </td>
    <td>
      Estonian
    </td>
  </tr>
  <tr>
    <td>
       et_EE               
    </td>
    <td>
      Estonian Estonia
    </td>
  </tr>
  <tr>
    <td>
       eu                  
    </td>
    <td>
      Basque
    </td>
  </tr>
  <tr>
    <td>
       eu_ES               
    </td>
    <td>
      Basque Spain
    </td>
  </tr>
  <tr>
    <td>
       fa                  
    </td>
    <td>
      Persian
    </td>
  </tr>
  <tr>
    <td>
       fa_AF               
    </td>
    <td>
      Persian Afghanistan
    </td>
  </tr>
  <tr>
    <td>
       fa_IR               
    </td>
    <td>
      Persian Iran
    </td>
  </tr>
  <tr>
    <td>
       fi                  
    </td>
    <td>
      Finnish
    </td>
  </tr>
  <tr>
    <td>
       fi_FI               
    </td>
    <td>
      Finnish Finland
    </td>
  </tr>
  <tr>
    <td>
       fil                 
    </td>
    <td>
      Filipino
    </td>
  </tr>
  <tr>
    <td>
       fil_PH              
    </td>
    <td>
      Filipino Philippines
    </td>
  </tr>
  <tr>
    <td>
       fo                  
    </td>
    <td>
      Faroese
    </td>
  </tr>
  <tr>
    <td>
       fo_FO               
    </td>
    <td>
      Faroese Faroe Islands
    </td>
  </tr>
  <tr>
    <td>
       fr                  
    </td>
    <td>
      French
    </td>
  </tr>
  <tr>
    <td>
       fr_BE               
    </td>
    <td>
      French Belgium
    </td>
  </tr>
  <tr>
    <td>
       fr_CA               
    </td>
    <td>
      French Canada
    </td>
  </tr>
  <tr>
    <td>
       fr_CH               
    </td>
    <td>
      French Switzerland
    </td>
  </tr>
  <tr>
    <td>
       fr_FR               
    </td>
    <td>
      French France
    </td>
  </tr>
  <tr>
    <td>
       fr_LU               
    </td>
    <td>
      French Luxembourg
    </td>
  </tr>
  <tr>
    <td>
       fr_MC               
    </td>
    <td>
      French Monaco
    </td>
  </tr>
  <tr>
    <td>
       fr_SN               
    </td>
    <td>
      French Senegal
    </td>
  </tr>
  <tr>
    <td>
       fur                 
    </td>
    <td>
      Friulian
    </td>
  </tr>
  <tr>
    <td>
       fur_IT              
    </td>
    <td>
      Friulian Italy
    </td>
  </tr>
  <tr>
    <td>
       ga                  
    </td>
    <td>
      Irish
    </td>
  </tr>
  <tr>
    <td>
       ga_IE               
    </td>
    <td>
      Irish Ireland
    </td>
  </tr>
  <tr>
    <td>
       gaa                 
    </td>
    <td>
      Ga
    </td>
  </tr>
  <tr>
    <td>
       gaa_GH              
    </td>
    <td>
      Ga Ghana
    </td>
  </tr>
  <tr>
    <td>
       gez                 
    </td>
    <td>
      Geez
    </td>
  </tr>
  <tr>
    <td>
       gez_ER              
    </td>
    <td>
      Geez Eritrea
    </td>
  </tr>
  <tr>
    <td>
       gez_ET              
    </td>
    <td>
      Geez Ethiopia
    </td>
  </tr>
  <tr>
    <td>
       gl                  
    </td>
    <td>
      Galician
    </td>
  </tr>
  <tr>
    <td>
       gl_ES               
    </td>
    <td>
      Galician Spain
    </td>
  </tr>
  <tr>
    <td>
       gu                  
    </td>
    <td>
      Gujarati
    </td>
  </tr>
  <tr>
    <td>
       gu_IN               
    </td>
    <td>
      Gujarati India
    </td>
  </tr>
  <tr>
    <td>
       gv                  
    </td>
    <td>
      Manx
    </td>
  </tr>
  <tr>
    <td>
       gv_GB               
    </td>
    <td>
      Manx United Kingdom
    </td>
  </tr>
  <tr>
    <td>
       ha                  
    </td>
    <td>
      Hausa
    </td>
  </tr>
  <tr>
    <td>
       ha_Arab             
    </td>
    <td>
      Hausa (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       ha_Arab_NG          
    </td>
    <td>
      Hausa Nigeria (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       ha_Arab_SD          
    </td>
    <td>
      Hausa Sudan (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       ha_GH               
    </td>
    <td>
      Hausa Ghana
    </td>
  </tr>
  <tr>
    <td>
       ha_Latn             
    </td>
    <td>
      Hausa (Latin)
    </td>
  </tr>
  <tr>
    <td>
       ha_Latn_GH          
    </td>
    <td>
      Hausa Ghana (Latin)
    </td>
  </tr>
  <tr>
    <td>
       ha_Latn_NE          
    </td>
    <td>
      Hausa Niger (Latin)
    </td>
  </tr>
  <tr>
    <td>
       ha_Latn_NG          
    </td>
    <td>
      Hausa Nigeria (Latin)
    </td>
  </tr>
  <tr>
    <td>
       ha_NE               
    </td>
    <td>
      Hausa Niger
    </td>
  </tr>
  <tr>
    <td>
       ha_NG               
    </td>
    <td>
      Hausa Nigeria
    </td>
  </tr>
  <tr>
    <td>
       ha_SD               
    </td>
    <td>
      Hausa Sudan
    </td>
  </tr>
  <tr>
    <td>
       haw                 
    </td>
    <td>
      Hawaiian
    </td>
  </tr>
  <tr>
    <td>
       haw_US              
    </td>
    <td>
      Hawaiian United States
    </td>
  </tr>
  <tr>
    <td>
       he                  
    </td>
    <td>
      Hebrew
    </td>
  </tr>
  <tr>
    <td>
       he_IL               
    </td>
    <td>
      Hebrew Israel
    </td>
  </tr>
  <tr>
    <td>
       hi                  
    </td>
    <td>
      Hindi
    </td>
  </tr>
  <tr>
    <td>
       hi_IN               
    </td>
    <td>
      Hindi India
    </td>
  </tr>
  <tr>
    <td>
       hr                  
    </td>
    <td>
      Croatian
    </td>
  </tr>
  <tr>
    <td>
       hr_HR               
    </td>
    <td>
      Croatian Croatia
    </td>
  </tr>
  <tr>
    <td>
       hu                  
    </td>
    <td>
      Hungarian
    </td>
  </tr>
  <tr>
    <td>
       hu_HU               
    </td>
    <td>
      Hungarian Hungary
    </td>
  </tr>
  <tr>
    <td>
       hy                  
    </td>
    <td>
      Armenian
    </td>
  </tr>
  <tr>
    <td>
       hy_AM               
    </td>
    <td>
      Armenian Armenia
    </td>
  </tr>
  <tr>
    <td>
       hy_AM_REVISED       
    </td>
    <td>
      Armenian Armenia Revised Orthography
    </td>
  </tr>
  <tr>
    <td>
       ia                  
    </td>
    <td>
      Interlingua
    </td>
  </tr>
  <tr>
    <td>
       id                  
    </td>
    <td>
      Indonesian
    </td>
  </tr>
  <tr>
    <td>
       id_ID               
    </td>
    <td>
      Indonesian Indonesia
    </td>
  </tr>
  <tr>
    <td>
       ig                  
    </td>
    <td>
      Igbo
    </td>
  </tr>
  <tr>
    <td>
       ig_NG               
    </td>
    <td>
      Igbo Nigeria
    </td>
  </tr>
  <tr>
    <td>
       ii                  
    </td>
    <td>
      Sichuan Yi
    </td>
  </tr>
  <tr>
    <td>
       ii_CN               
    </td>
    <td>
      Sichuan Yi China
    </td>
  </tr>
  <tr>
    <td>
       is                  
    </td>
    <td>
      Icelandic
    </td>
  </tr>
  <tr>
    <td>
       is_IS               
    </td>
    <td>
      Icelandic Iceland
    </td>
  </tr>
  <tr>
    <td>
       it                  
    </td>
    <td>
      Italian
    </td>
  </tr>
  <tr>
    <td>
       it_CH               
    </td>
    <td>
      Italian Switzerland
    </td>
  </tr>
  <tr>
    <td>
       it_IT               
    </td>
    <td>
      Italian Italy
    </td>
  </tr>
  <tr>
    <td>
       iu                  
    </td>
    <td>
      Inuktitut
    </td>
  </tr>
  <tr>
    <td>
       ja                  
    </td>
    <td>
      Japanese
    </td>
  </tr>
  <tr>
    <td>
       ja_JP               
    </td>
    <td>
      Japanese Japan
    </td>
  </tr>
  <tr>
    <td>
       ka                  
    </td>
    <td>
      Georgian
    </td>
  </tr>
  <tr>
    <td>
       ka_GE               
    </td>
    <td>
      Georgian Georgia
    </td>
  </tr>
  <tr>
    <td>
       kaj                 
    </td>
    <td>
      Jju
    </td>
  </tr>
  <tr>
    <td>
       kaj_NG              
    </td>
    <td>
      Jju Nigeria
    </td>
  </tr>
  <tr>
    <td>
       kam                 
    </td>
    <td>
      Kamba
    </td>
  </tr>
  <tr>
    <td>
       kam_KE              
    </td>
    <td>
      Kamba Kenya
    </td>
  </tr>
  <tr>
    <td>
       kcg                 
    </td>
    <td>
      Tyap
    </td>
  </tr>
  <tr>
    <td>
       kcg_NG              
    </td>
    <td>
      Tyap Nigeria
    </td>
  </tr>
  <tr>
    <td>
       kfo                 
    </td>
    <td>
      Koro
    </td>
  </tr>
  <tr>
    <td>
       kfo_CI              
    </td>
    <td>
      Koro Ivory Coast
    </td>
  </tr>
  <tr>
    <td>
       kk                  
    </td>
    <td>
      Kazakh
    </td>
  </tr>
  <tr>
    <td>
       kk_Cyrl             
    </td>
    <td>
      Kazakh (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       kk_Cyrl_KZ          
    </td>
    <td>
      Kazakh Kazakhstan (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       kk_KZ               
    </td>
    <td>
      Kazakh Kazakhstan
    </td>
  </tr>
  <tr>
    <td>
       kl                  
    </td>
    <td>
      Kalaallisut
    </td>
  </tr>
  <tr>
    <td>
       kl_GL               
    </td>
    <td>
      Kalaallisut Greenland
    </td>
  </tr>
  <tr>
    <td>
       km                  
    </td>
    <td>
      Khmer
    </td>
  </tr>
  <tr>
    <td>
       km_KH               
    </td>
    <td>
      Khmer Cambodia
    </td>
  </tr>
  <tr>
    <td>
       kn                  
    </td>
    <td>
      Kannada
    </td>
  </tr>
  <tr>
    <td>
       kn_IN               
    </td>
    <td>
      Kannada India
    </td>
  </tr>
  <tr>
    <td>
       ko                  
    </td>
    <td>
      Korean
    </td>
  </tr>
  <tr>
    <td>
       ko_KR               
    </td>
    <td>
      Korean South Korea
    </td>
  </tr>
  <tr>
    <td>
       kok                 
    </td>
    <td>
      Konkani
    </td>
  </tr>
  <tr>
    <td>
       kok_IN              
    </td>
    <td>
      Konkani India
    </td>
  </tr>
  <tr>
    <td>
       kpe                 
    </td>
    <td>
      Kpelle
    </td>
  </tr>
  <tr>
    <td>
       kpe_GN              
    </td>
    <td>
      Kpelle Guinea
    </td>
  </tr>
  <tr>
    <td>
       kpe_LR              
    </td>
    <td>
      Kpelle Liberia
    </td>
  </tr>
  <tr>
    <td>
       ku                  
    </td>
    <td>
      Kurdish
    </td>
  </tr>
  <tr>
    <td>
       ku_Arab             
    </td>
    <td>
      Kurdish (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       ku_Latn             
    </td>
    <td>
      Kurdish (Latin)
    </td>
  </tr>
  <tr>
    <td>
       ku_Latn_TR          
    </td>
    <td>
      Kurdish Turkey (Latin)
    </td>
  </tr>
  <tr>
    <td>
       ku_TR               
    </td>
    <td>
      Kurdish Turkey
    </td>
  </tr>
  <tr>
    <td>
       kw                  
    </td>
    <td>
      Cornish
    </td>
  </tr>
  <tr>
    <td>
       kw_GB               
    </td>
    <td>
      Cornish United Kingdom
    </td>
  </tr>
  <tr>
    <td>
       ky                  
    </td>
    <td>
      Kirghiz
    </td>
  </tr>
  <tr>
    <td>
       ky_KG               
    </td>
    <td>
      Kirghiz Kyrgyzstan
    </td>
  </tr>
  <tr>
    <td>
       ln                  
    </td>
    <td>
      Lingala
    </td>
  </tr>
  <tr>
    <td>
       ln_CD               
    </td>
    <td>
      Lingala Congo - Kinshasa
    </td>
  </tr>
  <tr>
    <td>
       ln_CG               
    </td>
    <td>
      Lingala Congo - Brazzaville
    </td>
  </tr>
  <tr>
    <td>
       lo                  
    </td>
    <td>
      Lao
    </td>
  </tr>
  <tr>
    <td>
       lo_LA               
    </td>
    <td>
      Lao Laos
    </td>
  </tr>
  <tr>
    <td>
       lt                  
    </td>
    <td>
      Lithuanian
    </td>
  </tr>
  <tr>
    <td>
       lt_LT               
    </td>
    <td>
      Lithuanian Lithuania
    </td>
  </tr>
  <tr>
    <td>
       lv                  
    </td>
    <td>
      Latvian
    </td>
  </tr>
  <tr>
    <td>
       lv_LV               
    </td>
    <td>
      Latvian Latvia
    </td>
  </tr>
  <tr>
    <td>
       mk                  
    </td>
    <td>
      Macedonian
    </td>
  </tr>
  <tr>
    <td>
       mk_MK               
    </td>
    <td>
      Macedonian Macedonia
    </td>
  </tr>
  <tr>
    <td>
       ml                  
    </td>
    <td>
      Malayalam
    </td>
  </tr>
  <tr>
    <td>
       ml_IN               
    </td>
    <td>
      Malayalam India
    </td>
  </tr>
  <tr>
    <td>
       mn                  
    </td>
    <td>
      Mongolian
    </td>
  </tr>
  <tr>
    <td>
       mn_CN               
    </td>
    <td>
      Mongolian China
    </td>
  </tr>
  <tr>
    <td>
       mn_Cyrl             
    </td>
    <td>
      Mongolian (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       mn_Cyrl_MN          
    </td>
    <td>
      Mongolian Mongolia (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       mn_MN               
    </td>
    <td>
      Mongolian Mongolia
    </td>
  </tr>
  <tr>
    <td>
       mn_Mong             
    </td>
    <td>
      Mongolian (Mongolian)
    </td>
  </tr>
  <tr>
    <td>
       mn_Mong_CN          
    </td>
    <td>
      Mongolian China (Mongolian)
    </td>
  </tr>
  <tr>
    <td>
       mo                  
    </td>
    <td>
      Moldavian
    </td>
  </tr>
  <tr>
    <td>
       mr                  
    </td>
    <td>
      Marathi
    </td>
  </tr>
  <tr>
    <td>
       mr_IN               
    </td>
    <td>
      Marathi India
    </td>
  </tr>
  <tr>
    <td>
       ms                  
    </td>
    <td>
      Malay
    </td>
  </tr>
  <tr>
    <td>
       ms_BN               
    </td>
    <td>
      Malay Brunei
    </td>
  </tr>
  <tr>
    <td>
       ms_MY               
    </td>
    <td>
      Malay Malaysia
    </td>
  </tr>
  <tr>
    <td>
       mt                  
    </td>
    <td>
      Maltese
    </td>
  </tr>
  <tr>
    <td>
       mt_MT               
    </td>
    <td>
      Maltese Malta
    </td>
  </tr>
  <tr>
    <td>
       my                  
    </td>
    <td>
      Burmese
    </td>
  </tr>
  <tr>
    <td>
       my_MM               
    </td>
    <td>
      Burmese Myanmar
    </td>
  </tr>
  <tr>
    <td>
       nb                  
    </td>
    <td>
      Norwegian Bokm&#195;\l
    </td>
  </tr>
  <tr>
    <td>
       nb_NO               
    </td>
    <td>
      Norwegian Bokm&#195;\l Norway
    </td>
  </tr>
  <tr>
    <td>
       ne                  
    </td>
    <td>
      Nepali
    </td>
  </tr>
  <tr>
    <td>
       ne_IN               
    </td>
    <td>
      Nepali India
    </td>
  </tr>
  <tr>
    <td>
       ne_NP               
    </td>
    <td>
      Nepali Nepal
    </td>
  </tr>
  <tr>
    <td>
       nl                  
    </td>
    <td>
      Dutch
    </td>
  </tr>
  <tr>
    <td>
       nl_BE               
    </td>
    <td>
      Dutch Belgium
    </td>
  </tr>
  <tr>
    <td>
       nl_NL               
    </td>
    <td>
      Dutch Netherlands
    </td>
  </tr>
  <tr>
    <td>
       nn                  
    </td>
    <td>
      Norwegian Nynorsk
    </td>
  </tr>
  <tr>
    <td>
       nn_NO               
    </td>
    <td>
      Norwegian Nynorsk Norway
    </td>
  </tr>
  <tr>
    <td>
       no                  
    </td>
    <td>
      Norwegian
    </td>
  </tr>
  <tr>
    <td>
       nr                  
    </td>
    <td>
      South Ndebele
    </td>
  </tr>
  <tr>
    <td>
       nr_ZA               
    </td>
    <td>
      South Ndebele South Africa
    </td>
  </tr>
  <tr>
    <td>
       nso                 
    </td>
    <td>
      Northern Sotho
    </td>
  </tr>
  <tr>
    <td>
       nso_ZA              
    </td>
    <td>
      Northern Sotho South Africa
    </td>
  </tr>
  <tr>
    <td>
       ny                  
    </td>
    <td>
      Nyanja
    </td>
  </tr>
  <tr>
    <td>
       ny_MW               
    </td>
    <td>
      Nyanja Malawi
    </td>
  </tr>
  <tr>
    <td>
       om                  
    </td>
    <td>
      Oromo
    </td>
  </tr>
  <tr>
    <td>
       om_ET               
    </td>
    <td>
      Oromo Ethiopia
    </td>
  </tr>
  <tr>
    <td>
       om_KE               
    </td>
    <td>
      Oromo Kenya
    </td>
  </tr>
  <tr>
    <td>
       or                  
    </td>
    <td>
      Oriya
    </td>
  </tr>
  <tr>
    <td>
       or_IN               
    </td>
    <td>
      Oriya India
    </td>
  </tr>
  <tr>
    <td>
       pa                  
    </td>
    <td>
      Punjabi
    </td>
  </tr>
  <tr>
    <td>
       pa_Arab             
    </td>
    <td>
      Punjabi (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       pa_Arab_PK          
    </td>
    <td>
      Punjabi Pakistan (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       pa_Guru             
    </td>
    <td>
      Punjabi (Gurmukhi)
    </td>
  </tr>
  <tr>
    <td>
       pa_Guru_IN          
    </td>
    <td>
      Punjabi India (Gurmukhi)
    </td>
  </tr>
  <tr>
    <td>
       pa_IN               
    </td>
    <td>
      Punjabi India
    </td>
  </tr>
  <tr>
    <td>
       pa_PK               
    </td>
    <td>
      Punjabi Pakistan
    </td>
  </tr>
  <tr>
    <td>
       pl                  
    </td>
    <td>
      Polish
    </td>
  </tr>
  <tr>
    <td>
       pl_PL               
    </td>
    <td>
      Polish Poland
    </td>
  </tr>
  <tr>
    <td>
       ps                  
    </td>
    <td>
      Pashto
    </td>
  </tr>
  <tr>
    <td>
       ps_AF               
    </td>
    <td>
      Pashto Afghanistan
    </td>
  </tr>
  <tr>
    <td>
       pt                  
    </td>
    <td>
      Portuguese
    </td>
  </tr>
  <tr>
    <td>
       pt_BR               
    </td>
    <td>
      Portuguese Brazil
    </td>
  </tr>
  <tr>
    <td>
       pt_PT               
    </td>
    <td>
      Portuguese Portugal
    </td>
  </tr>
  <tr>
    <td>
       ro                  
    </td>
    <td>
      Romanian
    </td>
  </tr>
  <tr>
    <td>
       ro_MD               
    </td>
    <td>
      Romanian Moldova
    </td>
  </tr>
  <tr>
    <td>
       ro_RO               
    </td>
    <td>
      Romanian Romania
    </td>
  </tr>
  <tr>
    <td>
       root                
    </td>
    <td>
      Root
    </td>
  </tr>
  <tr>
    <td>
       ru                  
    </td>
    <td>
      Russian
    </td>
  </tr>
  <tr>
    <td>
       ru_RU               
    </td>
    <td>
      Russian Russia
    </td>
  </tr>
  <tr>
    <td>
       ru_UA               
    </td>
    <td>
      Russian Ukraine
    </td>
  </tr>
  <tr>
    <td>
       rw                  
    </td>
    <td>
      Kinyarwanda
    </td>
  </tr>
  <tr>
    <td>
       rw_RW               
    </td>
    <td>
      Kinyarwanda Rwanda
    </td>
  </tr>
  <tr>
    <td>
       sa                  
    </td>
    <td>
      Sanskrit
    </td>
  </tr>
  <tr>
    <td>
       sa_IN               
    </td>
    <td>
      Sanskrit India
    </td>
  </tr>
  <tr>
    <td>
       se                  
    </td>
    <td>
      Northern Sami
    </td>
  </tr>
  <tr>
    <td>
       se_FI               
    </td>
    <td>
      Northern Sami Finland
    </td>
  </tr>
  <tr>
    <td>
       se_NO               
    </td>
    <td>
      Northern Sami Norway
    </td>
  </tr>
  <tr>
    <td>
       sh                  
    </td>
    <td>
      Serbo-Croatian
    </td>
  </tr>
  <tr>
    <td>
       sh_BA               
    </td>
    <td>
      Serbo-Croatian Bosnia and Herzegovina
    </td>
  </tr>
  <tr>
    <td>
       sh_CS               
    </td>
    <td>
      Serbo-Croatian Serbia and Montenegro
    </td>
  </tr>
  <tr>
    <td>
       sh_YU               
    </td>
    <td>
      Serbo-Croatian
    </td>
  </tr>
  <tr>
    <td>
       si                  
    </td>
    <td>
      Sinhala
    </td>
  </tr>
  <tr>
    <td>
       si_LK               
    </td>
    <td>
      Sinhala Sri Lanka
    </td>
  </tr>
  <tr>
    <td>
       sid                 
    </td>
    <td>
      Sidamo
    </td>
  </tr>
  <tr>
    <td>
       sid_ET              
    </td>
    <td>
      Sidamo Ethiopia
    </td>
  </tr>
  <tr>
    <td>
       sk                  
    </td>
    <td>
      Slovak
    </td>
  </tr>
  <tr>
    <td>
       sk_SK               
    </td>
    <td>
      Slovak Slovakia
    </td>
  </tr>
  <tr>
    <td>
       sl                  
    </td>
    <td>
      Slovenian
    </td>
  </tr>
  <tr>
    <td>
       sl_SI               
    </td>
    <td>
      Slovenian Slovenia
    </td>
  </tr>
  <tr>
    <td>
       so                  
    </td>
    <td>
      Somali
    </td>
  </tr>
  <tr>
    <td>
       so_DJ               
    </td>
    <td>
      Somali Djibouti
    </td>
  </tr>
  <tr>
    <td>
       so_ET               
    </td>
    <td>
      Somali Ethiopia
    </td>
  </tr>
  <tr>
    <td>
       so_KE               
    </td>
    <td>
      Somali Kenya
    </td>
  </tr>
  <tr>
    <td>
       so_SO               
    </td>
    <td>
      Somali Somalia
    </td>
  </tr>
  <tr>
    <td>
       sq                  
    </td>
    <td>
      Albanian
    </td>
  </tr>
  <tr>
    <td>
       sq_AL               
    </td>
    <td>
      Albanian Albania
    </td>
  </tr>
  <tr>
    <td>
       sr                  
    </td>
    <td>
      Serbian
    </td>
  </tr>
  <tr>
    <td>
       sr_BA               
    </td>
    <td>
      Serbian Bosnia and Herzegovina
    </td>
  </tr>
  <tr>
    <td>
       sr_CS               
    </td>
    <td>
      Serbian Serbia and Montenegro
    </td>
  </tr>
  <tr>
    <td>
       sr_Cyrl             
    </td>
    <td>
      Serbian (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       sr_Cyrl_BA          
    </td>
    <td>
      Serbian Bosnia and Herzegovina (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       sr_Cyrl_CS          
    </td>
    <td>
      Serbian Serbia and Montenegro (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       sr_Cyrl_ME          
    </td>
    <td>
      Serbian Montenegro (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       sr_Cyrl_RS          
    </td>
    <td>
      Serbian Serbia (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       sr_Cyrl_YU          
    </td>
    <td>
      Serbian (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       sr_Latn             
    </td>
    <td>
      Serbian (Latin)
    </td>
  </tr>
  <tr>
    <td>
       sr_Latn_BA          
    </td>
    <td>
      Serbian Bosnia and Herzegovina (Latin)
    </td>
  </tr>
  <tr>
    <td>
       sr_Latn_CS          
    </td>
    <td>
      Serbian Serbia and Montenegro (Latin)
    </td>
  </tr>
  <tr>
    <td>
       sr_Latn_ME          
    </td>
    <td>
      Serbian Montenegro (Latin)
    </td>
  </tr>
  <tr>
    <td>
       sr_Latn_RS          
    </td>
    <td>
      Serbian Serbia (Latin)
    </td>
  </tr>
  <tr>
    <td>
       sr_Latn_YU          
    </td>
    <td>
      Serbian (Latin)
    </td>
  </tr>
  <tr>
    <td>
       sr_ME               
    </td>
    <td>
      Serbian Montenegro
    </td>
  </tr>
  <tr>
    <td>
       sr_RS               
    </td>
    <td>
      Serbian Serbia
    </td>
  </tr>
  <tr>
    <td>
       sr_YU               
    </td>
    <td>
      Serbian
    </td>
  </tr>
  <tr>
    <td>
       ss                  
    </td>
    <td>
      Swati
    </td>
  </tr>
  <tr>
    <td>
       ss_SZ               
    </td>
    <td>
      Swati Swaziland
    </td>
  </tr>
  <tr>
    <td>
       ss_ZA               
    </td>
    <td>
      Swati South Africa
    </td>
  </tr>
  <tr>
    <td>
       st                  
    </td>
    <td>
      Southern Sotho
    </td>
  </tr>
  <tr>
    <td>
       st_LS               
    </td>
    <td>
      Southern Sotho Lesotho
    </td>
  </tr>
  <tr>
    <td>
       st_ZA               
    </td>
    <td>
      Southern Sotho South Africa
    </td>
  </tr>
  <tr>
    <td>
       sv                  
    </td>
    <td>
      Swedish
    </td>
  </tr>
  <tr>
    <td>
       sv_FI               
    </td>
    <td>
      Swedish Finland
    </td>
  </tr>
  <tr>
    <td>
       sv_SE               
    </td>
    <td>
      Swedish Sweden
    </td>
  </tr>
  <tr>
    <td>
       sw                  
    </td>
    <td>
      Swahili
    </td>
  </tr>
  <tr>
    <td>
       sw_KE               
    </td>
    <td>
      Swahili Kenya
    </td>
  </tr>
  <tr>
    <td>
       sw_TZ               
    </td>
    <td>
      Swahili Tanzania
    </td>
  </tr>
  <tr>
    <td>
       syr                 
    </td>
    <td>
      Syriac
    </td>
  </tr>
  <tr>
    <td>
       syr_SY              
    </td>
    <td>
      Syriac Syria
    </td>
  </tr>
  <tr>
    <td>
       ta                  
    </td>
    <td>
      Tamil
    </td>
  </tr>
  <tr>
    <td>
       ta_IN               
    </td>
    <td>
      Tamil India
    </td>
  </tr>
  <tr>
    <td>
       te                  
    </td>
    <td>
      Telugu
    </td>
  </tr>
  <tr>
    <td>
       te_IN               
    </td>
    <td>
      Telugu India
    </td>
  </tr>
  <tr>
    <td>
       tg                  
    </td>
    <td>
      Tajik
    </td>
  </tr>
  <tr>
    <td>
       tg_Cyrl             
    </td>
    <td>
      Tajik (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       tg_Cyrl_TJ          
    </td>
    <td>
      Tajik Tajikistan (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       tg_TJ               
    </td>
    <td>
      Tajik Tajikistan
    </td>
  </tr>
  <tr>
    <td>
       th                  
    </td>
    <td>
      Thai
    </td>
  </tr>
  <tr>
    <td>
       th_TH               
    </td>
    <td>
      Thai Thailand
    </td>
  </tr>
  <tr>
    <td>
       ti                  
    </td>
    <td>
      Tigrinya
    </td>
  </tr>
  <tr>
    <td>
       ti_ER               
    </td>
    <td>
      Tigrinya Eritrea
    </td>
  </tr>
  <tr>
    <td>
       ti_ET               
    </td>
    <td>
      Tigrinya Ethiopia
    </td>
  </tr>
  <tr>
    <td>
       tig                 
    </td>
    <td>
      Tigre
    </td>
  </tr>
  <tr>
    <td>
       tig_ER              
    </td>
    <td>
      Tigre Eritrea
    </td>
  </tr>
  <tr>
    <td>
       tl                  
    </td>
    <td>
      Tagalog
    </td>
  </tr>
  <tr>
    <td>
       tn                  
    </td>
    <td>
      Tswana
    </td>
  </tr>
  <tr>
    <td>
       tn_ZA               
    </td>
    <td>
      Tswana South Africa
    </td>
  </tr>
  <tr>
    <td>
       to                  
    </td>
    <td>
      Tonga
    </td>
  </tr>
  <tr>
    <td>
       to_TO               
    </td>
    <td>
      Tonga Tonga
    </td>
  </tr>
  <tr>
    <td>
       tr                  
    </td>
    <td>
      Turkish
    </td>
  </tr>
  <tr>
    <td>
       tr_TR               
    </td>
    <td>
      Turkish Turkey
    </td>
  </tr>
  <tr>
    <td>
       ts                  
    </td>
    <td>
      Tsonga
    </td>
  </tr>
  <tr>
    <td>
       ts_ZA               
    </td>
    <td>
      Tsonga South Africa
    </td>
  </tr>
  <tr>
    <td>
       tt                  
    </td>
    <td>
      Tatar
    </td>
  </tr>
  <tr>
    <td>
       tt_RU               
    </td>
    <td>
      Tatar Russia
    </td>
  </tr>
  <tr>
    <td>
       ug                  
    </td>
    <td>
      Uighur
    </td>
  </tr>
  <tr>
    <td>
       ug_Arab             
    </td>
    <td>
      Uighur (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       ug_Arab_CN          
    </td>
    <td>
      Uighur China (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       ug_CN               
    </td>
    <td>
      Uighur China
    </td>
  </tr>
  <tr>
    <td>
       uk                  
    </td>
    <td>
      Ukrainian
    </td>
  </tr>
  <tr>
    <td>
       uk_UA               
    </td>
    <td>
      Ukrainian Ukraine
    </td>
  </tr>
  <tr>
    <td>
       ur                  
    </td>
    <td>
      Urdu
    </td>
  </tr>
  <tr>
    <td>
       ur_IN               
    </td>
    <td>
      Urdu India
    </td>
  </tr>
  <tr>
    <td>
       ur_PK               
    </td>
    <td>
      Urdu Pakistan
    </td>
  </tr>
  <tr>
    <td>
       uz                  
    </td>
    <td>
      Uzbek
    </td>
  </tr>
  <tr>
    <td>
       uz_AF               
    </td>
    <td>
      Uzbek Afghanistan
    </td>
  </tr>
  <tr>
    <td>
       uz_Arab             
    </td>
    <td>
      Uzbek (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       uz_Arab_AF          
    </td>
    <td>
      Uzbek Afghanistan (Arabic)
    </td>
  </tr>
  <tr>
    <td>
       uz_Cyrl             
    </td>
    <td>
      Uzbek (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       uz_Cyrl_UZ          
    </td>
    <td>
      Uzbek Uzbekistan (Cyrillic)
    </td>
  </tr>
  <tr>
    <td>
       uz_Latn             
    </td>
    <td>
      Uzbek (Latin)
    </td>
  </tr>
  <tr>
    <td>
       uz_Latn_UZ          
    </td>
    <td>
      Uzbek Uzbekistan (Latin)
    </td>
  </tr>
  <tr>
    <td>
       uz_UZ               
    </td>
    <td>
      Uzbek Uzbekistan
    </td>
  </tr>
  <tr>
    <td>
       ve                  
    </td>
    <td>
      Venda
    </td>
  </tr>
  <tr>
    <td>
       ve_ZA               
    </td>
    <td>
      Venda South Africa
    </td>
  </tr>
  <tr>
    <td>
       vi                  
    </td>
    <td>
      Vietnamese
    </td>
  </tr>
  <tr>
    <td>
       vi_VN               
    </td>
    <td>
      Vietnamese Vietnam
    </td>
  </tr>
  <tr>
    <td>
       wal                 
    </td>
    <td>
      Walamo
    </td>
  </tr>
  <tr>
    <td>
       wal_ET              
    </td>
    <td>
      Walamo Ethiopia
    </td>
  </tr>
  <tr>
    <td>
       wo                  
    </td>
    <td>
      Wolof
    </td>
  </tr>
  <tr>
    <td>
       wo_Latn             
    </td>
    <td>
      Wolof (Latin)
    </td>
  </tr>
  <tr>
    <td>
       wo_Latn_SN          
    </td>
    <td>
      Wolof Senegal (Latin)
    </td>
  </tr>
  <tr>
    <td>
       wo_SN               
    </td>
    <td>
      Wolof Senegal
    </td>
  </tr>
  <tr>
    <td>
       xh                  
    </td>
    <td>
      Xhosa
    </td>
  </tr>
  <tr>
    <td>
       xh_ZA               
    </td>
    <td>
      Xhosa South Africa
    </td>
  </tr>
  <tr>
    <td>
       yo                  
    </td>
    <td>
      Yoruba
    </td>
  </tr>
  <tr>
    <td>
       yo_NG               
    </td>
    <td>
      Yoruba Nigeria
    </td>
  </tr>
  <tr>
    <td>
       zh                  
    </td>
    <td>
      Chinese
    </td>
  </tr>
  <tr>
    <td>
       zh_CN               
    </td>
    <td>
      Chinese China
    </td>
  </tr>
  <tr>
    <td>
       zh_HK               
    </td>
    <td>
      Chinese Hong Kong SAR China
    </td>
  </tr>
  <tr>
    <td>
       zh_Hans             
    </td>
    <td>
      Chinese (Simplified Han)
    </td>
  </tr>
  <tr>
    <td>
       zh_Hans_CN          
    </td>
    <td>
      Chinese China (Simplified Han)
    </td>
  </tr>
  <tr>
    <td>
       zh_Hans_HK          
    </td>
    <td>
      Chinese Hong Kong SAR China (Simplified Han)
    </td>
  </tr>
  <tr>
    <td>
       zh_Hans_MO          
    </td>
    <td>
      Chinese Macau SAR China (Simplified Han)
    </td>
  </tr>
  <tr>
    <td>
       zh_Hans_SG          
    </td>
    <td>
      Chinese Singapore (Simplified Han)
    </td>
  </tr>
  <tr>
    <td>
       zh_Hant             
    </td>
    <td>
      Chinese (Traditional Han)
    </td>
  </tr>
  <tr>
    <td>
       zh_Hant_HK          
    </td>
    <td>
      Chinese Hong Kong SAR China (Traditional Han)
    </td>
  </tr>
  <tr>
    <td>
       zh_Hant_MO          
    </td>
    <td>
      Chinese Macau SAR China (Traditional Han)
    </td>
  </tr>
  <tr>
    <td>
       zh_Hant_TW          
    </td>
    <td>
      Chinese Taiwan (Traditional Han)
    </td>
  </tr>
  <tr>
    <td>
       zh_MO               
    </td>
    <td>
      Chinese Macau SAR China
    </td>
  </tr>
  <tr>
    <td>
       zh_SG               
    </td>
    <td>
      Chinese Singapore
    </td>
  </tr>
  <tr>
    <td>
       zh_TW               
    </td>
    <td>
      Chinese Taiwan
    </td>
  </tr>
  <tr>
    <td>
       zu                  
    </td>
    <td>
      Zulu
    </td>
  </tr>
  <tr>
    <td>
       zu_ZA               
    </td>
    <td>
      Zulu South Africa
    </td>
  </tr>
</table>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
