<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>パーミッションについて理解しよう - Perl入門ゼミ</title>
<meta name="description" content="UNIX系のOSでは、ファイルパーミッションという仕組みがあります。(このサイトでは便宜のため、UNIX系OSというのはUNIX系OSとLinux系OSの両方を指すことにします。)Perlは、WindowでもUnixでも実行できるマルチプラットフォームな言語ですが、根本的に仕組みが違う部分についてはWindowsとUNIXの両方で実行することができません。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="パーミッションについて理解しよう - Perl入門ゼミ" />
<meta name="twitter:description" content="UNIX系のOSでは、ファイルパーミッションという仕組みがあります。(このサイトでは便宜のため、UNIX系OSというのはUNIX系OSとLinux系OSの両方を指すことにします。)Perlは、WindowでもUnixでも実行できるマルチプラットフォームな言語ですが、根本的に仕組みが違う部分についてはWindowsとUNIXの両方で実行することができません。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161126148016.html">
      <span itemprop="name">ファイル操作</span></a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2><a href="/blog/20080822121950.html">パーミッションについて理解しよう</a></h2>
<p>
  UNIX系のOSでは、ファイルパーミッションという仕組みがあります。(このサイトでは便宜のため、UNIX系OSというのはUNIX系OSとLinux系OSの両方を指すことにします。)Perlは、WindowでもUnixでも実行できるマルチプラットフォームな言語ですが、根本的に仕組みが違う部分についてはWindowsとUNIXの両方で実行することができません。
</p>
<p>
  Perlは、Unix生まれですので、標準関数の中にもUnix系OSでのみ意味を持つものがあり、そのひとつがファイルパーミッションに関するものです。今回は、ファイルパーミッションというUNIXの概念を簡単に解説します。
</p>
<p>
  パーミッション(permission)は日本語に直すと「許可」という意味です。この許可の意味は以下のように考えるとわかりやすいと思います。(ここからは、ファイルパーミッションを略してパーミッションと呼びます。)
</p>
<blockquote>
<p>
  <span style="font-weight:bold;">パーミッションの考え方</span>
</p>
<p>
  <span style="font-weight:bold;">「あるファイル」</span>に対して<span style="font-weight:bold;">「だれだれ」</span>が<span style="font-weight:bold;">「なになに」</span>をすることを許可する。
</p>
</blockquote>
<p>
  パーミッションは、「ファイル」単位で設定されます。また例外なくすべてのファイルに対して設定されます。
</p>
<p>
  パーミッションの指定では「だれ」に対して許可するのかということを記述します。「だれだれ」という部分に記述できるのは、「そのファイルの所有者」「そのファイルを所有しているグループ」「任意のユーザ」になります。
</p>
<p>
  パーミッション指定では、「なに」をすることを許可するのかということを記述します。「なになに」という部分に記述できるのは、「読み込み」「書き込み」「実行」になります。複数の指定をすることができます。
</p>
<p>
  パーミッションの記述の例をあげると以下のようになります。
</p>
<blockquote>
<p>
  ファイル「a.txt」に対して
</p>
<p>
  「このファイルの所有者」が「書き込み」と「読み込み」をすることを許可し
</p>
<p>
  「このファイルの所有グループ」が「書き込み」と「読み込み」をすることを許可し
</p>
<p>
  「任意のユーザ」が「読み込み」をすることを許可する
</p>
</blockquote>
<p>
  この説明のなかで、まだ説明していない用語があるので、以下で説明します。
</p>
<h4>ユーザとは</h4>
<p>
  UNIXには、ユーザという概念があります。すべてのユーザはOSによって管理されてます。
</p>
<p>
  まず最高の権限を持つ「root」ユーザとUNIXのインストール時に存在します。rootユーザは、ファイルのパーミッションにかかわらずファイルへの書き込み、読み込みを行うことができます。他のユーザがファイルの書き込みを禁止したとしてもrootユーザだけは、そのファイルへの書き込み権を持ちます。
</p>
<p>
  rootは、他のユーザを作成することができます。UNIXはマルチタスクOSです。たとえばあなたがプロジェクトに参加したときに、管理者はroot権限であなた用のユーザを作成します。
</p>
<h4>グループとは</h4>
<p>
  UNIXには、グループという概念があります。たとえば、あるプロジェクトの開発で使用するファイルがあるとします。このファイルは、開発やテストを担当する人以外からは、勝手に書き込まれたりしたくはありません。
</p>
<p>
  こんなときは、管理者がroot権限で、そのプロジェクト用のグループというものを作成します。そして、そのプロジェクトを担当するユーザを、グループに追加します。またユーザは、複数のグループに所属させることができます。
</p>
<p>
  グループを作成することで、グループ単位のパーミッションを設定することができるようになります。
</p>
<h4>ファイルの所有者とは</h4>
<p>
  UNIXでは、ファイルは必ず誰かが所有しています。所有者のいないファイルはありません。たとえば、あなたがファイルを作成すると、ファイルの所有者は、あなたのユーザIDになります。
</p>
<h4>ファイルの所有者グループとは</h4>
<p>
  UNIXでは、ファイルは必ずどこかのグループが所有しています。あなたが自分のユーザで新規にファイルを作成した場合は、グループ名は、ユーザ名と同じになります。(これは、ユーザを作成したときに、同時に同じ名前のグループ名が作成されており、そのグループ名が設定されるからです。)
</p>
 
<h4>実行権限とは</h4>
<p>
  「なになに」という部分に指定できる「読み込み」と「書き込み」権限は、説明がなくても理解できると思いまので、「実行」権限について説明します。
</p>
<p>
  ファイルには、「データを保存しておくためのファイル」と、「プログラムが書かれたファイル」があります。プログラムが書かれたファイルの一例は、「sample.pl」のようなPerlスクリプトが書かれたファイルです。
</p>
<p>
  コマンドプロンプトで実行するときは、perl sample.pl のように、perlというプログラムに、sample.pl というスクリプトを渡して実行しています。これは、sample.plはデータファイルとして、perlプログラムに渡されて実行されているということです。
</p>
<p>
  UNIXではファイルに実行権限を与えることで ./sample.pl というように、直接ファイル名を指定し、Perlスクリプトを実行することができます。(./ はカレントディレクトリという意味です。sample.pl という記述では、UNIXの仕様上実行はできません。)
</p>
<pre>
#!/usr/bin/perl
</pre>
<p>
  という記述は、このファイルに実行権限が与えられている場合、/usr/bin/perl というプログラムでこのファイルを実行してくださいというOSに対するお願いです。
</p>
<p>
  これで、ファイルパーミッションについての用語の解説は終わりです。
</p>
<p>
  ファイルのパーミッションを実際に変更するにはchmod関数を使用します。chmod関数の解説は以下を参考にしてください。
</p>
<ul>
  <li>
    <a href="/blog/20080821121933.html">chmod関数 - ファイルパーミッションを変更する</a>
  </li>
</ul>
<h3>ファイルパーミッションの表現方法</h3>
<p>
  ファイルパーミッションの表現方法について解説します。
</p>
<p>
  まず、「読み込み権限」「書き込み権限」「実行権限」を表現する方法について解説します。UNIXにおいては、これらを3桁のビット列で表現します。3桁のビットの意味は以下のようになります。
</p>
<table>
  <tr>
    <td>
      　
    </td>
    <td>
      読み込み
    </td>
    <td>
      書き込み
    </td>
    <td>
      実行
    </td>
  </tr>
  <tr>
    <td>
      可
    </td>
    <td>
      1
    </td>
    <td>
      1
    </td>
    <td>
      1
    </td>
  </tr>
  <tr>
    <td>
      不可
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
</table>
<p>
  3桁目が読み込み権限を表すビット、2桁目が書き込み権限を表すビット、1桁目が実行権限を表すビットになります。1であれば権限があり、0であれば権限がないということを意味します。
</p>
<p>
  たとえば、ビット列が110ならば、読み込み権限と書き込み権限があり、101ならば読み込み権限と実行権限があります。
</p>
<h4>ファイルパーミッションの8進数表現</h4>
<p>
  ファイルパーミッションは単なるビット列ですが、便宜のために8進数で指定することが多いです。chmodというコマンドでパーミッションを変更する場合、<a href="/blog/20080804121794.html">sysopen関数</a>でパーミッションの指定する場合などに8進数を使います。
</p>
<p>
  2進数(ビット列)と8進数の対応を記載しておきます。
</p>
<table>
  <tr>
    <td>
      2進数
    </td>
    <td>
      8進数
    </td>
    <td>
      2進から8進への変換
    </td>
  </tr>
  <tr>
    <td>
      000
    </td>
    <td>
      0
    </td>
    <td>
      4×0　 +　 2×0　 + 　1×0 
    </td>
  </tr>
  <tr>
    <td>
      001
    </td>
    <td>
      1
    </td>
    <td>
      4×0　 +　 2×0　 + 　1×1 
    </td>
  </tr>
  <tr>
    <td>
      010
    </td>
    <td>
      2
    </td>
    <td>
      4×0　 +　 2×1　 + 　1×0 
    </td>
  </tr>
  <tr>
    <td>
      011
    </td>
    <td>
      3
    </td>
    <td>
      4×0　 +　 2×1　 + 　1×1 
    </td>
  </tr>
  <tr>
    <td>
      100
    </td>
    <td>
      4
    </td>
    <td>
      4×1　 +　 2×0　 + 　1×0 
    </td>
  </tr>
  <tr>
    <td>
      101
    </td>
    <td>
      5
    </td>
    <td>
      4×1　 +　 2×0　 + 　1×1 
    </td>
  </tr>
  <tr>
    <td>
      110
    </td>
    <td>
      6
    </td>
    <td>
      4×1　 +　 2×1　 +　 1×0 
    </td>
  </tr>
  <tr>
    <td>
      111
    </td>
    <td>
      7
    </td>
    <td>
      4×1　 +　 2×1　 + 　1×1 
    </td>
  </tr>
</table>
<p>
  この中でよく使われるのが、6(110,読み込みと書き込み)、 7(111,読み込みと書き込みと実行)、4（100,読み込み)、5(101,読み込みと実行)の4つです。この4つの数字については覚えておくと便利です。
</p>
<h4>ファイルパーミッションの文字表現</h4>
<p>
  ファイルパーミッションは人間が読みやすいように文字で表現されることも多いです。<a href="/blog/20080821121933.html">chmod関数</a>でパーミッションを指定するときや、ls -l コマンドでファイルの詳細情報を表示するときに使われたりします。
</p>
<p>
  読み込み権限のビットは「r」、書き込み権限のビットは「w」、実行権限のビットは「x」で表現されます。ビットが立っていない場合は「-」で表現されます。
</p>
<p>
  これを踏まえて対応表をもう一度作って見ます。
</p>
<table>
  <tr>
    <td>
      2進数
    </td>
    <td>
      8進数
    </td>
    <td>
      文字表現
    </td>
  </tr>
  <tr>
    <td>
      000
    </td>
    <td>
      0
    </td>
    <td>
      - - -
    </td>
  </tr>
  <tr>
    <td>
      001
    </td>
    <td>
      1
    </td>
    <td>
      - - x
    </td>
  </tr>
  <tr>
    <td>
      010
    </td>
    <td>
      2
    </td>
    <td>
      - w -
    </td>
  </tr>
  <tr>
    <td>
      011
    </td>
    <td>
      3
    </td>
    <td>
      - w x
    </td>
  </tr>
  <tr>
    <td>
      100
    </td>
    <td>
      4
    </td>
    <td>
      r - -
    </td>
  </tr>
  <tr>
    <td>
      101
    </td>
    <td>
      5
    </td>
    <td>
      r - x
    </td>
  </tr>
  <tr>
    <td>
      110
    </td>
    <td>
      6
    </td>
    <td>
      r w -
    </td>
  </tr>
  <tr>
    <td>
      111
    </td>
    <td>
      7
    </td>
    <td>
      r w x
    </td>
  </tr>
</table>
<p>
  この対応表を書けるようになれば、パーミッションの理解は完璧です。
</p>
<h3>パーミッションを「所有者」「グループ」「任意のユーザ」に設定する</h3>
<p>
  「所有者」「グループ」「任意のユーザ」に対してファイルパーミッションを設定する方法を解説します。　以下の表を使うと、パーミッションは3ビットで表現され、以下のようになります。
</p>
<table>
  <tr>
    <td>
      2進数
    </td>
    <td>
      8進数
    </td>
    <td>
      文字表現
    </td>
  </tr>
  <tr>
    <td>
      000
    </td>
    <td>
      0
    </td>
    <td>
      - - -
    </td>
  </tr>
  <tr>
    <td>
      001
    </td>
    <td>
      1
    </td>
    <td>
      - - x
    </td>
  </tr>
  <tr>
    <td>
      010
    </td>
    <td>
      2
    </td>
    <td>
      - w -
    </td>
  </tr>
  <tr>
    <td>
      011
    </td>
    <td>
      3
    </td>
    <td>
      - w x
    </td>
  </tr>
  <tr>
    <td>
      100
    </td>
    <td>
      4
    </td>
    <td>
      r - -
    </td>
  </tr>
  <tr>
    <td>
      101
    </td>
    <td>
      5
    </td>
    <td>
      r - x
    </td>
  </tr>
  <tr>
    <td>
      110
    </td>
    <td>
      6
    </td>
    <td>
      r w -
    </td>
  </tr>
  <tr>
    <td>
      111
    </td>
    <td>
      7
    </td>
    <td>
      r w x
    </td>
  </tr>
</table>
<p>
  これを「所有者」「所有グループ」「任意のユーザ」の順に並べたものが、UNIXにおけるファイルに対するパーミッションの表現になります。
</p>
<p>
  たとえば、ファイルの所有者が「読み込み権限」と「書き込み権限」を持ち、所有グループと任意のユーザが「読み込み権限」を持つならパーミッションの表現は以下のようになります。
</p>
<table>
  <tr>
    <td>
      　
    </td>
    <td>
      所有者
    </td>
    <td>
      所有グループ
    </td>
    <td>
      任意のユーザ
    </td>
  </tr>
  <tr>
    <td>
      2進
    </td>
    <td>
      110
    </td>
    <td>
      100
    </td>
    <td>
      100
    </td>
  </tr>
  <tr>
    <td>
      8進
    </td>
    <td>
      6
    </td>
    <td>
      4
    </td>
    <td>
      4
    </td>
  </tr>
  <tr>
    <td>
      文字
    </td>
    <td>
      r w - 
    </td>
    <td>
      r - -
    </td>
    <td>
      r - -
    </td>
  </tr>
</table>
<p>
  意味を理解しやすいのは、2進数か文字表現ですが、9文字書かないといけないので引数で指定する場合などめんどうです。ですので、引数で指定する場合は、8進数で指定することが多いです。8進数だけを見てすぐに意味がわかるようになると便利です。
</p>
<h4>よく使われるパーミッションの8進数表現</h4>
<p>
  <b>データファイルの場合</b>
</p>
<table>
  <tr>
    <td>
      パーミッション
    </td>
    <td>
      意図
    </td>
  </tr>
  <tr>
    <td>
      644
    </td>
    <td>
       自分だけが読み書きしたい。他の人は読み込みだけを許可する。
    </td>
  </tr>
  <tr>
    <td>
      664
    </td>
    <td>
       グループで読み書きを許可したい。他の人には読み込みだけを許可する。
    </td>
  </tr>
  <tr>
    <td>
      666
    </td>
    <td>
       だれでも自由に読み書きしてよい
    </td>
  </tr>
  <tr>
    <td>
      600
    </td>
    <td>
       自分だけが読み書きできる。他の人は読み込みもしてほしくない 
    </td>
  </tr>
</table>
<p>
  <b>実行ファイルの場合</b>
</p>
<table>
  <tr>
    <td>
      755
    </td>
    <td>
       自分だけが実行と読み書きができる。他の人には実行と読み込みを許可する
    </td>
  </tr>
  <tr>
    <td>
      777
    </td>
    <td>
       だれでも実行してもよいし、だれでも読み書きしてもよい
    </td>
  </tr>
</table>
<h3>ディレクトリのパーミッション</h3>
<p>
  ディレクトリに対するパーミッションの意味はファイルに対するパーミッションの意味と少し異なります。ディレクトリに対するパーミッションの意味を解説します。
</p>
<p>
  <span style="font-weight:bold;">UNIXにおいてはディレクトリというのは特殊なファイルです。</span>普通のテキストファイルならばファイルの中身は文字列が書かれていますが、ディレクトリにはファイルの情報が書かれています。
</p>
<pre>
ls -l ディレクトリ名 
</pre>
<p>
  というコマンドで、ディレクトリの中身を覗くと
</p>
<pre>
[root@colinux y-kimoto]# ls -l dir1
合計 16
-rw-rw-r-- 1 y-kimoto y-kimoto 164 2008-05-28 00:36 b.pl
-rw-rw-r-- 1 y-kimoto y-kimoto   6 2008-08-16 10:26 c.txt
----rw-rw- 1 root     root       6 2008-08-16 10:30 d.txt
</pre>
<p>
  のようになっています。
</p>
<p>
  ディレクトリはファイルの情報が書かれている特殊なファイルです。
</p>
<h4>ディレクトリに対する読み込み権限と書き込み権限</h4>
<p>
  ディレクトリを特殊なファイルだと理解するとディレクトリに対する読み込み権限と書き込み権限は理解しやすくなります。
</p>
<p>
  <span style="font-weight:bold;">ディレクトリに対する読み込み権限とは、ディレクトリに書かれたファイル情報を読み込むことができる権限のことです。</span>たとえば、ディレクトリに対して読み込み権限を与えなければ、ls コマンドでディレクトリの情報を表示することができません。
</p>
<p>
  <span style="font-weight:bold;">ディレクトリに対する書き込み権限とは、ディレクトリに書かれたファイルの情報を変更する権限です。</span>たとえば、ディレクトリにファイル追加したり、削除することができません。
</p>
<p>
  ここで気にとめておいてほしいことは、ファイルを削除したり追加したりする権限はディレクトリに対する書き込み権限によって設定するということです。<span style="font-weight:bold;">ファイルに対して書き込み権限を与えないとしても、ディレクトリに書き込み権限があればそのファイルを削除することができます。</span>
</p>
<h4>ディレクトリに対する実行権限</h4>
<p>
  ディレクトリには必ず実行権限をつけます。ディレクトリにたいする実行権限をなくすとlsでディレクトリの内容を見ること、cdで移動すること、ディレクトリの中にあるファイルの情報を変更することなど、ディレクトリとディレクトリの中にあるファイルに対する操作のすべてを行うことができなくなります。
</p>
<p>
  ディレクトリに対する実行権限をなくす意味はほとんどありません。ディレクトリに対しては実行権限を必ずつけて、読み込み権限と書き込み権限で設定を行えば十分です。
</p>
<h4>よく使われるディレクトリのパーミッション</h4>
<table>
  <tr>
    <td>
      パーミッション
    </td>
    <td>
      意図
    </td>
  </tr>
  <tr>
    <td>
      755
    </td>
    <td>
      ファイルの追加や削除を自分だけが行いたい
    </td>
  </tr>
  <tr>
    <td>
      777
    </td>
    <td>
      ファイルの追加や削除をすべてのユーザに許可してもよい
    </td>
  </tr>
</table>
<h3>ファイルパーミッションを調べる</h3>
<p>
  パーミッションを調べる方法を解説します。ファイルパーミッションを調べるには、<a href="/blog/20080512121060.html">stat関数</a>を使ってファイルパーミッションの情報を取り出します。3要素目がモード情報になります。取得した S_IMODE 関数で変換すると純粋なパーミッションの情報になります。
</p>
<pre>
use Fcntl ':mode';
my $mode = (stat $file)[2]; 
printf "%03o\n", S_IMODE($mode);
</pre>
<p>
  ビット演算できる定数や関数です。
</p>
<pre>
# パーミッションに関する定数
S_IRWXU S_IRUSR S_IWUSR S_IXUSR
S_IRWXG S_IRGRP S_IWGRP S_IXGRP
S_IRWXO S_IROTH S_IWOTH S_IXOTH

# Setuid Setgid Stickiness SaveTextに関する定数
S_ISUID S_ISGID S_ISVTX S_ISTXT

# ファイルタイプに関する定数
S_IFREG S_IFDIR S_IFLNK S_IFBLK S_IFCHR S_IFIFO S_IFSOCK S_IFWHT S_ENFMT

# ファイル演算子と同じ役割を果たす関数
S_ISREG($mode) S_ISDIR($mode) S_ISLNK($mode)
S_ISBLK($mode) S_ISCHR($mode) S_ISFIFO($mode) S_ISSOCK($mode)
</pre>
<p>
  stat関数が返す3番目のモード情報は、Fcntlで定義されている定数とビット演算を行うことでたくさんの情報を取り出すことができます。
</p>
<h4>パーミッションを調べるサンプル</h4>
<p>
  パーミッションを調べるサンプルです。
</p>
<pre>
use strict;
use warnings;

# ファイルパーミッションに関する定数をインポート
use Fcntl ':mode';

my $file = shift || die "Usage: $0 file\n";

# stat関数の戻り値の3つ目の要素がファイル
# パーミッションの情報
print "ファイルパーミッションの取得する。\n";
my $mode = (stat $file)[2];

# S_IMODE関数で数値に変換
printf "$fileのパーミッション(8進表示): %03o\n", S_IMODE($mode);
printf "$fileのパーミッション(2進表示): %09b\n", S_IMODE($mode);
</pre>
<h3>ビットマスクとは</h3>
<p>
  ビットマスクは<a href="/blog/20080804121794.html">sysopen関数</a>やmkdir関数でのファイルやディレクトリの作成時のパーミッションに影響を及ぼします。
</p>
<p>
  たとえばsysopen関数で指定するパーミッションが666で、ビットマスクの設定が022だった場合、作成されるファイルのパーミッションは644になります。
</p>
<p>
  ファイルをプログラムで作成する場合は、パーミッションの値をファイルの場合は666、実行ファイルやディレクトリの場合は777にしておくほうがよいです。こうしておけば、そのプログラムを使う人はビットマスクを指定することで作成するパーミッションを自由に変更できます。
</p>
<p>
  ビットマスクについては、以下で詳しく解説しています。
</p>
<ul>
  <li>
    <a href="/blog/20080824121967.html">umask関数 - ビットマスクでパーミッションを制限する</a>
  </li>
</ul>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
