<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>ランダムアクセスを使って読み書きする - Perl入門ゼミ</title>
<meta name="description" content="変更したい箇所だけをピンポイントで指定して、変更して書き戻すランダムアクセスのサンプルです。ランダムアクセスというのは一般的に固定長のバイナリファイルに対して使われますが、簡便のためここでは固定長テキストファイルを使います。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="ランダムアクセスを使って読み書きする - Perl入門ゼミ" />
<meta name="twitter:description" content="変更したい箇所だけをピンポイントで指定して、変更して書き戻すランダムアクセスのサンプルです。ランダムアクセスというのは一般的に固定長のバイナリファイルに対して使われますが、簡便のためここでは固定長テキストファイルを使います。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110212130370.html">
      <span itemprop="name">ファイル入出力</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <span itemprop="name">here</span>
  </li>
</ol>
<h2><a href="/blog/20080810121833.html">ランダムアクセスを使って読み書きする</a></h2>
<p>
  変更したい箇所だけをピンポイントで指定して、変更して書き戻すランダムアクセスのサンプルです。ランダムアクセスというのは一般的に固定長のバイナリファイルに対して使われますが、簡便のためここでは固定長テキストファイルを使います。
</p>
<pre>
use strict;
use warnings;

# seek の位置を指定するオプションを使用するために使用
use Fcntl qw(:seek);

# ランダムアクセスによってファイル内容を書き換える。
my $file = "data_20080810.txt";

# 読み書きモードでオープン(あまり安全でない)
open(my $fh, "+&lt;", $file)
  or die "Cannot open $file";

# 16バイト
my $len_rec = 16;

# レコードの先頭
my $pos_name = 0;

# 固定長8バイト
my $len_name = 8; 

# 先頭から8バイト目
my $pos_age = 8;

# 固定長8バイト
my $len_age = 8; 

# 今回はpekoの年齢に1を加えてみる。
# pekoは2レコード目にあります。年齢は、レコードの先頭から8バイト目
my $pos_peko_age = 1 * $len_rec + $pos_age;

# ファイルポインタの位置を、ペコの年齢の位置まで移動
seek($fh, $pos_peko_age, SEEK_SET)
  or die "Cannnot seek: $file: $!";

# $ageに、pekoの年齢を読み込み
my $age;

# 読み込んだバイト数
my $len_read;
$len_read = read($fh, $age, $len_age);

if (!defined $len_read) {
  die "Cannot read $file: $!";
}
elsif ($len_read != $len_age) {
  die "Read only $len_read bytes";
}


# 年齢に1加える
$age++;

# readするとファイルポインタが読み込んだ分だけ進むので、元の位置に戻す。
seek($fh, $pos_peko_age, SEEK_SET)
  or die "Cannnot seek: $file: $!";

# ファイルへ書き込み
printf $fh  "%08s", $age
  or die "Cannot print: $file: $!";

# ファイルを閉じる
close $fh
  or die "Cannot close $file: $!";
</pre>
<p>
  以下は読み込むデータです。(名前8バイト、年齢8バイト)というレコードが3つ並んでいるデータです。data_20080810.txtという名前で保存してください。
</p>
<pre>
taro    00000023peko    00000018akira   00000023
</pre>
<h3>コード解説</h3>
<h4>(1) seek関数で使用するシンボルを使う準備</h4>
<pre>
use Fcntl qw(:seek);
</pre>
<p>
  Fcntlモジュールから、seek関数に関連するシンボルをインポートします。SEEK_SET, SEEK_CUR, SEEK_END という3つの定数がインポートされます。
</p>
<h4>(2) 固定長ファイルでの位置の指定方法</h4>
<pre>
# 16バイト
my $len_rec = 16;

# レコードの先頭
my $pos_name = 0;

# 固定長8バイト
my $len_name = 8; 

# 先頭から8バイト目
my $pos_age = 8;

# 固定長8バイト
my $len_age = 8; 

# 今回はpekoの年齢に1を加えてみる。
# pekoは2レコード目にあります。年齢は、レコードの先頭から8バイト目
my $pos_peko_age = 1 * $len_rec + $pos_age;
</pre>
<p>
  固定長ファイルの場合は、直接バイト位置を指定できます。上記のように、1レコードの長さ、それぞれのデータの先頭からの位置とバイト数を定義しておくと、位置を指定するときに便利です。
</p>
<h4>(3) seek関数で、読み込みたいバイト位置まで移動する。</h4>
<pre>
# ファイルポインタの位置を、ペコの年齢の位置まで移動

seek($fh, $pos_peko_age, SEEK_SET)
  or die "Cannnot seek: $file: $!";
</pre>
<p>
  seek関数を使うとファイルポインタを、指定したバイト位置まで移動することができます。ファイルポインタというのは現在のファイルのバイト位置を覚えてくれている変数だと思ってください。
</p>
<p>
  第1引数はオープンしているファイルハンドル、第2引数は移動したいバイト位置、第3引数は基準とする位置(先頭、現在の位置、末尾)です。
</p>
<p>
  第3引数に指定できる定数は以下のとおりです。
</p>
<table>
  <tr>
    <td>
      定数
    </td>
    <td>
      意味
    </td>
  </tr>
  <tr>
    <td>
      SEEK_SET
    </td>
    <td>
      ファイルの先頭を基準にする
    </td>
  </tr>
  <tr>
    <td>
      SEEK_CUR
    </td>
    <td>
      現在のファイルポインタが指す位置を基準にする
    </td>
  </tr>
  <tr>
    <td>
      SEEK_END
    </td>
    <td>
      ファイルの末端を基準にする
    </td>
  </tr>
</table>
<p>
  上記の位置を基準にして、第2引数の値が加算されます。先頭からのバイト位置を指定する場合は、SEEK_SETです。SEEK_ENDの場合は、第2引数は負の値を指定することになります。
</p>
<p>
  seek関数は失敗するとundefを返して、$!にエラー内容を設定します。
</p>
<h4>(4) read関数でデータを読み込む</h4>
<pre>
# $ageに、pekoの年齢を読み込み
my $age;

# 読み込んだバイト数
my $len_read;
$len_read = read($fh, $age, $len_age);

if (!defined $len_read) {
  die "Cannot read $file: $!";
}
elsif ($len_read != $len_age) {
  die "Read only $len_read bytes";
}
</pre>
<p>
  read関数を使うことで、指定したバイト数だけをファイルから読み込むことができます。第1引数はオープンしたファイルハンドル、第2引数は、読み込んだデータを格納するスカラー変数、第3引数は読み込むバイト数です。
</p>
<p>
  read関数の戻り値は、実際に読み込んだバイト数になります。リードエラーの場合は、undefが返り$!にエラー内容が設定されます。
</p>
<p>
  読み込んだバイト数が足りなかった場合、読み込みエラーの場合それぞれでエラー処理を行います。
</p>
<h4>(5)seek関数で書き込み位置に移動する</h4>
<pre>
# readするとファイルポインタが読み込んだ分だけ進むので、元の位置に戻す。
seek($fh, $pos_peko_age, SEEK_SET)
  or die "Cannnot seek: $file: $!";
</pre>
<p>
  read関数は読み込んだ分だけファイルポインタの位置を進めます。再度同じ位置に書き込むためには、もう一度seek関数を呼び出します。
</p>
<h4>(6)ファイルへの書き込みを行う</h4>
<pre>
printf $fh  "%08s", $age
  or die "Cannot print: $file: $!";
</pre>
<p>
  書き込みは<a href="/blog/20170326149148.html">printf関数</a>でフォーマットを指定して行います。%08sという指定で、「8桁の文字列で、8桁に満たない部分は0で埋める」ということを意味します。
</p>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
