<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>File::Find - サブディレクトリを再帰的に処理する - Perl入門ゼミ</title>
<meta name="description" content="File::Findを使用すると、再帰的にすべてのファイルを処理することができます。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="File::Find - サブディレクトリを再帰的に処理する - Perl入門ゼミ" />
<meta name="twitter:description" content="File::Findを使用すると、再帰的にすべてのファイルを処理することができます。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2><a href="/blog/20080530121229.html">File::Find - サブディレクトリを再帰的に処理する</a></h2>
<p>
  <strong>File::Find</strong>を使用すると、再帰的にすべてのファイルを処理することができます。
</p>
<pre>
use File::Find;
find(\&process, $top_dir);

sub process{
  # 行いたい処理
}
</pre>
<p>
  File::Find は、chdir で、ディレクトリを変更しながら、すべてのファイルを処理していきます。第一引数には、サブルーチンへのリファレンスを渡します。( &process がサブルーチンで、 \ 記号で、リファレンスを作成しています。 )
</p>
<p>
  第二引数以降は、処理したいディレクトリのリストを渡します。( 例では、ひとつだけ )。find の代わりに、 finddepth を使うと、走査順を、変更できます。( 以下で解説 )
</p>
<h4>カレントディレクトリを変更したくない場合</h4>
<p>
  カレントディレクトリを変更しないで、走査したい場合は「no_chdir」オプションを使用することができます。
</p>
<p>
  この場合は、サブルーチンへのリファレンスは「wanted」に指定します。
</p>
<pre>
find({wanted =&gt; \&process, no_chdir =&gt; 1}, $top_dir);
</pre>
<h3>処理の記述の中で、使うことのできる変数</h3>
<table>
  <tr>
    <td>
      現在のカレントディレクトリ           
    </td>
    <td>
      $File::Find::dir   
    </td>
  </tr>
  <tr>
    <td>
      現在のファイル名( ベース名 )         
    </td>
    <td>
      $_                 
    </td>
  </tr>
  <tr>
    <td>
      現在のファイル名( 絶対パス )         
    </td>
    <td>
      $File::Find::name  
    </td>
  </tr>
</table>
<p>
  sub process の中で、カレントディレクトリや、処理対象のファイル名を取得できます。これらを使って、各ファイルに行いたいことを記述します。
</p>
<h3>find の走査順序( 行きがけ順 )</h3>
<pre>
(1) $top_dir |-- (2) top.txt
             |
             |-- (3) dir1    |-- (4) 1.txt
             |               |-- (5) dir1_1  |-- (6) 1_1.txt
             |               |-- (7) dir1_2  |-- (8) 1_2.txt
             |
             |-- (8) dir2    |-- (9) 2.txt
</pre>
<p>
  一般的に行きがけ順と呼ばれている順で、走査します。同一階層の場合は、ディレクトリより先に、ファイルが、処理されます。(3) より (2) のほうが先。
</p>
<h3>finddepth の走査順序(帰りがけ順)</h3>
<pre>
(10) $top_dir |-- (1) top.txt
              |
              |-- (7) dir1    |-- (2) 1.txt
              |               |-- (4) dir1_1  |-- (3) 1_1.txt
              |               |-- (6) dir1_2  |-- (5) 1_2.txt
              |
              |-- (9) dir2    |-- (8) 2.txt
</pre>
<p>
  一般的に帰りがけ順と呼ばれている順で、走査します。各ディレクトリは、自分より下の階層の処理がすべて終了した直後に、処理されます。同一階層の場合は、ディレクトリより先に、ファイルが、処理されます。
</p>
<h3>サンプル</h3>
<p>
  再帰的にすべてのファイルを処理するサンプルです。
</p>
<pre>
use strict;
use warnings;
use File::Path;
use Fcntl;
use File::Find;

# 再帰的にすべてのファイルを処理する。

# ディレクトリとファイルの作成
my $top_dir = "dir_20080530_$$";
my @dirs = (
  "$top_dir/dir1", "$top_dir/dir1/dir1_1", "$top_dir/dir1/dir1_2",
  "$top_dir/dir2",
);
for my $dir (@dirs) {
  eval { mkpath $dir };
  if (@!) { die "@!" }
}

my @files = (
  "$top_dir/top.txt", "$top_dir/dir1/1.txt",
  "$top_dir/dir1/dir1_1/1_1.txt", "$top_dir/dir1/dir1_2/1_2.txt",
  "$top_dir/dir2/2.txt"
);
for my $file (@files) {
  sysopen( my $fh, $file, O_WRONLY | O_CREAT | O_EXCL )
    or die "$file を作成することができません。: $!";
  close $fh;
}
print "準備: $top_dir を作成しました。\n\n";

# File::Findのサンプル

print "1: 再帰的に、すべてのファイル名( ベース名 )を出力する。\n";
# 第一引数に、それぞれのファイルに対して行いたい処理を書いた
# サブルーチンへのリファレンスを渡す。
find( \&print_file_name, $top_dir );
                                     
sub print_file_name{
  # $_ に、現在走査しているディレクトリを
  # 基点としたファイル名が格納されている。
  # $File::Find::dir には、現在走査している
  # ディレクトリ名が、格納されている。
  print "$_ ( $File::Find::dir )\n";
}
print "\n";

print "2: 再帰的にすべてのファイル名(フルパス)を出力する。\n";
find(\&print_file_full_name, $top_dir);

sub print_file_full_name{
  # $_ に、現在走査しているディレクトリを
  # 基点としたファイル名が、格納されている。
  print $File::Find::name, "\n";
}
print "\n";

print "3: ディレクトリを、帰りがけ順に走査する\n";
finddepth(\&print_file_full_name, $top_dir);
</pre>
<p>
  実行結果
</p>
<pre>
準備: dir_20080530_4944 を作成しました。

1: 再帰的に、すべてのファイル名( ベース名 )を出力する。
. ( dir_20080530_4944 )
top.txt ( dir_20080530_4944 )
dir1 ( dir_20080530_4944 )
1.txt ( dir_20080530_4944/dir1 )
dir1_1 ( dir_20080530_4944/dir1 )
1_1.txt ( dir_20080530_4944/dir1/dir1_1 )
dir1_2 ( dir_20080530_4944/dir1 )
1_2.txt ( dir_20080530_4944/dir1/dir1_2 )
dir2 ( dir_20080530_4944 )
2.txt ( dir_20080530_4944/dir2 )

2: 再帰的にすべてのファイル名(フルパス)を出力する。
dir_20080530_4944
dir_20080530_4944/top.txt
dir_20080530_4944/dir1
dir_20080530_4944/dir1/1.txt
dir_20080530_4944/dir1/dir1_1
dir_20080530_4944/dir1/dir1_1/1_1.txt
dir_20080530_4944/dir1/dir1_2
dir_20080530_4944/dir1/dir1_2/1_2.txt
dir_20080530_4944/dir2
dir_20080530_4944/dir2/2.txt

3: ディレクトリを、帰りがけ順に走査する
dir_20080530_4944/top.txt
dir_20080530_4944/dir1/1.txt
dir_20080530_4944/dir1/dir1_1/1_1.txt
dir_20080530_4944/dir1/dir1_1
dir_20080530_4944/dir1/dir1_2/1_2.txt
dir_20080530_4944/dir1/dir1_2
dir_20080530_4944/dir1
dir_20080530_4944/dir2/2.txt
dir_20080530_4944/dir2
dir_20080530_4944
</pre>
<p>
  (参考)<a href="/blog/20100409127089.html">File::Path</a>、<a href="/blog/20100312126967.html">eval</a>,<a href="/blog/20080804121794.html">sysopen関数</a>、<a href="/blog/20180310152509.html">Fcntl</a>
</p>
<ul>
  <li>
    <a href="/blog/20080601121230.html">複数階層のディレクトリを再帰的にコピー</a>
  </li>
</ul>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
