<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>Perl基礎文法最速マスター - Perl入門ゼミ</title>
<meta name="description" content="ITの現場でPerlが必要になって、今勉強しているという方はおられませんか? 他の言語をある程度知っている方が「Perl基礎文法最速マスター」を読めば、Perlの使い方の基礎をマスターしてPerlを書くことができるようになっています。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="Perl基礎文法最速マスター - Perl入門ゼミ" />
<meta name="twitter:description" content="ITの現場でPerlが必要になって、今勉強しているという方はおられませんか? 他の言語をある程度知っている方が「Perl基礎文法最速マスター」を読めば、Perlの使い方の基礎をマスターしてPerlを書くことができるようになっています。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">基礎文法</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2><a href="/blog/20091226126425.html">Perl基礎文法最速マスター</a></h2>
<p>
  ITの現場でPerlが必要になって、今勉強しているという方はおられませんか? 他の言語をある程度知っている方が「Perl基礎文法最速マスター」を読めば、Perlの使い方の基礎をマスターしてPerlを書くことができるようになっています。
</p>
<h3>基礎</h3>
<h4>文法チェック</h4>
<p>
  文法をチェックを厳しくするために最初に必ず次の2行を書くようにします。
</p>
<pre>
use strict;
use warnings;
</pre>
<p>
  「<a href="/blog/20130912137895.html">use strict</a>」と「<a href="/blog/20130916137930.html">use warnings</a>」という2行を加えることで事前に文法チェックが行われるので、ソースコードを記述する作業は速くなり、コードの品質が上がります。
</p>
<h4>print関数</h4>
<p>
  文字列を出力するには<a href="/blog/20170404149131.html">print関数</a>を使用します。
</p>
<pre>
print "Hello world";
</pre>
<p>
  Perlでは標準関数や事前に定義されている関数で括弧を省略することができます。
</p>
<h4>コメント</h4>
<p>
  Perlの<a href="/blog/20130712137361.html">コメント</a>です。
</p>
<pre>
# コメント
</pre>
<h4>変数の宣言</h4>
<p>
  変数の宣言です。Perlの変数は<b>my</b>を使って宣言します。変数にはスカラ変数、配列変数、ハッシュ変数があります。
</p>
<pre>
# スカラ変数
my $num;

# 配列変数
my @students

# ハッシュ変数
my %month_num;
</pre>
<p>
  変数のスコープや寿命など、変数の詳しい解説については以下の記事をご覧ください。
</p>
<ul>
  <li>
    <a href="/blog/20161107147852.html">Perlの変数を理解しよう</a>
  </li>
</ul>
<h4>スクリプトの実行</h4>
<p>
  スクリプトを実行するにはコマンドラインで次のようにします。
</p>
<pre>
perl script.pl
</pre>
<p>
  出力結果をファイルに書き出すにはリダイレクトを使います。
</p>
<pre>
perl script.pl &gt; file.txt
</pre>
<p>
  スクリプトを実行するためには、Windowsではコマンドプロンプトが必要です。コマンドプロンプトの使い方については以下の記事を参考にしてください。
</p>
<ul>
  <li>
    <a href="/blog/20080603121251.html">Perl実行のためのコマンドプロンプトの使い方</a>
  </li>
</ul>
<h4>コンパイルチェック</h4>
<p>
  事前にコンパイルチェックを行うにはコマンドラインで次のようにします。
</p>
<pre>
perl -c script.pl
</pre>
<h4>デバッガの起動</h4>
<p>
  Perlにはデバッガが標準でついています。デバッガを起動するにはコマンドラインで次のようにします。
</p>
<pre>
perl -d script.pl
</pre>
<p>
  デバッガの詳しい使い方については以下を参考にしてください。
</p>
<ul>
  <li>
    <a href="/blog/20100302126967.html">Perlデバッガの手引き</a>
  </li>
</ul>
<h3>数値</h3>
<h4>数値の表現</h4>
<p>
  スカラ変数に数値を代入できます。整数でも小数でも代入できます。桁数が大きい場合はアンダーバーを区切り文字として利用できます。
</p>
<pre>
my $num = 1;
my $num = 1.234;
my $num = 100_000_000;
</pre>
<p>
  このような数値の表現を数値リテラルと呼びます。数値リテラルについての詳しい解説は以下の記事をご覧ください。
</p>
<ul>
  <li>
    <a href="/blog/20080826121977.html">数値リテラル - ソースコード上での数値の表現</a>
  </li>
</ul>
<h4>四則演算</h4>
<p>
  四則演算です。
</p>
<pre>
$num = 1 + 1;
$num = 1 - 1;
$num = 1 * 2;
$num = 1 / 2;
</pre>
<p>
  余りと商の求め方です。商を求めるには普通の除算を行った後にint関数で整数部を取り出します。
</p>
<pre>
# 商
$div = int(3/2);

# 余り
$mod = 3 % 2;
</pre>
<p>
  四則演算についての詳しい解説は以下の記事をご覧ください。
</p>
<ul>
  <li>
    <a href="/blog/20080910122105.html">四則演算を行う演算子</a>
  </li>
</ul>
<h4>インクリメントとデクリメント</h4>
<p>
  <a href="/blog/20180224151948.html">インクリメント</a>と<a href="/blog/20180226151973.html">デクリメント</a>です。
</p>
<pre>
# インクリメント
$i++

# デクリメント
$i--
</pre>
<h3>文字列</h3>
<h4>文字列の表現</h4>
<p>
  文字列はシングルクォートかダブルクォートで囲みます。ダブルクォートの中では\t(タブ)や\n(改行)などの特殊文字を利用することができます。またダブルクォートで囲まれた文字列の中では変数展開することができます。
</p>
<pre>
my $str1 = 'abc';
my $str2 = "def";
my $str3 = "a\tbc\n";

# 変数展開(結果は abc def)
my $str4 = "$str1 def";
</pre>
<h4>文字列操作</h4>
<p>
  各種文字列操作です。文字列を連結するドット演算子、<a href="/blog/20081007122338.html">join関数</a>、文字列を分割する<a href="/blog/20080301120434.html">split関数</a>、長さを取得する<a href="/blog/20080926122245.html">length関数</a>、文字列を置換する<a href="/blog/20080224120386.html">substr関数</a>、検索するための<a href="/blog/20080225120395.html">index関数</a>などがあります。
</p>
<pre>
# 結合
my $join1 = 'aaa' . 'bbb';

my $join2 = join(',', 'aaa', 'bbb', 'ccc');

# 分割
my @record = split(/,/, 'aaa,bbb,ccc');

# 長さ
my $length = length 'abcdef';

# 切り出し
my $substr = substr('abcd', 0, 2); # ab

# 検索
my $result = index('abcd', 'cd'); # 見つかった場合はその位置、見つからなかった場合は-1が返る
</pre>
<h3>配列</h3>
<p>
  Perlの配列について簡単に説明します。
</p>
<h4>配列の宣言と代入</h4>
<p>
  配列の宣言と代入です。配列は複数の値を代入することができる変数です。
</p>
<pre>
# 配列の宣言
my @array;

# 配列への代入
@array = (1, 2, 3);
</pre>
<h4>配列の要素の参照と代入</h4>
<p>
  配列の要素を参照と代入です。
</p>
<pre>
# 要素の参照
$array[0];
$array[1];

# 要素の代入
$array[0] = 1;
$array[1] = 2;
</pre>
<h4>配列の個数</h4>
<p>
  配列の個数を取得するには配列をスカラコンテキストで評価します。Perlにしか見られない少し特殊な文法です。
</p>
<pre>
my $array_num = @array;
</pre>
<h4>配列の操作</h4>
<p>
  配列を操作する関数です。
</p>
<pre>
# 先頭の要素を取り出す
my $first = shift @array;

# 先頭に要素を追加
unshift @array, 5;

# 末尾の要素を取り出す
my $last = pop @array;

# 末尾に要素を追加
push @array, 9;
</pre>
<p>
  配列の詳しい解説については以下の記事をご覧ください。
</p>
<ul>
  <li>
    <a href="/blog/20161012147627.html">Perlの配列を理解しよう</a>
  </li>
</ul>
<h3>ハッシュ</h3>
<p>
  Perlのハッシュについて簡単に説明します。
</p>
<h4>ハッシュの宣言と代入</h4>
<p>
  ハッシュの宣言と代入です。ハッシュは複数の対になる値を代入することのできる変数です。
</p>
<pre>
my %hash;
%hash = (a =&gt; 1, b =&gt; 2);
</pre>
<h4>ハッシュの要素の参照と代入</h4>
<p>
  ハッシュの要素の参照と代入です。
</p>
<pre>
# 要素の参照
$hash{a};
$hash{b};

# 要素の代入
$hash{a} = 5;
$hash{b} = 7;
</pre>
<p>
  ハッシュのキーは「a-zA-Z_」で構成されている場合は、シングルクォートやダブルクォートで囲む必要はありません。
</p>
<h4>ハッシュに関する関数</h4>
<pre>
# キーの取得
@keys = keys %hash;

# 値の取得
@values = values %hash;

# キーの存在確認
exists $hash{a};

# ハッシュのキーの削除
delete $hash{a};
</pre>
<p>
  ハッシュについて詳しい解説については以下の記事をご覧ください。
</p>
<ul>
  <li>
    <a href="/blog/20161013147635.html">Perlのハッシュをマスターしよう</a>
  </li>
</ul>
<h3>条件分岐</h3>
<p>
  Perlの条件分岐の構文について解説します。
</p>
<h4>if文</h4>
<p>
  if文です。
</p>
<pre>
if (条件) {
    
}
</pre>
<h4>if ～ else文</h4>
<p>
  if ～ else文です。
</p>
<pre>
if (条件) {
    
}
else {
    
}
</pre>
<h4>if ～ elsif 文</h4>
<p>
  if ～ elsif文です。
</p>
<pre>
if (条件) {
    
}
elsif (条件) {
    
}
</pre>
<p>
  他の言語のようにelse ifではなくelsifであることに注意しましょう。
</p>
<h4>比較演算子</h4>
<p>
  比較演算子の一覧です。Perlでは数値比較と文字列比較は厳密に区別されます。
</p>
<p>
  <b>[A]数値比較演算子の一覧</b>
</p>
<table>
  <tr>
    <td>
      $p == $q
    </td>
    <td>
      $pと$qは等しい
    </td>
  </tr>
  <tr>
    <td>
      $p != $q
    </td>
    <td>
      $pと$qは等しくない
    </td>
  </tr>
  <tr>
    <td>
      $p < $q
    </td>
    <td>
      $pは$qより小さい
    </td>
  </tr>
  <tr>
    <td>
      $p > $q
    </td>
    <td>
      $pは$qより大きい
    </td>
  </tr>
  <tr>
    <td>
      $p <= $q
    </td>
    <td>
      $pは$q以下
    </td>
  </tr>
  <tr>
    <td>
      $p >= $q
    </td>
    <td>
      $pは$q以上
    </td>
  </tr>
</table>
<p>
  <b>[B]文字列比較演算子の一覧</b>
</p>
<table>
  <tr>
    <td>
      $s eq $t
    </td>
    <td>
      $sは$tと等しい
    </td>
  </tr>
  <tr>
    <td>
      $s ne $t
    </td>
    <td>
      $sは$tは等しくない
    </td>
  </tr>
  <tr>
    <td>
      $s lt $t
    </td>
    <td>
      $sは$tより小さい
    </td>
  </tr>
  <tr>
    <td>
      $s gt $t
    </td>
    <td>
      $sは$tより大きい
    </td>
  </tr>
  <tr>
    <td>
      $s le $t
    </td>
    <td>
      $sは$t以下
    </td>
  </tr>
  <tr>
    <td>
      $s ge $t
    </td>
    <td>
      $sは$t以上
    </td>
  </tr>
</table>
<p>
  Perlの条件分岐についての詳細な解説は以下を参考にしてください。
</p>
<ul>
  <li>
    <a href="/blog/20161023147731.html">if文を使った条件分岐の構文を覚えよう</a>
  </li>
</ul>
<h3>繰り返しの構文</h3>
<p>
  Perlの繰り返しの構文について解説します。
</p>
<h4>while文</h4>
<p>
  while文です。
</p>
<pre>
my $i = 0;
while ($i &lt; 5) {
    
    # 処理
    
    $i++;
}
</pre>
<h4>for文</h4>
<p>
  for文です。
</p>
<pre>
for (my $i = 0; $i &lt; 5; $i++) {
  ...    
}
</pre>
<h4>foreach文</h4>
<p>
  foreach文です。配列の各要素を処理できます。foreachはforのエイリアスになっており実質は同じものです。
</p>
<pre>
foreach my $field (@fields) {
  ...
}
</pre>
<p>
  Perlの繰り返しの構文については、次の記事で詳細に解説しています。
</p>
<ul>
  <li>
    <a href="/blog/20170521149524.html">for文、while文を使った繰り返しの処理を覚えよう</a>
  </li>
</ul>
<h3>サブルーチン</h3>
<p>
  Perlでは関数のことをサブルーチンともいいます。サブルーチンを作るには次のようにします。
</p>
<pre>
sub sum {
  my ($num1, $num2) = @_;
  
  my $total = $num1 + $num2;
  
  return $total;
}
</pre>
<p>
  Perlでは他の言語のように明示的に引数名を指定する必要はありません。@_という配列に引数が入っているので必要に応じて利用します。戻り値を返却するにはreturnを使用します。
</p>
<p>
  サブルーチンの作成方法については以下の記事で詳しく解説しています。
</p>
<ul>
  <li>
    <a href="/blog/20101130129876.html">サブルーチンを作成する方法</a>
  </li>
</ul>
<h3>ファイル入出力</h3>
<p>
  ファイル入出力です。
</p>
<pre>
open my $fh, '&lt;', $file
  or die "Cannot open '$file': $!";

while (my $line = &lt;$fh&gt;) {
  ...
}

close $fh;
</pre>
<p>
  open関数でファイルをオープンすると、$fhにファイルハンドルが代入されます。'<'は読み込みモードです。書き込む場合は'>'とします。<$fh>という記述でファイルから一行読み込むことができます。or の後ははファイルオープンに失敗した場合に実行されます。dieはエラーメッセージを表示してプログラムを終了する関数です。$!はファイルオープンに失敗した場合のOSからのエラーメッセージです。
</p>
<p>
  Perlのファイル入出力については、以下のページで詳しく解説しています。
</p>
<ul>
  <li>
    <a href="/blog/20110212130370.html">ファイル入出力の基礎</a>
  </li>
</ul>
<h3>知っておいたほうがよい文法</h3>
<p>
  Perlでよく出てくる知っておいたほうがよい文法の一覧です。
</p>
<h4>Perlの真偽値</h4>
<p>
  <a href="/blog/20080323120628.html">Perlの真偽値</a>は次の定義です。Perlで偽と判断される値は、「undef」「''」「0」「'0'」の4種類です。これ以外は真になります。
</p>
<h4>defined 値が定義されているかどうかの判定</h4>
<p>
  値が定義されているかどうかを調べるには<a href="/blog/20100219126425.html">defined関数</a>を使用します。
</p>
<pre>
defined $num;
</pre>
<h4>コマンドライン引数</h4>
<p>
  <a href="/blog/20080108132865.html">コマンドライン引数</a>を受け取るには@ARGV変数を使用します。
</p>
<pre>
my ($file, $options) = @ARGV;
</pre>
<p>
  コマンドライン引数をひとつだけ受け取る場合は次のように書くことができます。暗黙的に@ARGVがshiftの引数に渡されます。
</p>
<pre>
my $file = shift;
</pre>
<h4>スカラコンテキストとリストコンテキスト</h4>
<p>
  Perlでは文脈によって戻り値が異なる関数があります。たとえばlocaltime関数などです。これは<a href="/blog/20080608121292.html">コンテキスト</a>と呼ばれるPerl特有の文法です。
</p>
<pre>
# スカラコンテキスト(日付・時刻を文字列で取得)
my $time_str = localtime();

# リストコンテキスト(日付・時刻の各要素を配列として取得)
my @datetime = localtime();
</pre>
<h4>unless文</h4>
<p>
  <a href="/blog/20100125126425.html">unless文</a>はif文の否定を表現します。
</p>
<pre>
unless (条件) {
  ...    
}
</pre>
<h4>後置のif, 後置のunless</h4>
<p>
  Perlではifやunlessを文の後ろに置くことができます。
</p>
<pre>
# 後置のif
print $num if $num &gt; 3;

# 後置のunless
die "error" unless $num;
</pre>
<h4>後置のfor</h4>
<p>
  Perlではforを文の後ろに置くことができます。
</p>
<pre>
# 後置のfor
print $_ for @nums;
</pre>
<p>
  値は順番に「$_」に代入されます。
</p>
<h4>配列スライスとハッシュスライス</h4>
<p>
  <a href="/blog/20080216120316.html">配列スライス</a>と<a href="/blog/20080215120307.html">ハッシュスライス</a>を使うと指定した要素のみを配列として取得できます。
</p>
<pre>
# 配列スライス
@select = @array[1, 4, 5];

# ハッシュスライス
@select = @hash{'a', 'b', 'd'};
</pre>
<h4>map関数</h4>
<p>
  <a href="/blog/20100118126425.html">map関数</a>を使うと配列の各要素を変換することができます。$_には@arrayの要素が順に代入されます。
</p>
<pre>
@mapped = map { $_ * 2 } @array;
</pre>
<h4>grep関数</h4>
<p>
  <a href="/blog/20100119126425.html">grep関数</a>を使うと条件に一致した要素のみを配列として取得できます。$_ には@arrayの要素が順に代入されます。
</p>
<pre>
@select = grep { $_ =~ 'cat' } @array;
</pre>
<h4>リスト代入</h4>
<p>
  <a href="/blog/20100308126967.html">リスト</a>代入と呼ばれる代入方法があります。
</p>
<pre>
my ($num1, $num2) = ($num3, $num4);
</pre>
<h4>範囲演算子</h4>
<p>
  整数の範囲を表現する<a href="/blog/20170520149523.html">範囲演算子</a>と呼ばれるものがあります。
</p>
<pre>
my @numes = (0 .. 5);
</pre>
<h4>文字列リスト演算子</h4>
<p>
  文字列のリストを簡単に書く<a href="/blog/20080222120369.html">文字列リスト演算子</a>と呼ばれるものがあります。
</p>
<pre>
my @strs = qw(aaa bbb ccc);
</pre>
<h4>単独のreturn</h4>
<p>
  サブルーチンの中でreturnと書くと、スカラコンテキストの場合は<a href="/blog/20100220126425.html">undef</a>が返却され、リストコンテキストの場合は空のリスト()が返却されます。戻り値を使ってサブルーチンでエラーが発生したことを伝えたい場合はreturn undef とは書かないで return と書くようにします。
</p>
<pre>
sub name {
  my @args = @_;
  
  return;
}
</pre>
<h4>例外処理</h4>
<p>
  例外を投げるには<a href="/blog/20100212126425.html">die関数</a>を使用します。
</p>
<pre>
die "Error message";
</pre>
<p>
  例外を捕獲するには<a href="/blog/20100312126967.html">evalブロック</a>を使用して$@を判定します。
</p>
<pre>
eval { dieが発生する可能性のある関数など };

if ($@) {
  ...
}
</pre>
<h4>ファイルからすべて読み込む</h4>
<p>
  ファイルからすべて読み込む関数はないので行をすべて配列に読み込んで<a href="/blog/20081007122338.html">join関数</a>でつなげます。
</p>
<pre>
my @lines = &lt;$fh&gt;;
my $content = join('', @lines); 
</pre>
<p>
  これは一行で書けます。
</p>
<pre>
my $content = join('', &lt;$fh&gt;);
</pre>
<h4>3項演算子</h4>
<p>
  <a href="/blog/20080325120646.html">3項演算子</a>です。下のサンプルの場合は$flgが真値の場合は1が、偽値の場合は2が$numに代入されます。
</p>
<pre>
my $num = $flg ? 1 : 2;
</pre>
<h4>||=</h4>
<p>
  左辺値が偽値の場合に右辺値を代入します。下のサンプルの場合は$numが偽値であった場合に2が$numに代入されます。
</p>
<pre>
$num ||= 2; 
</pre>
<h4>//=</h4>
<p>
  Defined-or演算子です。左辺値が未定義の場合に右辺値を代入します。下のサンプルの場合は$numが未定義であった場合に2が$numに代入されます。
</p>
<pre>
$num //= 2; 
</pre>
<h4>モジュールの読み込み</h4>
<p>
  モジュールを読み込むには<a href="/blog/20090205123287.html">use</a>を使います。
</p>
<pre>
use モジュール名;
</pre>
<h4>Perlで設定ファイルを書く</h4>
<p>
  Perlで書いた設定ファイルを読み込むには<a href="/blog/20090208123289.html">do関数</a>を使用します。
</p>
<pre>
my $conf_file = "app.conf";
my $conf = do $conf_file
  or die qq/Can't load config file "$conf_file": $!$@/;
</pre>
<p>
  設定ファイルの内容です。
</p>
<pre>
{
  name =&gt; 'Foo',
  number =&gt; 9
}
</pre>
<p>
  ファイルの読み込みか解析に成功しなかった場合は未定義値が返却されます。ファイル名が存在しなかった場合は$!に、Perlのソースコードの読み込みに失敗した場合は$@にエラーの内容が設定されます。
</p>
<h4>複数行コメント</h4>
<p>
  以下のように記述すると複数行コメントができます。
</p>
<pre>
=pod

コメントにしたい文章

=cut
</pre>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
