<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>Perlの正規表現をマスターしよう - Perl入門ゼミ</title>
<meta name="description" content="Perlの正規表現の解説です。この記事を読めば、日常で利用する正規表現のすべてを短時間でマスターすることができます。正規表現を使えば、文字列の集合を表現することができ、正規表現にマッチする文字列を検索したり、置換したりすることができます。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="Perlの正規表現をマスターしよう - Perl入門ゼミ" />
<meta name="twitter:description" content="Perlの正規表現の解説です。この記事を読めば、日常で利用する正規表現のすべてを短時間でマスターすることができます。正規表現を使えば、文字列の集合を表現することができ、正規表現にマッチする文字列を検索したり、置換したりすることができます。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">正規表現</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2><a href="/blog/20100827127859.html">Perlの正規表現をマスターしよう</a></h2>
<p>
  Perlの<strong>正規表現</strong>の解説です。この記事を読めば、日常で利用する正規表現のすべてを短時間でマスターすることができます。正規表現を使えば、文字列の集合を表現することができ、正規表現にマッチする文字列を検索したり、置換したりすることができます。 　
</p>
<p>
  正規表現を使って文字列の集合を表現できます。たとえば「a」「aa」「aaa」という三つの文字列を正規表現で表現してみましょう。連続する文字の個数を表現する正規表現「{}」を使って次のように書くことができます。
</p>
<pre>
a{1,3}
</pre>
<p>
  「a」「aa」「aaa」という文字列の集合をひとつの正規表現「a{1,3}」で表しています。{}は量指定子と呼ばれるもので、連続した文字を表現することができます。
</p>
<pre>
a
aa     -&gt;    a{1,3}
aaa
</pre>
<p>
  正規表現の例をもう一つみてみましょう。「p1」「q1」「r1」という文字列の集合をひとつの正規表現「[pqr]1」で表すことができます。[]は文字クラスと呼ばれるもので、複数の文字の集合を表現することができます。
</p>
<pre>
p1
q1    -&gt;    [pqr]1
r1
</pre>
<p>
  このように複数の文字列をひとつの正規表現で書くことができます。
</p>
<h3>パターンマッチ</h3>
<p>
  パターンマッチとは正規表現で表した文字の集合が対象の文字列に含まれているかを調べる操作のことをいいます。パターンマッチを行うにはパターンマッチ演算子を使用します。
</p>
<pre>
# パターンマッチ
$str =~ /正規表現/
</pre>
<p>
  パターンマッチ演算子は「=~」です。正規表現はスラッシュ「/」で囲む必要があります。マッチした場合は真を、マッチしなかった場合は偽を返します。パターンマッチはif文と組み合わせて利用されることがほとんどです。
</p>
<pre>
if ($str =~ /正規表現/) {
  # マッチした場合の処理
}
</pre>
<p>
  「a{1,3}」という正規表現が「This string is aa.」という文字列にパターンマッチするかを確認してみましょう。
</p>
<pre>
文字列: 「This string is aa.」

正規表現:  「a{1,3}」
</pre>
<p>
  スクリプトは以下になります。
</p>
<pre>
my $str = 'This string is aa.';

if ($str =~ /a{1,3}/) {
  print "Match\n";
}
</pre>
<p>
  「Match!」と出力されます。
</p>
<p>
  反対にパターンマッチしないということを表す演算子「!~」もあります。
</p>
<pre>
$str !~ /正規表現/
</pre>
<h4>マッチした文字列を取得する</h4>
<p>
  パターンマッチを使って、マッチした文字列を取得することができます。マッチした文字列を取得するには取得したい部分を「()」で囲みます。「This string is aar1」という文字列の中の「aa」と「r1」を取得してみましょう。
</p>
<pre>
文字列: 「This string is aar1」

正規表現:  (a{1,3})([pqr]1)
</pre>
<p>
  スクリプトは次のようになります。<a href="/blog/20161102147817.html">特殊変数</a>「$1」と「$2」には括弧で囲んだ部分が順番に代入されます。
</p>
<pre>
my $str = 'This string is aar1';
if ($str =~ /(a{1,3})([pqr]1)/) {
  print "Get $1 and $2";
}
</pre>
<p>
  次のように出力されます。
</p>
<pre>
Get aa and r1
</pre>
<p>
  また文字列を「This string is aaap1」に変更してみましょう。次のように出力されます。
</p>
<pre>
Get aaa and p1
</pre>
<h3>置換</h3>
<p>
  正規表現を使ってマッチした文字列を置換することができます。置換の構文は次のようになります。
</p>
<pre>
対象文字列 =~ s/正規表現/置換後の文字列/;
</pre>
<p>
  では「This string is aa」という文字列を「This string is bb」という文字列に置換してみましょう。このサンプルではaaにマッチする正規表現「a{1,3}」を使用します。
</p>
<pre>
正規表現                      置換後の文字列
a{1,3}                ---&gt;    bb

対象文字列                    
This string is aa     ---&gt;    This string is bb
</pre>
<p>
  スクリプトは次のようになります。
</p>
<pre>
my $str = 'This string is aa';
$str =~ s/a{1,3}/bb/;
</pre>
<p>
  置換されるのはひとつだけです。たとえば「This string is aa aaa」という文字列があれば、上記の置換では「This string is bb aaa」となり、マッチした最初の文字列だけが置換されます。
</p>
<p>
  すべてのマッチ文字列を置換するには正規表現オプション「g」を使用します。正規表現のオプションは末尾に指定します。
</p>
<pre>
# マッチしたすべての文字列を置換
対象文字列 =~ s/正規表現/置換後の文字列/g;
</pre>
<p>
  すべてのマッチした文字列を置換するスクリプトは次のようになります。
</p>
<pre>
my $str = 'This string is aa aaa';
$str =~ s/a{1,3}/bb/g;
</pre>
<p>
  置換後の文字列を出力すると次のようになります。
</p>
<pre>
This string is bb bb
</pre>
<p>
  ではここからさまざまな正規表現を見ていきましょう。
</p>
<h3>正規表現文字</h3>
<p>
  文字の集合を表す正規表現には次のようなものがあります。
</p>
<table>
  <tr>
    <td>
      .
    </td>
    <td>
      改行を除くすべての文字
    </td>
  </tr>
  <tr>
    <td>
      \d
    </td>
    <td>
      数字
    </td>
  </tr>
  <tr>
    <td>
      \D
    </td>
    <td>
      数字以外の文字
    </td>
  </tr>
  <tr>
    <td>
      \w
    </td>
    <td>
      ワード文字(「a～z」「A～Z」「0～9」 アンダーバー「_」)
    </td>
  </tr>
  <tr>
    <td>
      \W
    </td>
    <td>
      ワード文字以外の文字
    </td>
  </tr>
  <tr>
    <td>
      \s
    </td>
    <td>
      空白文字( スペース「 」、タブ文字「\t」、改行文字「\n, \r」など)
    </td>
  </tr>
  <tr>
    <td>
      \S
    </td>
    <td>
      空白文字以外の文字
    </td>
  </tr>
  <tr>
    <td>
      ^
    </td>
    <td>
      文字列の先頭
    </td>
  </tr>
  <tr>
    <td>
      $
    </td>
    <td>
      文字列の末尾
    </td>
  </tr>
  <tr>
    <td>
      \b
    </td>
    <td>
      ワード文字の境界
    </td>
  </tr>
</table>
<h4>改行を除く任意の一文字「.」</h4>
<p>
  改行を除く任意の一文字を表現するには「.」を使用します。
</p>
<pre>
a
b
c    -&gt;    .
)
@
</pre>
<p>
  「.」を改行を含む任意の文字にマッチさせることもできます。「.」を改行にマッチさせたい場合は、正規表現オプション「s」を使用します。
</p>
<pre>
# .を改行を含む任意の文字にマッチさせる
$str =~ /./s;
</pre>
<h4>数字「\d」</h4>
<p>
  数字を表現するには「\d」を使用します。0～9にマッチします。
</p>
<pre>
0
1
2    -&gt;    \d
8
9
</pre>
<h4>数字以外「\D」</h4>
<p>
  数字以外の文字を表現するには「\D」を使用します。これは「\d」と対になるものです。
</p>
<pre>
数字「\d」以外    -&gt;    \D
</pre>
<h4>空白文字「\s」</h4>
<p>
  空白文字とはスペース、タブ、改ページ、キャリッジリターン、ラインフィードのことです。空白文字を表現するには「\s」を使用します。
</p>
<pre>
スペース 「 」
タブ 「\t」
改ページ 「\f」           -&gt;    \s
キャリッジリターン「\n」
ラインフィード「\r」
</pre>
<h4>空白文字以外「\S」</h4>
<p>
  空白文字以外の文字を表現するには「\S」を使用します。これは「\s」と対になるものです。
</p>
<pre>
空白文字「\s」以外    -&gt;    \S
</pre>
<h4>ワード文字「\w」</h4>
<p>
  ワード文字とは「アルファベットと数字とアンダーバー」の集合のことを指します。ワード文字を表現するには「\w」を使用します。
</p>
<pre>
A-Z
a-z
       -&gt;    \w
0-9
_
</pre>
<h4>ワード文字以外「\W」</h4>
<p>
  ワード文字以外の文字を表現するには「\W」を使用します。
</p>
<pre>
ワード文字「\w」以外    -&gt;    \W
</pre>
<h4>文字列の先頭「^」</h4>
<p>
  正規表現文字には文字の先頭を表現できるものがあります。文字の先頭を表現するには「^」を使用します。
</p>
<pre>
文字列の先頭    -&gt;    ^
</pre>
<p>
  この正規表現文字は文字の長さを持ちません。他の文字と組み合わせて利用します。たとえば「^abc」という正規表現は先頭が「abc」で始まる文字列にマッチします。「abc」が含まれていても先頭が「abc」でなければマッチしません。
</p>
<pre>
abcppp
abcqqq    -&gt;    ^abc
abcrrr
</pre>
<p>
  ^はmオプションと組み合わせた場合は行の先頭という意味に変わります。mオプションを使用した場合に文字列の先頭を表現したい場合は「\A」を使用します。「\A」はオプションの存在にかかわらず常に文字列の先頭を表現します。
</p>
<h4>文字列の末尾「$」</h4>
<p>
  文字列の末尾を表現するには「$」を使用します。たとえば「abc$」という正規表現は末尾が「abc」で終わる文字列にマッチします。
</p>
<pre>
pppabc
qqqabc    -&gt;    abc$
rrrabc
</pre>
<p>
  $はmオプションと組み合わせた場合は行の末尾という意味に変わります。mオプションを使用した場合に文字列の末尾を表現したい場合は「\z」を使用します。「\z」はオプションの存在にかかわらず常に文字列の末尾を表現します。
</p>
<h4>ワード文字の境界</h4>
<p>
  ワード文字の境界を表現するには「\b」を使用します。ワード文字の境界とはワード文字からそれ以外の文字へと変わっている部分のことを指します。たとえば「abc\b」という正規表現は「abcd」にはマッチしませんが「abc/」や「abc@」や「abc 」にはマッチします。
</p>
<pre>
abc/
abc@    -&gt;    abc\b
abc 
</pre>
<h3>文字クラス</h3>
<p>
  複数の文字の集合を表現するには文字クラスを使用します。
</p>
<pre>
[文字の集合]
</pre>
<p>
  たとえば「a」か「b」か「c」という文字を表現したい場合は[abc]と書きます。
</p>
<pre>
a
b    -&gt;    [abc]
c
</pre>
<p>
  アルファベットの範囲や数値の範囲を指定するのにハイフン「-」記号を使用することができます。
</p>
<pre>
a
b
c    -&gt;    [a-e]
d
e
</pre>
<pre>
0
1
2    -&gt;    [0-4]
3
4
</pre>
<p>
  アルファベットと数値のいずれかを表現したい場合は[a-zA-Z0-9]と書きます。
</p>
<pre>
アルファベットと数字    -&gt;    [a-zA-Z0-9]
</pre>
<p>
  文字クラスを使って特定の文字以外を表現することもできます。特定の文字以外を表現するには「^」を使用します。文字クラス[]の先頭で「^」が使用されると「それ以外」という意味になり、「文字の先頭」という意味にはならないので注意してください。
</p>
<p>
  たとえば「a」「b」「c」以外の文字を表現するには次のようにします。
</p>
<pre>
「a」「b」「c」以外の文字    -&gt;    [^abc]
</pre>
<h3>量指定子</h3>
<p>
  ある文字が連続していくつ続くかを量指定子を使って指定することができます。量指定子には次のものがあります。
</p>
<table>
  <tr>
    <td>
      ?
    </td>
    <td>
      直前の文字が0個か1個
    </td>
  </tr>
  <tr>
    <td>
       *
    </td>
    <td>
      直前の文字が0個以上
    </td>
  </tr>
  <tr>
    <td>
      +
    </td>
    <td>
      直前の文字が1個以上
    </td>
  </tr>
  <tr>
    <td>
      {m,n}
    </td>
    <td>
      直前の文字がm個以上n個以下
    </td>
  </tr>
  <tr>
    <td>
      {m,}
    </td>
    <td>
      直前の文字がm個以上
    </td>
  </tr>
  <tr>
    <td>
      {0,n}
    </td>
    <td>
      直前の文字がn個以下
    </td>
  </tr>
</table>
<h4>? 直前の文字が0個か1個</h4>
<p>
  ?は直前の文字が0個か1個ということを表現する量指定子です。わかりやすく言い換えれば「直前の文字があってもなくてもよい」ということです。
</p>
<pre>
aaap
        -&gt;    aaap?
aaa
</pre>
<p>
  量指定子はもちろん正規表現文字と組み合わせて使用することもできます。
</p>
<pre>
aaa
aaap
        -&gt;    aaa[pqr]?
aaaq
aaar
</pre>
<h4> * 直前の文字が0個以上</h4>
<p>
  *は直前の文字が0個以上ということを表現する量指定子です。
</p>
<pre>
aaa
aaap     -&gt;    aaap*
aaapp
</pre>
<h4>+ 直前の文字が1個以上</h4>
<p>
  +は直前の文字が1個以上ということを表現する量指定子です。
</p>
<pre>
aaap
aaapp     -&gt;    aaap+
aaappp
</pre>
<h4>{m,n} 直前の文字がm個以上n個以下</h4>
<p>
  {m,n}は直前の文字がm個以上n個以下ということを表現する量指定子です。
</p>
<pre>
aaap
aaapp     -&gt;    aaap{1,3}
aaappp
</pre>
<h4>{m,}</h4>
<p>
  {m,}は直前の文字がm個以上ということを表現する量指定子です。
</p>
<pre>
aaapp
aaappp     -&gt;    aaap{2,}
aaapppp
</pre>
<h4>{0,n}</h4>
<p>
  {0,n}は直前の文字がn個以下ということを表現する量指定子です。
</p>
<pre>
aaappp
aaapppp     -&gt;    aaap{0,5}
aaappppp
</pre>
<h3>文字列の集合</h3>
<p>
  文字列の集合を表現するには「|」を使用します。通常は括弧「()」と組み合わせて使用します。
</p>
<pre>
a123b
a456b    -&gt;    a(123|456|789)b
a789b
</pre>
<h3>正規表現文字のエスケープ</h3>
<p>
  正規表現文字を普通の文字として意味させるには直前に\をつける必要があります。たとえば「.」という文字自体を表現するには「\.」とする必要があります。
</p>
<pre>
.txt    -&gt;    \.txt
</pre>
<p>
  <a href="/blog/20100329127089.html">quotemeta関数</a>を使用すると文字列全体に対してエスケープを自動で行ってくれます。
</p>
<pre>
my $regex = quotemeta('.txt');
</pre>
<p>
  エスケープのための\Qという特殊な正規表現文字を使うこともできます。\Qから\Eまでがエスケープされる文字になります。\Eがない場合は正規表現の終わりまでが対象になります。
</p>
<pre>
/\Q.txt\E/
</pre>
<h3>正規表現のテクニック</h3>
<h4>(?:) キャプチャしない括弧</h4>
<p>
  正規表現の括弧「()」にはキャプチャを行うためと「(A|B)」といういうように「または」ということを意味したい場合に利用されます。()を単なる「または」のために使うためには「()」の代わりに「(?:)」を使うことができます。
</p>
<pre>
(?:A|B)
</pre>
<h4>正規表現の囲み文字の変更</h4>
<p>
  正規表現の中でスラッシュがたくさん出てくる場合は、\でエスケープしなければいけないのでとても面倒です。そのような場合はmを直前に置いて正規表現の囲み文字を変更することができます。
</p>
<pre>
/\/aaa\/bbb/

# 上記と意味
m#/aaa/bbb#
m{/aaa/bbb}
</pre>
<p>
  置換の場合も囲み文字を変更することができます。
</p>
<pre>
s#aaa#bbb#
s|aaa|bbb|
</pre>
<h4>正規表現のリファレンス</h4>
<p>
  正規表現は<a href="/blog/20080419120860.html">qr演算子</a>を使ってリファレンスにすることができます。正規表現のリファレンスにすれば、正規表現オプションを含めて変数に代入することができます。
</p>
<pre>
my $regex = qr/(\d+)/sm;
</pre>
<p>
  これは通常のパタンマッチでも利用することができます。
</p>
<pre>
my $num = 34;
if ($num =~ /$regex/) {
   
}
</pre>
<h3>正規表現のオプション</h3>
<p>
  正規表現には必要に応じてオプションを指定することができます。
</p>
<table>
  <tr>
    <td>
      g
    </td>
    <td>
      パターンマッチを繰り返す
    </td>
  </tr>
  <tr>
    <td>
      s
    </td>
    <td>
      「.」を改行にマッチさせる
    </td>
  </tr>
  <tr>
    <td>
      m
    </td>
    <td>
      「^」と「$」を行の先頭と末尾にマッチさせる
    </td>
  </tr>
  <tr>
    <td>
      i
    </td>
    <td>
      大文字と小文字を区別しないでマッチさせる
    </td>
  </tr>
  <tr>
    <td>
      e
    </td>
    <td>
      置換に式を利用する
    </td>
  </tr>
  <tr>
    <td>
      x
    </td>
    <td>
      正規表現内のスペースを無視する
    </td>
  </tr>
  <tr>
    <td>
      o
    </td>
    <td>
      変数展開を一度だけ行う
    </td>
  </tr>
</table>
<p>
  正規表現のオプションは正規表現の末尾で指定します。複数のオプションを組み合わせることも可能です。
</p>
<pre>
/正規表現/sm
</pre>
<h4>g マッチしたすべての文字列を置換する</h4>
<p>
  gオプションを指定することで、マッチしたすべてのものを置換することができます。
</p>
<blockquote>
<p>
  $message2 =~ s/yah/yes/g;
</p>
</blockquote>
<p>
  mとsとgについてはすでに解説したので残りのオプションを解説します。
</p>
<h4>m「^」と「$」を行の先頭と末尾にマッチさせる</h4>
<p>
  「<strong>m</strong>」オプションを使用すれば、「^」と「$」を行の先頭と末尾にマッチさせることができます。
</p>
<pre>
$message =~ /^i/m
</pre>
<h4>s 「.」を改行にマッチさせる sオプション</h4>
<p>
  「<strong>s</strong>」オプションを使用すれば、「改行」を「.」にマッチさせることができます。
</p>
<pre>
$message =~ /^i/s
</pre>
<h4>i 大文字と小文字を区別しないでマッチさせる</h4>
<p>
  iオプションを使用すると大文字と小文字を区別しないでマッチさせることができます。
</p>
<pre>
abc
Abc    -&gt;    /abc/i
ABC
</pre>
<h4>e 置換に式を利用する</h4>
<p>
  eオプションを使用すると置換の結果に式を使用することができます。
</p>
<p>
  次のサンプルはマッチした数値を2倍するサンプルです。
</p>
<pre>
s/(\d+)/$1 * 2/e;
</pre>
<h4>x 正規表現内の空白を無視する</h4>
<p>
  xオプションを使うと正規表現内の空白を無視することができます。またコメントを記述することができるようになります。スペースであることが重要でない場合は、xオプションを使うと正規表現を見やすく記述することができます。
</p>
<pre>
my $time = '03:02:56';
my $regex = qr/
  (\d{2}) # 時
  :
  (\d{2}) # 分
  :
  (\d{2}) # 秒
/x;

if ($time =~ /$regex/) {
  my $hour   = $1;
  my $minute = $2;
  my $second = $3;
}
</pre>
<p>
  空白自体を使用したい場合は「\ 」のように空白をエスケープします。
</p>
<h4>o 変数展開を一度だけ行う</h4>
<p>
  正規表現オプション「o」を使えば、変数展開を一度だけ行うようになります。これは、正規表現の再評価が行われないので、パフォーマンスが増しますが、バグの原因にもなりやすいので、必要に応じて利用しましょう。
</p>
<pre>
my $regex = "a pen";
for (1 .. 10) {
  $message =~ /$regex/o;
}
</pre>
<p>
  o オプションを使うと、変数展開が、最初の一度だけ行われます。つまり、ループの2回目からは、 /$regex/ → /a pen/ という変数展開が行われずに、 /a pen/ が、そのまま使われるということです。
</p>
<h3>最短マッチ</h3>
<p>
  Perlの正規表現にはひとつの癖があります。それは量指定子が一番長い位置でマッチするということです。たとえば次の正規表現と文字列が与えられたときどの部分にマッチするでしょうか。
</p>
<pre>
# 正規表現
.+\s

# 文字列
aaa bbb ccc
</pre>
<p>
  .+\sという正規表現の意味は「改行以外の文字がひとつ以上で空白」という意味です。上のサンプルでは複数の候補があります。「aaa 」と「aaa bbb 」というふたつの候補です。Perlのデフォルトの動作では一番長い位置にマッチし「aaa bbb 」にマッチします。
</p>
<pre>
# マッチする文字列
「aaa bbb 」
</pre>
<p>
  これを「aaa 」にマッチさせることは可能です。このテクニックを最短マッチといいます。最短マッチを行うには量指定子の後ろに?を付けます。正規表現を (.+?\s) にすれば、「aaa 」にマッチするようになります。
</p>
<pre>
# 最短マッチを行う正規表現
.+?\s
</pre>
<p>
  これで「aaa 」に正規表現がマッチするようになります。
</p>
<pre>
「aaa 」
</pre>
<h3>日本語と正規表現</h3>
<p>
  正規表現の中で日本語を使うためには正規表現も対象の文字列も内部文字列に変換しておく必要があります。内部文字列への変換は<a href="/blog/20091118124667.html">Encodeモジュールの使い方</a>で解説していますので参考にしてください。
</p>
<h3>終わりに</h3>
<p>
  この解説で学んだことさえ覚えておけば実務で困ることはないでしょう。正規表現を使えば必要な行だけを抜き出したり、簡単に置換することができるます。Perlの醍醐味である正規表現をぜひ楽しんでみてください。
</p>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
