<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>Perlデバッガの手引き - Perl入門ゼミ</title>
<meta name="description" content="Perlのとても便利な道具のひとつにデバッガがあります。デバッガを使うとスクリプトを一行づつたどって変数の中身を見たり、ブレークポイントを設定してその位置で停止したりすることができます。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="Perlデバッガの手引き - Perl入門ゼミ" />
<meta name="twitter:description" content="Perlのとても便利な道具のひとつにデバッガがあります。デバッガを使うとスクリプトを一行づつたどって変数の中身を見たり、ブレークポイントを設定してその位置で停止したりすることができます。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">デバッガ</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2><a href="/blog/20100302126967.html">Perlデバッガの手引き</a></h2>
<p>
  <strong>Perlのとても便利な道具のひとつにデバッガがあります。</strong>デバッガを使うとスクリプトを一行づつたどって変数の中身を見たり、ブレークポイントを設定してその位置で停止したりすることができます。
</p>
<p>
  デバッガは本当に便利なのですがPerlをやっていても意外と知らない人がいます。ひとたびデバッガを覚えてしまうと試験をするときに手放せなくります。Perlを覚えたての時期からどんどん使っていって欲しいツールです。そんなデバッガのコマンドとテクニックをまとめてみました。
</p>
<h3>デバッグ用のスクリプト</h3>
<p>
  デバッグ用の簡単なスクリプトを準備しました。debug.plという名前で保存してください。このスクリプトを使用してデバッガの解説をします。
</p>
<pre>
my $message = 'Hello';
my @nums = (1, 2, 3);
my %scores = (math =&gt; 80, english =&gt; 77);

my $twice = twice(5);

# ブレークポイント
$DB::single = 1;

for my $num (@nums) {
    
  # 条件付ブレークポイント
  if ($num == 2) { $DB::single = 1 }
  print "$num\n";
}

sub twice {
  my $num = shift;
  
  return $num * 2;
}
</pre>
<h3>デバッガの起動</h3>
<p>
  <strong>デバッガを起動するには「-d」オプションを指定してperlを起動します。</strong>
</p>
<pre>
perl -d debug.pl
</pre>
<p>
  デバッガを起動すると最初の行で停止します。
</p>
<pre>
main::(a.pl:4): my $message = 'Hello';
</pre>
<p>
  デバッガを終了するには「q」を使用します。
</p>
<pre>
q
</pre>
<p>
  ヘルプを見るには「h」を使用します。
</p>
<pre>
h
</pre>
<p>
  では順番にデバッガのコマンドを覚えていきましょう。
</p>
<h3>1. 実行系のコマンド</h3>
<p>
  Perlデバッガの実行系のコマンドを解説します。
</p>
<h4>n - 一行実行</h4>
<p>
  <strong>スクリプトを一行実行するには「n」を使用します。</strong>「n」と入力して「Enter」を入力すると次の行に進みます。
</p>
<p>
  最初の状態で「n」を実行すると次のように表示され一行進んでいることが確認できます。
</p>
<pre>
main::(a.pl:5): my @nums = (1, 2, 3);
</pre>
<p>
  「n」「Enter」「n」「Enter」と入力していくとスクリプトの最後にたどり着いてスクリプトが終了します。
</p>
<pre>
Debugged program terminated.  Use q to quit or R to restart,
</pre>
<p>
  デバッグをやめるかリスタートするかを聞かれますが2回目のデバッグを行いたいときは必ずqでデバッグをいったん終えてください。
</p>
<p>
  「n」「Enter」「n」「Enter」と入力するのは少し面倒です。実は「ｎ」「Enter」「Enter」「Enter」で行を進めていくことができます。「n」か「s」が直前に入力されていた場合は「Enter」で直前のコマンドを繰り返すことができます。
</p>
<p>
  <strong>nは「next」のnだと覚えると覚えやすいです。</strong>
</p>
<h4>s - シングルステップ実行</h4>
<p>
  <strong>スクリプトをシングルステップ実行するには「s」を使用します。</strong>「n」との違いはサブルーチンの内部の処理もたどってくれることです。
</p>
<p>
  「n」で一行実行を勧めてスクリプトをサブルーチンの呼び出しがある行まで進めてください。
</p>
<pre>
main::(a.pl:8): my $twice = twice(5);
</pre>
<p>
  この行で「s」を実行するとサブルーチンの内側の処理に移動することができます。
</p>
<pre>
main::twice(a.pl:21):       my $num = shift;
</pre>
<h4>c - ブレークポイントあるいは指定した行まで実行</h4>
<p>
  <strong>「c」はブレークポイントあるいは指定した行まで実行するコマンドです。</strong>cはcontinueの頭文字のcです。
</p>
<pre>
c 5
</pre>
<p>
  を実行すると5行目の直前までが実行されます。
</p>
<pre>
main::(a.pl:5): my @nums = (1, 2, 3);
</pre>
<p>
  次に引数を与えずに
</p>
<pre>
c
</pre>
<p>
  を実行すると文中のブレークポイントの次の位置まで進みます。
</p>
<pre>
main::(a.pl:13):        for my $num (@nums) {
</pre>
<pre>
# ブレークポイント
$DB::single = 1;
</pre>
<p>
  はスクリプトの中に埋め込むことができるブレークポイントです。変数の内容などを見たい場合にその直前の行あたりにブレークポイントを設定しておくと、そこで実行を停止することができるのでとても便利です。
</p>
<h3>2. 表示系のコマンド</h3>
<p>
  表示系のコマンドを解説します。
</p>
<h4>p - 変数の内容を表示</h4>
<p>
  <strong>「p」で変数の内容を表示することができます。</strong>たとえば$messageという変数を表示したい場合は以下のようにします。
</p>
<pre>
p $message
</pre>
<h4>x - 変数の内容を展開して表示</h4>
<p>
  「p」はスカラ変数の内容を表示するには便利ですがハッシュや配列、またもっと複雑なデータ構造を表示するには適していません。
</p>
<p>
  <strong>「x」を使用するとデータの内部構造をわかりやすく表示することができます。</strong>「x」の引数にはリファレンスを渡す必要がありますので注意してください。
</p>
<p>
  たとえば%scoresの内容を表示するには次のようにします。\はリファレンスを取得するためのものです。
</p>
<pre>
x \%scores
</pre>
<p>
  次のように変数のデータがわかりやすく表示されます。
</p>
<pre>
0  HASH(0x19b205c)
   'english' =&gt; 77
   'math' =&gt; 80
</pre>
<p>
  <b>3. その他のよく使用するコマンド</b>
</p>
<p>
  その他のよく使用するコマンドを解説します。
</p>
<h4>v - 周辺の行の表示</h4>
<p>
  「v」で周辺の行を表示することができます。
</p>
<pre>
v
</pre>
<p>
  4行目で「v」を実行すると次のように周辺の行が表示されます。
</p>
<pre>
1:      use strict;
2:      use warnings;
3
4==&gt;    my $message = 'Hello';
5:      my @nums = (1, 2, 3);
6:      my %scores = (math =&gt; 80, english =&gt; 77);
</pre>
<p>
  「v」を何回も実行すると下の行に表示を移していくことができます。
</p>
<h4>. - 現在行の表示</h4>
<p>
  「v」を何回も実行すると下の行に表示が移動してしまいます。そういうときに現在行に戻るために「.」を使用することができます。
</p>
<pre>
.
</pre>
<h4>任意のperlの文</h4>
<p>
  <strong>デバッガでは任意のPerlの文を実行することができます。</strong>以下は変数が定義されているかどうかを確認してみるためにdefined関数を使った例です。
</p>
<pre>
print defined $message;
</pre>
<p>
  どのような文でも実行することができるので確認に役立ちます。
</p>
<h3>4. デバッグのテクニック</h3>
<p>
  よく使用するデバッグのテクニックを紹介します。
</p>
<h4>文中ブレークポイント</h4>
<p>
  <strong>Perlではスクリプトの中にブレークポイントを埋め込むことができます。</strong>DBクラス(デバッガのためのクラス)のsingleという変数に1を代入しておくとその位置でシングルステップ実行に処理が切り替わる仕組みです。
</p>
<pre>
$DB::single = 1;
</pre>
<p>
  これは本当に便利なのでどんどん使ってください。また試験を終えた後はスクリプトの中から削除するのを忘れないようにしましょう。
</p>
<h4>条件つきブレークポイント</h4>
<p>
  デバッグを行っているとある条件のときだけ処理をそこで止めて変数の内容を見たいというときがあります。そのような場合は、条件文と「$DB::single = 1」を組み合わせて使います。今回のサンプルでは$numが2のときにその位置でデバッガが停止するようにしています。
</p>
<pre>
if ($num == 2) { $DB::single = 1 }
</pre>
<h4>警告が発生した位置を調べる</h4>
<p>
  スクリプトの試験をしていると以下のような未定義値を使用していますという意味の警告がよく発生します。
</p>
<pre>
Use of uninitialized value
</pre>
<p>
  特に原因を発見するのが大変なのはforやwhileなどのループの中で警告が発生した場合です。これはどこかで代入すべきだったのに代入できていないとうことなので、その場所を特定する必要があります。
</p>
<p>
  ほとんどの人はこのような場合はなんとなくこの場所だろうという位置までデバッガを進めると思うのですが、実は警告をキャッチする方法があります。
</p>
<p>
  Perlでは警告をシグナルとして受け取ることができるので、ループのブロックの中に次のようなブレークポイントを仕掛けてあげればよいです。
</p>
<pre>
# 警告をキャッチしてブレークポイントしかける
$SIG{__WARN__} = sub {
    $DB::single = 1;
};
</pre>
<h3>デバッガで上下キーがきかずにヒストリー機能を使えない</h3>
<p>
  Perlのデバッガで上下キーがきかずにヒストリー機能を使えない場合というのがあるかと思います。これは、Term::ReadLine::Gnuがインストールされていないことが原因です。
</p>
<p>
  Term::ReadLine::Gnuをインストールするためには、以下のC言語のライブラリが必要です。
</p>
<h4>CentOS,RedHatの場合</h4>
<pre>
yum -y install readline-devel
</pre>
<h4>Term::ReadLine::Gnuのインストール</h4>
<p>
  cpanmかcpanでTerm::ReadLine::Gnuをインストールします。
</p>
<pre>
# cpanm
cpanm Term::ReadLine::Gnu
</pre>
<pre>
# cpan
cpan Term::ReadLine::Gnu
</pre>
<h3>任意の位置でブレークポイントを指定してデバッガを止める</h3>
<p>
  Perlのデバッガは便利です。デバッガを使うようになると、ぴたっと見たい位置で止めたいという気持ちがわいてくるかと思います。ぴたっと見たい位置で止めるにはどうすればよいでしょうか。
</p>
<p>
  たとえば試験を書いているときに、同じ処理の同じ部分を何回も通過するということはよくあることです。こういう場合は「$DB::single = 1」というブレークポイントの記述だけではうまく止まることができませんね。以下の場合だと、最初のtotalが実行された時点で、ブレークポイントに引っかかってしまいます。
</p>
<pre>
total(1, 2);

# この処理のときだけ見たい
total(3, 4);

sub total {
  my ($num1, $num2) = @_;
  
  $DB::single = 1;
  my $total = $num1 + $num2;

  return $total;
}
</pre>
<p>
  こういうときは条件付ブレークポイントを使います。
</p>
<pre>
total(1, 2);

# この処理のときだけ見たい
$ENV{a} = 1;
total(3, 4);

sub total {
  my ($num1, $num2) = @_;
  
  $DB::single = 1 if $ENV{a};
  my $total = $num1 + $num2;

  return $total;
}
</pre>
<p>
  環境変数というのは、グローバル変数なので、ちょっと利用させてもらいます。環境変数aをして、設定されているときだけ、ブレークポイントを設定すると記述すると、ぴたっと止まりたい位置で止まることができます。これは、結構便利なテクニックなので、覚えておきましょう。
</p>
<h3>デバッガを積極的に活用してみてください</h3>
<p>
  これでデバッガのコマンドとテクニックの解説を終わります。デバッガのコマンドはたくさんありますが、ここに書いておいてものだけ覚えておけばデバッグで困ることはないでしょう。デバッガは本当に有用なツールなので積極的に活用してみてください。
</p>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
