<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>perlapi - XSにおけるデータ操作関数 - Perl入門ゼミ</title>
<meta name="description" content="perlapiとはXSでPerlのデータを操作するための公式APIで、C言語で書かれたマクロや関数のことです。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="perlapi - XSにおけるデータ操作関数 - Perl入門ゼミ" />
<meta name="twitter:description" content="perlapiとはXSでPerlのデータを操作するための公式APIで、C言語で書かれたマクロや関数のことです。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20100809127859.html">
      <span itemprop="name">XS</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2><a href="/blog/20100818127859.html">perlapi - XSにおけるデータ操作関数</a></h2>
<p>
  <b>perlapi</b>とはXSでPerlのデータを操作するための公式APIで、C言語で書かれたマクロや関数のことです。
</p>
<h3>出力、スカラ、標準入出力</h3>
<p>
  PerlとXS(C言語)のAPIの対応がわかるとXSがわかりやすそうだ。
</p>
<h4>標準出力への出力</h4>
<pre>
#Perl
print "Hello";

# XS
PerlIO_printf(PerlIO_stdout(), "Hello");
</pre>
<p>
  PerlIO_printfはC標準ライブラリのprintfにあたる関数。第一引数はPerlIO*型の変数、第二引数はchar*型の変数。標準出力はPerlIO_stdout関数で取得できる。XSでは標準入出力Cの標準ライブラリは使わずに、Perlで用意されている関数を使う。これはperlapioというドキュメントに詳しく乗せられている。
</p>
<h4>文字列</h4>
<pre>
#Perl
my $str = "Hello";

# XS
SV* sv_str = newSVpv("Hello", 0);
</pre>
<p>
  PerlのスカラはXSではSV*に対応します。newSVpv関数で<a href="/blog/20161003147558.html">文字列</a>を表現するSV*を作成することができます。第一引数は、文字列です。第二引数はSTRLEN型の引数で、文字列の長さを指定します。0を指定すると自動的に文字列の長さを決定してくれます。
</p>
<p>
  この他のものとして、効率を重視した、newSVpvn関数やnewSVpvs関数もあります。
</p>
<p>
  C言語のAPIは省略が多いので覚えるのが大変ですが、慣れるまでがんばるしかないです。SVのSはスカラという意味、Vは値(value)という意味です。newSVpvのpはポインタ(pointer)という意味です。これは実質的には文字列を表します。ですからpは文字列と覚えます。
</p>
<h4>数値</h4>
<pre>
# 符号なし整数
# Perl
my $num = 1;

#XS
SV* sv_num = newSVuv(5);
</pre>
<pre>
# 整数
# Perl
my $num = -1;

#XS
SV* sv_num = newSViv(-1);
</pre>
<pre>
# 数値
# Perl
my $num = 1.14;

#XS
SV* sv_num = newSVnv(1.14);
</pre>
<p>
  Perlでは<a href="/blog/20161026147748.html">数値</a>はすべてどのようなものでも浮動小数点として扱われますが、内部的に見ると符号なし整数(UV型)、整数(IV型)、数値型(NV型)の三種類がある。数値型が最も汎用性があるが、効率は符号なし整数や整数のほうがよい。これらはSV*の内部的な値として保持されます。UVのUは「unsigned int」のuです。IVのIはintのiです。NVのNはnumberのnです。
</p>
<h4>未定義値(undefに対応)</h4>
<p>
  XSではPerlの<a href="/blog/20100220126425.html">undef</a>は、&PL_sv_undefで表現します。
</p>
<pre>
# Perl
my $val = undef;

# XS
SV* sv_val = &PL_sv_undef;
</pre>
<h4>値が定義されているかどうかのチェック(defined関数に対応)</h4>
<p>
  SV*型の値が定義されているかどうかを確認するには、<b>SvOK</b>関数を使用します。これはPerlの<a href="/blog/20100219126425.html">defined関数</a>相当のことをします。
</p>
<pre>
# Perl
if (defined $val) { ... }

# XS
if (SvOK(sv_val)) { ... }
</pre>
<h4>SV*からchar*型への変換</h4>
<p>
  SV*に文字列や数値が含まれている場合はそれを他の関数などで使う場合に、char*型にする必要があります。
</p>
<pre>
char* str = SvPV_nolen(sv_some);
</pre>
<p>
  SvPV_nolen関数の第一引数はSV*型の変数です。長さについては自動的に計算してくれます。
</p>
<h4>ファイル入出力</h4>
<pre>
#Perl
sub print_line {
  my $file = shift;
  
  open my $fh, '&lt;', $file
    or die $!;
  
  while (my $line = &lt;$fh&gt;) {
    print $line;
  }
  
  close $fh;
}

#XS
SV*
print_line(...)
  PPCODE:
{
    char* file = SvPV_nolen(ST(0));
    PerlIO* infh = PerlIO_open(file, "r");
    SV* line = sv_2mortal(newSVpv("", 0));
    
    if (!infh) {
      croak(strerror(errno));
    }
    
    while(sv_gets(line, infh, 0)) {
      PerlIO_printf(PerlIO_stdout(), SvPV_nolen(line));
    }
    PerlIO_close(infh);
}
</pre>
<p>
  難しい。ファイル入出力ってこれであっているのかなぁ。
</p>
<h4>SV*は揮発性にしておく</h4>
<p>
  SV*を作成したときは必ずsv_2mortalして揮発性にしておく。そうするとスコープを抜けた位置で自動的に解放される。
</p>
<p>
  XSでメモリリークをしないようにする記述方法は以下で解説しています。
</p>
<ul>
  <li>
    <a href="/blog/20141220141904.html">XSでメモリリークを起こさずプログラムを書く方法</a>
  </li>
</ul>
<h4>Perlでの操作に対応するAPIを発見する</h4>
<p>
  XSを書くためにはいつもはPerlで行っている操作をC言語のAPIで行う必要がある。これはなかなか大変だが、perlapiとperlapioに公開されているAPIがすべて載っているのでここから探す。Perlの内部を解説したperlgutsも参考になる。
</p>
<h3>配列操作</h3>
<p>
  <a href="/blog/20161012147627.html">配列</a>の操作に対応するXSでの書き方。
</p>
<p>
  変数宣言。
</p>
<pre>
# Perl
my @nums;

# XS
AV* av_nums = newAV();
</pre>
<p>
  代入。
</p>
<pre>
# Perl
$nums[0] = 1;

# XS
av_store(av_nums, 0, newSVuv(1));
</pre>
<p>
  要素の取得。av_fetchはSV*へのポインタを返すので*でポインタはずしを行う必要があります。第三引数は要素が存在しなかった場合に作成するかどうかを指定します。av_fetchは要素がなかった場合にNULLを返すので確認してから参照はずしを行う必要があります。
</p>
<pre>
# Perl
my $num = $nums[0];

# XS
SV** const sv_num_ptr = av_fetch(nums, 0, FALSE);
SV* const sv_num = num_ptr ? *sv_num_ptr : &PL_sv_undef;
</pre>
<p>
  配列のサイズ。
</p>
<pre>
# Perl
my $count = @nums;

# XS(歴史的事情で長さより1小さい値が返ってくるので注意)
int count = av_len(nums) + 1;
</pre>
<p>
  push関数。
</p>
<pre>
# Perl
push @nums, 1;

# XS
av_push(av_nums, newSVuv(1));
</pre>
<p>
  pop関数。
</p>
<pre>
# Perl
my $num = pop @nums;

# XS
SV* sv_num = av_pop(av_nums);
</pre>
<p>
  shift関数。
</p>
<pre>
# Perl
my $num = shift @nums;

# XS
SV* sv_num = av_shift(av_nums);
</pre>
<p>
  unshift関数。av_unshiftは値を先頭につけ加えるのではなく、先頭に空の領域を追加するだけなので、av_storeで値を設定する必要があります。
</p>
<pre>
# Perl
unshift @nums, 1;

# XS
av_unshift(av_nums, 1);
av_store(av_nums, 0, newSVuv(1));
</pre>
<p>
  配列を空に。
</p>
<pre>
# Perl
@nums = ();

# XS
av_clear(av_nums);
</pre>
<h3>ハッシュ操作</h3>
<p>
  <a href="/blog/20161013147635.html">ハッシュ</a>の操作に対応するXSでの書き方。
</p>
<h4>キーの存在確認</h4>
<pre>
# Perl
exists $hash{"key"};

# XS
hv_exists(hash, "key", strlen("key"));
</pre>
<h3>ハッシュの配列の作成</h3>
<p>
  XSを最近練習していて、とりあえず次の方針で作成しているが、あっているかはよくわからない。
</p>
<ol>
  <li>
    戻り値と引数は一行で書いてしまう
  </li>
  <li>
    PPCODEセクションのみを使う。
  </li>
  <li>
    ソースコードは先頭で変数宣言ができるように {} で囲む
  </li>
  <li>
    戻り値はSV*ひとつだけにする。ST(0)に代入してから、XSRETURN(1)。RETVALを使っていないという警告は無視する。
  </li>
  <li>
    SV*、AV*、HV*は作成した直後にsv_2mortalを実行する。これを行わないとメモリリークが発生します。SV*を作成してsv_2mortalしなくてよいのはハッシュや配列の要素にする場合のみ。
  </li>
</ol>
<p>
  XSを書くときにしばらくこういう書き方をしてみることにする。XSの文法はかなり複雑なのでできるだけシンプルかつ一貫性のある書き方をしたい。これでどれくらいの場合にうまくいくかをしばらく試してみる。
</p>
<h4>ハッシュの配列の作成</h4>
<p>
  ハッシュの配列の作成です。
</p>
<pre>
# 最もシンプルなPerl記法
sub return_array_of_hash {
    
  my $persons = [
      {name =&gt; 'Ken',  age =&gt; 19},
      {name =&gt; 'Taro', age =&gt; 16}
  ];
  
  return $persons;
}

# XSの書き方対応させたPerl記法
sub return_array_of_hash {
    
  my @persons;
 
  my %person1;
  $person1{name} = 'Ken';
  $person1{age}  = 19;
  push @persons, \%person1;
  
  my %person2;
  $person2{name} = 'Taro';
  $person2{age}  = 26;
  push @persons, \%person2;
  
  return \@persons;
}

# XS
SV* return_array_of_hash()
    PPCODE:
{
  AV* av_persons;
  HV* hv_person1;
  HV* hv_person2;
  
  av_persons = (AV*)sv_2mortal((SV*)newAV());
  
  hv_person1 = (HV*)sv_2mortal((SV*)newHV());
  hv_store(hv_person1, "name", 4, newSVpv("Ken", 3), 0);
  hv_store(hv_person1, "age", 3, newSVuv(19), 0);
  av_push(av_persons, newRV_inc((SV*)hv_person1));
  
  hv_person2 = (HV*)sv_2mortal((SV*)newHV());
  hv_store(hv_person2, "name", 4, newSVpv("Taro", 4), 0);
  hv_store(hv_person2, "age", 3, newSVuv(26), 0);
  av_push(av_persons, newRV_inc((SV*)hv_person2));
  
  SV* sv_ret = sv_2mortal(newRV_inc(av_persons));
  xPUSHs(sv_ret);
  XSRETURN(1);
}
</pre>
<p>
  AV*は配列、HV*はハッシュ。newAVは空の配列の作成。newHVは空のハッシュの作成。hv_storeはハッシュの値の設定、第三引数はキーの長さ、第5引数は0を指定するとハッシュ値を自動で計算される。newRV_incはリファレンスを作成する関数。XSRETURNの引数は戻り値の個数。戻り値はXPUSHsマクロでスタックに積む。
</p>
<h3>ハッシュの配列の作成その2</h3>
<p>
  gfxさんのアドバイスを元にしてハッシュの配列の作成を書き直してみました。SV*,AV*,HV*を作った直後に必ずmortalにするという原則、文字列を作成するとき、ハッシュの要素を設定するときに文字数を指定しないようにすること、配列やハッシュの要素にするときはリファレンスカウントをひとつ増やさないといけないこと。あとはできるだけ一貫してシンプルに書くことができるようなマクロを定義してみました。どうかなぁ。
</p>
<pre>
#define new_mAV() (AV*)sv_2mortal((SV*)newAV())
#define new_mHV() (HV*)sv_2mortal((SV*)newHV())
#define new_mSVpvs(s) sv_2mortal(newSVpvs(s))
#define new_mSVuv(u) sv_2mortal(newSVuv(u))
#define new_mSViv(i) sv_2mortal(newSViv(i))
#define new_mSVnv(n) sv_2mortal(newSVnv(n))
#define new_mRV(sv) sv_2mortal(newRV_inc((SV*)sv))
#define set(e) SvREFCNT_inc(e)

MODULE = ExtModule		PACKAGE = ExtModule		

SV* return_array_of_hash()
  PPCODE:
{
  AV* persons;
  HV* person1;
  HV* person2;
  
  persons = new_mAV();
  
  person1 =new_mHV();
  hv_stores(person1, "name", set(new_mSVpvs("Ken")));
  hv_stores(person1, "age", set(new_mSVuv(19)));
  hv_stores(person1, "height", set(new_mSViv(170)));
  hv_stores(person1, "weight", set(new_mSVnv(45.3)));
  av_push(persons, set(new_mRV(person1)));
  
  person2 = new_mHV();
  hv_stores(person2, "name", set(new_mSVpvs("Taro")));
  hv_stores(person2, "age", set(new_mSVuv(26)));
  hv_stores(person2, "height", set(new_mSViv(180)));
  hv_stores(person2, "weight", set(new_mSVnv(39.3)));
  av_push(persons, set(new_mRV(person2)));
  
  ST(0) = new_mRV(persons);
  XSRETURN(1);
}
</pre>
<h3>文字列操作</h3>
<p>
  XSにおける<a href="/blog/20161003147558.html">文字列</a>操作です。
</p>
<h4>文字列の作成</h4>
<pre>
# Perl
my $str = "abc";

# XS
SV* sv_str = newSVpv("abc", 0);
</pre>
<h4>文字列のコピー</h4>
<pre>
# Perl
my $str2 = $str1;

# XS
SV* sv_str2 = newSV(sv_str1);
</pre>
<h4>文字列の長さ</h4>
<pre>
# Perl
my $length = length $str;

# XS
STRLEN sv_length = sv_len(sv_str);
</pre>
<h4>文字列の連結</h4>
<pre>
# Perl
my $str = "abc";
$str .= "de";

# XS
SV* sv_str = newSVpv("abc", 0);
sv_catpv(sv_str, "de");
</pre>
<h4>変数展開(あるいはsprintf)</h4>
<pre>
# Perl
my $num1 = 1;
my $num2 = 2;
my $str  = "$num1 and $num2";

# XS
int num1 = 1;
int num2 = 2;
SV* sv_str = newSVpvf("%d and %d", num1, num2);
</pre>
<h4>文字列の連結+変数展開</h4>
<pre>
# Perl
my $num1 = 1;
my $num2 = 2;
my $str = "abc";
$str .= "$num1 and $num2";

# XS
int num1 = 1;
int num2 = 2;
SV* sv_str = newSVpv("abc", 0);
sv_catpvf(sv_str, "%d and %d", num1, num2);
</pre>
<h4>文字列の比較</h4>
<p>
  SVである文字列を比較したい場合は<strong>sv_cmp</strong>を使用します。
</p>
<pre>
# perl
if ($str1 lt $str2) { ... }
if ($str1 eq $str2) { ... }
if ($str1 gt $str2) { ... }

# XS
if (sv_cmp(sv_str1, sv_str2) &lt; 0) { ... }
if (sv_cmp(sv_str1, sv_str2) == 0) { ... }
if (sv_cmp(sv_str1, sv_str2) &gt; 0) { ... }
</pre>
<p>
  またchar*型として比較できる関数strEQ, strEQ, strGE, strGT, strLE, strLT, strNEも用意されています。
</p>
<pre>
if (strEQ("foo", "bar")) { ... }
if (strGE("foo", "bar")) { ... }
if (strGT("foo", "bar")) { ... }
if (strLE("foo", "bar")) { ... }
if (strLT("foo", "bar")) { ... }
if (strNE("foo", "bar")) { ... }
</pre>
<h3>パッケージ変数</h3>
<p>
  XSにおけるパッケージ変数の操作のための関数を紹介します。
</p>
<h4>パッケージ変数の取得</h4>
<p>
  パッケージ変数を取得するには次のように書きます。
</p>
<pre>
# Perl
$Foo::bar;
@Foo::bar;
%Foo::bar;

# XS
SV* sv_var = get_sv("Foo::bar", 0);
AV* av_var = get_av("Foo::bar", 0);
HV* hv_var = get_hv("Foo::bar", 0);
</pre>
<p>
  第二引数の0は新しく変数を作成しないことを意味します。
</p>
<h4>パッケージ変数の作成]</h4>
<p>
  XSでパッケージ変数を作成する関数を紹介します。get_sv, get_av, get_hvの第二引数で「GV_ADD」を指定します。
</p>
<pre>
# Perl
our $Foo::bar;
our @Foo::bar;
our %Foo::bar;

# XS
SV* sv_var = get_sv("Foo::bar", GV_ADD);
AV* av_var = get_av("Foo::bar", GV_ADD);
HV* hv_var = get_hv("Foo::bar", GV_ADD);
</pre>
<h3>正規表現を利用する</h3>
<p>
  <b>XS</b>で<a href="/blog/20100827127859.html">正規表現</a>を使う方法を解説します。ただし、現在、Perlのドキュメントに使用方法が解説されていないので、試し試しでやっているので、間違っていたら教えてください。
</p>
<h4>正規表現のコンパイル</h4>
<p>
  XSで<a href="/blog/20100827127859.html">正規表現</a>を使用するにはまず<b>pregcomp</b>関数を使って、正規表現をコンパイルする必要があります。これは、正規表現のリファレンスを作成する操作に対応すると考えてください。
</p>
<pre>
# Perl
my $re = qr/[0-9]+/;

# XS (pregcompの第二引数は正規表現のフラグ)
SV* sv_re_str = newSVpv("[0-9]+", 0);
REGEXP* sv_re = pregcomp(sv_re_str, 0);
</pre>
<p>
  REGEXP*型は、SV*型の一種ですので、実際にコードを利用するときはsv_2mortalを使って、自動的にメモリが解放されるようにしましょう。実際のコードで利用するのを想定して書くと次のようになります。
</p>
<pre>
SV* sv_re_str = sv_2mortal(newSVpv("[0-9]+", 0));
REGEXP* sv_re = (REGEXP*)sv_2mortal((SV*)pregcomp(sv_re_str, 0));
</pre>
<h4>正規表現のフラグ</h4>
<p>
  正規表現のフラグを、pregcompの第二引数に指定することができます。
</p>
<pre>
# Perl
my $re = qr/abc/im;

# XS
SV* sv_re_str = newSVpv("[0-9]+", 0);
REGEXP* sv_re = pregcomp(sv_re_str, RXf_PMf_FOLD | RXf_PMf_MULTILINE);
</pre>
<p>
  フラグの対応は以下です。複数指定する場合はビット演算子の論理和「|」で、フラグをつなぎます。
</p>
<table>
  <tr>
    <td>
      /m
    </td>
    <td>
      RXf_PMf_MULTILINE
    </td>
  </tr>
 
  <tr>
    <td>
      /s
    </td>
    <td>
      RXf_PMf_SINGLELINE
    </td>
  </tr>
 
  <tr>
    <td>
      /i
    </td>
    <td>
      RXf_PMf_FOLD
    </td>
  </tr>
  <tr>
    <td>
      /x
    </td>
    <td>
      RXf_PMf_EXTENDED
    </td>
  </tr>
</table>
<h4>正規表現の実行</h4>
<p>
  正規表現を実行するには<b>pregexec</b>関数を使用します。pregexec関数の引数は、とても複雑です。
</p>
<pre>
/* pregexec - 文字列に対して正規表現をマッチさせる。 */
I32
pregexec(
  REGEXP * const prog, /* コンパイルされた正規表現 */
  char* stringarg,     /* 文字列のマッチを開始する位置 */
  char *strend,        /* 文字列の終端(NULLポインタの位置) */
  char *strbeg,   /* 文字列の開始位置 */
  SSize_t minend, /* stringarg後のマッチの終端がminend以上でなければならないバイト数 */
  SV *screamer,   /* 文字列をあらわすSV: utf8フラグのためだけに利用される */
  U32 nosave      /* キャプチャしない場合は1を設定 */
)
</pre>
<p>
  マッチが成功した場合は戻り値に真が返ります。サンプルを記述しておきます。
</p>
<pre>
SV* sv_value = sv_2mortal(newSVpv("  12", 0));
char* value = SvPV_nolen(sv_value);

SV* sv_re_str = sv_2mortal(newSVpv("^ *([-+]?[0-9]+) *$", 0));
REGEXP* sv_re = (REGEXP*)sv_2mortal((SV*)pregcomp(sv_re_str, 0));

IV ret = pregexec(
  sv_re, // コンパイルされた正規表現
  value, // 検索開始位置
  value + strlen(value), // 文字列の終端(NULLポインタ)
  value, // 文字列の頭
  0, // 0でOK
  sv_value, // SV*型の文字列
  0 // 0でOK
);
</pre>
<h4>マッチした文字列の取得</h4>
<p>
  マッチした文字列を取得するには<b>Perl_reg_numbered_buff_fetch</b>関数を使用します。(非公開のAPIしかないのかな)
</p>
<pre>
# Perl
my $match1 = $1;
my $match2 = $2;

# XS
SV* sv_match1 = newSVpv("", 0);
Perl_reg_numbered_buff_fetch(aTHX_ sv_re, 1, match1); 

SV* sv_match2 = newSVpv("", 0);
Perl_reg_numbered_buff_fetch(aTHX_ sv_re, 2, match2); 
</pre>
<h3>オブジェクト指向関連のAPI</h3>
<p>
  <a href="/blog/20130305136248.html">オブジェクト指向</a>に関連したXSのAPIを紹介します。
</p>
<h4>オブジェクトを生成する</h4>
<p>
  オブジェクトを生成します。必ずモータルにしておきましょう。
</p>
<pre>
# Perl
my $self = {};
bless $self, "MyClass";

# XS
SV* sv_self = sv_2mortal(new_RV_inc(sv_2mortal((SV*)newHV()));
sv_bless(sv_self, gv_stashpv("MyClass", 1));
</pre>
<h4>オブジェクトであるかどうかを確認する</h4>
<p>
  値がオブジェクトであるかどうかを確認するには、<strong>sv_isobject関数</strong>を使用します。
</p>
<pre>
sv_isobject(sv_obj);
</pre>
<h4>あるクラスを継承しているかどうかを確認する</h4>
<p>
  あるクラスを継承しているかどうかを確認するには<strong>sv_derived_from関数</strong>を使用します。指定したクラスを継承している場合は、真が返ってきます。
</p>
<pre>
sv_derived_from(sv_obj, "MyClass");
</pre>
<p>
  この関数は、配列のリファレンスであることや、ハッシュのリファレンスであることを確認するのに利用することも可能です。
</p>
<pre>
/* 配列のリファレンス */
sv_derived_from(sv_obj, "ARRAY");

/* ハッシュのリファレンス */
sv_derived_from(sv_obj, "HASH");
</pre>
<p>
  ですので、オブジェクトであり、特定のクラスを継承していることを確認するには、sv_isobject関数とsv_derived_from関数を組み合わせて利用します。
</p>
<pre>
sv_isobject(sv_obj) && sv_derived_from(sv_obj, "MyClass")
</pre>
<h3>Perl APIの公式ドキュメント</h3>
<ul>
  <li>
    <a href="http://perldoc.jp/docs/perl/5.20.1/perlguts.pod">perlguts - Perl API の紹介</a> - Perlの内部データ構造とAPIの紹介について書かれています。
  </li>
  <li>
    <a href="http://perldoc.jp/docs/perl/5.12.1/perlapi.pod">perlapi - perl public API の自動生成ドキュメント</a> - PerlのAPIの一覧が掲載されています。
  </li>
</ul>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
