<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>DBIx::Customで「モデル」を利用する - Perl入門ゼミ</title>
<meta name="description" content="DBIx::Customで「モデル」を利用する方法を解説します。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="DBIx::Customで「モデル」を利用する - Perl入門ゼミ" />
<meta name="twitter:description" content="DBIx::Customで「モデル」を利用する方法を解説します。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop="name">データベース</span></a>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop="name">DBIx::Custom</span></a>
    <meta itemprop="position" content="4" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2><a href="/blog/20110816131802.html">DBIx::Customで「モデル」を利用する</a></h2>
<p>
  DBIx::Customで「モデル」を利用する方法を解説します。
</p>
<h3>モデルを生成する - create_model</h3>
<p>
  モデルを作成するには<strong>create_model</strong>メソッドを使用します。
</p>
<pre>
$dbi-&gt;create_model(
  table =&gt; 'book',
  primary_key =&gt; 'id',
  join =&gt; [
    'left outer join company on book.company_id = company.id'
  ],
  ctime =&gt; 'ctime',
  mtime =&gt; 'mtime'
);
</pre>
    
<p>
  モデルには、「<b>table</b> - テーブル名」「<b>primary_key</b> - プライマリーキー」「<b>join</b> - join節」「<b>ctime</b> - 作成日時」「<b>mtime</b> - 更新日時」などを設定しておくことができます。
</p>
<p>
  これらはモデルから<b>insert</b>,<b>update</b>,<b>delete</b>,<b>select</b>メソッドを呼び出したときに自動的に利用されるようになります。
</p>
<h4>モデルの取得</h4>
<p>
  作成したモデルは<b>model</b>メソッドでテーブル名を指定して取得することができます。
</p>
<pre>
my $book_model = $dbi-&gt;model('book');
</pre>
<p>
  モデルは<b>DBIx::Custom::Model</b>オブジェクトです。モデルからは<b>DBIx::Custom::Model</b>が持つメソッドと、DBIx::Customが持つ全てのメソッドを呼び出すことができます。
</p>
<h4>モデルの利用</h4>
<p>
  モデルではinsert,update,delete,select,countなどのメソッドを利用することができます。table、primary_key、joinといったオプションを省略することができ記述が簡潔になります。
</p>
<pre>
my $result = $model-&gt;select(
  column =&gt; [
    {company =&gt; [qw/name/]}
  ]
);
</pre>
<p>
  またモデルからはDBIx::CustomあるいはDBIのすべてのメソッドを呼び出すことが可能です。
</p>
<h3>外部定義したモデルの取り込み - include_model</h3>
<p>
  外部で定義したモデルを、プログラムに取り込むにはinclude_modelメソッドを使用します。DBIx::Customではプログラムが大きくなってきたときに、モデルを外部に定義し、保守性を高めることができます。
</p>
<pre>
$dbi-&gt;include_model('MyModel');
</pre>
<p>
  この例ではMyModelという名前空間以下に属するすべてのモデルを取り込みます。またMyModelという名前のモジュールが必要であることにも注意してください。
</p>
<pre>
lib / MyModel.pm
    / MyModel / book.pm
              / company.pm
</pre>
<h4>モデルのサンプル</h4>
<p>
  <b>MyModel</b>
</p>
<p>
  MyModelは一般的には次のようになります。DBIx::Custom::Modelを継承するようにします。
</p>
<pre>
package MyModel;
use DBIx::Custom::Model -base;

1;
</pre>
<p>
  <b>-base</b>オプションは継承のためのオプションで、<b>Object::Simple</b>から引き継いでいます。
</p>
<p>
  <b>MyModel::book</b>
</p>
<p>
  MyModel::bookは次のようになります。MyModelを継承するようにします。
</p>
<pre>
has primary_key =&gt; 'book_id';
has ctime =&gt; 'created_time';
has mtime =&gt; 'modified_time';

has join =&gt; sub {
  [
    'left join company on book.company_id = company.id',
    'left join author on book.author_id = author.id'
  ]
}

1;
</pre>
<p>
  <b>has</b>は属性を定義するためのメソッドで、<b>Object::Simple</b>の機能です。
</p>
<h3>モデルをセットアップする - setup_model</h3>
<p>
  モデルをセットアップするには<strong>setup_model</strong>を使用します。データベースのテーブル情報を調べて、モデル(DBIx::Custom::Model)のcolumnsに列名が自動的に設定されます。
</p>
<pre>
$dbi-&gt;setup_model;
</pre>
<p>
  DBIx::Custom::Modelの<b>columns</b>属性が設定されていれば、DBIx::Custom::Modelの<b>mycolumn</b>メソッドを使って、テーブルに含まれるすべての列を含むcolumn節を生成できます。
</p>
<pre>
my $book_model = $dbi-&gt;model('book');
my $column_clause = $book_model-&gt;mycolumn;
</pre>
  
<p>
  すべての列を含む次のようなcolumn節が生成されます。
</p>
<pre>
book.author as author,
book.title as title,
book.price as price
</pre>
<p>
  また列名を指定しないで、DBIx::Customの<b>column</b>メソッドを使うこともできます。
</p>
<pre>
my $column_clause = $dbi-&gt;column('book');
</pre>
<p>
  次のようなすべての列を含むcolumn節が生成されます。
</p>
<pre>
book.author as "book.author",
book.title as "book.title",
book.price as "book.price"
</pre>
<h3>モデルを取得する - model</h3>
<p>
  <strong>model</strong>メソッドを使って、create_modelメソッドやinclude_modelメソッドで作成したモデルを取得することができます。
</p>
<pre>
my $model = $dbi-&gt;model('book');
</pre>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
