<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>DBIx::Customで「フィルタリング」を利用する - Perl入門ゼミ</title>
<meta name="description" content="DBIx::Customで「フィルタリング」を利用する方法を解説します。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="DBIx::Customで「フィルタリング」を利用する - Perl入門ゼミ" />
<meta name="twitter:description" content="DBIx::Customで「フィルタリング」を利用する方法を解説します。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop="name">データベース</span></a>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop="name">DBIx::Custom</span></a>
    <meta itemprop="position" content="4" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2><a href="/blog/20110926132031.html">DBIx::Customで「フィルタリング」を利用する</a></h2>
<p>
  DBIx::Customで「フィルタリング」を利用する方法を解説します。
</p>
<h3>列名によるフィルタリング</h3>
<p>
  DBIx::Customでは列名を指定して値をフィルタリングすることができます。データベースにデータを送信するときにも、データベースからデータを取り出すときにもフィルタリングをかけることができます。
</p>
<h4>フィルタの登録</h4>
<p>
  フィルタを実際に利用する前に、フィルタを登録しておくと便利です。フィルタの登録をしておけば、フィルタ名でフィルタを指定することができます。
</p>
<p>
  ここでは画像を印字可能な文字列に変換するBase64という変換を行うフィルタを作成してみましょう。
</p>
<pre>
use MIME::Base64 qw/encode_base64 decode_base64/;

$dbi-&gt;register_filter(
  encode_base64 =&gt; sub { encode_base64($_[0]) },
  decode_base64 =&gt; sub { decode_base64($_[0]) }
);
</pre>
<p>
  encode_base64というフィルタはデータベースにデータを挿入するときはバイナリのデータをBase64形式のフォーマットに変換するために利用します。decode_base64というフィルタはデータをデータベースから取り出すときはBase64形式からバイナリにデータを変換するために利用します。
</p>
<p>
  register_filterに登録しただけではフィルタは有効にはなりません。register_filterはフィルタを名前で呼び出すための便利な仕組みを提供するだけです。
</p>
<h4>データベースにデータを送信するときのフィルタを指定する filterオプション</h4>
<p>
  データベースにデータを送信するときのフィルタを指定してみましょう。
</p>
<p>
  bookというテーブルにidとimageという列があるとします。imageは本来はバイナリの画像のデータですが、Base64形式で保存します。次のようにfilterオプションを利用すると、簡単にこの変換を記述することができます。
</p>
<pre>
$dbi-&gt;insert(
  {id =&gt; 1, image =&gt; $image},
  table =&gt; 'book',
  filter =&gt; {image =&gt; 'encode_base64'}
);
</pre>
<p>
  これでデータベースにはBase64形式で画像が保存されます。filterオプションはinsert, update, delete, select, executeメソッドで利用することができます。
</p>
<p>
  filterオプションにはフィルタ名のほかに、変換のためのサブルーチンを直接指定することもできます。
</p>
<pre>
filter =&gt; {image =&gt; sub { encode_base64($_[0]) }}
</pre>
<p>
  また複数の列名に同一のフィルタが必要な場合は、次のようにハッシュのリファレンスの変わりに配列のリファレンスを使うことができます。外側も配列のリファレンスで、列名の部分も配列のリファレンスになっていることに注意してください。
</p>
<pre>
filter =&gt; [['image1', 'image2'] =&gt; 'encode_base64'}]
</pre>
<p>
  内部的にはこれをハッシュのリファレンスに変換しますので、必要がない場合はハッシュのリファレンスを利用するのがよいでしょう。
</p>
<h4>idオプションとfilterオプションを併用する場合の注意点</h4>
<p>
  idオプションを利用する場合は、ほとんどが単なる数値や文字列であって、フィルタリングの必要はないと思いますが、仕様の上での注意点を書いておきます。
</p>
<p>
  insertメソッドでidオプションを使用する場合はprimary_keyオプションで指定した列名をフィルタリングに利用することができます。
</p>
<pre>
$dbi-&gt;insert(
  table =&gt; 'book',
  id =&gt; 1,
  primary_key =&gt; 'book_id',
  filter =&gt; {book_id =&gt; sub { ... }}
);
</pre>
<p>
  update, delete, selectメソッドでidオプションを利用する場合は少し注意が必要です。これらのメソッドでは、列名を完全に区別するために、テーブル名がつけられた列名が内部的に利用されます。ですのでフィルタを設定するときも、primary_keyで指定した列名にテーブル名を修飾した名前を使う必要があります。
</p>
<pre>
$dbi-&gt;delete(
  table =&gt; 'book',
  id =&gt; 1,
  primary_key =&gt; 'book_id',
  filter =&gt; {'book.book_id' =&gt; sub { ... }}
);
</pre>
<h4>データベースからデータを取得するときのフィルタリング</h4>
<p>
  selectを実行したときに戻り値はDBIx::Custom::Resultオブジェクトが返ってきますが、このオブジェクトはfilter属性を持っています。
</p>
<p>
  filter属性にフィルタを設定すれば、フェッチしたときにフィルタリングが行われます。
</p>
<pre>
my $result = $dbi-&gt;select(...);
$result-&gt;filter({image =&gt; 'decode_base64'});
my $rows = $result-&gt;all;
</pre>
<p>
  ここではallメソッドを使っていますが、fetchなどのフェッチを行うすべてのメソッドでフィルタリングが行われます。
</p>
<p>
  filterオプションと同じように、フィルタとして直接サブルーチンを指定したり、配列のリファレンスを指定することもできます。
</p>
<pre>
$result-&gt;filter({image =&gt; sub { decode_base64($_[0]) }});
$resul-&gt;filter([['image1', 'image2'] =&gt; 'decode_base64']);
</pre>
<h3>型によるフィルタリング</h3>
<p>
  DBIx::Customでは型を指定してフィルタリングを行うことができます。たとえば日付型のフィールドであれば、自動的に日付オブジェクトから、データベースの日付に変換するということが可能です。
</p>
<p>
  RDBMSとDBIの実装の制約から、型によるフィルタリングの実現はそれほど簡単ではありませんが、少しの制約を受け入れると実用的に利用することができると思います。
</p>
<h4>フィルタの登録</h4>
<p>
  フィルタを実際に利用する前に、フィルタを登録しておくと便利です。フィルタの登録をしておけば、フィルタ名でフィルタを指定することができます。
</p>
<p>
  ここではデータベースに日付を送信するときはTime::Pieceオブジェクトからデータベースの日付に変換して、反対に取り出すときは、データベースの日付をTime::Pieceオブジェクトに変換するということを行ってみましょう。
</p>
<pre>
use Time::Piece;

$dbi-&gt;register_filter(
  tp_to_datetime =&gt; sub {
    my $tp = shift;
    
    return '' unless defined $tp;
    return $tp unless ref $tp;
    return $tp-&gt;strftime('%Y-%m-%d %H:%M:%S');
  },
  datetime_to_tp =&gt; sub {
    my $datetime = shift;
    
    return unless $datetime;
    return localtime(
        Time::Piece-&gt;strptime($datetime, '%Y-%m-%d %H:%M:%S')
    )
  }
);
</pre>
<p>
  tp_to_datetimeというフィルタはTime::Pieceオブジェクトをデータベースの日付・時刻のフォーマットに変換するものです。処理内容としては、undefが渡された場合は空文字列に変換、Time::Pieceオブジェクトではない文字列を渡された場合は変換しない、Time::Pieceオブジェクトの場合は、データベースの日付・時刻のフォーマットに変換という処理を行っています。
</p>
<p>
  datetime_to_tpというフィルタはデータベースの日付・時刻のフォーマットをTime::Pieceオブジェクトに変換するものです。処理内容としては、データがなければundefを、存在すればTime::Pieceオブジェクトに変換(ローカル時刻)にして返すという処理を行っています。
</p>
<h4>型によるフィルタの設定 type_rule</h4>
<p>
  型によるフィルタの設定を行うにはtype_ruleメソッドを使用します。
</p>
<pre>
$dbi-&gt;type_rule(
  into1 =&gt; {
    タイプ名 =&gt; フィルタ
  },
  into2 =&gt; {
    タイプ名 =&gt; フィルタ
  },
  from1 =&gt; {
    データタイプ =&gt; フィルタ
  },
  from2 =&gt; {
    データタイプ =&gt; フィルタ
  }
);
</pre>
<p>
  into1とinto2はデータベースにデータを送信するときに実行されるフィルタを指定します。二つまでフィルタを指定することができます。実行される順番は「into1 → into2」の順番です。executeメソッドのfilterオプションが存在するときは「filterオプション → into1 → into2」の順番に実行されます。
</p>
<p>
  from1とfrom2はデータベースからデータを取り出すときに実行されるフィルタを指定します。二つまでフィルタを指定することができます。実行される順番は「from1 → from2」の順番です。BIx::Custom::Resultのfilter属性が存在するときは「from1 → from2 -> filter属性」の順に実行されます。
</p>
<h4>into1とinto2に指定するタイプ名</h4>
<p>
  タイプ名とデータタイプという用語を区別していることに注意してください。into1とinto2ではタイプ名を指定する必要があります。
</p>
<p>
  タイプ名とは一般的には、データベースのテーブル定義をするときに指定した名前です。タイプ名は小文字で指定する必要があります。
</p>
<p>
  実際に各列のタイプ名を知るためには、show_typenameメソッドを使用します。
</p>
<pre>
$dbi-&gt;show_typename('book');
</pre>
<p>
  そこで表示されたタイプ名を利用してください。
</p>
<h4>from1とfrom2に指定するデータタイプ</h4>
<p>
  from1とfrom2にはデータタイプを指定する必要があります。データタイプとは、データベースの内部的なデータの型のことであって一般的には数値になります。一般的には数値ですが、文字列であった場合には、指定するときはデータタイプは小文字で指定する必要があります。
</p>
<p>
  実際にデータタイプを知るためには、show_datatypeメソッドを使用します。
</p>
<pre>
$dbi-&gt;show_datatype('book');
</pre>
<h4>型によるフィルタリングのサンプル</h4>
<p>
  ではSQLiteを使った型によるフィルタリングのサンプルを書いてみたいと思います。
</p>
<pre>
use strict;
use warnings;

use DBIx::Custom;
use Time::Piece;

my $dbi = DBIx::Custom-&gt;connect(dsn =&gt; "dbi:SQLite:dbname=:memory:");
$dbi-&gt;do("create table book (id, issue_datetime DATETIME)");
$dbi-&gt;register_filter(
  tp_to_datetime =&gt; sub {
    my $tp = shift;
    
    return '' unless defined $tp;
    return $tp unless ref $tp;
    return $tp-&gt;strftime('%Y-%m-%d %H:%M:%S');
  },
  datetime_to_tp =&gt; sub {
    my $datetime = shift;
    
    return unless $datetime;
    return localtime(
      Time::Piece-&gt;strptime($datetime, '%Y-%m-%d %H:%M:%S')
    )
  }
);

$dbi-&gt;type_rule(
  into1 =&gt; {
    datetime =&gt; 'tp_to_datetime'
  },
  from1 =&gt; {
    datetime =&gt; 'datetime_to_tp'
  }
);

# Time::Piece object
my $now = localtime;

$dbi-&gt;insert({id =&gt; 1, issue_datetime =&gt; $now}, table =&gt; 'book');

my $result = $dbi-&gt;select(where =&gt; {id =&gt; 1}, table =&gt; 'book');
my $issue_datetime = $result-&gt;one-&gt;{issue_datetime};

print ref $issue_datetime;
</pre>
<p>
  このサンプルを見ると、insertを行うときは、Time::Pieceオブジェクトがデータベースの日付のフォーマットに変換されて、行をフェッチして取得するときにデータベースの日付のフォーマットからTime::Pieceオブジェクトに変換されていることが確認できます。
</p>
<h4>type_ruleを無効にする</h4>
<p>
  into1のフィルタはtype_rule1_offオプションで、into2のフィルタはtype_rule2_offオプションで無効にすることができます。両方を無効にするには、type_rule_offオプションを利用します。
</p>
<pre>
type_rule1_off =&gt; 1
type_rule2_off =&gt; 1
type_rule_off =&gt; 1
</pre>
<p>
  insertメソッドでは次のように記述できます。
</p>
<pre>
$dbi-&gt;insert({id =&gt; 1, issue_datetime =&gt; $now},
  type_rule_off =&gt; 1, table =&gt; 'book');
</pre>
<p>
  from1のフィルタはDBIx::Custom::Resultオブジェクトのtype_rule1_offメソッドで、from2のフィルタはtype_rule2_offメソッドで無効にできます。両方を無効にするには、type_rule_offメソッドを使用します。
</p>
<pre>
$result-&gt;type_rule1_off
$result-&gt;type_rule2_off
$result-&gt;type_rule_off
</pre>
<p>
  反対にフィルタを有効にするにはtype_rule1_on, type_rule2_on, type_rule_onメソッドを使用してください。
</p>
<h4>type_ruleの実装について</h4>
<p>
  <b>into1とinto2の実装</b>
</p>
<p>
  type_ruleの実装は次のようになっています。into1とinto2によるフィルタは、データベースにデータを送信するときに指定できるフィルタです。
</p>
<p>
  実際はパラメータがバインドされる前にフィルタリングが実行されますが、毎回列名がどのようなタイプ名を持つのかを調べたりはしません。それはおそらくとても重い処理になりますし、テーブル名が省略された場合にはうまく機能しないでしょう。
</p>
<p>
  type_ruleメソッドが実行された時に、データベースにあるテーブルの列がどのようなタイプ名を持っているかをまず調べて、その情報が保存されます。
</p>
<p>
  そしてexecuteメソッドの実行時にどのフィルタを適用するかを決定します。insertなどのメソッドは内部的にはexecuteを呼び出しています。
</p>
<p>
  どのような場合にフィルタリングがかかるかinsertとexecuteの例で説明します。次のinsertを見てください。
</p>
<pre>
$dbi-&gt;insert({issue_datetime =&gt; '2010-11-10 11:34:56'}, table =&gt; 'book'});
</pre>
<p>
  type_ruleメソッドが呼ばれた時点で、bookテーブルのissue_datetimeはDATETIME型であるということをDBIx::Customは覚えます。
</p>
<p>
  そして上記のinsertではテーブル名としてbook、列名としてissue_datetimeが指定されていますので、フィルタリングが実行されることになります。
</p>
<p>
  次はexecuteメソッドです。次のような場合はフィルタリングがかかりません。
</p>
<pre>
$dbi-&gt;execute(
  "select * from book where :issue_datetime{=}",
  {issue_datetime =&gt; '2010-11-10 11:34:56'}
);
</pre>
<p>
  なぜならテーブル名が指定されていないので、どのテーブルのissue_datetimeという列なのかを知ることができないからです。
</p>
<p>
  ですので、テーブル名を先頭に付加するか、tableオプションでテーブル名を指定するとフィルタリングが行われるようになります。
</p>
<pre>
# テーブル名を付加
$dbi-&gt;execute(
  "select * from book where :book.issue_datetime{=}",
  {issue_datetime =&gt; '2010-11-10 11:34:56'}
);

# tableオプション
$dbi-&gt;execute(
  "select * from book where :issue_datetime{=}",
  {issue_datetime =&gt; '2010-11-10 11:34:56'}, table =&gt; 'book'
);
</pre>
<p>
  <b>from1とfrom2の実装</b>
</p>
<p>
  from1とfrom2は難しいことを考える必要はありません。フェッチしたときにデータタイプを簡単に知ることができるので、その情報を元にフィルタリングを行います。columnオプションで、columnを指定するときに難しいことを考える必要はありません。
</p>
<h3>フィルタ関数を登録する - register_filter</h3>
<p>
  フィルタ関数を登録するには<strong>register_filter</strong>メソッドを使用します。
</p>
<pre>
$dbi-&gt;register_filter(
  # Time::Piece object to database DATE format
  tp_to_date =&gt; sub {
    my $tp = shift;
    return $tp-&gt;strftime('%Y-%m-%d');
  },
  # database DATE format to Time::Piece object
  date_to_tp =&gt; sub {
    my $date = shift;
     return Time::Piece-&gt;strptime($date, '%Y-%m-%d');
  }
);
</pre>
<p>
  ここで登録したフィルタは、executeメソッドなどのfilterオプションで利用することができます。
</p>
<pre>
$dbi-&gt;execute($sql, $param, filter =&gt; {issue_date =&gt; 'tp_to_date'});
</pre>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
