<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>DBIx::Customの「execute」メソッドで「SQLを実行」する - Perl入門ゼミ</title>
<meta name="description" content="SQLを実行するにはexecuteメソッドを使用します。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="DBIx::Customの「execute」メソッドで「SQLを実行」する - Perl入門ゼミ" />
<meta name="twitter:description" content="SQLを実行するにはexecuteメソッドを使用します。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20170130148603.html">
      <span itemprop="name">データベース</span></a>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20110401130559.html">
      <span itemprop="name">DBIx::Custom</span></a>
    <meta itemprop="position" content="4" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2><a href="/blog/20110708131364.html">DBIx::Customの「execute」メソッドで「SQLを実行」する</a></h2>
<p>
  SQLを実行するにはexecuteメソッドを使用します。
</p>
<pre>
# Execute SQL
my $result = $dbi-&gt;execute("select * from book");
</pre>
<p>
  戻り値は<a href="/blog/20110709131364.html">DBIx::Custom::Result</a>オブジェクトです。すべての行を取得するにはallメソッドを使用します。
</p>
<pre>
# Fetch all rows
my $rows = $result-&gt;all;
</pre>
<h3>名前つきプレースホルダー</h3>
<p>
  DBIx::CustomはOracleでサポートされているような名前つきプレースホルダーをすべてのRDBMSでサポートします。
</p>
<pre>
# Named placeholder
my $result = $dbi-&gt;execute("select * from book where title = :title",
  {title =&gt; 'Perl'});
</pre>
<p>
  名前つきプレースホルダは「:title」のようにコロンで始まります。埋め込む値はハッシュリファレンスで指定することができます。これは以下の実行文と同じ意味があります。
</p>
<pre>
my $title = 'Perl';
my $sql = "select * from book where title = ?";
my $dbh = DBI-&gt;connect(...);
my $sth = $dbh-&gt;prepare($sql);
$sth-&gt;execute($title);
</pre>
<p>
  名前つきプレースホルダーは、パラメータの値の順番を気にする必要がないのでとても便利です。
</p>
<h3>同名の名前つきプレースホルダーを利用したい場合</h3>
<p>
  名前つきプレースホルダーで同名の名前を利用した場合があります。たとえば開始日付と終了日付を指定したいような場合です。このような場合は次のように記述します。
</p>
<pre>
# Use named placeholder more than once
my $result = $dbi-&gt;execute(
  "select * from book where date &gt; :date and date &lt; :date",
  {date =&gt; [3, 5]});
</pre>
<p>
  複数の値を渡したい場合は、パラメータの値を「date => [3, 5]」のように配列のリファレンスとして指定します。
</p>
<h3>名前つきプレースホルダーの簡略表記</h3>
<p>
  名前つきプレースホルダーは「title = :title」のように同じ名前を二度繰り返すことがとても多いので、簡略表記が用意されています。
</p>
<pre>
# プレースホルダーの簡略表記
:プレースホルダー名{演算子}
</pre>
<p>
  たとえば「:title{=}」は「title = :title」と同じ意味になります。他の演算子でも同様に利用することができます。
</p>
<pre>
# Named placeholder suger syntax
:title{like}    -&gt;  title like :title
:title{&lt;}       -&gt;  title &lt; :title
:title{&gt;}       -&gt;  title &gt; :title
</pre>
<p>
  これを利用すると最初のほうで紹介したexecuteのサンプルは次のように書き直すことができます。
</p>
<pre>
# Named placeholder suger syntax example
my $result = $dbi-&gt;execute("select * from book where :title{=}",
  {title =&gt; 'Perl'});
</pre>
<h3>テーブル名を含んだ列名を利用する</h3>
<p>
  プレースホルダー名としてテーブル名を含んだ列名を利用することもできます。
</p>
<pre>
my $result = $dbi-&gt;execute("select * from book where :book.title{=}",
  {'book.title' =&gt; 'Perl'});
</pre>
<h3>executeメソッドのオプション</h3>
<p>
  DBIx::Customにはさまざまなオプションを指定することができます。第３引数以降を利用して次のように記述することができます。
</p>
<pre>
$dbi-&gt;execute($sql, $param, オプション名 =&gt; オプションの値, ...)
</pre>
<h3>executeメソッドのオプション</h3>
<p>
  <a href="/blog/20110708131364.html">executeメソッド</a>のオプションの一覧です。
</p>
<h4>SQLの加工 after_build_sql</h4>
<p>
  after_build_sqlを使うと、SQLが構築された後に、SQLを加工することができます。値としては、変換のためのコードリファレンスを指定します。
</p>
<pre>
after_build_sql =&gt; $code_ref
</pre>
<p>
  以下は例です。実行したSQLの列数を取得するサンプルです。
</p>
<pre>
$dbi-&gt;select(
  table =&gt; 'book',
  column =&gt; 'distinct(name)',
  after_build_sql =&gt; sub {
    "select count(*) from ($_[0]) as t1"
  }
);

次のようなSQLが実行されます。

&lt;pre&gt;
select count(*) from (select distinct(name) from book) as t1;
</pre>
<h4>SQLの末尾に追加 append</h4>
<p>
  appendオプションを使うとSQLの末尾にステートメントを追加することできます。
</p>
<pre>
append =&gt; 'order by name'
</pre>
<h4>バインドタイプの指定 bind_type</h4>
<p>
  インサートをするデータがバイナリデータの場合は、そのことを明示的に指定しなければならない場合があります。たとえばSQLiteではBLOB型のデータを挿入したい場合はDBIを使う場合は次のように書く必要があります。
</p>
<pre>
$sth-&gt;bind_param($pos, $value, DBI::SQL_BLOB);
</pre>
<p>
  これと同じことをexecuteメソッドで実行するにはbind_typeオプションを使用します。
</p>
<pre>
# Bind type option
bind_type =&gt; {image =&gt; DBI::SQL_BLOB}
bind_type =&gt; [image =&gt; DBI::SQL_BLOB]
bind_type =&gt; [[qw/image audio/] =&gt; DBI::SQL_BLOB]
</pre>
<p>
  bind_typeの値はハッシュリファレンスで指定します。複数の列に同じ値を指定したい場合は配列のリファレンスを利用することもできます(3番目の方法)。
</p>
<h4>フィルターの指定 filter</h4>
<p>
  filterオプションを利用すれば、パラメータの値をプレースホルダーに埋め込む前に値をフィルタリングすることができます。
</p>
<pre>
# Filter option
filter =&gt; {title  =&gt; sub { uc $_[0] }}
filter =&gt; {title  =&gt; 'upper_case'}
filter =&gt; [[qw/title author/]  =&gt; sub { uc $_[0] }]
</pre>
<p>
  フィルタは「{列名 => フィルタ(サブルーチンあるいはフィルタ名)}」というフォーマットで記述します。フィルタ名で利用した場合はregister_filterメソッドを使ってあらかじめフィルタを登録しておく必要があります。
</p>
<p>
  複数の列名に対して、同じフィルタを利用したい場合は、配列のリファレンスを使って指定することもできます(3番目の方法)
</p>
<h4>ID指定 id</h4>
<p>
  idオプションを指定すると、primary_keyが設定されている場合に、列名を指定せずにパラメータを指定することができます。
</p>
<pre>
id =&gt; 4
id =&gt; [4, 5]
</pre>
<p>
  たとえばprimary_keyに[id1, id2]が設定されてしたとすればid => [4, 5]は、executeの第二引数であるパラメーターに{id1 => 4, id2 => 5}を指定したことと同じになります。
</p>
<pre>
$dbi-&gt;execute(
  "select * from book where id1 = :id1 and id2 = :id2",
  {},
  primary_key =&gt; ['id1', 'id2'],
  id =&gt; [4, 5],
);
</pre>
<p>
  上記のexecuteは、以下と同じになります。
</p>
<pre>
$dbi-&gt;execute(
  "select * from book where id1 = :id1 and id2 = :id2",
  {id1 =&gt; 4, id2 =&gt; 5}
);
</pre>
<h4>クエリオブジェクトの取得 query</h4>
<p>
  queryオプションに1を設定するとSQLを実行する代わりに戻り値として、DBIx::Custom::Queryオブジェクトを取得することができます。
</p>
<pre>
query =&gt; 1
</pre>
<p>
  DBIx::Custom::Queryオブジェクトは、どのようなクエリが実際に実行されているかを調べたるのに便利です。
</p>
<pre>
my $sql = $query-&gt;sql;
my $columns = $query-&gt;columns;
</pre>
<p>
  クエリオブジェクトをexecuteメソッドに渡すことは廃止予定の機能になっていますので利用しないでください。これは潜在的に非常にバグの多い実装でした。実行速度を上昇させるには代わりにreuseオプションを使用してください。
</p>
<h4>プライマリーキーの設定 primary_key</h4>
<p>
  idオプションで利用するprimary_keyを設定します。
</p>
<pre>
primary_key =&gt; 'id'
primary_key =&gt; ['id1', 'id2']
</pre>
<h4>クエリの再利用 reuse </h4>
<p>
  reuseオプションを使用すると、同一のSQLを連続して実行する場合に実行速度を上昇させることができます2～3倍のスピードになることが確認されています。クエリを保存するためのハッシュリファレンスを引数として指定します。
</p>
<pre>
reuse =&gt; $hash_ref
</pre>
<p>
  以下はサンプルです。
</p>
<pre>
my $queries = {};
for my $param (@params) {
  $dbi-&gt;execute($sql, $row, reuse =&gt; $queries);
}
</pre>
<p>
  もちろんinsert, update, delete, selectメソッドでも使用することができます。
</p>
<pre>
my $queries = {};
for my $row (@rows) {
  $dbi-&gt;insert($row, table =&gt; 'book', reuse =&gt; $queries);
}
</pre>
<h4>テーブル名 table</h4>
<p>
  tableオプションでテーブル名を指定することができます。
</p>
<pre>
table =&gt; 'author'
</pre>
<p>
  一般的にはexecuteメソッドでは、指定したSQLが実行されるのでtableオプションを指定する必要はありません。
</p>
<p>
  tableオプションは次のような効果を持ちます。もし名前付きプレースホルダーの列名が完全修飾名で与えられなかった場合は、指定したテーブル名で、列名が完全修飾されます。またパラメータで利用されている列名も、完全修飾されます。
</p>
<pre>
$dbi-&gt;execute("select * from book where title = :title and author = :author",
  {title =&gt; 'Perl', author =&gt; 'Ken'}, table =&gt; 'book');
</pre>
<p>
  上記のexecuteは以下と同じ意味になります。
</p>
<pre>
$dbi-&gt;execute(
  "select * from book where title = :book.title and author = :book.author",
  {'book.title' =&gt; 'Perl', 'book.author' =&gt; 'Ken'});
</pre>
<p>
  tableオプションはtype_ruleのinto1やinto2が設定されている場合に利用するためのものです。なぜなら、完全修飾名でなければどのテーブルの列名なのかが判断できないので、type_ruleによるフィルタリングがうまくいきません。
</p>
<p>
  ですから、type_ruleでinto1やinto2を設定しているときにだけ意識する必要があります。
</p>
<h4>テーブルのエイリアス table_alias</h4>
<p>
  table_aliasオプションで、テーブルのエイリアスを設定することができます。
</p>
<pre>
table_alias =&gt; {worker =&gt; 'user'} # {エイリアス名 =&gt; テーブル名}
</pre>
<p>
  キーはエイリアス名、値はテーブル名になります。テーブルのエイリアスを設定しておくと、C<type_rule>メソッドで指定し<b>into1</b>と<b>into2</b>のフィルタリングの効果が、エイリアス名でも機能するようになります。
</p>
<p>
  この例ではuserテーブルの列に設定したC<into1>とC<inot2>のフィルタが、workerテーブルの列でも有効になります。
</p>
<h4>タイプルールを無効にする type_rule_off</h4>
<p>
  type_rule_offオプションを使うと、type_ruleで設定したinto1とinto2のフィルタを無効にすることができます。
</p>
<pre>
type_rule_off =&gt; 1
</pre>
<p>
  from1とfrom2のフィルタには何の影響も与えません。
</p>
<h4>タイプルール1を無効にする type_rule1_off</h4>
<p>
  type_rule1_offオプションを使うと、type_ruleで設定したinto1のフィルタを無効にすることができます。
</p>
<pre>
type_rule1_off =&gt; 1
</pre>
<p>
  from1とfrom2のフィルタには何の影響も与えません。
</p>
<h4>タイプルール2を無効にする type_rule2_off</h4>
<p>
  type_rule2_offオプションを使うと、type_ruleで設定したinto2のフィルタを無効にすることができます。
</p>
<pre>
type_rule2_off =&gt; 1
</pre>
<p>
  from1とfrom2のフィルタには何の影響も与えません。
</p>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
