<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>ラジオトーク2015年 - Perl入門ゼミ</title>
<meta name="description" content="2015年のPerlラジオトークをこちらにまとめます。今年は、1ヶ月に一回くらいの頻度で、再開しようかなと思います。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="ラジオトーク2015年 - Perl入門ゼミ" />
<meta name="twitter:description" content="2015年のPerlラジオトークをこちらにまとめます。今年は、1ヶ月に一回くらいの頻度で、再開しようかなと思います。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">ラジオトーク</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2><a href="/blog/20160222145614.html">ラジオトーク2015年</a></h2>
<p>
  2015年のPerlラジオトークをこちらにまとめます。今年は、1ヶ月に一回くらいの頻度で、再開しようかなと思います。
</p>
<h3>Perlラジオトーク 2015年5月9日(土)</h3>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150509_perlradiotalk.mp3" target="_blank">Perlラジオトーク 2015年5月9日(土)</a>
</p>
</blockquote>
<h4>活動報告</h4>
<ul>
  <li>
    Kent webの掲示板のCGIをMojoliciousに移植
  </li>
  <li>
    4月30日にサーバー/インフラエンジニア養成読本が発売
  </li>
  <li>
    「業務に役立つPerl」の増刷決定!
  </li>
</ul>
<h4>質問コーナー - データベースのテーブル設計のコツはありますか</h4>
<ul>
  <li>
    中級者向け
  </li>
  <li>
    データベース上の主キーと業務上の主キー
  </li>
  <li>
    両方作成するのがよい
  </li>
  <li>
    データベース上の主キー - プライマリーキー制約とオートインクリメント
  </li>
  <li>
    業務上の主キー - ユニーク制約とノットヌル制約
  </li>
  <li>
    業務上の主キーが複数ある場合は、複数のセットに対して、ユニーク制約をかける
  </li>
  <li>
    他のテーブルを結びつける外部キーは、データベース上の主キーを使うほうがよい
  </li>
</ul>
<h3>Perlラジオトーク 2015年5月4日(月)</h3>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150504_perlradiotalk.mp3" target="_blank">Perlラジオトーク 2015年5月4日(月)</a>
</p>
</blockquote>
<h4>サーバー/インフラエンジニア養成読本発売報告</h4>
<ul>
  <li>
    サーバー/インフラエンジニア養成読本発売報告
  </li>
  <li>
    4月30日に発売しました。
  </li>
</ul>
<h4>内容紹介と</h4>
<ul>
  <li>
    サーバーサイドエンジニアは、覚えることがたくさんだ
  </li>
  <li>
    まとめて覚えられるとうれしい
  </li>
  <li>
    OS編
  </li>
  <li>
    Virtual Boxの使い方とCentOSのインストール
  </li>
  <li>
    シェルスクリプトのコマンド
  </li>
  <li>
    viエディタを使ったときの困った思い出
  </li>
  <li>
    viの基本コマンド、編集コマンドなど
  </li>
  <li>
    Perl
  </li>
</ul>
<h3>Perlラジオトーク 2015年4月27日(月)</h3>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150427_perlradiotalk.mp3" target="_blank">Perlラジオトーク 2015年4月27日(月)</a>
</p>
</blockquote>
<h4>今週の作業</h4>
<ul>
  <li>
    Mojoliciousをさくらレンタルサーバー・スタンダードで動かす手順の作成
  </li>
  <li>
    ドキュメント作成の心がけ
  </li>
  <li>
    間を抜かないようにする
  </li>
  <li>
    大学の教科書が難しい理由
  </li>
</ul>
<h4>質問コーナー - ワンライナーについてどう思いますか</h4>
<ul>
  <li>
    初級者向けの内容
  </li>
  <li>
    ワンライナーとは、一行で実行するコマンド
  </li>
  <li>
    ワンライナーは賛否両論
  </li>
  <li>
    特殊なオプションなどがあり、読みづらくなる
  </li>
  <li>
    ワンライナーは、awk,sedでは複雑すぎるテキスト処理を代替する
  </li>
  <li>
    コマンドとスクリプトの中間に位置している
  </li>
  <li>
    実際の現場でワンライナーを使った経験
  </li>
</ul>
<p>
  =====
</p>
<h3>Perlラジオトーク 2015年4月18日(土)</h3>
<p>
  今週のPerlラジオトークです。
</p>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150418_perlradiotalk.mp3" target="_blank">Perlラジオトーク 2015年4月18日(木)</a>
</p>
</blockquote>
<h4>今週の報告</h4>
<ul>
  <li>
    MojoliciousリファレンスのMojolicious 6への対応
  </li>
  <li>
    座椅子の購入
  </li>
</ul>
<h4>質問コーナー - モジュールってどうやって作るんですか</h4>
<ul>
  <li>
    中級者向けの内容
  </li>
  <li>
    CPANモジュールを作る方法
  </li>
  <li>
    Module::Starterを使って雛形作成
  </li>
  <li>
    Makefile.PLとはなにか
  </li>
  <li>
    makefileとmakeコマンドとは何か
  </li>
  <li>
    make manifestでマニフェストファイル作成
  </li>
  <li>
    make disttestで、配布状態で試験
  </li>
  <li>
    make distでtar.gzで固められた配布を作成
  </li>
  <li>
    pauseを使って、CPANにアップロード
  </li>
</ul>
<h3>Perlラジオトーク 2015年4月11日(土)</h3>
<p>
  今週のPerlラジオトークです。
</p>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150411_perlradiotalk.mp3" target="_blank">Perlラジオトーク 2015年4月11日(木)</a>
</p>
</blockquote>
<h4>質問コーナー - 自動試験についてどう思いますか</h4>
<ul>
  <li>
    テスト駆動開発の是非
  </li>
  <li>
    CPANモジュールと自動試験
  </li>
  <li>
    アプリケーションの自動試験
  </li>
  <li>
    品質と開発効率のトレードオフ
  </li>
  <li>
    Test::Moreという優れたテストフレームワーク
  </li>
</ul>
<h3>Perlラジオトーク 2015年4月4日(土)</h3>
<p>
  今週のPerlラジオトークです。
</p>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150404_perlradiotalk.mp3" target="_blank">Perlラジオトーク 2015年4月4日(木)</a>
</p>
</blockquote>
<h4>今週の活動</h4>
<ul>
  <li>
    Mojolicious 6の日本語訳を進める
  </li>
</ul>
<h4>質問コーナー - ノンブロッキングIOってなんですか</h4>
<ul>
  <li>
    ノンブロッキングIOは何を解決するか
  </li>
  <li>
    C10K問題(トークでは10万といっていますが1万の間違いです)
  </li>
  <li>
    プリフォークモデルとノンブロッキングIOモデル
  </li>
  <li>
    弁当屋さんで注文を待つたとえ
  </li>
  <li>
    Mojo::IOLoop
  </li>
  <li>
    ノンブロッキングIOの実装
  </li>
  <li>
    IO::Pollなど
  </li>
</ul>
<h3>Perlラジオトーク 2015年3月26日(土)</h3>
<p>
  今週のPerlラジオトークです。
</p>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150326_perlradiotalk.mp3?d=y" target="_blank">Perlラジオトーク 2015年3月26日(木)</a>
</p>
</blockquote>
<h4>質問コーナー - 日本のIT業界についてどう思いますか</h4>
<ul>
  <li>
    IT業界はブラックといううわさ
  </li>
  <li>
    派遣に長くいるのはあまりよくない
  </li>
  <li>
    ユーザー企業であれば、納期や仕様の融通がきく
  </li>
  <li>
    ユーザー企業が、技術者を雇うのが理想
  </li>
  <li>
    建築をするのと、プログラミングを書くのは違う
  </li>
  <li>
    日本の建築のモデルを、システム開発に流用してしまった
  </li>
  <li>
    品質のよいシステムを作るには、継続的な細かなコミュニケーションが必要
  </li>
</ul>
<h3>Perlラジオトーク 2015年3月21日(土)</h3>
<p>
  今週のPerlラジオトークです。
</p>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150321_perlradiotalk.mp3?d=y" target="_blank">Perlラジオトーク 2015年3月21日(土)</a>
</p>
</blockquote>
<h4>Webアプリケーションの文字コードの書き換え作業</h4>
<ul>
  <li>
    HTMLのフロント部分から書き換えた
  </li>
  <li>
    やりやすいところから着手する
  </li>
</ul>
<h4>質問コーナー - Perl 5.22で面白い機能追加はありますか</h4>
<ul>
  <li>
    C99に対応した数学関数の追加
  </li>
  <li>
    Inf, NaNの扱いの改善
  </li>
</ul>
<h3>Perlラジオトーク 2015年3月14日(土)</h3>
<p>
  今週のPerlラジオトークです。
</p>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150314_perlradiotalk.mp3?d=y" target="_blank">Perlラジオトーク 2015年3月14日(土)</a>
</p>
</blockquote>
<h4>Perl 5.22 リリースが近づく その1 性能改善について</h4>
<ul>
  <li>
    Perl 5.22の性能改善
  </li>
  <li>
    マルチデリファレンスの性能改善
  </li>
  <li>
    メソッド呼び出しの性能改善
  </li>
</ul>
<h4>質問コーナー - 古いPerlコードの文字コードの書き換え その1</h4>
<ul>
  <li>
    文字コード処理の古い書き方と新しい書き方
  </li>
  <li>
    現場で実際に行った作業, html, アプリケーション,データベース
  </li>
  <li>
    書き換えの作業は大変
  </li>
  <li>
    新しいPerlの文字コード処理への批判
  </li>
  <li>
    新しいコードは、新しい書き方を原則にして書く
  </li>
</ul>
<h3>Perlラジオトーク 2015年3月7日(土)</h3>
<p>
  今週のPerlラジオトークです。
</p>
<blockquote>
<p>
  <a href="https://file-hatena.com/diary/files/perlcodesample/files/485b85450fcba55c11f06d9bdb54952e.mp3?expire=1425694180&session_key=884ee1b3befc33ee4201d7e6740d304cfe288007" target="_blank">Perlラジオトーク 2015年3月7日(土)</a>
</p>
</blockquote>
<h4>Mojolicious 6 リリース</h4>
<ul>
  <li>
    Mojolicious 6 リリース おめでとう
  </li>
  <li>
    パフォーマンスとスケーラビリティの改善
  </li>
  <li>
    互換性が崩れる部分、param,render_xxxxx
  </li>
</ul>
<h4>質問コーナー - Mojoliciousで便利だと思う機能はありますか</h4>
<ul>
  <li>
    url_with, url_for,URLの生成
  </li>
  <li>
    タグヘルパー,check_box, textarea,フォームの値の自動復元
  </li>
  <li>
    PHPのようにPerlを記述できるテンプレート
  </li>
  <li>
    テンプレートの再利用、layouts, include
  </li>
</ul>
<h3>Perlラジオトーク 2015年2月26日(木)</h3>
<p>
  今週は、少し早めの木曜日の放送です。
</p>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150226_perlradiotalk.mp3?d=y" target="_blank">Perlラジオトーク 2015年2月26日(木)</a>
</p>
</blockquote>
<h4>プログラミングを早く上達するにはどうしたらいいですか</h4>
<ol>
  <li>
    プログラミングを書くことが大切
  </li>
  <li>
    アルゴリズム、データ構造の勉強
  </li>
  <li>
    目的意識、課題を持つ、目標達成
  </li>
</ol>
<h4>metacpan</h4>
<ol>
  <li>
    metacpanのお話
  </li>
  <li>
    metacpanで最新のリリースのdiffを簡単に見たい
  </li>
</ol>
<h3>Perlラジオトーク 2015年2月21日(土)</h3>
<p>
  Perlラジオトーク第二回目です。
</p>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150221_perlradiotalk.mp3?d=y" target="_blank">Perlラジオトーク 2015年2月21日(土)</a>
</p>
</blockquote>
<h4>HTTP 2.0</h4>
<ol>
  <li>
    HTTP 2.0の目的
  </li>
  <li>
    HTTP 2.0の仕様
  </li>
  <li>
    接続の維持
  </li>
  <li>
    双方向通信
  </li>
  <li>
    バイナリデータ転送
  </li>
</ol>
<h4>どんなエディタで開発していますか</h4>
<ol>
  <li>
    秀丸の話
  </li>
  <li>
    操作性
  </li>
  <li>
    手になじむ
  </li>
  <li>
    meryの紹介
  </li>
</ol>
<h3>Perlラジオトーク 2015年2月14日(土)</h3>
<p>
  今週から土曜日にPerlラジオトークを始めたいと思います。
</p>
<blockquote>
<p>
  <a href="http://d.hatena.ne.jp/perlcodesample/files/20150214_perlradiotalk.mp3?d=y" target="_blank">Perlラジオトーク 2015年2月14日(土)</a>
</p>
</blockquote>
<ul>
  <li>
    サンプルコードによるPerl入門のスマートフォン対応作業
  </li>
  <li>
    RstatsとXSの話
  </li>
</ul>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
