<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>Perlゼミ管理人 - 木本裕紀のプロフィール - Perl入門ゼミ</title>
<meta name="description" content="">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="Perlゼミ管理人 - 木本裕紀のプロフィール - Perl入門ゼミ" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemprop="name">プロフィール紹介</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2><a href="/blog/20160718146881.html">Perlゼミ管理人 - 木本裕紀のプロフィール</a></h2>
<div>
<p>
  <img src="http://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20160914/20160914214159.jpg?1473856962" width="200">
</p>
</div>
<p>
  <b>「Perlでプログラミングをするのが面白くって仕方ない」</b>
</p>
<p>
  <small>
</p>
<p>
  Perlの「オープンソース」活動に26歳のときから「10年間」取り組んでおり「ライフワーク」としている。
</p>
<p>
  Perl好き。代表的な著作は「業務に役立つPerl(技術評論社)」。雑誌「Software Design」で連載経験も。YACP関西2017ゲストスピーカー。
</p>
</small>
<h3>プロフィール概略</h3>
<p>
  プロフィールを紹介します。
</p>
<table>
  <tr>
    <td>
      名前
    </td>
    <td>
      木本裕紀(きもとゆうき)
    </td>
  </tr>
  <tr>
    <td>
      好きな食べ物
    </td>
    <td>
      カレー、餃子、おかゆ、ミートスパゲティ、ハンバーグ、焼き鳥、かつ丼
    </td>
  </tr>
  <tr>
    <td>
      最近の趣味
    </td>
    <td>
      万葉集を読む。夕飯を食べた後に寝ること。
    </td>
  </tr>
  <tr>
    <td>
      好きなテレビ
    </td>
    <td>
      新婚さんいらっしゃい
    </td>
  </tr>
  <tr>
    <td>
      出身
    </td>
    <td>
      奈良県
    </td>
  </tr>
  <tr>
    <td>
      住んでいる場所
    </td>
    <td>
      東京都
    </td>
  </tr>
  <tr>
    <td>
      小学校
    </td>
    <td>
      奈良県御所市立 大正小学校 卒業
    </td>
  </tr>
  <tr>
    <td>
      中学校
    </td>
    <td>
      奈良県御所市立 大正中学校 卒業
    </td>
  </tr>
  <tr>
    <td>
      高校
    </td>
    <td>
      奈良県立香芝高等学校 卒業
    </td>
  </tr>
  <tr>
    <td>
      大学
    </td>
    <td>
      大阪府立大学 農学部 地域研究化学科 卒業
    </td>
  </tr>
  <tr>
    <td>
      部活動
    </td>
    <td>
      小学校・中学校は「卓球部」、高校は「器械体操」
    </td>
  </tr>
  <tr>
    <td>
      仕事の経歴
    </td>
    <td>
      「携帯電話の料金精算」のシステムの実装<br>「銀行の振込・振替」のインフラで「性能調査・コンサルティング」<br>「不動産情報基盤」の「撮影スケジュール管理」システムの設計・実装<br>「不動産仲介会社」の「Webサイト」と「顧客管理」システムの設計・実装
    </td>
  </tr>
  <tr>
    <td>
      現職
    </td>
    <td>
      「不動産仲介会社」の「システム責任者」をやっています。<br>「新築一戸建て」「中古一戸建て」「中古マンション」「土地」<br>の「購入」「売却」「ローン審査」でお困りの方がいらっしゃいましたら、相談可能です。
    </td>
  </tr>
  <tr>
    <td>
      将来の夢
    </td>
    <td>
      Perlを教える仕事をやりたい
    </td>
  </tr>
  <tr>
    <td>
      ペット
    </td>
    <td>
      猫を買っている
    </td>
  </tr>
</table>
<h3>B. 書籍</h3>
<p>
  執筆させていただいたPerl関連の「書籍」です。
</p>
<h4>もっと自在にサーバを使い倒す 業務に役立つPerl</h4>
<p>
  [asin:4774150258:image]
</p>
<div class="icon-arrow"><a href="/blog/20120326133275.html">本の紹介「もっと自在にサーバを使い倒す 業務に役立つPerl」</a></div>
<h4>かんたんプログラミングCGI/Perl 木本裕紀著</h4>
<p>
  [asin:4774139289:image]
</p>
<div class="icon-arrow"><a href="/blog/20120414133435.html">本の紹介「簡単プログラミング Perl/CGI」</a></div>
<h4>サーバ／インフラエンジニア養成読本 基礎スキル編</h4>
<p>
  [asin:4774173452:image]
</p>
<div class="icon-arrow"><a href="/blog/20150415142910.html">本の紹介「サーバ／インフラエンジニア養成読本 基礎スキル編</a></div>
<h3>E-mail</h3>
<p>
  E-mailアドレスです。講演依頼、執筆依頼などお仕事のご相談で「木本裕紀」と連絡を取りたい方は、こちらをご利用ください。ファンの皆様の応援メッセージも歓迎です!
</p>
<blockquote>
<p>
  kimoto.yuki@gmail.com
</p>
</blockquote>
<h3>技術情報</h3>
<h4>「GitHub」で無料で使える「アプリ」を公開</h4>
<p>
  「GitHub」には「GitPrep」などPerlで作った「アプリケーション」置いています。
</p>
<div class="icon-arrow"><a href="https://github.com/yuki-kimoto">「GitHub」で無料で使える「アプリ」を見る</a></div>
<h4>「CPAN」で無料で使える「モジュール」を公開</h4>
<p>
  「CPAN」は無料で自由に使えるライブラリの宝庫。僕が作ったCPANモジュール「DBIx::Custom」「Validator::Custom」「Object::Simple」などが置かれています。
</p>
<div class="icon-arrow"><a href="http://search.cpan.org/~kimoto/">「CPAN」で無料で使える「モジュール」を見る</a></div>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
