<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>7月1日に開催される「YAPC::Fukuoka 2017 HAKATA」でトークをします - Perl入門ゼミ</title>
<meta name="description" content="7月1日にYAPC::Fukuoka 2017が開催されますが、以下のテーマで14:00から20分のトークをします。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="7月1日に開催される「YAPC::Fukuoka 2017 HAKATA」でトークをします - Perl入門ゼミ" />
<meta name="twitter:description" content="7月1日にYAPC::Fukuoka 2017が開催されますが、以下のテーマで14:00から20分のトークをします。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <h2><a href="/blog/20170608149692.html">7月1日に開催される「YAPC::Fukuoka 2017 HAKATA」でトークをします</a></h2>
<p>
  7月1日にYAPC::Fukuoka 2017が開催されますが、以下のテーマで14:00から20分のトークをします。
</p>
<blockquote>
<p>
  「未来志向のCPANモジュール開発 - アイデアを生み出し実装する方法」
</p>
<p>
  <a href="http://yapcjapan.org/2017fukuoka/timetable.html">YAPC::Fukuoka 2017 HAKATA タイムテーブル</a>
</p>
</blockquote>
<ul>
  <li>
    何かを作ろうと思うんだけど、アイデアってどんな風に思いつくの?
  </li>
  <li>
    作りたいものが特に自分で思い浮かばないんだけど。
  </li>
  <li>
    作ろうと思い立ったんだけど、プログラミングしてみるとうまくいかない、実装できない
  </li>
</ul>
<p>
  そんな疑問に、僕の過去のCPANモジュールやアプリの開発経験を踏まえて、答えてみようと思います! アイデアを出すための、問題意識の持ち方、解決策の見つけ方、実際に成果物を上げる方法。そういう内容になると思います!
</p>
<p>
  YAPCのタイムテーブルには、Perlや関連技術に関する興味深い話題がいっぱい! ぜひ確認してみてください!
</p>
<p>
  <a href="http://yapcjapan.org/2017fukuoka/timetable.html">YAPC::Fukuoka 2017 HAKATA タイムテーブル</a>
</p>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
