<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37528940-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37528940-3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="4cR7WuQWEtkbu8ThfxGkT1vACiVi5Q_8ykfkRudOnTU" />

<link rel="shortcut icon" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
<script>
  $(function(){
    // google code prettifyの有効化
    $("pre").addClass("prettyprint");
    function init(event){
      prettyPrint();
    }
    if(window.addEventListener)window.addEventListener("load",init,false);
    else if(window.attachEvent)window.attachEvent("onload",init);
    
    $(".to-top").click(function() {
      // ページの一番上までスクロールさせます。
      $('body, html').animate({scrollTop: 0}, 300, 'linear');;
    });
  });
</script>

<title>POD(Plain Old Documentation)の書き方 - Perl入門ゼミ</title>
<meta name="description" content="Perlはソースコードの中にドキュメントを埋め込むことができます。このソース内ドキュメントのことをPODといい独自の記述方法があります。">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@perlzemi" />
<meta name="twitter:title" content="POD(Plain Old Documentation)の書き方 - Perl入門ゼミ" />
<meta name="twitter:description" content="Perlはソースコードの中にドキュメントを埋め込むことができます。このソース内ドキュメントのことをPODといい独自の記述方法があります。" />
<meta name="twitter:image" content="https://tutorial.perlzemi.com/images/perlzemi-twitter-card.png" />


  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<ul class="menu">
  <li>
    <a rel="nofollow" href="/list.html">新着</a>
  </li>
  <li>
    <a rel="nofollow" href="https://twitter.com/perlzemi">Twitter</a>
  </li>
</ul>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- entry-top -->

  </div>
  <div class="middle">
    <ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop="name">構文</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>
<h2><a href="/blog/20170408149166.html">POD(Plain Old Documentation)の書き方</a></h2>
<p>
  Perlはソースコードの中にドキュメントを埋め込むことができます。このソース内ドキュメントのことを<b>POD</b>といい独自の記述方法があります。
</p>
<p>
  Perlにはモジュールを公開できるCPANというサイトがありますが、CPANに公開されるモジュールのドキュメントはすべてPODで書かれています。
</p>
<p>
  感覚的にはPODはHTMLを簡易に記述できて、自動的にHTMLに変換されると考えましょう。
</p>
<h3>文字コード</h3>
<p>
  英数字以外をドキュメントに含める場合は文字コードを設定する必要があります。「UTF-8」で記述する場合はドキュメントの先頭に以下のように書きます。
</p>
<pre>
=encoding utf8
</pre>
<h3>ヘッダ</h3>
<p>
  HTMLのh1からh6に対応します。
</p>
<pre>
=head1 ヘッダ1

=head2 ヘッダ2

=head3 ヘッダ3

=head4 ヘッダ4

=head5 ヘッダ5

=head6 ヘッダ6
</pre>
<p>
  PODを書くときの注意点ですが、必ず次の行には改行を入れる必要があります。たとえば次の記述はうまくいきません。
</p>
<pre>
=head1 ヘッダ1
=head2 ヘッダ2
</pre>
<h3>ソースコード</h3>
<p>
  ソースコードを記述するにはソースコードに対して、先頭に空白を設定します。これはHTMLのpreに該当します。
</p>
<pre>
  use DBIx::Custom;
  my $dbi = DBIx::Custom-&gt;connect(...);
</pre>
<p>
  空白は1でも2でも4でも、自由な幅でかまいません。
</p>
<h3>リスト</h3>
<p>
  リストの記述方法を解説します。
</p>
<h4>順序なしリスト</h4>
<p>
  順序なしリストは次のように記述します。
</p>
<p>
  「=over」の後ろにはリストのインデント幅を指定します。「=item」の後ろに「*」を指定すると順序なしリストになります。「=over」の終わりを示すために最後に「=back」と書く必要があります。
</p>
<pre>
=over 4

=item *

項目1

=item *

項目2

=item *

項目3

=back
</pre>
<h4>順序リスト</h4>
<p>
  順序リストは次のように記述します。順序なしリストとほとんど同じですが、「=item」の後ろに数字を指定すると順序リストになります。
</p>
<pre>
=over 4

=item 1

項目1

=item 2

項目2

=item 3

項目3

=back
</pre>
<h3>書式</h3>
<p>
  PODで書式を設定する方法です。
</p>
<h4>太字</h4>
<p>
  太字を設定するには「B&lt;&gt;」という記述を使います。
</p>
<pre>
B&lt;あいうえお&gt;
</pre>
<h4>斜体</h4>
<p>
  斜体を設定するには「I&lt;&gt;」という記述を使います。
</p>
<pre>
I&lt;あいうえお&gt;
</pre>
<h4>プログラムテキスト</h4>
<p>
  テキストの中の関数名などをそれとわかる形でフォーマットしたい場合は「C<>」が使えます。
</p>
<pre>
C&lt;select&gt;
</pre>
<h3>ハイパーリンク</h3>
<p>
  ハイパーリンクの記法を解説します。
</p>
<h4>他のCPANモジュール</h4>
<p>
  他のCPANモジュールへのリンクを記述するには「L&lt;&gt;」を使って以下のように書きます。Object::Simpleのページへのリンクになります。
</p>
<pre>
L&lt;Object::Simple&gt;
</pre>
<h4>一般のURLへのリンク</h4>
<p>
  一般のURLは「L&lt;テキスト|URL&gt;」のように記述します。
</p>
<pre>
L&lt;サンプルコードPerl入門|http://d.hatena.ne.jp/perlcodesample&gt;
</pre>
<h3>PODの開始と終わり</h3>
<p>
  PODの開始は「=pod」でPODの終わりは「=cut」で終わります。
</p>
<pre>
=pod

ドキュメント

=cut
</pre>
<p>
  一般的には「=head1」などのPODの記述が一つでも出現するとPODが開始されるので「=pod」と書くことはあまりありません。ただしソースコードの中で<a href="/blog/20130712137361.html">複数行コメント</a>を使うときは、この記述方法が利用されます。
</p>
<h3>文字エスケープ</h3>
<p>
  PODで利用される記号を使いたい場合はエスケープする必要があります。エスケープは「」を使って行うことができます。
</p>
<pre>
E&lt;lt&gt; &lt;
E&lt;gt&gt; &gt;
</pre>
<h3>FAQ</h3>
<p>
  PODに関するFAQです。
</p>
<h4>PODでテーブルを記述することはできますか。</h4>
<p>
  PODでテーブルを記述することはできません。
</p>
<h4>PODで画像を利用することはできますか。</h4>
<p>
  PODで画像を利用することはできません。
</p>
<h4>CPANモジュールにおける慣習的な書き方を教えてください</h4>
<p>
  CPANモジュールのドキュメントは一般的に次のような書き方になっています。
</p>
<pre>
=head1 NAME

モジュール名 - モジュールの簡単な解説

=head1 SYNOPSIS

  ソースコードのサンプル
  
=head1 DESCRIPTION

モジュールの解説

=head1 METHODS

=head2 メソッド1

=head2 メソッド2

=head1 AUTHOR

著者名

=head1 COPYRIGHT & LICENSE

著作権表示

=cut
</pre>
<h3>PODの詳細なドキュメント</h3>
<p>
  PODの詳細なドキュメントについては、PerlのPODに関するドキュメントを見てください。
</p>
<ul>
  <li>
    <a href="http://perldoc.jp/docs/perl/5.22.1/perlpod.pod">perlpod - PODのドキュメント</a>
  </li>
</ul>

  </div>
  <div class="bottom">
    <!-- entry-bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">基礎文法最速マスター</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl中級編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20100411127089.html">例外処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20080108132865.html">コマンドライン引数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100302126967.html">デバッガ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161126148016.html">ファイル・ディレクトリ操作</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091120124667.html">現代的な記述方法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20130305136248.html">オブジェクト指向</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110128130016.html">スコープ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091105124627.html">日付と時刻</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161026147748.html">数値計算</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Web開発
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20140319139520.html">Mojolicious入門</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl発展編
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20080229120427.html">Perl発展編</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    サイト情報
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20170917151092.html">サイト情報</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの書籍
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-fe.ssl-images-amazon.com/images/I/51d4T7m8NzL._SL160_.jpg"></a><br>
        <span style="color:green">ログ解析など日本語を含むテキスト処理の実践ならこれ!</span>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20180724153238.html"><img src="https://pbs.twimg.com/media/Di0q6UgUwAAXV7F.jpg" style="width:80%;max-width:130px;"></a><br>
        <span style="color:green">雅ちゃんが大学生クロウにPerlを学ぶ物語</span>
      </li>
    </ul>
  </div>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
Copy right 2008-2019 Yuki Kimoto. ALL RIGHTS RESERVED.

      </div>
    </div>
  </body>
</html>
