<h2 class="title">ログから特定の時刻を含むレコードを切り出す</h2>

特定の時刻を含むレコードを切り出すサンプルです。

<pre>
use strict;
use warnings;

print "(1)特定範囲の時刻を含むレコードを切り出す。\n";
my @records = (
  '1  7:00:00 aaa',
  '2  8:00:00 iii',
  '3  9:00:00 uuu',
  '4 10:00:00 eee',
  '5 11:00:00 ooo',
);

my $start_time = '08:00:00';

# この時刻は含まないこととする
my $end_time = '11:00:00'; 

for my $record (@records) {
  
  # 時刻を切り出す
  if ($record =~ / (\d{1,2}):(\d{2}):(\d{2}) /) {
    # 書式をあわせることで文字列として比較ができる。
    # '7:00:00' -> '07:00:00'
    my $time = sprintf("%02s:%02s:%02s", $1, $2, $3);
    
    # 開始時刻から終了時刻までに含まれるレコードを切り出す。
    if ($time ge $start_time && $time lt $end_time) {
      print $record . "\n";
    }
  }
}
</pre>
実行結果

<pre>
(1)特定範囲の時刻を含むレコードを切り出す。
2  8:00:00 iii
3  9:00:00 uuu
4 10:00:00 eee
</pre>

<h3>解説</h3>

<h4>時刻のフォーマットを整える</h4>
sprintf関数を使用して時刻のフォーマットを整えます。同じ長さの文字列長に整えることによって文字列での比較が可能になります。

<pre>
if ($record =~ / (\d{1,2}):(\d{2}):(\d{2}) /) {
  my $time = sprintf("%02s:%02s:%02s", $1, $2, $3);
  
  if ($time ge $start_time && $time lt $end_time) {
    print $record . "\n";
  }
}
</pre>

<h4>開始時刻から終了時刻までに含まれるレコードを切り出す</h4>

ge、lt は文字列での辞書順でどちらが先かを比較する演算子です。 geはgreater than or equel( 以上 ) の略でlt は lower than( より小さい )の略です。

<pre>
if ($time ge $start_time && $time lt $end_time) {
  print $record . "\n";
}
</pre>

<hr>
<a href="/blog/20080229122347.html">Perl逆引き辞典/日付と時刻へ</a>

