<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop="name">演算子</span></a>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">ビット演算</span>
  </li>
</ol>
<h2 class="title">ビット演算子　- ビット単位で演算を行う</h2>



<strong>ビット演算</strong>とは、ビット単位の論理和、論理積を求める演算のことです。ビット演算を使用する機会は少ないですが、<a href="/blog/20080804121794.html">sysopen</a>などC言語のライブラリを直接利用した関数を使う場合に、ビット演算を行うことがあります。またビット単位の低レベルなデータ操作を行いたい場合に使うことがあります。

ビット演算には、論理積、論理和、排他的論理和、否定があります。

<table>
  <tr>
    <td>
      演算子
    </td>
    <td>
      意味
    </td>
    <td>
      ビット演算の例
    </td>
    <td>
      ビット演算の結果
    </td>
  </tr>
ビット演算の解釈|
  <tr>
    <td>
      &
    </td>
    <td>
      論理積
    </td>
    <td>
      1100 & 1010
    </td>
    <td>
      1000
    </td>
  </tr>
両方が1なら1、そうでなければ0|
  <tr>
    <td>
      &#x7c;
    </td>
    <td>
      論理和
    </td>
    <td>
      1100 &#x7c; 1010
    </td>
    <td>
      1110
    </td>
  </tr>
どちらかが1ならば1,そうでなければ0|
  <tr>
    <td>
      ^
    </td>
    <td>
      排他的論理和
    </td>
    <td>
      1100 ^ 1010
    </td>
    <td>
      0110
    </td>
  </tr>
どちらか一方だけが1ならば1,そうでなければ0|
  <tr>
    <td>
      ~
    </td>
    <td>
      否定
    </td>
    <td>
      ^1100
    </td>
    <td>
      0011
    </td>
  </tr>
ビットを反転させる|
</table>

<h3>2進数、16進数、10進数の対応</h3>

<table>
  <tr>
    <td>
      2進数
    </td>
    <td>
      10進数
    </td>
  </tr>

  <tr>
    <td>
      0001
    </td>
    <td>
      01
    </td>
  </tr>

  <tr>
    <td>
      0010
    </td>
    <td>
      02
    </td>
  </tr>

  <tr>
    <td>
      0011
    </td>
    <td>
      03
    </td>
  </tr>

  <tr>
    <td>
      0100
    </td>
    <td>
      04
    </td>
  </tr>

  <tr>
    <td>
      0101
    </td>
    <td>
      05
    </td>
  </tr>

  <tr>
    <td>
      0110
    </td>
    <td>
      06
    </td>
  </tr>

  <tr>
    <td>
      0111
    </td>
    <td>
      07
    </td>
  </tr>

  <tr>
    <td>
      1000
    </td>
    <td>
      08
    </td>
  </tr>

  <tr>
    <td>
      1001
    </td>
    <td>
      09
    </td>
  </tr>

  <tr>
    <td>
      1010
    </td>
    <td>
      10
    </td>
  </tr>

  <tr>
    <td>
      1011
    </td>
    <td>
      11
    </td>
  </tr>

  <tr>
    <td>
      1100
    </td>
    <td>
      12
    </td>
  </tr>

  <tr>
    <td>
      1101
    </td>
    <td>
      13
    </td>
  </tr>

  <tr>
    <td>
      1110
    </td>
    <td>
      14
    </td>
  </tr>

  <tr>
    <td>
      1111
    </td>
    <td>
      15
    </td>
  </tr>

</table>

<h3>2進数の繰り上がりと10進数</h3>

<table>
  <tr>
    <td>
      ２進数
    </td>
  </tr>
|10進数|
  <tr>
    <td>
      00000001
    </td>
    <td>
      1
    </td>
  </tr>

  <tr>
    <td>
      00000010
    </td>
    <td>
      2
    </td>
  </tr>

  <tr>
    <td>
      00000100
    </td>
    <td>
      4
    </td>
  </tr>

  <tr>
    <td>
      00001000
    </td>
    <td>
      8
    </td>
  </tr>

  <tr>
    <td>
      00010000
    </td>
    <td>
      16
    </td>
  </tr>

  <tr>
    <td>
      00100000
    </td>
    <td>
      32
    </td>
  </tr>

  <tr>
    <td>
      01000000
    </td>
    <td>
      64
    </td>
  </tr>

  <tr>
    <td>
      10000000
    </td>
    <td>
      128
    </td>
  </tr>

</table>

10進数で2倍になることと、2進数で位がひとつ上がることが対応しています。

<h3>ビットシフト演算子</h3>

ビットシフトとは、ビットの並らびを左右にずらすことです。ビットシフトには右ビットシフトと左ビットシフトがあります。数学の視点で見ると、左ビットシフトは2倍、右ビットシフトは 2で割った商と同じです。

<table>
  <tr>
    <td>
      演算子
    </td>
    <td>
      意味
    </td>
  </tr>

  <tr>
    <td>
      >>
    </td>
    <td>
      右ビットシフト
    </td>
  </tr>

  <tr>
    <td>
      <<
    </td>
    <td>
      左ビットシフト
    </td>
  </tr>

</table>

<h4>ビットシフト演算子</h4>

<pre>
# 左ビットシフト
$num << 1;
$num << 2;
$num << 3;

# 右ビットシフト
$num >> 1;
$num >> 2;
$num >> 3;
</pre>

<< と >> が、ビットシフト演算子です。指定した数値だけ、シフト演算が行われます。

上記の2進数は10進数ではいくつになるでしょうか。位とビットの値から以下のように計算できます。

<table>
  <tr>
    <td>
      位
    </td>
    <td>
      7
    </td>
    <td>
      6
    </td>
    <td>
      5
    </td>
  </tr>
4|3|2|1|0|
  <tr>
    <td>
      ビット
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
    <td>
      1
    </td>
  </tr>
0|0|1|0|0|
</table>

<pre>
2の7乗×0 +
2の6乗×0 +
2の5乗×1 +
2の4乗×0 +
2の3乗×0 +
2の2乗×1 +
2の1乗×0 +
2の0乗×0
</pre>

すなわち

<pre>
128 × 0 +
 64 × 0 +
 32 × 1 +
 16 × 0 +
  8 × 0 +
  4 × 1 +
  2 × 0 +
  1 × 0 +
= 32 + 4 = 36
</pre>

<h3>左ビットシフトの意味</h3>

左ビットシフトは、値を2倍にすることに等しいです。

<table>
  <tr>
    <td>
      位
    </td>
    <td>
      7
    </td>
    <td>
      6
    </td>
    <td>
      5
    </td>
  </tr>
4|3|2|1|0|
  <tr>
    <td>
      ビット
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
    <td>
      1
    </td>
  </tr>
0|0|1|0|0|
</table>
左ビットシフトさせると
<table>
  <tr>
    <td>
      位
    </td>
    <td>
      7
    </td>
    <td>
      6
    </td>
    <td>
      5
    </td>
  </tr>
4|3|2|1|0|
  <tr>
    <td>
      ビット
    </td>
    <td>
      0
    </td>
    <td>
      1
    </td>
    <td>
      0
    </td>
  </tr>
0|1|0|0|0|
</table>
計算すると

<pre>
128 × 0 +
 64 × 1 +
 32 × 0 +
 16 × 0 +
  8 × 1 +
  4 × 0 +
  2 × 0 +
  1 × 0 +
= 64 + 8 = 72
</pre>

で確かに2倍になります。

反対に右ビットシフトを行うと、2で割った商と同じです。

<h3>コンピュータにおけるビットの意味を理解する</h3>

ビットの意味自体がわからないという方は、こちらをご覧ください。

ビットとは、コンピュータが扱うデータの最小単位です。ビットの状態には、「立っている」か「立っていない」かの２通りしかありません。２進数で表現すると、「1」か「0」かということです。1と0並びはビット列と呼ばれます。
コンピュータの装置には、メモリと呼ばれるものがありますが、メモリとは巨大なビット列を保存する装置です。

<h4>電球のたとえ</h4>

メモリをイメージするのは最初は難しいと思いますが、電球が一直線にたくさん並んでいるものと思えばイメージしやすいと思います。たくさんの電球の並びがあって「ついている電球」と「ついていない電球」があります。

<pre>
○×○×○○○×
</pre>

上記のように、電球が８個あるとします。ひとつの電球で「ついている状態」と「ついていない状態」を表現できます。つまり、ひとつの電球で２通りの表現ができます。８つあれば、2の8乗で、256通りの表現ができます。

<h4>電球を用いた情報伝達</h4>

電球を使って情報を伝達してみます。ＡさんとＢさんがいて、電球のつきかたについて次のような取り決めを行ったとしましょう。

<pre>
○○○○×××× → 助けてくれ。
×○○○○××× → 無事についた。
</pre>

こうすれば、ＡさんとＢさんは、夜の何も見えない場所、遠くて音が聞こえない場所でも、電球を使って情報をやり取りすることができます。「○○○○××××」のような単独では無意味な記号に、人間が意味を与えることで情報をやり取りできます。

<h4>電球の並びに２進数という数学的な意味を与える</h4>

電球のならびに、2進数という数学的な意味を与えます。
<pre>
×××××××× → 00000000
×××××××○ → 00000001
○××××○×○ → 10000101
</pre>

こうすることで、単なる電球の並びが、数学的な意味を持つようになります。これがビット列と呼ばれ、コンピュータの計算の基礎になります。

<h3>サンプルコード</h3>

以下は、ビット演算のサンプルと、ビットでフラグを表現するサンプルです。

<pre>
use strict;
use warnings;

# 0b を数字の前につけると2進数で表現できます。
# %04b という書式指定で４桁左0埋めの
# 2進数表現を出力できます。
print "1: 2進数1100と1010の論理積\n";
printf("%04b", 0b1100 & 0b1010); 

print "\n";

print "2: 2進数1100と1010の論理和\n"; 
printf("%04b", 0b1100 | 0b1010);
print "\n";

print "3: 2進数1100と1010の排他的論理和\n";
printf("%04b", 0b1100 ^ 0b1010);
print "\n";

# Perlは数値を倍精度の浮動小数点(32ビット)
# で表現するので、32bitすべてのビットが
# 反転する。
print "4: 2進数1100の否定\n";
printf("%04b", ~0b1100); 
print "\n\n";

print "5: ビット演算を用いてすべてのフラグがオンであることを表\現する。\n";
sub FLG1{ 1; } # 1を返すサブルーチン。1は2進数では、 1。
sub FLG2{ 2; } # 2を返すサブルーチン。2は2進数では、10。
sub FLG3{ 4; } # 4を返すサブルーチン。4は進数では、100。

my $all_flg_on = FLG1 | FLG2 | FLG3;
printf("%03b", $all_flg_on);
print "\n\n";

print "6: FLG3がオンであることを確認する。\n";
if ($all_flg_on & FLG3) {
  print "FLG3はオンになっています。\n";
}
</pre>


<pre>
printf("%04b", 0b1100 & 0b1010); 
</pre>

<h4>(1)2進数で数字を表現する</h4>

0bというプレフィックスを使うことで、2進数で数値を表現することができます。

<h4>(2)2進数表現で出力する</h4>

2進数で出力するには、<a href="/blog/20170326149148.html">printf関数</a>を用いて、書式に%bを指定します。%とbの間にある04というのは、4桁表示で、満たない部分を0で埋めるということを意味するオプションです。

<h4>(3)ビット演算でフラグを表現する</h4>

<pre>
sub FLG1{ 1; } # 1を返すサブルーチン。1は2進数では、 1。
sub FLG2{ 2; } # 2を返すサブルーチン。2は2進数では、10。
sub FLG3{ 4; } # 4を返すサブルーチン。4は進数では、100。

my $all_flg_on = FLG1 | FLG2 | FLG3;
printf("%03b", $all_flg_on);
print "\n\n";

print "6: FLG3がオンであることを確認する。\n";
if ($all_flg_on & FLG3) {
  print "FLG3はオンになっています。\n";
}
</pre>

<h4>(3)-1 サブルーチンで定数を表現する</h4>

<pre>
sub FLG1{ 1 };
</pre>

こう書くと、<a href="/blog/20101130129876.html">サブルーチン</a>が呼び出されたときに1が返却され、定数のように扱うことができます。呼び出すときは、FLG1() と書かなくても、FGG1で呼び出すことができます。

<h4>(3)-2 ビットが重ならないようにフラグの値を2の倍数にする</h4>

<pre>
sub FLG1{ 1; } # 1を返すサブルーチン。1は2進数では、 1。
sub FLG2{ 2; } # 2を返すサブルーチン。2は2進数では、10。
sub FLG3{ 4; } # 4を返すサブルーチン。4は進数では、100。
</pre>

2の倍数を用いることで、ビットが重ならないようにします。フラグとして用いるためには、各ビットが別々に判断できる必要があります。

<h4>(3)-3 すべてのフラグがオンになっているという表現</h4>

<pre>
my $all_flg_on = FLG1 | FLG2 | FLG3;
</pre>

オンにしたいビットを論理和で結び付けます。

<h4>(3)-4 フラグがオンであることを確認する</h4>

<pre>
if ($all_flg_on & FLG3) {
  # ...
}
</pre>
オンであるかを確認したいフラグとの論理積を取ることで、フラグがオンになっているかを確認できます。

<h4>(3)-5 基本的にビット演算は避ける</h4>

基本的にビット演算を使うようなプログラムは書きません。ビット演算の必要が生じるのはＣ言語のライブラリを直接ラップしたPerlの関数を呼び出すときくらいです。

ビット演算の意義を書くと、メモリの節約と処理の高速化です。1ビットで判定できるので、少ないビットで多くの情報を表現できます。また、1条件につき1ビット判定するだけなので処理は高速になります。

以下は、ビットシフト演算のサンプルです。

<pre>
use strict;
use warnings;

my $num = 8;
print "\$num = $num\n\n";

print "1: 左ビットシフト\n";
# 2倍と同じ
print "1ビット左シフト: " . $num << 1 . "\n";
# 2の2乗倍と同じ
print "2ビット左シフト: " . $num << 2 . "\n";
# 2の3乗倍と同じ
print "3ビット左シフト: " . $num << 3 . "\n";
print "\n";

print "2: 右ビットシフト\n";
# 2で割った商と同じ
print "1ビット右シフト: " . $num >> 1 . "\n";
# 2の2乗で割った商と同じ
print "2ビット右シフト: " . $num >> 2 . "\n";
# 2の3乗で割った商と同じ
print "3ビット右シフト: " . $num >> 3 . "\n";
print "\n";
</pre>

<h4>2進数から10進数への変換</h4>

<pre>
00100100
</pre>
