<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20100827127859.html">
      <span itemprop="name">正規表現</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>
<h2 class="title">ワード文字の区切りを表現する - \b</h2>


ワード文字の区切りは<strong>\b</strong>という正規表現文字をを使います。

<pre>
\b
</pre>

\bは区切り文字を表現します。区切り文字とは、ワード文字と空白文字の境界です。"ab cd" であれば、/\bcd/ で、 ' 'とcの間の0文字を表現できます。

ワード文字とは、英数字とアンダーバーのことです。空白文字とは、\s で表される文字のことで、スペース、タブ、改行です。

<h3>サンプル</h3>

ワード文字の区切りを使ったサンプルです。

<pre>
use strict;
use warnings;

# ワード文字の区切りを表現する。 \b
# ( ワード文字とは、英数字とアンダーバーからなる文字のこと )

my $word_space = "ab cd ef";
my $word = "abcd ef";

print "1: ワード文字列の区切りを表\現する\n";
if ($word_space =~ /ab\b/ && $word !~ /ab\b/) {
  print "/ab\\b/ は、 'ab cd ef' にマッチしますが、" .
    "'abcd ef'にはマッチしません。\n\n";
}

if ($word_space =~ /\bcd\b/ && $word !~ /\bab\b/) {
  print "/\\bcd\\b/ は、 'ab cd ef' にマッチしますが、" .
    " 'abcd ef'にはマッチしません。\n";
}
</pre>
