<h2 class="title">if文 - 条件分岐</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop="name">構文・文法</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <span itemprop="name">here</span>
  </li>
</ol>

条件分岐を行うには<strong>if</strong>を使用します。

<pre>
if (条件) {
  ...
}
</pre>

if文を使った条件分岐については以下で詳しく解説していますので、こちらをご覧ください。

<ul>
  <li>
    <a href="/blog/20161023147731.html">if文による条件分岐</a>
  </li>
</ul>

