<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">標準関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>
<h2 class="title">sysopen関数 - オープンモードを詳細に指定</h2>


<strong>sysopen</strong>関数を使用すればオープンモードを詳細に指定することができます。<a href="/blog/20080718121643.html">open関数</a>のオープンモード以上のことを行いたい場合に利用できます。

<pre>
sysopen(my $fh, $file, O_WRONLY | O_EXCL | O_CREAT) 
</pre>

Perlのsysopenは、C言語のfopenと同等の関数です。第1引数にファイルハンドル、第２引数にファイル名、第３引数に、オープンフラグを指定します。必要であれば第４引数にパーミッションを8進数で指定でき、デフォルトのパーミッションは 0666です。

オープンフラグは、<a href="/blog/20080806121804.html">ビット演算子</a> | で結ぶことで複数指定できます。オープンフラグの組み合わせでオープンモードを指定します。

たとえば、ファイルが存在していなければ作成して書き込みモードでオープンということをしたいとしましょう。

open関数では、書き込みモードでオープンしたいが、ファイルが存在していれば上書きしないという動作を実現することができません。O_WRONLY | O_EXCL | O_CREAT をオープンモードに指定すれば、これを実現できます。

O_WRONLY は書き込みモードという意味で、O_CREAT はファイルが存在しない場合に新規作成するという意味です。O_EXCLはファイルが存在するとエラーという意味です。O_EXCLが、O_CREATよりも優先されて、ファイルが存在する場合はエラーになります。存在しない場合は作成されます。

オープンフラグを表すシンボルを使うためにはあらかじめインポートしておく必要があります。

<pre>
use Fcntl;
</pre>

<a href="/blog/20180310152509.html">Fcntl</a>モジュールを使用すると、O_WRONLY などのシンボルが使用できます。sysopen関数を使うときは、セットで使用すると覚えておきましょう。

<h4>オープンモードの種類</h4>

<table>
  <tr>
    <td>
      O_RDONLY	
    </td>
    <td>
      読み込み
    </td>
  </tr>

  <tr>
    <td>
      O_WRONLY	
    </td>
    <td>
      書き込み
    </td>
  </tr>

  <tr>
    <td>
      O_RDWR
    </td>
    <td>
      読み書き両用
    </td>
  </tr>

  <tr>
    <td>
      O_CREAT	
    </td>
    <td>
      ファイルが存在しなければ作成する。
    </td>
  </tr>

  <tr>
    <td>
      O_EXCL
    </td>
    <td>
      ファイルが存在すればopenを失敗させる
    </td>
  </tr>

  <tr>
    <td>
      O_APPEND	
    </td>
    <td>
      追加書き込み
    </td>
  </tr>

  <tr>
    <td>
      O_TRUNC	
    </td>
    <td>
      ファイルを0バイトに切り詰める
    </td>
  </tr>

</table>

Perlのopen関数は、"<", ">",">>" などわかりやすい記号を使ってオープンモードを指定することができます反面、C言語のopen関数のようにオープンモードの詳細な指定をすることができません。

sysopen関数を使えば、オープンモードを細かく指定することができます。( パーミッションも指定することができますが、ファイルのアクセス権について書くときに触れたいと思います。)

<h3>サンプル</h3>

オープンモードを詳細に指定するサンプルです。

<pre>
use strict;
use warnings;

# オープンモードをシンボルで指定するためのモジュール
use Fcntl;

my $file = shift; # ファイル名を指定。

# ファイルが存在していなければ作成して書き込みモードでオープン
sysopen(my $fh, $file, O_WRONLY | O_EXCL | O_CREAT) 
  or die "Couldn't open $file : $!";
close( $fh );
</pre>
