<h2 class="title">文字列が整数を表現しているかを判定する</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161026147748.html">
      <span itemprop="name">数値</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<a href="/blog/20161003147558.html">文字列</a>が整数を表現しているかを判定するには、<a href="/blog/20100827127859.html">正規表現</a>を利用します。正規表現で最初から終わりまで数字でできているかどうかを判定します。

<pre>
/^[0-9]+$/
</pre>

整数であるかどうかを判定するには上記の正規表現に、先頭に+か-が指定されてもかまわないということを付け加えるだけです。

<pre>
/^[+-]?[0-9]+$/
</pre>

<h3>サンプル</h3>

変数が数値かどうかを判定するサンプルです。

<pre>
use strict;
use warnings;

print "1: 文字列が正しい数値を表現しているかを判定する\n";

my $num1 = "345";
# 文字列が数字のみであるかどうかの判定
# 「先頭から数字がひとつ以上続いて末尾にいたる」と読む
if ($num1 =~ /^[0-9]+$/) {
  print "$num1は数字のみの文字列です。\n";
}

# 整数であるかどうかの判定
my $num2 = "-123";

# 「先頭に+か-があってもなくても良くて、その後に
# 数字がひとつ以上続いて末尾にいたる」と読む
if ($num2 =~ /^[+-]?[0-9]+$/) { 
  print "$num2は整数です。\n";
}
</pre>
