<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">標準関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2>length関数 - 文字列の長さを取得</h2>

<strong>length関数</strong>を使用すると<a href="/blog/20161003147558.html">文字列</a>の長さを取得するすることができます。

<pre>
$ret = length $str;
</pre>

たとえば「abcde」という文字列の長さは5になります。

<pre>
# 文字列の長さは5
my $length = length 'abcde';
</pre>

<h4>日本語の文字列の長さを正しく取得する</h4>

length関数は文字列の長さを返却しますが、日本語の文字列の長さを正しく取得するためには、覚えておかなければならないことがひとつあります。

それは、内部文字列に対して、length関数を使う必要があるということです。内部文字列というのはEncodeモジュールのdecode関数でデコードされた文字列のことです。

内部文字列については、以下の記事を参考にしてください。

<ul>
  <li>
    <a href="/blog/20091118124667.html">Encodeモジュール - 日本語などのマルチバイト文字列を適切に処理する</a>
  </li>
</ul>

以下にサンプルプログラムを載せておきます。

日本語のようなマルチバイトで表現される文字の場合は、Encodeモジュールのdecode関数で内部文字列に変換してから、length関数を使用すると、正しい結果が得られます。全角日本語を処理する場合も同じ考え方です。

<pre>
use strict;
use warnings;

use Encode 'decode';

# 引数からUTF-8でエンコードされている文字列を取得
my $bytes = shift;

# 文字列の長さを取得
my $string = decode('UTF-8', $bytes);
my $length = length $string;
</pre>

<h4>lengthでは配列の長さは取得できない</h4>

Perlのlength関数は文字列の長さを取得する関数で<a href="/blog/20161012147627.html">配列</a>の長さを取得する関数ではないので注意してください。

配列の長さを取得するには、配列をスカラコンテキストで評価する必要があります。たとえば以下のようにします。

<pre>
# 配列の個数
my $count = @nums;
</pre>

スカラコンテキストについての詳しい解説は以下の記事をご覧ください。

<ul>
  <li>
    <a href="/blog/20080608121292.html">Perlのコンテキストについて理解する</a>
  </li>
</ul>

<h4>Perl 5.10未満のlengthは未定義値を渡したときに警告を発生させる</h4>

Perl 5.10未満のlengthは未定義値を渡したときに警告を発生させます。なので、汎用的なモジュールでlengthを書きたい場合は次のように書くと警告が出ないようになります。

<pre>
my $has_length = defined $foo && length $foo;
</pre>

定義されているかどうかを確認してからlength関数に渡すようにする。

反対にPerl 5.12以上であれば、定義されていてかつ長さを持っているということがlength関数ひとつでかけるようになったとうことです。

<pre>
my $has_length = length $foo;
</pre>

業務アプリケーションで最新のPerlを使っている場合は、上記のように書くと簡潔です。

<h3>サンプルプログラム</h3>

length関数を使って、文字列の長さを取得するサンプルです。

<pre>
# 文字列の長さを取得
my $message = "I like peace";
my $length = length $message;
</pre>

<h3>実演</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/QPxiBpgfNxM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
