<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">標準関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2 class="title">chr関数 - 数値をASCIIに変換</h2>



<strong>chr関数</strong>を使用すると数値をASCII(アスキー)コードに対応する文字に変換することができます。第１引数にASCIIコードを指定するとそれに対応する文字が戻り値で返ります。これは<a href="/blog/20080929122278.html">ord関数</a>の逆の演算です。

<pre>
my $char = chr $ascii_code;
</pre>

<h3>chr関数のサンプル</h3>

chr関数を使って、数値をASCIIコード対応する文字に変換するサンプルです。

<pre>
use strict;
use warnings;

# ASCII文字コードでは65,66,67はそれぞれ 'A','B','C'に対応する。
my $a_num = 65;
my $b_num = 66;
my $c_num = 67;

print chr($a_num) . "\n";
print chr($b_num) . "\n";
print chr($c_num) . "\n";
</pre>
