<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/"><span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161126148016.html"><span itemprop="name">ファイル操作</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <span itemprop="name">here</span>
  </li>
</ol>
<h2 class="title">ファイルをコピーする</h2>



ファイルをコピーするには<a href="/blog/20100408127089.html">File::Copy</a>モジュールの<strong>copy</strong>関数を使用します。成功すれば真が、失敗すれば偽が返ります。またcopy関数が失敗すれば、$!にエラーの内容が、格納されます。

<pre>
use File::Copy 'copy';
copy $file, $copy_name;
</pre>

ファイルをディレクトリの中にコピーすることもできます。

<pre>
use File::Copy 'copy';
copy $file, $dir;
</pre>

<h3>サンプル</h3>

ファイルをコピーするサンプルです。

<pre>
use strict;
use warnings;
use Fcntl;
use File::Copy 'copy';

# ファイルをコピーする。
my $file = "sample_20080521_$$.txt";
my $dir = "dir_20080521_$$";

# 準備 ファイルとディレクトリの作成
sysopen( my $fh, $file, O_WRONLY | O_CREAT | O_EXCL )
  or die "$file を作成することができません。: $!";
close $fh;
print "準備: '$file'が作成されました。\n";

mkdir $dir
  or die "$dir を作成することができません。 : $!";
print "準備: '$dir'が作成されました。\n\n";

print "1. ファイルをコピーする。\n";
my $copy_name = "$file.copy";
if (copy $file, $copy_name) {
  print "$file は、 $copy_name にコピーされました。\n\n";
}
else {
  warn "$file を $copy_name にコピーできません。$!";
}

print "2. ファイルをディレクトリにコピーする。\n";
if (copy $file, $dir) {
  print "$file は、 $dir にコピーされました。\n\n";
}
else {
  warn "$file を $dir にコピーできません。: $!";
}
</pre>

(参考)<a href="/blog/20080804121794.html">sysopen関数</a>、<a href="/blog/20180310152509.html">Fcntl</a>
