<h2 class="title">ハッシュスライス</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop="name">演算子</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
      <span itemprop="name">here</span>
  </li>
</ol>

<strong>ハッシュスライス</strong>という機能を利用すると<a href="/blog/20161013147635.html">ハッシュ</a>から複数の値を取り出すことができます。

<pre>
my @math_score_slice = @math_scores{'Aiko', 'Kenta'};
</pre>

ハッシュスライスを使うと、キーを複数指定して、値をリストとして取り出すことができる。接頭辞が$や%でなく、@であること、キー指定が、{ }であることに注意してください。

<a href="/blog/20180208151809.html">ハッシュのリファレンス</a>に対して、ハッシュスライスを行うときは次のようにできます。

<pre>
my @math_score_slice = @$math_scores{'Aiko', 'Kenta'};
</pre>

<h4>ハッシュスライスを左辺値として使う</h4>

<pre>
@math_score_of{'Aiko', 'Kenta'} = (20, 40); 
</pre>

ハッシュスライスを左辺値として使うことで、対応するキーに代入することができます。

<h4>配列スライス</h4>

ハッシュスライスとよく似た機能として<a href="/blog/20080216120316.html">配列スライス</a>があります。配列スライスは、<a href="/blog/20161012147627.html">配列</a>の複数の要素を取り出すのに利用することができます。

<pre>
# 配列スライス
my @values = @array[0, 3, 5];
</pre>

<h3>サンプルプログラム</h3>

ハッシュスライスのサンプルプログラムです。

<pre>
use strict;
use warnings;
use Data::Dumper;

# 生徒の数学の点数
my %math_scores = ( 
  Aiko => 89,
  Kenta => 100,
  Taro => 34,
);  

print "元のハッシュ\n";
print Dumper \%math_scores;
print "\n\n";

# 1: ハッシュスライス
print "1: ハッシュスライス(Aiko と Kenta の値を取得する)\n";
my @math_score_slice = @math_scores{'Aiko', 'Kenta'};
print "\@math_score_slice = (", join(', ', @math_score_slice), ")\n\n";

# 2: ハッシュスライスを左辺値として使う( Aiko と Kenta に値を設定する )
print "2: ハッシュスライスを左辺値として使う"
  . "(Aiko と Kenta に値を設定する)\n";
@math_scores{'Aiko', 'Kenta'} = (20, 40); 
print Dumper \%math_scores;
</pre>

参考:<a href="/blog/20081007122338.html">join関数</a>
