<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">標準関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2>reverse関数 - 配列を逆順(文字列を逆順)にする</h2>



<strong>reverse関数</strong>を使用すると、<a href="/blog/20161003147558.html">文字列</a>を逆順あるいは<a href="/blog/20161012147627.html">配列</a>を逆順にすることができます。

<pre>
# 文字列を逆順にする
$str_reverse = reverse $str;

# 配列を逆順にする
@array_reverse = reverse @array;
</pre>

<a href="/blog/20161013147635.html">ハッシュ</a>とキーの値を入れ替えるのに、reverse関数を使用することもできます。

<pre>
%hash_reverse = reverse %hash;
</pre>

<h3>サンプル</h3>

reverse関数を使って、文字列を逆順に並べ替えるサンプルです。

<pre>
# 文字列を逆順に並べ替え
my $string = 'abc';
$string = reverse($string);
</pre>

配列を逆順に並べ替えるサンプルです。

<pre>
# 配列を逆順に並べ替え
my @nums = (1, 2, 3);
@nums = reverse @nums;
</pre>

reverse関数を使ってハッシュのキーと値を入れ替えるサンプルです。

<pre>
use strict;
use warnings;

use Data::Dumper;
my %x_to_y = (
  'x1' => 'y1',
  'x2' => 'y2',
  'x3' => 'y3',
);

print "元のハッシュ\n";
print Data::Dumper->Dump([\%x_to_y], ['*x_to_y']);
print "\n";

# 1: ハッシュのキーと値を入れ替える。
# ハッシュに対して,reverse関数を用いる。
my %y_to_x = reverse %x_to_y;
print "1: ハッシュのキーと値を入れ替える\n";
print Data::Dumper->Dump([\%y_to_x], ['*y_to_x']);
</pre>

実行結果

<pre>
元のハッシュ
%x_to_y = (
            'x3' => 'y3',
            'x2' => 'y2',
            'x1' => 'y1'
          );

1: ハッシュのキーと値を入れ替える
%y_to_x = (
            'y1' => 'x1',
            'y3' => 'x3',
            'y2' => 'x2'
          );
</pre>


