<h2 class="title">角度をラジアンに変換</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161026147748.html">
      <span itemprop="name">数値</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>

<strong>度数法</strong>( 30°,90°など )で表された角度を、<strong>ラジアン</strong>( π/6, π/4 など )に変換するには<a href="/blog/20080918122175.html">Math::Trig</a>モジュールの<strong>deg2rad</strong>関数を使用します。その逆を行うには、<strong>rad2deg</strong>関数を使用します。

<pre>
use Math::Trig 'pi', 'deg2rad';

# 度数法の角度を弧度法の角度に変換する
my $rad = deg2rad(30);

# 弧度法の角度を度数法の角度に変換する
my $deg = rad2deg(pi / 6);
</pre>

三角関数については以下のページで詳しく解説しています。

<ul>
  <li>
    <a href="/blog/20080916122166.html">三角関数を利用する</a>
  </li>
</ul>

<h3>度数法と弧度法</h3>

度数法とは、円を360分割したものを単位として使う角度の表現方法のことです。普段よく見る角度の表現 30°,90°などは度数法で表現した角度です。

一方弧度法とは、半径がr円周がrになる扇型の中心角を単位とした角度の表現方法のことです。度数法の180°は弧度法のπになります。これを覚えておくと、30°は、180°の6分の1なので、π/6 と等しいということを求めることができます。

<pre>
#!/usr/bin/perl
use strict;
use warnings;
use Math::Trig qw/pi deg2rad rad2deg/;

print "(1)角度をラジアンに変換する。\n";
print deg2rad(30) . "\n";

print "(2)ラジアンを角度に変換する。\n";
print rad2deg(pi / 6) . "\n";
</pre>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161026147748.html">
      <span itemprop="name">数値</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>

