<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop="name">オブジェクト指向プログラミング</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<h2>継承</h2>

Perlは、単一継承と多重継承をサポートしています。一般的な継承の解説については「<a href="https://ja.wikipedia.org/wiki/%E7%B6%99%E6%89%BF_(%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0)">継承 - Wikipedia</a>」をご覧ください。

<h3>単一継承</h3>

継承において、親クラスがひとつであることを単一継承と呼びます。

<ul>
  <li>
    <a href="/blog/20220924105911.html">単一継承</a>
  </li>
</ul>

<h3>多重継承</h3>

継承において、親クラスがふたつ以上であることを多重継承と呼びます。

<ul>
  <li>
    <a href="/blog/20220926105812.html">多重継承</a>
  </li>
</ul>
