<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop="name">オブジェクト指向</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
      <span itemprop="name">構文</span></a>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">package</span>
    <meta itemprop="position" content="4" />
  </li>
</ol>

<h2>package - パッケージの宣言</h2>

<code>package</code>文を使うと<a href="https://ja.wikipedia.org/wiki/%E5%90%8D%E5%89%8D%E7%A9%BA%E9%96%93">名前空間</a>を宣言することができます。

<pre>
# Pointパッケージ
package Point;

# Foo::Barパッケージ
package Foo::Bar;
</pre>

<h3>モジュール</h3>

パッケージをモジュールとして利用するには、パッケージ名に対応したファイルを作成します。「::」を「/」に変換して「.pm」を末尾につけます。

<pre>
Point.pm
Foo/Bar.pm
</pre>

モジュールファイルの末尾には「1;」をつける必要があります。

<pre>
# Point.pm
package Point;

1;
</pre>

<pre>
# Foo/Bar.pm
package Foo::Bar;

1;
</pre>

これらのモジュールをPerlプログラムから読み込むサンプルです。「Point.pm」と「Foo/Bar.pm」は「lib」ディレクトリの中に配置してください。

ファイル配置

<pre>
package.pl
lib/Point.pm
lib/Foo/Bar.pm
</pre>

サンプルプログラム

<pre>
# package.pl

use strict;
use warnings;
use FindBin::Bin;

use lib "$FindBin::Bin/lib";

# モジュールの読み込み
use Point;
use Foo::Bar;
</pre>

<h3>packageブロック構文</h3>

Perl v5.10から、packageブロック構文が使えるようになりました。

<pre>
package Point {
  
}
</pre>

<h3>クラスを作成するには</h3>

Perlでは<code>package</cope>は、<a href="/blog/20220923131702.html">クラス</a>を作成するのにも利用します。

<pre>
# Pointクラス
package Point;

# Foo::Barクラス
package Foo::Bar;
</pre>

