<h2 class="title">文字列の先頭にマッチさせる - \A</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20100827127859.html">
      <span itemprop="name">正規表現</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span></a>
    <meta itemprop="position" content="3" />
  </li>
</ol>

正規表現で文字列の先頭を表現するには<strong>\A</strong>を使用します。

<pre>
# 文字列の先頭
\A
</pre>

「^」と異なるのは、mオプションを使用した場合でも意味が変わらないということです。mオプションを使用した場合は「^」は文字列の先頭ではなく、行の先頭を表現するようになります。

<pre>
my $str = "abc\ndef";
if ($str =~ /\Acat/m) {
  # 文字列の先頭にマッチ
}
</pre>
