<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">データベース</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>SQLiteで学ぶデータベースの基礎</h2>



PerlとSQLiteを使用してデータベースとSQLの基礎を解説しています。基礎の基礎から解説しているので無理なく学習していけると思います。データベースの技術は頻繁に利用されるのでぜひとも覚えておきたいものです。

<ol>
  <li>
    <a href="/blog/20091121124667.html">SQLiteで学ぶDBIの基礎</a> - DBIを使用してPerlからデータベースを利用する方法を解説します
  </li>
  <li>
    <a href="/blog/20091203126018.html">WindowsへSQLiteをインストールする</a> - WindowsのコマンドプロンプトからSQLiteを使用する方法について解説します
  </li>
  <li>
    <a href="/blog/20091206126018.html">SQLiteで学ぶSQLの基礎</a> - select文を中心にSQLの基礎を解説します
  </li>
</ol>

