<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop="name">オブジェクト指向プログラミング</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<h2>コンストラクタ</h2>

コンストラクタを作成してみましょう。Perlでは、コンストラクタとは、<a href="/blog/20220923131702.html">クラス</a>を元にしてオブジェクトを生成する<a href="/blog/20220930115720.html">クラスメソッド</a>のことです。コンストラクタ用の特別な構文はなく<code>new</code>という名前でコンストラクタを作成するのが一般的です。

<h3>コンストラクタのひな形</h3>

以下がコンストラクタのひな形になります。

<pre>
package Point;

sub new {
  my $class = shift;
  
  # オブジェクトの生成
  my $self = bless {@_}, $class;
  
  # 初期化処理
  
  return $self;
}
</pre>

<h3>オブジェクトの生成</h3>

コンストラクタを作成するとオブジェクトを生成できるようになります。

<pre>
# オブジェクトの生成
my $point = Point->new;
</pre>

<h3>初期化処理</h3>

コンストラクタでの初期化処理は以下のように書きます。

<pre>
sub new {
  my $class = shift;
  
  # オブジェクトの生成
  my $self = bless {@_}, $class;
 
  $self->{x} //= 0;
  $self->{y} //= 0;

  return $self;
}
</pre>

<a href="/blog/20120702134129.html">//演算子</a>を使って初期化しています。

<h3>コンストラクタの実装</h3>

コンストラクタの実装の解説です。

<pre>
sub new {
  my $class = shift;
  
  # オブジェクトの生成
  my $self = bless {@_}, $class;
  
  # 初期化処理
  
  return $self;
}
</pre>

<h4>コンストラクタはクラスメソッド</h4>

コンストラクタは<a href="/blog/20220930115720.html">クラスメソッド</a>です。<a href="/blog/20100104126425.html">shift関数</a>で<a href="/blog/20180523152759.html">引数 @_</a>の先頭を取り出します。

<pre>
sub new {
  my $class = shift;
  
  # ...
}
</pre>

<code>$class</code>には、今回の例では、<code>Point</code>が代入されます。

<h4>bless関数でオブジェクトを生成</h4>

<a href="/blog/20100203126425.html">bless関数</a>でオブジェクトを生成します。

<pre>
sub new {
  # ...
  
  # オブジェクトの生成
  my $self = bless {@_}, $class;
  
  # ...
}
</pre>


<a href="/blog/20100203126425.html">bless関数</a>は、第一引数で指定されたデータに、第二引数で指定されたクラスを結び付けます。戻り値で、第一引数に指定されたデータを返します。これは、オブジェクトになっています。

第一引数は、<a href="/blog/20100930127859.html">リファレンス</a>である必要があります。<a href="/blog/20180214151861.html">配列のリファレンス</a>や<a href="/blog/20180308152051.html">スカラのリファレンス</a>も利用できますが、標準的な用途では、<a href="/blog/20180208151809.html">ハッシュリファレンス</a>が使われます。

<a href="/blog/20180523152759.html">引数 @_</a>は、そのまま<a href="/blog/20161013147635.html">ハッシュ</a>のキーと値になります。

<h3>Perlにおけるオブジェクトとは?</h3>

Perlにおけるオブジェクトとは、<a href="/blog/20100203126425.html">bless関数</a>によって、クラスに紐づけられたデータです。

<h3>コンストラクタのカスタマイズ</h3>

<h4>ハッシュのリファレンスも受け入れたい</h4>

コンストラクタで、<a href="/blog/20180208151809.html">ハッシュのリファレンス</a>も受け入れたい場合は、コンストラクタを以下のように書きます。

<pre>
package Point;

sub new {
  my $class = shift;
  
  # オブジェクトの生成
  my $self = bless ref $_[0] ? {%{$_[0]} : {@_}, $class;
  
  # 初期化処理
  
  return $self;
}

my $point = Point->new({x => 1, y => 2});
</pre>

第1引数がハッシュリファレンスだった場合は、<a href="/blog/20180301151991.html">デリファレンス</a>します。

<h4>オブジェクトからnewを呼び出したい</h4>

クラス名からではなく、オブジェクトからもnewを呼び出したい場合は、次のように書きます。<a href="/blog/20220920105812.html">ref関数</a>でオブジェクトからクラス名を取得することができます。

<pre>
sub new {
  my $class = shift;
  
  # オブジェクトの生成
  my $self = bless {@_}, ref $class || $class;
  
  # 初期化処理
  
  return $self;
}
</pre>

<h4>データを配列のリファレンスにしたい</h4>

データを<a href="/blog/20180214151861.html">配列のリファレンス</a>にすることもできます。

<pre>
sub new {
  my $class = shift;
  
  # データを配列のリファレンスにする
  my $self = bless [@_], $class;
  
  # 初期化処理
  
  return $self;
}
</pre>

ただし、このクラスは、配列以外のデータを保存できないことに注意してください。
