<h2 class="title">生成したオブジェクトをいじって遊ぶ</h2>
<style>
  .bread {
    padding:0;
    margin:0;
  }
  .bread li {
    display:inline-block;
    list-style-type:none;
    font-size:14px;
  }
  .bread a {
    padding:3px 5px;
    width:100%;
    background:#3cb371;
    color:white;
    border-radius:3px;
    text-decoration:none;
  }
  .bread a:hover {
    background:#4cc381;
  }
</style>
<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop="name">オブジェクト指向</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">オブジェクトの中身</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

作成したオブジェクトをいじって遊んでみましょう。

<h3>1. オブジェクトをいじって遊ぶ</h3>

まずこんな感じで、$book オブジェクトを作成してみます。ここら辺で遊ぶと書いてあるところに、いろいろ記述して遊びます。

<pre>
use strict;
use warnings;

my $book = Book->new;

#
# ここら辺で遊ぶ。
#

package Book;
sub new {
    my $class = shift;
    my $self = {};
    return bless $self, $class;
}
</pre>

<h3>2. オブジェクトはデータだ!</h3>

<b>オブジェクトはデータ</b>だということを確認してみましょう。

<pre>
$book->{title} = 'Good news';
$book->{author} = 'Takeshi';
</pre>

と書くと、普通の<b>ハッシュリファレンスと同じように値の設定ができる</b>ことがわかると思います。

<pre>
print $book->{title};
</pre>

とすると、設定した内容が出力されます。

<h3>3. オブジェクトはクラスに結びつけられている!</h3>

オブジェクトはクラスに結び付けられているということを確認してみましょう。クラスの紐付けを見るには

<pre>
ref
</pre>

関数を使用します。

<pre>
print ref $book;
</pre>

としてみましょう。

<pre>
Book
</pre>

と出力されるのがわかると思います。そうです、<b>ref関数</b>を使用すれば、そのオブジェクトがどのクラスに紐付いているかがわかるのです。

