<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop="name">オブジェクト指向</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">オブジェクト指向プログラミングとは</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>
<h2 class="title">オブジェクト指向プログラミングとは</h2>



オブジェクト指向とはなんぞやという難しいことを記述する前に、オブジェクト指向で書かれたモジュールを使ってみましょう。

<h3>オブジェクト指向で書かれたモジュールの使用方法</h3>

オブジェクト指向で書かれたモジュールを使用するには、まずモジュールを<strong>useを使用して読み込み</strong>ます。CGIモジュールを読み込んでみます。

<pre>
use CGI;
</pre>

オブジェクトを作成するには、<strong>モジュール名->new</strong> のように記述します。作成されたオブジェクトを$cgiに代入しています。

<pre>
my $cgi = CGI->new();
</pre>

<strong>newはオブジェクトを作成するためのメソッド</strong>でコンストラクタと呼ばれます。<strong>メソッドとは、-> から呼び出せる関数</strong>だと最初は考えればよいです。

new以外のメソッドも呼び出してみましょう。

<pre>
my $str = $cgi->h1( 'a' );
</pre>

h1 メソッドは文字列を受け取って

<pre>
<h1>...</h1>
</pre>

という文字列を返却します。

<h3>サンプル</h3>

ここまでの記述をサンプルにまとめておきます。

<pre>
use strict;
use warnings;

use CGI;
my $cgi = CGI->new;
my $str = $cgi->h1('a');

# <h1>a</h1> と出力される
print $str; 
</pre>

<h3>オブジェクト指向の特徴</h3>

オブジェクト指向では、<strong>メソッドは->を使ってモジュール名かオブジェクトから</strong>呼び出されます。

<table>
  <tr>
    <td>
      記述
    </td>
    <td>
      メソッドの呼び出し方法
    </td>
  </tr>

  <tr>
    <td>
      CGI->new()
    </td>
    <td>
       モジュール名からの呼び出し
    </td>
  </tr>

  <tr>
    <td>
      $cgi->h1
    </td>
    <td>
       オブジェクトからの呼び出し
    </td>
  </tr>

</table>

メソッドがモジュール名かオブジェクトから呼び出されるというのがオブジェクト指向のひとつの特徴です。

<h3>Javaでのクラスの使い方</h3>

javaをでの記述もPerlとほぼ同じになることがわかると思います。

<pre>
import java.awt.Button;
import java.lang.Math;

# Buttonクラスからコンストラクタ(new に該当)を呼び出す
Button btn = new Button();

# btnオブジェクトから描画を行うpaintメソッドを呼び出す
btn.paint();

# Math クラスから絶対値を返すabsメソッドを呼び出す
Math.abs(-3);
</pre>

<h3>Perlでのクラスとは</h3>

Perlにはクラスを作る専用の文法はありません。Perlでクラスといった場合には、単にオブジェクト指向で書かれたモジュールのことを指します。

