
<h2 class="title">WindowsへSQLiteをインストールする</h2>

慣れてくるとさまざまな種類のSQLを実行して実験したくなると思います。そのためには対話的にSQLを実行できる環境があったほうが便利です。今回はWindows上でSQLを実行するための環境を作成してみます。

<h3>ライブラリとコマンドラインプログラムのダウンロード</h3>

SQLiteを利用するためにはデータベースを操作するためのライブラリとSQLを実行するためのコマンドラインプログラムが必要になります。このふたつを入手する必要があります。

<h4>SQLiteのホームページ</h4>

以下がSQLiteのホームページになります。

<blockquote>
<a href="http://www.sqlite.org/">SQLiteのサイト</a>
</blockquote>

<h4>SQLiteのダウンロードページ</h4>

ホームページの上段の真ん中あたりに「Download」と書かれたリンクがあります。これがSQLiteのダウンロードのページへのリンクです。

<blockquote>
<a href="http://www.sqlite.org/download.html">SQLite Download Page</a>
</blockquote>

<h4>Windows用のSQLiteのライブラリとコマンドラインプログラムを探す</h4>

くるくるとページをたどってWindowsようのSQLiteのライブラリとコマンドラインプログラムを探します。「For Windows」などと書かれていると思います。「sqlitedll～.zip」というのがSQLiteのライブラリです。「sqlite～.zip」というのがSQLiteのコマンドラインプログラムです。この2つをダウンロードしましょう。

2009年12月07日現在で最新版のものにリンクを張っておきます。

<ul>
  <li>
    <a href="http://www.sqlite.org/sqlitedll-3_6_20.zip">sqlitedll-3_6_20.zip</a>(SQLiteのライブラリ)
  </li>
  <li>
    <a href="http://www.sqlite.org/sqlite-3_6_20.zip">sqlite-3_6_20.zip</a>(SQLiteのコマンドラインプログラム)
  </li>
</ul>

これらをダウンロードしてzipファイルを展開してください。

<h3>ファイルの配置</h3>

ファイルを展開すると「sqlitedll～.zip」の中には

<blockquote>
sqlite3.def
sqlite3.dll
</blockquote>

というファイルが、
「sqlite～.zip」の中には

<blockquote>
sqlite3.exe
</blockquote>

というファイルが入っていると思います。sqlite3.defというのは静的なライブラリを作成するために必要なものですので、今は必要ありません。

<blockquote>
sqlite3.dll
sqlite3.exe
</blockquote>

というファイルを自分の好きなディレクトリに配置してください。今回は

<blockquote>
c:\sqlite
</blockquote>

というディレクトリに配置することにします。

<h3>環境変数Pathの設定</h3>

<h4>環境変数Pathを探す</h4>
次にコマンドプロンプトから「sqlite3.exe」を実行できるように環境変数Pathというものを設定します。このパスの設定の操作は十分注意してください。これから環境変数Pathの値に変更を加えるのですが、間違ってしまうと正しく動かなくなる危険があります。Pathの値はコピーしてどこかに保存しておくようにしてください。

まず「マイコンピュータ」を右クリックしてポップアップメニューにある「プロパティ」をクリックしてください。すると上のほうに「詳細設定」というタブがあるのでそれをクリックします。「詳細設定」タブの下のほうに「環境変数」というボタンがあると思います。これをクリックしてください。

「環境変数」のウインドウが開いたら下部の「システム環境変数」のリストの中からPathという項目を探してください。

<h4>環境変数Pathの設定</h4>

Pathという項目をクリックして、右下にある「編集」というボタンを押しましょう。そうしたらPathの値を編集できますので、まず最初にそれをコピーしてどこかテキストファイルに保存しておきましょう。元に戻すことができるので安心です。

その作業を終えたら、環境変数Pathの先頭に

<blockquote>
c:\sqlite;(元の環境変数Pathの値)
</blockquote>

を追加してください。「c:\sqlite」の後ろにセミコロンがあることに注意してください。設定できたらOKを何回か押してプロパティを閉じましょう。

<h3>SQLiteのコマンドラインプログラムが実行できることの確認</h3>

ではコマンドプロンプトを起動して

<blockquote>
sqlite3
</blockquote>

としてみましょう。環境変数の設定はコマンドプロンプトを再起動したときに反映されますので、すでに立ち上がっている場合はコマンドプロンプトを立ち上げなおしましょう。

下記のようにsqlite3が実行できれば正常にインストールできています。

<blockquote>
SQLite version 3.6.20
Enter ".help" for instructions
Enter SQL statements terminated with a ";"
sqlite>
</blockquote>

終了する場合は

<blockquote>
.quit
</blockquote>

とします。

これで対話的にSQLを実行できる環境が整いました。

