<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop="name">オブジェクト指プログラミング</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">アクセッサ</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<h2>アクセッサを生成する</h2>

アクセッサを生成してみます。アクセッサとは、フィールドを取得・設定するための<a href="/blog/20220929115717.html">メソッド</a>のことです。

<pre>
package Point;

sub new {
  my $class = shift;
  my $self = bless {@_}, $class;
  return $self;
}

# xを取得・設定するアクセッサ
sub x {
  my $self = shift;
  
  if (@_) {
    $self->{x} = $_[0];
    return $self;
  }
  
  return $self->{x};
}
</pre>

アクセッサを使って、<code>x</code>の値を取得・設定してみましょう。

<pre>
my $point = Point->new;

# xの設定
$point->x(3);

# xの取得
print $point->x . "\n";
</pre>

<h2>アクセッサの実装の解説</h2>

アクセッサの実装を解説します。

<pre>
# xを取得・設定するアクセッサ
sub x {
  my $self = shift;
  
  if (@_) {
    $self->{x} = $_[0];
    return $self;
  }
  
  return $self->{x};
}
</pre>

<a href="/blog/20100104126425.html">shift関数</a>で、インスタンスを受け取ります。

<pre>
  my $self = shift;
</pre>

引数が存在する場合は、フィールドの設定と解釈し、引数の値をフィールドに設定します。戻り値は、インスタンスとしています。

<pre>
  if (@_) {
    $self->{x} = $_[0];
    return $self;
  }
</pre>

引数が存在しない場合は、フィールドの取得と解釈し、フィールドを返却します。

<pre>
  return $self->{x};
</pre>

<h3>アクセッサのカスタマイズ</h3>

アクセッサのカスタマイズのサンプルです。

<h4>読み取り専用アクセッサ</h4>

読み取り専用のアクセッサにしたい場合は以下のように記述します。

<pre>
# xを取得するアクセッサ
sub x {
  my $self = shift;
  
  return $self->{x};
}
</pre>
