<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop="name">演算子</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
      <span itemprop="name">here</span>
  </li>
</ol>
<h2 class="title">q - クォート演算子</h2>



<strong>クォート演算子「q」</strong>でシングルクォートで囲った文字列と同じ意味を表現できます。シングルクォートはエスケープせずに使用することができます。

<pre>
my $message = q(We'll go to Japan);
</pre>

q()の代わりに次の表現なども使用することができます。

<pre>
q()
q{}
q##
q[]
q!!
</pre>

その他に、ダブルクォートを表現できる<a href="/blog/20100305126967.html">ダブルクォート演算子</a>というものもあります。

