<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2>Digest::SHA - SHAによるダイジェスト値を求める</h2>



<strong>Digest::SHA</strong>モジュールを使用すると、各種SHAの値を求めることができます。SHA-1値を求めるには以下の関数を使います。
<pre>
# モジュールの読み込みと関数のインポート
use Digest::SHA 'sha1_hex';
</pre>

<strong>sha1_hex</strong>関数を使用するとSHA-1の値を40桁の16進数の文字列として取得できます。

<pre>
# SHA-1値を求める
my $sha1_sum = sha1_hex 'alkeiop2lkj39';
</pre>

結果は次のような40桁の16進数になります。

<pre>
# SHA-1値(16進数の文字列で取得)
20b07a8050be5dd980b1c17109fbbffaf3194498
</pre>

<h4>Digest::SHAに関するFAQ</h4>

Q. 簡単にいうとSHAとはなんでしょうか。
A. 「ある値」から「元の値を推測することがとても難しい値」を作り出す関数のひとつです。ファイルが破損していないかをチェックしたり(ファイルがわずかでも壊れているとSHA値が異なることでチェックできる)、電子署名に用いられたりします。SHAは同じ機能を持つMD5よりも推測されにくいです。MD5値を求めるのには<a href="/blog/20100501127089.html">Digest::MD5</a>モジュールを使用することができます。

Q. 他の形式でSHA-1値を取得することができますか。
A. はいできます。sha1関数を使えばバイナリ形式で、sha1_base64関数を使えばbase64形式でSHA-1値を取得することができます。

Q. SHA-1以外に、強度の高いSHA-256、SHA-384、SHA-512などが存在しますが、それらを利用することはできますか。

A. はいできます。次の関数があります。
<pre>
# バイナリ形式
sha1
sha224
sha256
sha384
sha512

# 16進数文字列
sha1_hex
sha224_hex
sha256_hex
sha384_hex
sha512_hex

# base64形式
sha1_base64
sha224_base64
sha256_base64
sha384_base64
sha512_base64
</pre>

