<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2 class="title">POSIX - POSIXで定義された関数</h2>



<strong>POSIX</strong>モジュールを使用すれば、POSIXで定義された関数を使用することができます。

<pre>
# POSIXモジュールの使用
use POSIX qw/ceil floor/;
</pre>

<h3>数学関連の関数</h3>

小数点を切り上げるには<strong>ceil</strong>を使用します。

<pre>
# 小数点の切り上げ
$result = ceil $num;
</pre>

小数点を切り下げるには<strong>floor</strong>を使用します。

<pre>
# 少数点の切り下げ
$result = floor $num;
</pre>

<h3>POSIXの関数の一覧を見るには</h3>

PerlにはPOSIXの関数が大量に定義されています。POSIXの関数の一覧を見るには「<a href="http://perldoc.perl.org/POSIX.html">perldocのPOSIXのドキュメント</a>」をご覧ください。

