<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">標準関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>
<h2>map関数 -  配列のすべての要素の変換</h2>


<strong>配列のすべての要素を変換</strong>するには<strong>map関数</strong>を使用します。@arrayの各要素がデフォルト変数$_に渡されてきますので、コードブロック{ }の中で必要な変換を行います。変換文で最後に評価されたものが@mappedに順番に追加されます。

<pre>
# 配列のすべての要素の変換
@mapped = map { 変換文 } @array;
</pre>

<h3>サンプル</h3>

mapを使ってすべての要素を2倍するサンプルです。@numsが(1, 2, 3)の場合は@doubledは(2, 4, 6)になります。
<pre>
# すべての要素を2倍
my @nums = (1, 2, 3);
my @doubled = map { $_ * 2 } @nums;
</pre>

mapを使ってすべての要素の先頭の文字列を削除するサンプルです。@strsが('&nbsp;&nbsp;a', '&nbsp;&nbsp;b', '&nbsp;&nbsp;&nbsp;c')の場合は@trimedは('a', 'b', 'c')になります。

<pre>
# 先頭の空白を除く
my @strs = ('  a', '  b', '   c');
my @trimed = map { $_ =~ s/^\s+//; $_ } @strs;
</pre>

ひとつの要素をふたつの要素に変換することもできます。@keysが('a', 'b', 'c')の場合は@mappedは(a => 1, b => 1, c => 1)になります。

<pre>
# ふたつの要素に変換
my @keys = ('a', 'b', 'c');
my @mapped = map { $_ => 1 } @keys;
</pre>

mapで書くことができるものはforeach文でも書くことができます。mapのほうが簡潔に記述できるのでPerlではよく利用されます。

<pre>
# for
my @nums = (1, 2, 3);
my @doubled;
for my $num (@nums) {
  push @doubled, $num * 2;
}
</pre>

<h3>参考「Perlの配列」</h3>

Perlの「配列」についての解説は以下をご覧ください。

<ul>
  <li>
    <a href="/blog/20161012147627.html">Perlの「配列」を理解しよう</a>
  </li>
</ul>
