<h2 class="title">Net::Ping::External - OSに依存しない形でpingコマンドを実行する</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<strong>Net::Ping::External</strong>モジュールはOSに依存しない形でpingコマンドを実行するためのモジュールです。

<pre>
# モジュールの読み込みと関数のインポート
use Net::Ping::External 'ping';
</pre>

pingコマンドを実行するには<strong>ping</strong>関数を使用します。hostにはホスト名(ドメイン名)のほかIPアドレスを指定することもできます。

<pre>
# pingコマンドを実行
my $alive = ping(host => 'localhost');
</pre>

タイムアウト値(秒)を指定することもできます。

<pre>
# タイムアウト値の指定
my $alive = ping(host => 'localhost', timeout => 3);
</pre>

<h3>Net::Ping::Externalに関するFAQ</h3>

Q. Net::Ping::Externalの<a href="/blog/20100519127696.html">Net::Ping</a>モジュールに対する利点は何ですか。

A. Net::Pingモジュールのnewの引数にicmpを指定すれば、pingコマンドと同じようにICMPを利用してリモートホストの生存確認を行うことができます。けれども、これにはroot権限が必要になります。これが不便に感じる場合はNet::Ping::Externalモジュールを使用するのがよいと思います。

