<h2 class="title">while文 - 繰り返し処理を行う</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop="name">構文</span></a>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">while文</span>
    <meta itemprop="position" content="4" />
  </li>
</ol>

while文を使うと<strong>繰り返し処理</strong>を記述することができます。条件が真の間ブロックの中身を繰り返します。

<pre>
while (条件) {
  ...
}
</pre>

<h3>0～2までの数値を出力</h3>

while文を使用して0～2までの数値を出力するサンプルです。while文の最後で変数「$i」をインクリメントしています。「$i」が3になると、条件が偽となるので、whileから抜けます。

<pre>
# 0～2まで数値を出力
my $i = 0;
while ($i <= 2) {
  print "$i\n";
  $i++;
}
</pre>

while文で繰り返しの処理すべてを記述することができますが。for文で記述できる場合は、<a href="/blog/20080327120662.html">for文</a>を使って書いたほうがきれいに書けます。

<pre>
for (my $i = 0; $i <= 2; $i++) {
  print "$i\n";
}
</pre>

<h3>無限ループを使ったサンプル</h3>

whileのよく使う例としては、無限ループの記述があります。条件に1を記述すると、ループが永遠に繰り返されます。

<pre>
while (1) {
  ...
}
</pre>

ループを脱出するには、<a href="/blog/20170527149589.html">last文</a>を使用します。

以下の例では、<a href="/blog/20161012147627.html">配列</a>の要素を<a href="/blog/20100106126425.html">pop関数</a>でひとつづつ取り除いていって、配列の要素がなくなった場合に、lastを使ってwhileを抜けるようにしています。

<pre>
my @nums = (1, 2, 3);
while (1) {
  if (@nums) {
    pop @nums;
  }
  else {
    last;
  }
}
</pre>

参考: <a href="/blog/20161023147731.html">if文</a>

繰り返し処理については、以下で詳しく解説しています。

<ul>
  <li>
    <a href="/blog/20170521149524.html">for文、while文による繰り返し</a>
  </li>
</ul>

