<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop="name">Perl</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop="name">Mojolicious</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>Mojolicious(PSGI)アプリをStarmanでデプロイする</h2>



StarmanというPerlのプリフォークサーバを使って、Mojoliciousアプリケーションを起動してみます。Starman本番環境でMojoliciousアプリケーションを運用するのに良い選択肢です。

<pre>
cpanm Starman
</pre>

以下はMojolicious::Liteで記述したPSGIアプリ(hello.pl)です。注意点として「app->start」と「__DATA__」の間にはコメント以外は置いてはいけません。

<pre>
use strict;
use warnings;

use Mojolicious::Lite;

get '/' => 'index';

app->start;

__DATA__

@@ index.html.ep
<html><body>Hello!</body></html>
</pre>

starmanを起動します。

<pre>
starman hello.pl
</pre>

これで以下にアクセスするとMojoliciousアプリが起動していることが確認できます。

<pre>
http://localhost:5000/
</pre>

ポートを指定するには「--port」オプションを使用します。

<pre>
starman --port=3000 hello.pl
</pre>

<h3>本番運用</h3>

本番運用する場合はバックグラウンドで実行をして、サーバ起動と同時にアプリケーションを実行したいと思うことでしょう。そのような場合は次のようにします。rootユーザーで実行してください。

<pre>
# サーバーの開始
su - kimoto -c 'starman --port=3000 --daemonize --pid=/home/kimoto/labo/pid /home/kimoto/labo/app1.pl'
</pre>

suの-cコマンドを使うことで、ユーザーを変更して実行しています。通所はhello.plの所有者で実行すればよいでしょう。--daemonizeオプションで、サーバーをデーモン化できます。--pidオプションで、サーバーのプロセスIDを書き込むファイルを指定します。これはサーバーを停止させるときに必要な情報になります。

サーバーを停止させるにはkillコマンドにプロセスIDを渡します。xargと組み合わせると、ファイルに書かれたプロセスIDをkillに渡すことができます。

<pre>
# サーバーの停止
cat /home/kimoto/labo/pid | xargs kill
</pre>

Linuxの起動時にMojoliciousアプリケーションを起動したい場合は以下のファイルにサーバーの起動の記述を追加してください。

<pre>
/etc/rc.d/rc.local
</pre>

