<h2 class="title">Digest::MD5 - MD5を使ったダイジェスト値</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<strong>Digest::MD5</strong>モジュールを使用すると、MD5を使ったダイジェスト値を求めることができます。

<pre>
# モジュールの読み込みと関数のインポート
use Digest::MD5 'md5_hex';
</pre>

<strong>md5_hex</strong>関数を使用するとMD5の値を32桁の16進数の文字列として取得できます。

<pre>
# MD5値を求める
my $md5_sum = md5_hex 'alkeiop2lkj39';
</pre>

結果は次のような32桁の16進数になります。

<pre>
# MD5値(16進数の文字列で取得)
fb4b7c4a986c550fce0a645ab425ea6d
</pre>

<h4>Digest::MD5に関するFAQ</h4>

Q. 簡単にいうとMD5とはなんでしょうか。
A. 「ある値」から「元の値を推測することがとても難しい値」を作り出す関数のひとつです。ファイルが破損していないかをチェックしたり(ファイルがわずかでも壊れているとMD5値が異なることでチェックできる)、電子署名に用いられたりします。

Q. 他の形式でMD5値を取得することができるでしょうか。
A. はいできます。md5関数を使えばバイナリ形式で、md5_base64関数を使えばbase64形式でMD5値を取得することができます。

Q. より安全なハッシュ関数はありますか
A. より安全なダイジェスト値を取得できる<a href="/blog/20100502127089.html">Digest::SHA</a>というモジュールがあります。

