<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

<h2>Perlって何ができるの? - Ruby, Python, PHPとの比較も</h2>

「Perlって何ができるの?」たくさんのプログラミング言語が登場して、どのプログラミング言語を選択すればよいか、悩んでおられる方もおられると思います。Perlでどんなことができるのか、答えるコンテンツを作成しました。

<h3>検索・置換などの正規表現を使ったテキスト処理が得意</h3>

Perlは検索や置換などのテキスト処理が得意なスクリプト言語です。<a href="/blog/20100827127859.html">正規表現</a>が言語に組み込まれており、簡単に検索や置換のプログラムを記述することができます。

<pre>
# すべての「banana」を「orange」に置換
$message =~ s/banana/orange/g;
</pre>

テキスト処理の処理速度は高速です。処理内容によりますが、体感的には、低価格でレンタルできるLinuxサーバーで、10万行のテキストを1秒程度で処理できます。

<ul>
  <li>
    <a href="/blog/20100827127859.html">実践で役立つPerl正規表現</a>
  </li>
</ul>

Perlの正規表現は、そのオリジナリティと有用性で広く知られており、Linuxのgrepコマンドの「-P」オプションとして使うこともできます。

<pre>
# Linuxのgrepコマンドの「-P」オプションでPerlの正規表現が使える
grep -P '(foo|bar)$' file
</pre>

正規表現が、組み込まれているプログラミング言語には、Perlの他に、Rubyがあります。

<h3>型を意識しなくてよいので簡単に書ける</h3>

Perlでは、文字列と数値の型を意識しなくてよいので簡単に書けます。<a href="/blog/20080108132865.html">コマンドライン引数</a>で、<a href="/blog/20161003147558.html">文字列</a>として数値を取得した場合を考えてみます。Perlでは型を意識せず、そのまま計算ができます。

<pre>
# コマンドライン引数
my ($num1, $num2) = @ARGV;

# 型を意識せずに計算
my $total = $num1 + $num2;
</pre>

<h3>コピーアンドペーストが簡単に書ける</h3>

Perlは、コピーアンドペーストが簡単に書けるように工夫されています。コピーアンドペーストがやりやすいと、元のデータを、誤って編集してしまうリスクを減らすことができますし、なにより簡単です。

<h4>文字列リスト演算子</h4>

<a href="/blog/20080222120369.html">文字列リスト演算子</a>を使用すると、空白区切りの文字列を、簡単に<a href="https://perlzemi.com/blog/20161012147627.html">配列</a>にできます。

たとえば、以下のようなテキストを、すぐに配列にしたいとします。

<pre>
cat
dog
mouse
</pre>

文字列リスト演算子を使うと、コピーアンドペーストで、すぐに配列にできます。

<pre>
my @animals = qw(
cat
dog
mouse
); 
</pre>

<h4>データセクション</h4>

データセクションという機能を使うと、コピーアンドペーストで、1行づつ読み込むことができます。

<pre>
たとえば、以下のようなテキストを、1行づつ処理したいとします。

<pre>
Hello World
Perl Book
Web Development
</pre>

データセクションを使うと、コピーアンドペーストで、すぐに1行づつ処理ができます。

<pre>
while (my $line = <DATA>) {
  # 1行づつ処理
}

__DATA__
Hello World
Perl Book
Web Development
</pre>

<h4>囲み文字の変更</h4>

Perlでは、<a href="/blog/20100305126967.html">ダブルクォート演算子</a>や<a href="/blog/20100304126967.html">クォート演算子</a>を使って文字列の囲み文字を変更したり、「m」の表記を使って、正規表現の囲み文字を変更できます。このため元のデータの方を変更せずに、コピーペーストできます。

<pre>
# ダブルクォート演算子
my $name = qq(aaa"bbb);

# クォート演算子
my $name = q(aaa'bbb);

# 正規表現パターンマッチでmを使って囲み文字を変更
if ($name =~ m|http://|) {
  # ...
}

# 正規表現の置換で囲み文字を変更
$name =~ s|http://||;
</pre>

<h4>正規表現の\Qによるエスケープ</h4>

正規表現による「\Q」によるエスケープを使うと、正規表現文字のことを意識せずに、コピーアンドペーストで、単なる文字列としてマッチさせられます。

<pre>
my $re = "abc[]...";

if ($name =~ /\Q$re/) {
  # ...
}
</pre>

<h3>Perlワンライナー</h3>

Perlの「-e」オプションを使うと、Perlのプログラムを、1行のコマンドのように実行できます。これは慣習的にPerlワンライナーと呼ばれます。<a href="https://linux.perlzemi.com/">Linuxサーバー管理</a>・UNIXサーバー管理で威力を発揮します。

<pre>
# .htmlで終わるファイルを検索して、ファイルの中のすべてのfooをbarに置換
find * | grep -P '\.html$' | xargs perl -pi -e 's/foo/bar/g';
</pre>

Perlワンライナーの中では、Perlのすべての機能を使うことができます。また、Linux/UNIXで、Perlは広くインストールされているので、同じ記述で、ポータブルに動かすことができます。

Perlワンライナーについては、以下も参考にしてください。

<ul>
  <li>
    <a href="/blog/20161121147982.html">Perlワンライナー - 「-e」オプションの解説</a>
  </li>
</ul>

ワンライナーが使いやすいプログラミング言語には、Perlの他に、Rubyがあります。

<h3>Perlの関数を使ってできること</h3>

Perlの関数を使ってできることは、以下の記事で解説しています。

<ul>
  <li>
    <a href="/blog/20091025125219.html">よく使用する関数・標準モジュール一覧</a>
  </li>
</ul>

Python・Ruby・PHPの関数でも同じようなことができます。

<h3>Perlのモジュールを使ってできること</h3>

Perlのモジュールを使ってできることを、簡単に紹介します。他のプログラミング言語では、ライブラリと呼ばれているものを、Perlではモジュールと呼びます。Perlには、標準で添付されているモジュールとCPANと呼ばれるサイトから無料でインストールできるモジュールがあります。

Perlのモジュールを使ってできることについては、以下のモジュール徹底解説を参考にしてください。

<ul>
  <li>
    <a href="/blog/20091116124667.html">モジュール徹底解説</a>
  </li>
</ul>

Python・Ruby・PHPのライブラリでも同じようなことができます。

<h3>UNIX/Linuxサーバー管理</h3>

Perlは、歴史的にUNIX/Linuxサーバーとの相性が良いです。Perlワンライナーが自然に使え、UNIX/Linuxで使えるコマンドとの関連性も高いです。ほとんどのUNIX/Linuxサーバーに、Perlがインストールされています。

<ul>
  <li><a href="https://linux.perlclub.net/">Linuxサーバー管理入門</a></li>
  <li><a href="https://ubuntu.perlclub.net/">Ubuntu開発環境構築</a></li> 
  <li><a href="https://git.perlclub.net/">Git入門</a></li>
</ul>

<h3>Webサイト作成</h3>

Perlはテキスト処理が得意なので、テキストフォーマットであるHTMLの出力も得意です。PerlのWebサイト作成では、Gitと組み合わせた場合に、強い力が発揮できると感じます。

Webサイト作成のためにHTML・CSSを学びたい方は、こちら。Giblogというツールを使って、Webサイトを作る方法も解説しています。

<ul>
  <li><a href="https://htmlcss.perlclub.net/">HTML・CSS入門</a></li> 
  <li><a href="https://giblog.perlclub.net">Giblog</a></li>
</ul>

<h3>Webアプリ開発</h3>

Perlは、HTML・メール本文・Ajax通信で動的なHTMLのコンポーネントを出力するのが得意なので、Webアプリ開発が得意分野です。

Webアプリ開発でHTML・メール本文・Ajax通信で動的なHTMLのコンポーネントを出力する分野は、PHPが広く良く知られ、強い分野ですが、Perl・Rubyの得意分野でもあります。

<ul>
  <li><a href="https://webapp.perlzemi.com/">Webアプリ開発入門</a></li>
</ul>

<h3>Perlの強み</h3>

Perlの強みについて、簡単に記述しておきます。

<h4>Linux/UNIXミドルウェアの基盤</h4>

Perlは「<a href="https://git.perlzemi.com/">git</a>」「openssl」「Debian/<a href="https://ubuntu.perlzemi.com/">Ubuntu</a>系Linuxのコマンドラインツール」「mysql、PostgreSQLの周辺ツール」を支えるなどUnix/Linuxでのミドルウェアとして活用されています。

<h4>高いレベルの後方互換性</h4>

Perlは、非常に高いレベルで後方互換性が維持されているので、長い期間にわたって安定性を求められるビジネスの用途に向いています。

<h4>コンパイル作業なしですぐに実行</h4>

プログラムを実行するときにコンパイル作業を行う必要がありません。作ったプログラムはperlコマンドで、すぐに実行できます。

<pre>
# Perlプログラムの実行
perl test.pl
</pre>

何度も書き直す必要のあるプログラムでは、これは大きな利点です。

これは、Python、Ruby、PHPなども含んだ動的型プログラミング言語の特徴です。

<h3>Perlに感じる不安への回答</h3>

PerlについてWeb検索をしていて、Perlに対して不安を持たれた方もおられると思います。記事の表現に、問題があるとは考えますが、一般的に感じる不安を想像して、記述しておきます。

<h4>Perlの保守性・可読性は低いのですか?</h4>

他のWebサイトでは、Perlの保守性・可読性が低く、Pythonの保守性・可読性が高いという内容をお見かけになったこともあるかと思います。

実際には、可読性に関する実証的な研究はされておらず、極めて主観的に、各プログラミング言語のユーザーが、可読性の高さを、主張するような状況にあります。

Perlゼミは、こう記述しておきます。

現代的な記述方法とされている方法でPerlを書いた場合、Perlの可読性は比較的良く、書きやすさと読みやすさのバランスが取れています。

<ul>
  <li>
    <a href="/blog/20091120124667.html">現代的なPerlの記述方法</a>
  </li>
</ul>

プログラミング言語には、可読性に関して、一長一短の部分があります。

たとえば、Perlでは、配列とハッシュの多次元データ構造を表現するためにリファレンスと呼ばれるデータ構造を読み書きできる必要があります。PythonやRubyでは、すべてリファレンスとして扱われるため統一感があります。

<ul>
  <li>
    <a href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
  </li>
</ul>

一方、プログラミングの構造を表現するためPerlのスコープは非常によく実装されています。スコープをうまく使った場合には、Perlの可読性を高めます。

<ul>
  <li>
    <a href="/blog/20110128130016.html">Perlのスコープ</a>
  </li>
</ul>

<h4>Perlでオブジェクト指向はできないのですか?</h4>

Perlでは、2021年現在、オブジェクト指向を実現する機能はあるのですが、さまざまな事情で、簡潔に表現できるクラス構文が導入されていません。

Perlで、クラスを書くには、一般的に、以下のような表記になります。

<pre>
package Point;

# アクセサ
sub x { shift->{x} }
sub y { shift->{y} }

# コンストラクタ
sub new {
  my $class = shift;
  
  my $self = {
    @_;
  };
  
  return bless $self, ref $class || $class;
}

package main;

my $point = Point->new(x => 1, y => 2);
my $x = $point->x;
my $y = $point->y;
</pre>

生々しさを感じるので、簡単に書くことができるように、近い将来に期待したい部分ですね。

Ruby、Python、PHPには、クラス構文が存在します。

<h4>Perlは人気がないのですか?</h4>

一般の方については、よく存じ上げないのですが、良い動機でPerlを好んで使っておられる方を知っています。

<h4>PerlはAI・機械学習の分野で後れをとっていますか?</h4>

実務で必要がある場合は、深層学習については、パブリッククラウドのひとつのAmazon AWSで、PerlのAIライブラリ<a href="https://deeplearning.perlzemi.com/blog/20201118093000.html">AI::MXNet</a>が公式にサポートされています。

<h3>Perlプログラミングをお試し</h3>

Perlで何ができるのかを、ひとつ試してみましょう。データセクションを使った、Perlのサンプルコードを動かしてみましょう。「,」カンマ区切りデータを「|」区切りに変換するPerlプログラムです。

以下のコードをリンク先で、貼り付けて「Save for 30 days & run」のボタンをクリックしてみてください。

<pre>
use strict;
use warnings;

# 「,」カンマ区切りデータを「|」区切りに変換する
while (my $line = <DATA>) {
    chomp $line;
    my @items = split(/,/, $line);
    my $new_line = join('|', @items);
    print "$new_line\n";
}

__DATA__
1,Web Development,2000
2,Perl Tutorial,1500
</pre>

<a href="https://perlbanjo.com/">プログラムを試す</a>

入力は「__DATA__」以下に書かれているデータです。

<pre>
1,Web Development,2000
2,Perl Tutorial,1500
</pre>

Perlを実行すると出力結果は、以下のようになります。

<pre>
1|Web Development|2000
2|Perl Tutorial|1500
</pre>

<h3>結びに</h3>

ここまで長くなりましたが、Perlを学習して、Perlを楽しんで、Perlを使って仕事を楽にしてもらえればサイト運営者として幸いです。
