<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">標準関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2>ucfirst関数 - 文字列の先頭を小文字から大文字に変換する</h2>

<strong>ucfirst</strong>関数を使用すると、文字列の先頭だけを小文字から大文字に変換することができます。

<pre>
# 先頭の文字を大文字に変換
$ret = ucfirst $string;
</pre>

<h3>ucfirst関数のプログラミングのサンプル</h3>

ucfirst関数のプログラミングのサンプルです。

<pre>
use strict;
use warnings;

# "foo"を"Foo"に変換
my $str = ucfirst "foo";

print "$str\n";
</pre>

出力結果

<pre>
Foo
</pre>

<h3>ucfirst関数の関連情報</h3>

ucfirst関数の関連情報です。

<ul>
  <li><a href="/blog/20100326127089.html">lc関数 - 大文字を小文字に変換する</a>
  <li><a href="/blog/20100327127089.html">lcfirst関数 - 文字列の先頭を大文字から小文字に変換する</a>
  <li><a href="/blog/20080903122057.html">uc関数 - 小文字を大文字に変換する</a>
</ul>

<h3>ucfirst関数の動画解説を見る</h3>

<ul>
  <li><a href="https://www.youtube.com/watch?v=805X2lK3IWE">ucfirst関数 - 先頭を大文字にする - Perlプログラミングちゃんねる</a>
</ul>
