<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop="name">演算子</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
      <span itemprop="name">here</span>
  </li>
</ol>
<h2 class="title">演算子の優先順位</h2>



Perlの<strong>演算子の結合の優先順位</strong>は高い順に次のようになっています。

<ul>
  <li>
    リスト演算子(左方向)
  </li>
  <li>
    &#45;>
  </li>
  <li>
    &#43;&#43; --
  </li>
  <li>
    **
  </li>
  <li>
    ! ~ \ 単項の+ 単項の-
  </li>
  <li>
    =~ !~
  </li>
  <li>
    * / % x
  </li>
  <li>
    &#43; - .
  </li>
  <li>
    << >>
  </li>
  <li>
    名前付き単項演算子
  </li>
  <li>
    < > <= >= lt gt le ge
  </li>
  <li>
    == != <=> eq ne cmp
  </li>
  <li>
    &
  </li>
  <li>
    | ^|
  </li>
  <li>
    &&
  </li>
  <li>
    ||
  </li>
  <li>
    .. ...
  </li>
  <li>
    ?:
  </li>
  <li>
    = += -= *= など
  </li>
  <li>
    , =>
  </li>
  <li>
    リスト演算子(右方向)
  </li>
  <li>
    not
  </li>
  <li>
    and
  </li>
  <li>
    or xor
  </li>
</ul>

