<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2 class="title">lc関数 - 大文字を小文字に変換</h2>



<strong>大文字から小文字へ変換</strong>するには<strong>lc関数</strong>を使用します。lc関数は引数のそれぞれの文字を小文字に変換します。変換できない文字の場合は引数に与えた文字がそのまま返されます。

<pre>
my $str = lc "BBB";
</pre>

<h3>サンプル</h3>

大文字から小文字への変換のサンプルです。

<pre>
use strict;
use warnings;

# 大文字から小文字への変換
my $up_to_low = lc "BBB";

# ダブルクォート文字列では\Uと\Eで囲んで小文字にすることもできる
my $up_to_low2 = "\LAB\ECD"; 
print "BBB -> $up_to_low\n";
print "ABCD -> $up_to_low2\n";
</pre>
