<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<h2>cpanm - CPANモジュールをユーザーディレクトリへインストール</h2>

cpanmを使うとユーザーディレクトリに<a href="/blog/20100504127089.html">CPAN</a>モジュールをインストールすることができます。cpanmは、Perlのモジュールインストーラーとして、デフォルトで採用するディストリビューションも増えています。

<pre>
# CPANモジュールのインストール
cpanm モジュール名
</pre>

<h3>cpanmのインストール</h3>

cpanmのインストール方法を解説します。

<h4>Strawberry Perl</h4>

Windowsで利用できるPerlディストリビューションである<a href="/blog/20180808153368.html">Strawberry Perl</a>では、cpanmを標準で利用することができます。

<h4>perlbrew</h4>

<a href="/blog/20110220130464.html">perlbrew</a>でPerlをユーザーディレクトリにインストールした場合は、以下のコマンドでcpanmをインストールできます。

<pre>
perlbrew install-cpanm
</pre>

<h4>plenv</h4>

<a href="/blog/20180816153437.html">plenv</a>でPerlをユーザーディレクトリにインストールした場合は、以下のコマンドでcpanmをインストールできます。

<pre>
plenv install-cpanm
</pre>

<h4>cpanm単体でダウンロード</h4>

cpanmは、単体のコマンドとしてダウンロードすることも可能です。

<pre>
# cpanmのインストール
curl -L -O http://xrl.us/cpanm > cpanm
chmod 755 cpanm
</pre>

単体でダウンロードした場合は、以下のようにして実行します。

<pre>
# CPANモジュールのインストール
./cpanm モジュール名
</pre>

配布するアプリケーションに組み込む場合に便利です。

<h3>モジュールのインストール</h3>

<a href="https://mojolicious.perlzemi.com/">Mojolicious</a>というモジュールをインストールしてみましょう。

<pre>
cpanm Mojolicious
</pre>

<h4>バージョンを指定してインストール</h4>

バージョンを指定してインストールすることができます。

<pre>
cpanm Mojolicious@9.23
</pre>

<h4>指定したディレクトリにインストール</h4>

指定したディレクトリにCPANモジュールをインストールするには<b>-L</b>オプションを使用します。

<pre>
cpanm -L extlib DBIx::Custom
</pre>

カレントディレクトリの<b>extlib</b>というディレクトリに<a href="https://dbix-custom.perlzemi.com/">DBIx::Custom</a>がインストールされます。

<h3>cpanfile - インストールするモジュールの定義</h3>

<strong>cpanfile</strong>を使うと、インストールするモジュールを定義することができます。

<h4>cpanfileの記述</h4>

cpanfileを記述します。cpanfileはモジュールとモジュールのバージョンを指定するためのファイルです。cpanfileという名前のファイルを作成してください。以下のような記述を行います。

<pre>
requires 'DBI', '== 1.619';
requires 'DBD::SQLite', '== 1.36_04';
requires 'DBIx::Custom', '== 0.25';
</pre>

次のフォーマットで記述します。

<pre>
requires モジュール名 バージョン
</pre>

バージョンには次の表記を使うことができます。

<table>
  <tr>
    <td>
      <b>意味</b>
    </td>
    <td>
      <b>書式</b>
    </td>
    <td>
      <b>サンプル</b>
    </td>
  </tr>

  <tr>
    <td>
      指定したバージョン
    </td>
    <td>
      == バージョン
    </td>
    <td>
      == 0.03
    </td>
  </tr>

  <tr>
    <td>
      指定したバージョン以上
    </td>
    <td>
      バージョンのみ あるいは >= バージョン
    </td>
    <td>
      0.03 あるいは >= 0.03
    </td>
  </tr>

  <tr>
    <td>
      指定したバージョン以下
    </td>
    <td>
      <=
    </td>
    <td>
      <= 0.03
    </td>
  </tr>

  <tr>
    <td>
      指定したバージョンより大きい
    </td>
    <td>
      > バージョン
    </td>
    <td>
      > 0.03
    </td>
  </tr>

  <tr>
    <td>
      指定したバージョンより小さい
    </td>
    <td>
      < バージョン
    </td>
    <td>
      < 0.03
    </td>
  </tr>

</table>

<h4>モジュールのインストール</h4>

cpanmの<strong>--installdeps</strong>オプションを使うと、cpanfileの定義を使って、モジュールをインストールしてくれます。

<pre>
# cpanfileの定義を使ってモジュールをインストール
cpanm --installdeps .
</pre>

<strong>-L</strong>オプションを使えば、指定したディレクトリにモジュールをインストールすることもできます。

<pre>
cpanm -L extlib --installdeps .
</pre>

