<h2 class="title">Perl 5.14 リリース</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20160225145640.html">
      <span itemprop="name">バージョン情報</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

Perl5.14がリリースされましたね。個人的に気になった部分。

<h3>Unicode6への対応</h3>

Unicode6に対応しました。絵文字などが利用できます。ただし一部Perlの内部実装とぶつかる部分がある(ベルをあらわす文字)。これは将来的にはUnicode6で扱われる文字に置き換えられるようです。

<h3>IPv6サポートの改善</h3>

IPv6に対応するアプリケーションが書きやすくなりました。

<h3>CPANコマンドの改善</h3>

CPANコマンドの設定がより自動で行われるようになりました。またlocal::libが組み込まれたので、ユーザー環境へのインストールが、CPANコマンドだけでもできるようになりました(たぶん)。

<h3>標準モジュールにHTTPクライアントが追加</h3>

標準モジュールにHTTP::TinyというHTTPクライアントが追加されました。CPANモジュールが外部への依存なしに、HTTPサーバーへアクセスするために追加されました。HTTPクライアントが標準添付になるのは、個人的にはよい決定だと思いました。

<h3>標準モジュールにJSONを解析するモジュールが追加</h3>

標準モジュールにJSON::PPというJSONを解析するためのモジュールが追加されました。CPANモジュールのJSONで書かれたコンフィグファイルを読み込むための用途だそうです。JSONを解析するモジュールが標準添付になるのは、個人的にはよい決定だと思いました。

<h3>その他の文法</h3>

いくつかの文法が新しくなりました。配列のリファレンスをpushに渡せるようになったりと、記述が楽になりました。一般的に広まって標準的に利用できるのは15年後くらいかもしれないので、のんびり待ちます。

<h3>パフォーマンス</h3>

文字列連結の処理で最適化が行われたようです。テンプレートエンジンなんかでは、顕著な効果があるようでパフォーマンスが10%くらい向上したかもしれません。
