
<h2>Mojoliciousをインストールする / Mojoliciousリファレンス</h2>

Mojoliciousは単なるPerlのモジュールですので、他のモジュールのインストールと同じようにとても簡単にインストールすることができます。

<pre>
cpan Mojolicious
</pre>

WindowsでMojoliciousを試したいのであればこれで十分でしょう(<a href="/blog/20110520130853.html">YAMLのエラーがでる場合の対処法</a>。またWebSocketの試験がタイミングによってこける場合がありますが、何回かインストールを行うと成功します。)。LinuxやMac OS Xでユーザー環境にMojoliciousをインストールしたい場合は次の手順を参考にできます。

<ul>
  <li>
    <a href="/blog/20101027127859.html">cpanmによるローカル環境構築(CentOS)</a>
  </li>
</ul>

またMojoliciousは他のモジュールに依存していませんので、FTPでアップロードしてレンタルサーバーなどでも簡単に利用することができます。この手順については次の手順を参考にできます。

<ul>
  <li>
    <a href="/blog/20101221130016.html">Windows上でMojoliciousの開発を始めて、さくらのレンタルサーバーで公開するまでの手順</a>
  </li>
</ul>

<hr>
<a href="/blog/20110402130560.html">Mojoliciousリファレンスへ</a>

