
<h2>selectタグを簡単に記述する / Mojoliciousリファレンス</h2>

<strong>select_field</strong>ヘルパーを利用するとselectタグとoptionタグが簡単に記述できます。

<pre>
<%= select_field country => [qw/ドイツ 日本/] %>
<%= select_field country => [['ドイツ' => 'de'], ['日本' => 'ja']] %>
</pre>

以下のようなHTMLに展開されます。

<pre>
<select name="country">
  <option value="ドイツ">ドイツ</option>
  <option value="日本">日本</option>
</select>

<select name="country">
  <option value="de">ドイツ</option>
  <option value="ja">日本</option>
</select>
</pre>

selectタグの属性も記述可能です。

<pre>
<%= select_field country => [qw/ドイツ 日本/], size => 40 %>
</pre>

特定の項目を選択したい場合は、param関数を使って値を設定することで、任意の項目を設定することができます。(この仕様は少し変な気がするのでかわるかも)

<pre>
<% param(country => 'ドイツ'); %>
<%= select_field country => [qw/ドイツ 日本/], size => 40 %>
</pre>

<hr>
<a href="/blog/20110402130560.html">Mojoliciousリファレンスへ</a>

