<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2 class="title">Errno - システムのエラー番号をあらわす定数</h2>



<strong>Errno</strong>モジュールを使用すれば、システムのエラー番号をあらわす定数をインポートすることができます。

<pre>
use Errno qw/EAGAIN EINTR ECONNRESET EWOULDBLOCK/;
</pre>

インポートできる定数の種類についてはこちらを参考にしてください。

<ul>
  <li>
    <a href="/blog/20110612130982.html">Unix系errno一覧</a>
  </li>
</ul>

システムコールのエラーが代入される特殊変数$!と数値比較することでどのようなエラーが発生したのかを調べることができます。

<pre>
# 何らかのシステムコールの呼び出し
# ...

# エラー番号を比較
if ($! == EAGAIN) {

}
</pre>

$!は特別な変数であり数値比較を行った場合は、エラー番号として評価され、文字列として利用した場合はエラーの内容として評価されることに注意してください。

