<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop="name">Perl</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop="name">Mojolicious</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>アプリケーションを実行する - hypnotoad / Mojolicious</h2>



<strong>hypnotoad</strong>コマンドはMojoliciousに組み込みのプリフォークサーバーであるMojo::Server::Hypnotoadを使って<strong>アプリケーションを実行</strong>するコマンドです。hypnotoadは本番環境でアプリケーションをデプロイするために用意されています。

<h3>アプリケーションの起動</h3>

<pre>
hypnotoad myapp.pl
</pre>

アプリケーションの設定を記述したい場合は「hypnotoad.conf」というファイルを記述します。

<pre>
hypnotoad.conf
</pre>

<h3>アプリケーションの停止</h3>

アプリケーションを停止するには、<strong>stop</strong>オプションを利用します。

<pre>
hypnotoad myapp.pl --stop
</pre>

<h3>ホットデプロイメント</h3>

ホットデプロイメントとは、アプリケーションを停止せずにソフトウェアを置き換えることのできる技術のことです。アプリケーションを実行中に、サイドhypnotoadコマンドを実行するとホットデプロイメントを行うことができます。

<pre>
hypnotoad myapp.pl
</pre>

