<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop="name">Perl</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop="name">Mojolicious</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>スタッシュのデフォルト値の設定 / Mojolicious</h2>



スタッシュのデフォルト値を設定するにはMojoliciousクラスの<strong>defaults</strong>メソッドを使用します。

<pre>
$app->defaults({foo => 'bar'});
</pre>

Mojolicious::LiteとMojoliciousでの使用例です。

<pre>
# Mojolicious::Lite
app->defaults({foo => 'bar'});

# Mojolicious
sub starup {
  my $self = shift;
  $self->defaults({foo => 'bar'});
}
</pre>

