<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop="name">Perl</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop="name">Mojolicious</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>Mojoliciousのテンプレートで関数のインポートには危険が潜む / Mojolicious</h2>



Mojoliciousのテンプレートでは、関数のインポートは避けたほうがよいかもしれません。たとえば以下のような記述。

<pre>
% use File::Basename 'dirname';
</pre>

Mojoliciousのテンプレートは、すべてのテンプレートがMojo::Template::Samdboxというクラスに、コンパイルされます。ですので、あるテンプレートでの関数のインポートの記述を、他のテンプレートでの関数のインポートの記述が上書いてしまうことがあります。

