<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2 class="title">PDL - Perlで統計・解析</h2>



<strong>ビッグデータ</strong>、<strong>データサイエンス</strong>、<strong>統計解析</strong>という分野が、最近ではトレンドになってきている感じがします。Perlの<strong>PDL</strong>というモジュールを使って、統計解析を行う手法を解説します。

<h3>インストール</h3>

PDLをインストールしてみましょう。

<ul>
  <li>
    <a href="/blog/20131101138330.html">PDLのインストール</a>
  </li>
</ul>

<h3>基礎</h3>

PDLの基礎を学びましょう。

<ul>
  <li>
    <a href="/blog/20131022138234.html">PDLの基礎を学ぼう</a>
  </li>
</ul>

<h3>統計</h3>

PDLにおける統計関数を紹介します。

<ul>
  <li>
    <a href="/blog/20131023138240.html">基本的な統計関数</a>
  </li>
</ul>

<h3>多次元データ</h3>

PDLで「多次元データ」を表現してみましょう。

<ul>
  <li>
    <a href="/blog/20131029138301.html">多次元データを表現する</a>
  </li>
</ul>

<h3>グラフ</h3>

PDLで「グラフ」を描画してみましょう。

<ul>
  <li>
    <a href="/blog/20131106138369.html">簡単なグラフの作成</a>
  </li>
</ul>

<h3>行列</h3>

PDLで「行列」を扱う方法を解説します。

<ul>
  <li>
    <a href="/blog/20121109135538.html">PDLにおける「行列」の扱い</a>
  </li>
</ul>

<h3>複素数</h3>

PDLで複素数を利用してみましょう。

<ul>
  <li>
    <a href="/blog/20121123135520.html">複素数を利用する</a>
  </li>
</ul>


