
<h2>SQLiteの情報を見るためのMojoliciousプラグイン Mojolicious::Plugin::SQLiteViewerLite</h2>

<blockquote>
<big><big><b>お知らせ</b></big></big>
Mojolicious::Plugin::SQLiteViewerLiteは<a href="/blog/20130419136633.html">Mojolicious::Plugin::DBViewer</a>に統合されました。
</blockquote>

Mojolicious::Plugin::SQLiteViewerLiteをCPANで公開しました。Mojoliciousのプラグインで、SQLiteのテーブル一覧やテーブルの定義をブラウザで表示させて観覧することができます。phpMyAdminの観覧専用のSQLiteのPerlバージョンだと思ってくれるとわかりやすいかもしれません。機能はずっとシンプルです。
先日公開した便利なMojolicious::Plugin::MySQLViewerLiteのSQLiteバージョンです。同じインターフェースで利用することができます。

<ul>
  <li>
    <big><big><a href="http://search.cpan.org/dist/Mojolicious-Plugin-SQLiteViewerLite/lib/Mojolicious/Plugin/SQLiteViewerLite.pm">Mojolicious::Plugin::SQLiteViewerLite</a></big></big>
  </li>
</ul>

<h3>使い方</h3>

<pre>
# Mojolicious::Lite
plugin 'SQLiteViewerLite', dbh => $dbh;

# Mojolicious
$app->plugin('SQLiteViewerLite', dbh => $dbh);

# Access
http://localhost:3000/SQLiteviewerlite
</pre>

<h3>機能</h3>

Mojolicious::Plugin::SQLiteViewerLiteは次のような機能をもっています。

<ul>
  <li>
    すべてのテーブル名の表示
  </li>
  <li>
    <b>show create table</b>の表示
  </li>
  <li>
    select * from TABLE limit 0, 1000
  </li>
  <li>
    すべてのテーブルのプライマリーキー、Nullが許可された列を表示
  </li>
</ul>

