<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop="name">Mojolicious</span></a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>Mojoliciousのインストール</h2>



最近ではPerlのWebフレームワークとしてMojoliciousを使う人が増えてきています。最初にインストール方法を説明したいと思います。

PerlもMojoliciousもできるだけ広い環境で利用してもらえるように配慮がなされています。Unix/Linux, Mac OS X, Windowsの環境で簡単にインストールして利用することができます。

必要な条件はPerlのバージョンが<b>5.10.1</b>以上であることだけです。(もしPerl5.8.7がインストールされている環境で、Mojoliciousが使いたい場合は<a href="https://github.com/jamadam/mojo-legacy/commits/master">mojo-legacy</a>プロジェクトを利用するとよいでしょう。けれども、Webで公開する場合は、セキュリティリスクを考えて、Perl5.10.1以上がインストールされていることが望ましいでしょう。)

ではOSごとにMojoliciousのインストール方法を解説していきます。

<h3>WindowsへのMojoliciousのインストール</h3>

まずはユーザーが一番多いであろう、WindowsへのMojoliciousのインストールを解説します。WindowsにはPerlがデフォルトでインストールされていないので、ActivePerlをインストールしましょう。インストール方法は以下になります。

<a href="/blog/20080602121231.html">WindowsへActivePerlをインストールする</a>

次にMojoliciousをインストールします。WindowsへのMojoliciousのインストールは、cpanコマンドを利用するだけです。

<pre>
cpan Mojolicious
</pre>

最初にcpanを利用するための設定が始まるので5～10分程度まちます。その後Mojolicious自体のインストールに3～5分程度待ちます。以下のようなメッセージが表示されれば、インストールが完了です。

<pre>
C:\Perl\site\bin\dmake.exe install  -- OK
</pre>

次のスクリプトがMojoliciousの一番簡単なスクリプトです。myapp.plという名前で保存してください。とても簡単ですね。

<pre>
use Mojolicious::Lite;
get '/' => sub { shift->render(text => 'Hello World!') };
app->start;
</pre>

次にこのアプリケーションを起動してみます。アプリケーションを起動するには<a href="/blog/20120406133367.html">morbo</a>コマンドを使います。

<pre>
morbo myapp.pl
</pre>

アプリケーションが起動します。

<pre>
Server available at http://127.0.0.1:3000.
</pre>

そして表示された<b>http://127.0.0.1:3000</b>にブラウザからアクセスしてみましょう。Hello World!と表示されます。

<pre>
Hello World!
</pre>

<h3>Mac OS XへのMojoliciousのインストール</h3>

最近ではMacユーザーも増えています。Mac OS XへMojoliciousをインストールしてみましょう。Mac OS XにはPerlが含まれていますが、PerlのバージョンがPerl5.10.1以下のようですのでPerl自体をインストールするところからはじめましょう。

<b>perlbrew</b>というツールを使って最新版のPerlをインストールしましょう。

<a href="http://d.hatena.ne.jp/perlcodesample/20110220">perlbrewを使ってperlをインストールする</a>

この手順を終えるとCPANのインストールツール<b>cpanm</b>もインストールされますので、cpanmを使ってMojoliciousをインストールします。

<pre>
cpanm Mojolicious
</pre>

Mojoliciousのインストールが簡単です。

次のスクリプトがMojoliciousの一番簡単なスクリプトです。myapp.plという名前で保存してください。とても簡単ですね。

<pre>
use Mojolicious::Lite;
get '/' => sub { shift->render(text => 'Hello World!') };
app->start;
</pre>

次にこのアプリケーションを起動してみます。アプリケーションを起動するには<b>morbo</b>コマンドを使います。

<pre>
morbo myapp.pl
</pre>

アプリケーションが起動します。

<pre>
Server available at http://127.0.0.1:3000.
</pre>

そして表示された<b>http://127.0.0.1:3000</b>にブラウザからアクセスしてみましょう。Hello World!と表示されます。

<h3>Unix/Linux環境へのMojoliciousのインストール</h3>

仕事でサーバーを構築しているなら、Unix/Linuxで構築している方が多いと思います。Debian, Ubuntu, Linux Mint, Fedora, Read Hat Enterprise Linux, CentOS, Scientific LinuxなどのLinux系OS, AIX, HP-UX, Solaris, free BSDなどのUnix系OSにMojoliciousをインストールすることができます。

インストール手順はもしPerl 5.10.1以上のPerlがインストールされていれば、以下のワンライナーを実行するだけでMojoliciousのインストールが完了します。

<pre>
curl get.mojolicio.us | sh
</pre>

もしPerl5.10.1以上のPerlがインストールされていない場合はperlbrewを使って最新版のPerlをインストールしてください。この手順はMac OS Xのものとまったく同じです。(Read Hat Enterprise Linux 5やCent OS5を利用している場合はPerlのバージョンが5.10.1以下です。)

アプリケーションの実行についてもMac OS Xでの手順を参考にしてください。

<h4>補足</h4>

morboを起動するためにはmorboへのPATHが通っている必要があります。CetnOS6では、<a href="/blog/20180309152509.html">Time::Hires</a>がデフォルトでインストールされていないので、yumでTime::Hiresモジュールをインストールしてください。

