<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20160225145640.html">
      <span itemprop="name">バージョン情報</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>
<h2 class="title">Perlの最新バージョン5.16.0がリリースされました</h2>



2012年5月20日に待望のPerlの最新バージョンPerl 5.16.0がリリースされました。

[http://perl5.git.perl.org/perl.git/tag/refs/tags/v5.16.0:image=http://news.mynavi.jp/news/2011/03/02/009/images/001l.jpg]

<blockquote>
<a href="http://perl5.git.perl.org/perl.git/tag/refs/tags/v5.16.0">First release of the v5.16 series!</a>
</blockquote>

1年に1回リリースするという方針が決まってからの3回目のリリースですね。Perlはスクリプト言語の中でも開発が活発なイメージがあります。Perl5のロゴは恐竜です。

新機能や変更点についてピックアップしました。Unicode6.1にほぼ対応、__SUB__の追加、デバッガの機能追加、use VERSIONの挙動の変更、パフォーマンスの改善、多くのバグフィックスがなされています。

これにともないPerl5.12シリーズはサポート対象外になりました。重大なセキュリティフィックスについてのみPerl5.12シリーズでも行われます。

<blockquote>
<a href="http://perldoc.jp/docs/perl/5.16.0/perl5160delta.pod">Perl5.16における変更点</a>
</blockquote>

<h3>新機能</h3>

<h4>__SUB__</h4>
__FILE__や__PACKAGE__に似た、__SUB__という記述が可能になりました。これは現在実行しているサブルーチンの参照を取得できる機能で、再帰的なサブルーチンが書きやすくなります。use 5.16あるいはuse feature 'current_sub'の状態で利用することができます。

<pre>
sub func {
  
  __SUB__->();
}
</pre>

<h4>デバッガにおけるenableとdisableの追加</h4>
ブレークポイントを有効にしたり、無効にしたりすることができるようになりました。

<h4>デバッガにおけるブレークポイント設定でファイル名指定</h4>

bコマンド(ブレークポイントの指定)で行番号に加えて、ファイル名を指定できるようになりました。

<pre>
b [file]:[line] 
</pre>

これで、ファイルをいったりきたりする作業が減るかもしれませんね。

<h4>多くの Perl キーワードが CORE 名前空間で利用可能になった</h4>
今までは COREというのは実は名前空間ではなかったのですが、 COREが名前空間になり、通常の名前空間と同様の扱いができるような感じになったようです。

<pre>
Core::tie
</pre>

<h4>修正のタイプマップの提供</h4>

T_AVREF_REFCOUNT_FIXED などの追加の typemap が提供されるようになりました。これはXSでのお話です。

<pre>
HV*   T_HVREF_REFCOUNT_FIXED
</pre>

<h4>Unicode 6.1へほぼ対応</h4>
Unicode6.1へほぼ対応しました。Unicode6.0とUnicode6.1には、完全な互換性がないことに注意してください。

Unicode6といえば、顔文字が文字として含まれたことが特徴的ですね。携帯電話のメールをごにょごにょするアプリケーションはもしかしたら作りやすくなるのかなぁ。

<h3>細かな変更点</h3>

<h4>use VERSIONはそのPerlのバージョンでの動きを期待するものになった</h4>
「use v5.16」という記述は、Perl5.16の動作を期待するものになりました。
<pre>
use v5.16;
</pre>

つまり、「use v5.14」はPerl 5.14の動きを期待し、「use v5.16」はPerl 5.16の動きを期待するものになりました。

<h4>$[ は use v5.16 の元では無効になるようになりました。</h4>
$[はuse v5.16の元では無効になるようになりました。

<h4>正規表現の名前付キャプチャのメモリリークの修正</h4>

以下のコードのメモリリークが修正されました。これはPerl5.10からずっと存在していたものでした。

<pre>
    for (1..10_000_000) {
        if ("foo" =~ /(foo|(?<capture>bar))?/) {
            my $capture = $+{capture}
        }
    }
    system "ps -o rss $$"'
</pre>

これで名前つきキャプチャが、デーモンプロセスで使えるようになったかな。

<h3>非推奨</h3>
lib/unicore にある Unicode データベースファイルは読み込まないようになりました。これは、Perlのコアを小さくするためです。Unicode::UCDの新しい関数を代わりに使ってください。

<h3>非推奨のモジュール</h3>

<ul>
  <li>
    Version::Requirements
  </li>
</ul>

Version::Requirementsは非推奨となりました。CPAN::Meta::Requirementsを使ってください。

<h3>将来の非推奨モジュール</h3>
以下のモジュールは将来非推奨になる予定です。非推奨になってしばらくすれば、とりのぞかれると思います。ただし、CPANではそのまま利用可能なので、利用している場合は、インストールする手間が増えることになります。

<ul>
  <li>
    CPANPLUS
  </li>
  <li>
    Filter::Simple
  </li>
  <li>
    PerlIO::mmap
  </li>
  <li>
    Pod::LaTeX
  </li>
  <li>
    Pod::Parser
  </li>
  <li>
    SelfLoader
  </li>
  <li>
    Text::Soundex
  </li>
  <li>
    Thread.pm
  </li>
</ul>

不必要なモジュールを取り除いて少しづつコアが小さくなっていくのかもしれません。

<h3>削除されたモジュールとプラグマ</h3>

以下のモジュールはコアから削除されました。CPANにはあります。

<ul>
  <li>
    Devel::DProf
  </li>
  <li>
    Shell
  </li>
</ul>

以下のPerl4形式のライブラリは削除されました。

<blockquote>
    abbrev.pl assert.pl bigfloat.pl bigint.pl bigrat.pl cacheout.pl
    complete.pl ctime.pl dotsh.pl exceptions.pl fastcwd.pl flush.pl
    getcwd.pl getopt.pl getopts.pl hostname.pl importenv.pl
    lib/find{,depth}.pl look.pl newgetopt.pl open2.pl open3.pl
    pwd.pl shellwords.pl stat.pl tainted.pl termcap.pl timelocal.pl
</blockquote>

これらは CPAN の Perl4::CoreLibs にあります。
