<h2 class="title">Unicodeで平方メートル(m2)を表現する</h2>
<style>
  .bread {
    padding:0;
    margin:0;
  }
  .bread li {
    display:inline-block;
    list-style-type:none;
    font-size:14px;
  }
  .bread a {
    padding:3px 5px;
    width:100%;
    background:#3cb371;
    color:white;
    border-radius:3px;
    text-decoration:none;
  }
  .bread a:hover {
    background:#4cc381;
  }
</style>
<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161006147575.html">
      <span itemprop="name">文字コード</span></a>
    <meta itemprop="position" content="2" />
  </li>
</ol>

平方メートル(m2)を表示するときに、小さな2はどうやって表現したらよいのかなぁと悩んでいたら、解決方法を発見。Unicodeのコードポイントで、表現したらよいだけだった。

<pre>
my $menseki = "100m\x{00B2}"; # 100平方メートル
</pre>

小さな2にあたるコードポイントが<b>00B2</b>になります。

これは内部文字列なので、実際に出力するときは、UTF-8でエンコードする必要があります。またソースコード中で、全部の文字が内部文字列になるように「use utf8」しておきましょう。

<pre>
print encode('UTF-8', $menseki);
</pre>

やっぱりこういうときには、Unicodeに対応しているPerlは便利だなぁと思いました。

<h3>上付き文字と下付き文字の一覧</h3>

こういうのは上付き文字と呼ぶらしいですね。上付き文字と下付き文字の一覧をブックマークで紹介していただいたのでリンクしておきます。

<ul>
  <li>
    <a href="http://nakamura001.hatenablog.com/entry/201006201277035425">上付き文字・下付き文字</a>
  </li>
</ul>

