<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop="name">Perl</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop="name">Mojolicious</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>プラグインの名前空間を追加する / Mojolicious</h2>



プラグインはデフォルトで<b>Mojolicious::Plugin</b>以下から読み込まれますが、名前空間を追加することもできます。

<pre>
# Mojolicious::Lite
push @{app->plugins->namespaces}, 'MyApp::Plugins';

# Mojolicious
sub startup {
  my $self = shift;

  push @{$self->plugins->namespaces}, 'MyApp::Plugins';
}
</pre>

