<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
        <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemprop="name">PDL</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>
<h2 class="title">PDLのインストール</h2>




統計・解析のためのモジュール「PDL」をインストールしてみましょう。

<h3>Linux/Unix</h3>

cpanかcpanmを使ってインストールするだけです。PDLとPDL::Statsをインストールしておきましょう。

<pre>
cpan PDL
cpan PDL::Stats
</pre>

あるいはcpanmをダウンロードして以下のようにします。

<pre>
cpanm PDL
cpanm PDL::Stats
</pre>

<h3>Windows(Active Perl + ppm)</h3>

ActivePerlを使ったWindowsへのインストールにはppmを利用するのが簡単です。まず最初に以下のパッケージをインストールします。

<pre>
ppm install http://www.sisyphusion.tk/ppm/Astro-FITS-Header.ppd --force
ppm install http://www.sisyphusion.tk/ppm/Convert-UU.ppd --force
ppm install http://www.sisyphusion.tk/ppm/Sub-Exporter-Progressive.ppd --force
ppm install http://www.sisyphusion.tk/ppm/PerlIO-Layers.ppd --force
ppm install http://www.sisyphusion.tk/ppm/Const-Fast.ppd --force
ppm install http://www.sisyphusion.tk/ppm/File-Map.ppd --force
ppm install http://www.sisyphusion.tk/ppm/OpenGL.ppd --force

</pre>

次にPDLをインストールします。

<pre>
ppm install http://www.sisyphusion.tk/ppm/PDL.ppd --force

</pre>

インストールを行うと次のようなメッセージが表示されるので、自分の環境でのメッセージを控えておいてください。

<pre>
  In order to utilise the built in proj4 capability set your
  PROJ_LIB environment variable to C:\Perl\site\lib\PDL\proj_supp
</pre>

Enterを押してインストールを完了します。

先ほど表示された環境変数の設定を行いましょう。「スタート」->「コンピュータ」->「プロパティ」->「システムの詳細設定」->「環境変数」から環境変数の設定を行うことができます。ユーザーの環境変数に新規にPROJ_LIBを追加して値を先ほど表示された値に設定しましょう。この例では「C:\Perl\site\lib\PDL\proj_supp」です。

統計のライブラリであるPDL::Statsもついでにインストールしておきましょう。

<pre>
ppm install http://www.sisyphusion.tk/ppm/PDL-Stats.ppd --force
</pre>

<h3>WindowsのActivePerlのcpanコマンドでPDLがインストールできない場合の対処</h3>

僕の場合はWindowsのActivePerlのcpanコマンドでPDLをインストールしようとしましたが、Devel::CheckLibの試験が失敗して、インストールできませんでした。(Perl 5.16.3 + Devel::CheckLib 1.01)

こういう場合はppmと呼ばれるActivePerlのモジュールのインストール機構を利用するとうまくインストールできる場合が多いです。

<pre>
ppm install PDL
</pre>

cpanコマンドでインストールできるのが一番望ましいのですが、次善策としてppmと呼ばれるパッケージマネージャを利用できることも覚えておくとよいと思います。

