<h2 class="title">ユニコード文字をコードポイントで表現する</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161006147575.html">
      <span itemprop="name">文字コード</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">Unicode</span>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">コードポイント</span>
    <meta itemprop="position" content="4" />
  </li>
</ol>
<strong>ユニコード文字</strong>には、すべての文字に<strong>コードポイント</strong>が割り当てられています。Perlでは、ユニコード文字をコードポイントを使って表現することができます。

<pre>
# あ
my $str = "\x{3042}";
</pre>
コードポイントで表現されたユニコード文字を含む文字列は、utf8プラグマのあるなしにかかわらず、常に内部文字列として扱われるので注意してください。つまりすでにデコードされた状態だということですね。出力するには以下のようにエンコードします。

<pre>
use Encode 'encode';
print encode('UTF-8', $str);
</pre>
windowsの場合はcp932を文字コードとして指定してみてください。

