<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <span itemprop="name">Perl</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20140319139520.html">
      <span itemprop="name">Mojolicious</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>リバースプロキシからSSL通信であることを伝える / Mojolicious</h2>



リバースプロキシを利用するときSSL通信が行われていることをMojoliciousに教えるには<strong>X-Forwarded-HTTPS</strong>リクエストヘッダを設定します。

以下はApacheの例です。

<pre>
<VirtualHost *:443>
  ServerName some.com
  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>
  ProxyRequests Off
  ProxyPreserveHost On
  ProxyPass / http://localhost:20000/ keepalive=On
  ProxyPassReverse / http://localhost:20000/
  RequestHeader set X-Forwarded-HTTPS "1"
</VirtualHost>
</pre>

このようにするとhttpsのスキーマで通信しているのだとMojoliciousが認識しurl_forメソッドなどが正しくhttpsのスキーマを描画するようになります。

