<h2>Perlの今について熱く語る - 『「なぜ国内でPerlが急速に萎んだのか」という記事を読んで』リライト</h2>

Perlの今について熱く語ってみます。「Perlの今は実際にはどうなっているんだろう?」という純粋な関心を持たれているユーザーの方に対して、Perlの今について語ります。この記事はもともとは『「なぜ国内でPerlが急速に萎んだのか」という記事を読んで』という反論的なものでしたが、Perlの今にスポットを当てて、前向きで、建設的で、明るい基調でリライトします。

<h3>Perlの最新バージョン</h3>

Perlの最新バージョンはPerl 5.34です。Perl 1.0は、1987年にリリースされ、現在はバージョン5.34となり、34年を迎えました。

<h3>Perlのリリース間隔</h3>

Perlは、1年に一回、リリースされます。リリース日は、5月下旬から6月初旬になることが多いです。次のバージョンは、Perl 5.36です。

<h3>保守性の高いPerl 7の計画</h3>

保守性の高いPerl 7の計画があります。Perl 7の後方互換性は高く、Perl 5から維持され、現在記述しているPerlモジュール、Perlプログラムが、ほぼ変更なし、または、少しの修正で動きます。

<h3>Perl6はRakuへ名称変更</h3>

次期バージョンのPerlとして予定されていたPerl6は、Rakuに名称が変更になりました。Perl 7が、Perl 5の後継となります。

<h3>PerlってCGI?</h3>

CGIは、プロトコルのことで、仕様を満たしていれば、PHP、Python、Ruby、Javaなど、どんなプログラミング言語でも記述可能です。PerlとCGIが、記憶の中で強くつながっているのは、1990年代のCGIブームのころにPerlがたくさん使われたためだと考えています。

現在2021年は、Webフレームワークとリバースプロキシを使うと、リアルタイム更新など現代的なWeb機能、パフォーマンス、スケーラビリティに優れたWebアプリ開発が行えます。

<h3>Webアプリ開発の環境構築</h3>

PerlでのWebアプリ開発は、ファイルをFTPでアップロードするだけとは、いかなくなりました。Web開発環境の環境構築は、ひとりでは難しいですが、UbuntuというLinuxディストリビューションで手順化したものを、こちらにご用意しています。月額500円から1000円程度のVPS(バーチャルプライベートサーバー)をレンタルして、その上に構築すると安くできます。

<ul>
  <li><a href="https://ubuntu.perlzemi.com/">Ubuntu開発環境構築 - Perl Web開発環境構築</a></li>
</ul>

<h3>CPANモジュールインストーラー</h3>

PerlモジュールをCPANと呼ばれるサイトからインストールするには、cpanmというツールを使うのが便利です。Strawberry Perlにも、デフォルトで添付されています。

cpanfileを定義すると、インストールするモジュールを定義しておくこともできます。

<h3>FTP</h3>

FTPでファイルアップロードダウンロードするにはNet::FTPが使えます。

<ul>
  <li>Net::FTP</li>
</ul>

<h3>Webフレームワーク</h3>

PerlのWebフレームワークの紹介です。50音順。

<ul>
  <li>Amon2</li>
  <li>Catalyst</li>
  <li>Dancer2</li>
  <li>Mojolicious</li>
  <li>Plack/PSGI(ミドルウェア)</li>
</ul>

<h3>深層学習ライブラリ</h3>

Perlから使える深層学習ライブラリには、AI::MXNetがあります。

<ul>
  <li>AI::MXNet</li>
</ul>

(書きかけ)
