<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20130220136137.html">
        <span itemprop="name">読み物</span></a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2 class="title">ハッシュの変数名は、単数形か複数形か</h2>



スカラ変数は単数形、配列変数は、複数形でよいのですが、ハッシュ変数の場合は、変数名を単数形にすべきか、複数形にすべきか、いつも迷います。つけ方の方針について考えてみます。

スカラ変数はいつも単数形です。

<pre>
my $name = 'kimoto';
</pre>

配列変数はいつも複数形です。

<pre>
my @names = ('kimoto', 'tanaka');
</pre>

ハッシュ変数はどうでしょうか。では最初に本の情報を表す場合。本はひとつです。本の中に、本をあらわす情報が入っています。このような場合は、単数形のほうがよいと感じます。

<pre>
my %book = {
  id => '00000001',
  title => 'Perl'
}
my $id = $book{id};
my $title = $book{title};
</pre>

次に、名前を指定して、父親の名前を取り出す場合を考えてみましょう。これは、同じ種類で、複数の人の情報が入っています。このような場合は、複数形のほうがよいと感じます。

<pre>
my %fathers = (
  ken => 'taro',
  naoto => 'ichiro'
);
my $father = $fathers{ken};
</pre>

つまり、ハッシュの場合は、変数名を単数形にしたほうが自然な場合と、複数形にしたほうが自然な場合があるということです。

