<h2 class="title">Lingua::JA::Regular::Unicodeモジュール</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20091116124667.html">
      <span itemprop="name">モジュール</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

古きJcodeには、半角カタカナを全角カタカナに変換するh2zというメソッドがあったが、現代的なPerlであれば、Jcodeは使わない。現代的なPerlでは、文字列はプログラムの内部では、内部的な文字列として扱うのがよい方法だからだ。

古いコードを置き換えるには<strong>Lingua::JA::Regular::Unicode</strong>モジュールの<strong>katakana_h2z</strong>関数を使うのがよいと思う。

<pre>
use utf8;
use Lingua::JA::Regular::Unicode 'katakana_h2z';
my $str_h = 'ｱｲｳｴｵ';
my $str_z = katakana_h2z $str_h;
</pre>

このソースコードはUTF-8で保存する必要があります。

