<h2 class="title">簡単な計算を行おう | Rstats入門(統計解析・科学技術計算)</h2>

簡単な計算を行ってみましょう。Rstatsでは、以下の演算子を使って、計算が行えます。

<h3>四則演算</h3>

<table>
  <tr>
    <td>
      記号
    </td>
    <td>
      意味
    </td>
  </tr>

  <tr>
    <td>
      +
    </td>
    <td>
      足し算
    </td>
  </tr>

  <tr>
    <td>
      -
    </td>
    <td>
      引き算
    </td>
  </tr>

  <tr>
    <td>
      *
    </td>
    <td>
      掛け算
    </td>
  </tr>

  <tr>
    <td>
      /
    </td>
    <td>
      割り算
    </td>
  </tr>

</table>

足し算、引き算、掛け算、割り算の記号は、R言語と同じです。

<h3>累乗</h3>

累乗はPerlの演算規則に従って「**」を使って行います。R言語の「^」とは異なるので注意してください。

<table>
  <tr>
    <td>
      記号
    </td>
    <td>
      意味
    </td>
  </tr>

  <tr>
    <td>
      **
    </td>
    <td>
      累乗
    </td>
  </tr>

</table>

<h3>剰余</h3>

剰余はPerlの演算規則に従って「%」を使って行います。R言語の「%%」とは異なるので注意してください。

<table>
  <tr>
    <td>
      記号
    </td>
    <td>
      意味
    </td>
  </tr>

  <tr>
    <td>
      %
    </td>
    <td>
      剰余
    </td>
  </tr>

</table>

<h3>整数商</h3>

Rstatsでは整数商を計算するための演算子は用意されていません。R言語の「%/%」は利用できないので注意してください。整数商を求める場合は、tranc関数を使って行います。割り算を行った後に、整数部を取り出します。

<pre>
r->tranc($x1 / $x2)
</pre>

計算の例を示します。Rstatsでは、ベクトルを使った計算が基礎になるので、c_関数を使って作成します。c_関数はベクトルを作成するための関数です。ひとつの数値であっても、ひとつの要素を持つベクトルとして計算します。

<pre>
use strict;
use warnings;
use Rstats;

my $x = (c_(1) + c_(2) - c_(3) * c_(4)) / c_(5) ** c_(6);
print $x;
</pre>

出力結果です。計算結果が出力されます。

<pre>
[1] -0.000576
</pre>

c_()をいつでも使うのは多少面倒に感じるかもしれませんが、Perlの上にR言語を実装しているために必要です。Rstatsで計算をするときは、いつでもベクトルを使って計算をするということを覚えてください。

今後のサンプルでは簡便のための、上記の「use Rstats」の下の行から書いていきますので、必要に応じて補ってください。

ルートの計算、対数の計算を行う場合には、Rstatsにはたくさんの関数が用意されています。たとえば、ルートの計算を行うためには、「sqrt関数」を使用します。

<pre>
my $x = r->sqrt(c_(2));
print $x;
</pre>

出力結果。

<pre>
[1] 1.4142135623731
</pre>

以下にRstatsで用意されている数学関数を紹介します。

<table>
  <tr>
    <td>
      記号
    </td>
    <td>
      意味
    </td>
  </tr>

  <tr>
    <td>
      sqrt
    </td>
    <td>
      √ の計算
    </td>
  </tr>

  <tr>
    <td>
      abs
    </td>
    <td>
      絶対値
    </td>
  </tr>

  <tr>
    <td>
      exp
    </td>
    <td>
      自然対数の底
    </td>
  </tr>

  <tr>
    <td>
      expm1
    </td>
    <td>
      x の絶対値 が1よりかなり小さい時に exp(x)-1 をより正確に計算
    </td>
  </tr>

  <tr>
    <td>
      log
    </td>
    <td>
      自然対数
    </td>
  </tr>

  <tr>
    <td>
      log10
    </td>
    <td>
      常用対数 （底が10の対数）
    </td>
  </tr>

  <tr>
    <td>
      log2
    </td>
    <td>
      底が2の対数
    </td>
  </tr>

  <tr>
    <td>
      sin
    </td>
    <td>
      サイン・正弦関数
    </td>
  </tr>

  <tr>
    <td>
      cos
    </td>
    <td>
      コサイン ・ 余弦関数
    </td>
  </tr>

  <tr>
    <td>
      tan
    </td>
    <td>
      タンジェント ・ 正接関数
    </td>
  </tr>

  <tr>
    <td>
      asin
    </td>
    <td>
      sin の逆関数
    </td>
  </tr>

  <tr>
    <td>
      acos
    </td>
    <td>
      cos の逆関数
    </td>
  </tr>

  <tr>
    <td>
      atan
    </td>
    <td>
      tan の逆関数
    </td>
  </tr>

  <tr>
    <td>
      sinh
    </td>
    <td>
      ハイパボリックサイン
    </td>
  </tr>

  <tr>
    <td>
      cosh
    </td>
    <td>
      ハイパボリックコサイン
    </td>
  </tr>

  <tr>
    <td>
      tanh
    </td>
    <td>
      ハイパボリックタンジェント
    </td>
  </tr>

  <tr>
    <td>
      asinh
    </td>
    <td>
      sinh の逆関数
    </td>
  </tr>

  <tr>
    <td>
      acosh
    </td>
    <td>
      cosh の逆関数
    </td>
  </tr>

  <tr>
    <td>
      atanh
    </td>
    <td>
      tanh の逆関数
    </td>
  </tr>

  <tr>
    <td>
      logb
    </td>
    <td>
      log と同じ
    </td>
  </tr>

  <tr>
    <td>
      log1px(実装未)
    </td>
    <td>
      x の絶対値が1より(かなり)小さい時，log(1+x) をより正確に計算
    </td>
  </tr>

  <tr>
    <td>
      gamma(実装未)
    </td>
    <td>
      ガンマ関数
    </td>
  </tr>

  <tr>
    <td>
      lgamma(実装未)
    </td>
    <td>
      log(gamma(x)) と同じ
    </td>
  </tr>

  <tr>
    <td>
      ceiling
    </td>
    <td>
      引数以上の最小整数
    </td>
  </tr>

  <tr>
    <td>
      floor
    </td>
    <td>
      引数以下の最大整数：いわゆるガウス記号
    </td>
  </tr>

  <tr>
    <td>
      trunc
    </td>
    <td>
      整数部分を求める
    </td>
  </tr>

  <tr>
    <td>
      round
    </td>
    <td>
      四捨五入
    </td>
  </tr>

  <tr>
    <td>
      signif(x,a) 実装未
    </td>
    <td>
      x を 有効桁で a 桁まで丸める(正・0・負を判定するsignとは異なる)
    </td>
  </tr>

</table>

<hr>

<a href="/blog/20151002144374.html">Rstats入門(統計解析・科学技術計算) </a>

