<h2 class="title">【書籍案内】「サーバ／インフラエンジニア養成読本 基礎スキル編」</h2>
<style>
  .bread {
    padding:0;
    margin:0;
  }
  .bread li {
    display:inline-block;
    list-style-type:none;
    font-size:14px;
  }
  .bread a {
    padding:3px 5px;
    width:100%;
    background:#3cb371;
    color:white;
    border-radius:3px;
    text-decoration:none;
  }
  .bread a:hover {
    background:#4cc381;
  }
</style>
<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">書籍案内</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

「サーバ／インフラエンジニア養成読本 基礎スキル編」が<span style="color:green"><b>4月30日</b></span>に発売されました。

<blockquote>
<img src="http://image.gihyo.co.jp/assets/images/cover/2015/9784774173450.jpg">
<a href="http://gihyo.jp/book/2015/978-4-7741-7345-0">サーバ／インフラエンジニア養成読本 基礎スキル編(技術評論者HP)</a>
<a href="http://www.amazon.co.jp/dp/4774173452">サーバ／インフラエンジニア養成読本 基礎スキル編(amazon)</a>
</q>

<h3>概要</h3>

<blockquote>
クラウドコンピューティングの進化や各レイヤの複雑化など、サーバ／インフラエンジニアが習得すべき技術要素は多くなっています。さらに、これらを習得する以前に、Linuxやviエディタを自在に操作し、シェルやPerlでの簡単なプログラミングができることが必要条件となるため、若手には敷居の高い職種と言われます。
<br>
そこで本書では、仮想環境上でのLinux（CentOS 7）の構築から、基本コマンドの使い方、viエディタの習得、Perlでログをカスタマイズなど、一度マスターしてしまえば10年先にも必ず役立つ基本的な事柄をまとめました。
<br>
本書で、まずは基礎スキルを向上させましょう！
</q>

10年先でも廃れない技術として、「サーバ／インフラエンジニア養成読本 基礎スキル編」にPerlを入れてもらうことができました。Perl部分の内容としては、書籍「業務に役立つPerl」の基礎なPerlの解説部分が、含まれている内容となっています。

今回は共著になっていまして、以下の著者の方との共著になっています。

<blockquote>
<a href="http://tempest.dcnblog.jp/blog/2015/04/post-e132.html">中村文則さん</a>
<a href="http://www.pwv.co.jp/~take/TakeWiki/index.php">竹本浩さん</a>
</q>

<h3>目次</h3>

OSのインストール、基本コマンド、シェルスクリプト、Perlというサーバーインフラエンジニアが必要とする知識が、一冊で、習得できる構成になっています。

<blockquote>
■■■OSインストール
第1章 学習用サーバの準備
　サーバOSを選択しよう
第2章 VirtualBox＋CentOS
　サーバOSをインストールしよう
第3章 Tera Termでリモートアクセス
　サーバOSにアクセスしよう
第4章 Windows向けの便利なソフトウェア
　便利なツールを使おう
<br>
■■■基本コマンド
第1章 はじめてのコマンド操作
　基本的なシェルコマンドを学ぼう
第2章 管理者権限で実行
　ネットワーク環境の確認に必要なコマンドを使おう
第3章 作成と実行方法
　シェルスクリプトの基本
第4章 IPアドレスを表示するスクリプト
　シェルスクリプトの応用①
第5章 管理スクリプト～メール通知＆定期実行
　シェルスクリプトの応用②
CentOSを仮想環境上にインストール
　サーバ構築入門 福田和宏
　基本コマンドから定期実行まで
<br>
■■■シェルスクリプト入門 中村文則
第1章 画面スクロール／指定行表示／タブ表示／文字列検索 ファイルの中を見てみよう
第2章 単語単位の移動／画面内移動／便利な移動方法 カーソルを移動させよう
第3章 挿入／追加／削除／置換／コピペ／環境設定
編集コマンドを覚えよう
第4章 一括置換／便利な使い方
exコマンドに慣れよう
<br>
■■■Perl
第1章 簡単なスクリプト解説
　Perl事始め
第2章 配列と繰り返し／ハッシュ／サブルーチン
　Perlの基本的な文法を覚えよう
第3章 リファレンス／デリファレンス／無名配列と無名ハッシュ
　多次元データ構造を自由に扱おう
第4章 移動／コピー／削除／関連情報取得
　ファイルとディレクトリを自由に操作する
第5章 ファイル読み込み／出力／sarコマンドのログ
　ログを編集してみよう
第6章 命名規則／構文／ファイル入出力／コメント
　現代的なPerlの記述方法
</q>

サーバー管理の技術は、幅広い技術的習得が必要なので、こういうまとめが掲載されている本が一冊あれば、便利ではないかなと思います。

amazonでの予約は、すでに始まっています。ご関心のある方、ご予約はこちらからできます。

<blockquote>
<a href="http://www.amazon.co.jp/dp/4774173452">サーバ／インフラエンジニア養成読本 基礎スキル編(amazon)</a>
</q>

