
<h2 class="title">データの種類を覚えよう | Rstats入門(統計解析・科学技術計算)</h2>

Rstatsで利用できるデータ型を覚えましょう。Rstatsの型は、R言語の型と同じです。

<h3>NULL - 何もない</h3>

何もないということを表現するのにNULLを使用します。配列の初期化やnames属性などの属性を取り除くときに利用できます。

<pre>
NULL
</pre>

<h3>欠損値 NA</h3>

欠損値は<b>NA</b>で表現します。NAというのはデータの欠損を表します。

<pre>
NA
</pre>

<h3>非数 - NaN, Inf(不動少数点演算のみ)</h3>

NaNは、NAと名前はにていますがまったく異なるものです。NaN不動少数点の演算において、数として表現できないことを意味します。

<pre>
NaN
</pre>

たとえば、「0/0」という演算の結果は、数として表現できないので、「NaN」になります。

また、浮動小数点の演算が、無限大として表現できる場合は「Inf」が返ります。

=====

<pre>
Inf
</pre>

たとえば「1/0」という演算の結果は「Inf」になります。

<h3>文字列</h3>

文字列を作成するには、Perlの文字列を<b>「c_」</b>関数の引数に指定します。

<pre>
c_("abc");
</pre>

<h3>数値</h3>

数値を作成するには、Perlの数値を<b>「c_」</b>関数の引数に指定します。

<pre>
c_(34.4);
</pre>

<h3>複素数</h3>

複素数を表現するには<b>i_</b>を使用します。たとえば「1+2i」という複素数を表現するには「<b>i_</b>」関数を使って次のようにします。

<pre>
1 + 2*i_
</pre>

数値の「1」と複素数「1 + 0*i_」は異なるので注意してください。

<h3>論理値</h3>

論理地は「<b>TRUE</b>」と「<b>FALSE</b>」で表現します。

<pre>
# 真
TRUE

# 偽
FALSE
</pre>

省略形として<b>T_</b>と<b>F_</b>を使うこともできます。

<pre>
# 真
T_

# 偽
F_
</pre>

<h3>日付(実装未)</h3>

日付型が存在しますが、現在は、未実装です。

<hr>

<a href="/blog/20151002144374.html">Rstats入門(統計解析・科学技術計算) </a>

