<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemprop="name">CPAN</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2 class="title">CPAN - 便利なモジュールをフリーで使う方法</h2>



<ul>
  <li>
    <a href="/blog/20120204132825.html">metaCPAN APIを利用してモジュールの情報を取得する</a>
  </li>
  <li>
    <a href="/blog/20101008127859.html">日本のCPANミラーサイト</a>
  </li>
</ul>

