<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <span itemprop="name">here</span>
  </li>
</ol>
<h2>Perlリリース情報 - バージョンごとの機能追加を紹介</h2>



Perlのリリース記事をこちらにまとめておきます。Perlのバージョン間の変更点などを把握するのにお役立てください。Perl 5.8.7で動くように記述しておくと、ほぼすべての環境で実行できます。

<h4>Perl 5.28</h4>

<ul>
  <li>
    <a href="/blog/20180626152996.html">Perl 5.28リリース - Unicode 10.0サポート、文字列連結の高速化、ref関数、keys関数、forループの高速化</a>
  </li>
</ul>

<h4>Perl 5.26</h4>

<ul>
  <li>
    <a href="/blog/20170531149624.html">Perlの最新バージョンPerl 5.26リリース。インデント可能ヒアドキュメント、Unicode 9.0サポート、長いキーのハッシュのパフォーマンスの改善</a>
  </li>
</ul>

<h4>Perl 5.24</h4>

<ul>
  <li>
    <a href="/blog/20160510146284.html">Perlの最新バージョン 5.24リリース - サブルーチンと数値計算の高速化、Unicode 8.0のサポート、文法機能強化</a>
  </li>
</ul>

<h4>Perl 5.22</h4>

<ul>
  <li>
    <a href="/blog/20150602143324.html">Perl 5.22がリリースされました - 数学関連の機能強化、メソッドのパフォーマンスの改善、正規表現の改善</a> (2015年)
  </li>
</ul>

<h4>Perl 5.20</h4>
<ul>
  <li>
    <a href="/blog/20140528140125.html">Perl 5.20がリリース - ipv6のサポート、サブルーチンの新しい文法、新しいスライス記法、Unicode 6.3への対応など</a> (2014年)
  </li>
</ul>

<h4>Perl 5.18</h4>

<ul>
  <li>
    <a href="/blog/20130520136901.html">Perl 5.18がリリースされました</a> (2013年)
  </li>
</ul>

<h4>Perl 5.16</h4>

<ul>
  <li>
    <a href="/blog/20120521133755.html">Perlの最新バージョン5.16.0がリリースされました</a> (2012年)
  </li>
</ul>

<h4>Perl 5.14</h4>

<ul>
  <li>
    <a href="/blog/20110327130552.html">Perl 5.14 リリース</a> (2011年)
  </li>
</ul>

<h4>Perl 5.6</h4>

<ul>
  <li>
    myによるレキシカル変数の宣言
  </li>
</ul>

<h4>Perl 1.0</h4>

<ul>
  <li>
    <a href="https://speakerdeck.com/anatofuz/dokidokiperldiao-cha-tuan-part1">ドキドキPerl調査団 Part1</a> - Perl 1.0について調べられた資料
  </li>
</ul>

