<h2 class="title">「吉祥寺.pm9」に参加してきた</h2>


<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161202148078.html">
      <span itemprop="name">イベント</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
</ol>

「吉祥寺.pm9」に参加してきました。

<h3>吉祥寺.pm9</h3>

開始は、12月2日(金)の「19:30」から。仕事が終わって、電車で「吉祥寺駅」に向かいました。

<img src="https://pbs.twimg.com/profile_images/538719489831862272/Lu2u-uf-.png" width="140">

会場は、吉祥寺駅から徒歩2分の「武蔵野公会堂」。マルイの横にあるのですぐに到着。

19:30過ぎについたので、ちょうど、オープニングトークが始まっていたところだった。

トークの内容は

<ul>
  <li>
    「vscodeでPerlのデバッガを動かす」-
  </li>
  <li>
    「Exporter」
  </li>
  <li>
    「UI」
  </li>
  <li>
    「エンジニアとしての立ち居振る舞い」
  </li>
  <li>
    「Perl入学式の次のステップがほしいな」
  </li>
</ul>

とか

<ul>
  <li>
    「Sass」
  </li>
  <li>
    「ひさしぶりにNet::Twitterつかった話」
  </li>
  <li>
    「UIの話」
  </li>
</ul>

とかざっくばらんな話題で、面白かった。

<h3>懇親会</h3>

懇親会は、会場のすぐとなり、僕は「ウーロン茶」を飲んでました。

「アットホーム」な感じで、普段はできないPerlの話ができてよかったです。

吉祥寺.pmは、3か月に一度開催されているようです。

次回は、<a href="https://twitter.com/kichijojipm">吉祥寺,pm</a>で「トーク」をさせていただけることになったので「Webアプリ」をテーマで考え中。

福岡から来ていた<a href="https://twitter.com/ysmur">みゅら</a>さんに、お土産「にわかせんべい」いただきました。

[f:id:perlcodesample:20161204024206j:image:w360]

