<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">変数</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>Perlの変数</h2>



Perlの変数についての解説です。変数宣言と変数の種類について解説します。

<h3>変数宣言</h3>

Perlの変数宣言について解説します。

<h4>「my」による「レキシカル変数」の宣言</h4>

「my」を使って「レキシカル変数」を宣言することができます。

<pre>
# スカラ変数の宣言
my $num;

# 配列変数の宣言
my @nums;

# ハッシュ変数の宣言
my %score;
</pre>

「my」を使った「レキシカル変数の宣言」の詳しい解説については以下の記事をご覧ください。

<ul>
  <li>
    <a href="/blog/20080307120491.html">myを使ってレキシカル変数を宣言する</a>
  </li>
</ul>

<h4>「our」による「パッケージ変数」の宣言</h4>

「our」を使って「パッケージ変数」を宣言することができます。

パッケージ変数を宣言するには<strong>our</strong>を使用します。

<pre>
# スカラ変数の宣言
our $NUM;

# 配列変数の宣言
our @NUMS;

# ハッシュ変数の宣言
our %SCORE;
</pre>

「our」を使った「パッケージ変数の宣言」については以下の記事をご覧ください。

<ul>
  <li>
    <a href="/blog/20080308120495.html">ourによるパッケージ変数の宣言</a>
  </li>
</ul>

<h4>「local」による値の保存と復元</h4>

「local」を使うと、パッケージ変数を一時的に保存して、スコープの終わりで、復元することができます。

<pre>
our $NUM = 5;
{
  local $NUM = 3;
}
# ここで「$NUM」は「元の値」である「5」に戻る
</pre>

「local」による「値の保存と復元」については以下の記事をご覧ください。

<ul>
  <li>
    localについては「<a href="/blog/20080309120507.html">local - パッケージ変数を一時的に退避して復元</a>」で解説しています。
  </li>
</ul>

<h3>Perlの変数型</h3>

Perlにはみっつの「変数型」である「スカラ変数」「配列変数」「ハッシュ変数」があります。C言語やJavaのように「int型」「double型」のように数値の型を示しているのではないので注意してください。

<h4>「スカラ変数」 - ひとつの値を格納</h4>

「スカラ変数」は、変数の中にたった一つの何らかの値を、含むことができる。「$」を変数名の前につけることで、スカラ変数を表す。

<b>代表的なスカラ値</b>

代表的なスカラ値には以下のようなものがあります。

<ul class="check-list">
<ul>
  <li>
    文字列
  </li>
  <li>
    数値
  </li>
  <li>
    リファレンス
  </li>
  <li>
    未定義値(<a href="/blog/20100220126425.html">undef</a>)
  </li>
</ul>
</ul>

<b>スカラ値のスカラ変数への代入のサンプル</b>

<pre>
my $scalar;
$scalar = "one"; #文字列
$scalar = 2; #数値
$scalar = [ 3, 4, 5 ]; # 配列へのリファレンス
$scalar = { x => 6 }; # ハッシュへのリファレンス
$scalar = sub { return 7 }; #サブルーチンへのリファレンス
$scalar = undef; #未定義値
</pre>

<h4>「配列変数」 - 複数の値を格納</h4>

「配列変数」は複数の値を含むことができる。配列変数の「各要素」に含むことができるのは、スカラ変数のみである。

「@」を変数の前につけることで、配列変数を表す。配列変数に代入できるのは、「リスト ()」 だけである。

<pre>
# 配列変数は、スカラを要素に持つことができる
my @elements = (
  "one",
  2,
  [3, 4, 5],
  {x => 6, y => 7},
  sub { return 8 },
  undef
)
</pre>

<b>配列の入れ子は、配列の連結になる</b>

Perlでは、配列の入れ子は、配列の連結になります。

<pre>
my @list_in_list = ((1, 2), (3, 4));
# これと同じになる。
my @list = ( 1, 2, 3, 4 );
</pre>

<h4>「ハッシュ変数」 - キーと値のペアを格納</h4>

ハッシュには以下の特徴があります。

「キーと値」がセットになった複数の値を含む。ハッシュ変数の「各要素」に含むことができるのは、スカラ変数のみである。

「%」を変数の前につけることで、ハッシュ変数を表す。ハッシュ変数に代入できるのは「リスト ()」 だけである。

<pre>
my %scores = (math => 70, engligh => 80);

<b>配列型とハッシュ型の変換</b>
</pre>

配列変数もハッシュ変数も、リストを内容として持つので、互いに変換可能。

<pre>
@array = %hash;
%hash = @array;
</pre>

<h3>変数とスコープ</h3>

変数について、もうひとつ知っておきたいのは変数の<b>スコープ</b>と<b>寿命</b>についてです。スコープは、変数がどの位置から見えるかということを表現する言葉です。寿命というのは、変数に値が保存されている期間のことです。

たとえば、myで宣言されたレキシカル変数の場合は「{」から「}」までがスコープとなります。

<pre>
{
  # ここで宣言
  my $num = 3;
}
# ここからは見えない
</pre>

「$num」に保存された値は「{ ... }」によるスコープが終わると、メモリ上からなくなり、$numという変数自体も見えなくなります。

変数のスコープと寿命については、以下の記事で詳しく解説していますので、ご覧ください。

<ul>
  <li>
    <a href="/blog/20110128130016.html">Perlのスコープについて理解しよう</a>
  </li>
</ul>

<h3>Perlの変数の動画解説を見る</h3>

<ul>
  <li><a href="https://www.youtube.com/watch?v=ZyiALRb23lQ">変数に保存する - Perlプログラミングちゃんねる 2020</a></li>
</ul>
