<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/"><span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">ファイル操作</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2 class="title">ファイル・ディレクトリ操作</h2>



ファイル・ディレクトリを作成・削除・コピーする方法についてまとめました。

<h4>ファイル名の基礎知識</h4>

<ul>
  <li>
    <a href="/blog/20080514121077.html">絶対パスと相対パス</a>
  </li>
  <li>
    <a href="/blog/20080515121086.html">ディレクトリの上の階層を表す表現 ..</a>
  </li>
</ul>

<h4>ファイル名の扱い</h4>

<ul>
  <li>
    <a href="/blog/20080517121111.html">ファイル名から、ディレクトリ名とベース名を取り出す</a>
  </li>
  <li>
    <a href="/blog/20080518121112.html"> ファイル名から、拡張子を取り出す</a>
  </li>
  <li>
    <a href="/blog/20090216123384.html">ファイル名を実行環境のOSでのファイル名に変換する</a>
  </li>
</ul>

<h4>ファイル操作</h4>

<ul>
  <li>
    <a href="/blog/20080519121125.html">ファイルを作成する</a>
  </li>
  <li>
    <a href="/blog/20080520121125.html">ファイルを削除する</a>
  </li>
  <li>
    <a href="/blog/20080521121142.html">ファイルをコピーする</a>
  </li>
  <li>
    <a href="/blog/20080522121142.html">ファイルを移動する</a>
  </li>
</ul>

<h4>ディレクトリ操作</h4>

<ul>
  <li>
    <a href="/blog/20080523121155.html">ディレクトリを作成する</a>
  </li>
  <li>
    <a href="/blog/20080526121181.html">ディレクトリを削除する</a>
  </li>
  <li>
    <a href="/blog/20080522121142.html">ディレクトリ名を変更する</a>
  </li>
  <li>
    <a href="/blog/20080528121197.html">カレントディレクトリを変更する</a>
  </li>
  <li>
    <a href="/blog/20080531121229.html">カレントディレクトリ名を取得する</a>
  </li>
  <li>
    <a href="/blog/20080529121207.html">カレントディレクトリのファイル一覧を取得する</a>
  </li>
</ul>

<h4>再帰的なディレクトリ操作</h4>

<ul>
  <li>
    <a href="/blog/20080524121160.html">複数階層のディレクトリを作成する</a>
  </li>
  <li>
    <a href="/blog/20080527121190.html">階層を持つディレクトリを一度に削除する</a>
  </li>
  <li>
    <a href="/blog/20080530121229.html">再帰的にすべてのファイルを処理する</a>
  </li>
</ul>

<h4>パーミッション</h4>

Unix/Linuxにおけるファイルパーミッションについて解説しています。

<ul>
  <li>
    <a href="/blog/20080822121950.html">パーミッションについて理解しよう</a>
  </li>
</ul>

<h4>スクリプトの情報</h4>

<ul>
  <li>
    <a href="/blog/20180509152716.html">スクリプト名を取得する $0</a>
  </li>
  <li>
    <a href="/blog/20100524127696.html">実行スクリプトのあるディレクトリ名を取得する - FindBin</a>
  </li>
  <li>
    <a href="/blog/20080425120914.html">パッケージ名を取得する</a>
  </li>
  <li>
    <a href="/blog/20080426120922.html">スクリプト上の行番号を取得する</a>
  </li>
  <li>
    <a href="/blog/20080427120926.html">スクリプトのファイル名を取得する</a>
  </li>
</ul>

