
<h2>人気のWebフレームワーク Mojoliciousのバージョン7がリリースされました</h2>
Perlの人気のWebフレームワーク Mojoliciousのバージョン7がリリースされました。

<blockquote>
<a href="http://blog.kraih.com/post/147632979106/mojolicious-70-released-perl-real-time-web">Mojolicious 7.0 released: Perl real-time web framework</a>
</blockquote>

<h3>翻訳</h3>

私は、Mojolicious 7.0 (Doughnut)のリリースを報告できることに、とても興奮しています。

Mojoliciousのコミュニティは、成長し続けている一方、ディスビューションのサイズは、実際に小さくなり続けている。あなたはびっくりするでしょう。これは、とてもよいことです。私たちが数年で追加したすべての機能が存在するにもかかわらず、コードサイズを、2010年の11247行から、今日の8490行まで、減らし続けてきました。

<img src="http://66.media.tumblr.com/ffdd41342d502bf03fd5cf4b8e4de4da/tumblr_inline_oaj2zo7He21qcosu5_500.png">

あなたが見ることができるように、それは、新しい傾向ではないので、わたしたちは、反復の改善を強調します。すでに解決された問題に対して、より効率的な解決策が見つかることが含まれます。

同時に、テストの数は、すべてのリリースで増加しており、11245個のテストで、とても快適な95%のテストカバレッジスコアに到達しています。

<img src="http://66.media.tumblr.com/8cb9c26b75d30ced3996f7971597ebf7/tumblr_inline_oaj3ocko311qcosu5_500.png">

すべてのリリースで、私たちは、大きなパフォーマンスの改善を見ることができています。最適化の機会を見つけることが、難しくなり続けているにもかかわらず、これは、7.0における場合も再び見ることができます。
日常的に行っているベンチマークである「秒あたりのリクエスト数」において特に傾向を見ることができます。

<img src="http://66.media.tumblr.com/67062a94174a9c39742c9c22be7d758f/tumblr_inline_oaj525etyB1qcosu5_500.png">

追加で、少しの内部的なリファクタリングを行いました。組み込みのHTTPとWebSocketサーバーが、大きな数のCPUコアにおいても、効率的にスケールすることができるようにするためにです。大きな数のCPUは、より一般的に利用されるようになることでしょう。

今年の主なフォーカスは、安定性であったのですが、新しい機能もまた追加されています。ここに、ハイライトのリストを記述します。

<ul>
  <li>
    <b>すべてのテンプレートにおける名前つき変数</b>: Mojo::Templateはネイティブで、名前つき変数をサポート
  </li>
  <li>
    <b>HTTP methods:</b> 「_method」クエリパラメータはリクエストメソッドをオーバーライドするのに利用できる
  </li>
  <li>
    <b>SNI:</b>サーバーサイドで利用できる
  </li>
  <li>
    <b>Windows:</b>Ubuntu on Windosの完全なサポート。これは、ゼロダウンタイムのソウトウェアのアップグレードを含みます
  </li>
  <li>
    <b>バリデーションのフィルター:</b>パラメータはバリデーションを行う前にフィルターをかけることができる
  </li>
  <li>
    <b>Web Socketサブプロトコル:</b>WebSocketのサブプロトコルネゴシエーションをサポート
  </li>
  <li>
    <b>Minion:</b>私たちの小さなジョブキューはより早くなり、並列のプロセッシング、複数の名前つきキュー、失敗したジョブの自動再実行、ジョブディペンデンシーをサポート。
  </li>
  <li>
    <b>コードコンダクト:</b>多様性がわたしたちを悩ませており、それゆえ、わたしたちはコードコンダクトを適用することに決定した
  </li>
</ul>

改善の完全なリストについては、より多くのことがGitHub上のChangesを見ることで確認できます。

追加:わたしたちは今、ステッカーを持っています。

<img src="http://66.media.tumblr.com/a0922e1b0ddf33bdc07562afafb81db0/tumblr_inline_oajl9gcJQn1qcosu5_500.jpg">

楽しんで!
