<h2 class="title">モジュールの作成方法</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/"><span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

Perlのモジュールの作成方法について解説します。

<h3>パッケージとシンボルテーブル</h3>

<ul>
  <li>
    <a href="/blog/20080613121341.html">シンボルテーブル</a>
  </li>
  <li>
    <a href="/blog/20080614121342.html">型グロブとシンボルテーブル</a>
  </li>
  <li>
    <a href="/blog/20100419127089.html">package - パッケージ(名前空間)の宣言</a>
  </li>
</ul>

<h3>モジュールの読み込み</h3>

<ul>
  <li>
    <a href="/blog/20090203123287.html">ファイル名を指定してモジュールを読み込む</a>
  </li>
  <li>
    <a href="/blog/20090204123287.html">モジュール名を変数で指定してモジュールを読み込む</a>
  </li>
  <li>
    <a href="/blog/20090205123287.html">モジュールをコンパイル時に読み込む - use</a>
  </li>
  <li>
    <a href="/blog/20090207123288.html">モジュールを実行時に読み込む - require</a>
  </li>
</ul>

<h3>モジュールの情報</h3>

<ul>
  <li>
    <a href="/blog/20080428120938.html">モジュールの検索パスを調べる @INC</a>
  </li>
  <li>
    <a href="/blog/20080429120946.html">読み込まれているモジュールを調べる %INC</a>
  </li>
</ul>

