<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemprop="name">プロフィール紹介</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>パール木本のプロフィール</h2>

<div>
<img src="http://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20160914/20160914214159.jpg?1473856962" width="200">
</div>

<b>「Perlでプログラミングをするのが面白くって仕方ない」</b>
<small>
Perlの「オープンソース」活動に26歳のときから「10年間」取り組んでおり「ライフワーク」としている。

Perl好き。代表的な著作は「業務に役立つPerl(技術評論社)」。雑誌「Software Design」で連載経験も。YACP関西2017ゲストスピーカー。
</small>

<h3>プロフィール概略</h3>

プロフィールを紹介します。

<table>
  <tr>
    <td>
      本名
    </td>
    <td>
      木本裕紀(きもとゆうき)
    </td>
  </tr>

  <tr>
    <td>
      好きな食べ物
    </td>
    <td>
      カレー、餃子、おかゆ、ミートスパゲティ、ハンバーグ、焼き鳥、かつ丼
    </td>
  </tr>

  <tr>
    <td>
      最近の趣味
    </td>
    <td>
      万葉集を読む。夕飯を食べた後に寝ること。
    </td>
  </tr>

  <tr>
    <td>
      好きなテレビ
    </td>
    <td>
      新婚さんいらっしゃい
    </td>
  </tr>

  <tr>
    <td>
      出身
    </td>
    <td>
      奈良県
    </td>
  </tr>

  <tr>
    <td>
      住んでいる場所
    </td>
    <td>
      東京都
    </td>
  </tr>

  <tr>
    <td>
      小学校
    </td>
    <td>
      奈良県御所市立 大正小学校 卒業
    </td>
  </tr>

  <tr>
    <td>
      中学校
    </td>
    <td>
      奈良県御所市立 大正中学校 卒業
    </td>
  </tr>

  <tr>
    <td>
      高校
    </td>
    <td>
      奈良県立香芝高等学校 卒業
    </td>
  </tr>

  <tr>
    <td>
      大学
    </td>
    <td>
      大阪府立大学 農学部 地域研究化学科 卒業
    </td>
  </tr>

  <tr>
    <td>
      部活動
    </td>
    <td>
      小学校・中学校は「卓球部」、高校は「器械体操」
    </td>
  </tr>

  <tr>
    <td>
      仕事の経歴
    </td>
    <td>
      「携帯電話の料金精算」のシステムの実装<br>「銀行の振込・振替」のインフラで「性能調査・コンサルティング」<br>「不動産情報基盤」の「撮影スケジュール管理」システムの設計・実装<br>「不動産仲介会社」の「Webサイト」と「顧客管理」システムの設計・実装
    </td>
  </tr>

  <tr>
    <td>
      現職
    </td>
    <td>
      「不動産仲介会社」の「システム責任者」をやっています。<br>「新築一戸建て」「中古一戸建て」「中古マンション」「土地」<br>の「購入」「売却」「ローン審査」でお困りの方がいらっしゃいましたら、相談可能です。
    </td>
  </tr>

  <tr>
    <td>
      将来の夢
    </td>
    <td>
      Perlを教える仕事をやりたい
    </td>
  </tr>

  <tr>
    <td>
      ペット
    </td>
    <td>
      猫を買っている
    </td>
  </tr>

</table>

<h3>B. 書籍</h3>

執筆させていただいたPerl関連の「書籍」です。

<h4>もっと自在にサーバを使い倒す 業務に役立つPerl</h4>

[asin:4774150258:image]

<div class="icon-arrow"><a href="/blog/20120326133275.html">本の紹介「もっと自在にサーバを使い倒す 業務に役立つPerl」</a></div>

<h4>かんたんプログラミングCGI/Perl 木本裕紀著</h4>

[asin:4774139289:image]

<div class="icon-arrow"><a href="/blog/20120414133435.html">本の紹介「簡単プログラミング Perl/CGI」</a></div>

<h4>サーバ／インフラエンジニア養成読本 基礎スキル編</h4>

[asin:4774173452:image]

<div class="icon-arrow"><a href="/blog/20150415142910.html">本の紹介「サーバ／インフラエンジニア養成読本 基礎スキル編</a></div>

<h3>E-mail</h3>

E-mailアドレスです。講演依頼、執筆依頼などお仕事のご相談で「パール木本」と連絡を取りたい方は、こちらをご利用ください。ファンの皆様の応援メッセージも歓迎です!

<blockquote>
kimoto.yuki@gmail.com
</blockquote>

<h3>技術情報</h3>

<h4>「GitHub」で無料で使える「アプリ」を公開</h4>

「GitHub」には「GitPrep」などPerlで作った「アプリケーション」置いています。

<div class="icon-arrow"><a href="https://github.com/yuki-kimoto">「GitHub」で無料で使える「アプリ」を見る</a></div>

<h4>「CPAN」で無料で使える「モジュール」を公開</h4>

「CPAN」は無料で自由に使えるライブラリの宝庫。僕が作ったCPANモジュール「DBIx::Custom」「Validator::Custom」「Object::Simple」などが置かれています。

<div class="icon-arrow"><a href="http://search.cpan.org/~kimoto/">「CPAN」で無料で使える「モジュール」を見る</a></div>
