<h2>Perlゼミ著者・木本裕紀のプロフィール</h2>

Perlゼミ著者の木本裕紀です。自己紹介をしてみたいと思います。

<h3>Perlゼミについて</h3>

<a href="https://perlzemi.com/">Perlゼミ</a>は、木本裕紀が、2008年に始めたPerlの入門サイトです。最初は、自分がPerlを勉強するために記事を書いていました。現在では、Perlのユーザーの皆様に広く活用していただけているようです。Perlの入門からはじめて、Perlの応用についてもなるべくわかりやすく、質・量ともに充実させることを目標にしています。

<h3>Perlクラブフォーラムについて</h3>

<a href="https://perlclub.net/forum">Perlクラブフォーラム</a>は、2020年ごろに始めた、Perlの話題を気軽に語ったり、質問したりできるSlackで作られたフォーラムです。どなたでも参加できます。仕事で取り組んでいる課題についてのものでも技術的な話題であれば、大丈夫です。

<h3>木本裕紀のPerlサポートちゃんねるについて</h3>

<a href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ">木本裕紀のPerlサポートちゃんねる</a>は、Youtubeを使って、Perlを始める方のサポートをしています。

<h3>SPVMプログラミング言語について</h3>

<a href="https://metacpan.org/pod/SPVM">SPVMプログラミング言語</a>は、木本裕紀が開発しているプログラミング言語です。Perlの文法に極めて近い静的型プログラミング言語で、Windows、Mac、Linux/Unixの実行ファイルを出力可能です。

<h3>WebフレームワークMojolicousについて</h3>

<a href="https://mojolicious.perlzemi.com/">WebフレームワークMojolicious</a>は初期開発に木本裕紀が貢献者として参加しています。Test::Mojoの初期実装を記述しました。

<a href="https://mojodoc.perlzemi.com/">Mojoliciousドキュメント日本語訳</a>でMojoliciousのドキュメントの全文を翻訳しました。

<h3>Perl O/Rマッパー DBIx::Customについて</h3>

<a href="https://dbix-custom.perlzemi.com/">Perl O/Rマッパー DBIx::Custom</a>は、木本裕紀が開発したPerlのO/Rマッパーです。SQLの記述と親和性が高いO/Rマッパーです。
