<h2>Perlゼミ著者・木本裕紀のプロフィール</h2>

Perlゼミ著者の木本裕紀のプロフィールです。自己紹介をしてみたいと思います。

<h3>著者略歴</h3>

木本裕紀は1980年奈良県御所市に生まれました。

幼稚園・第二葛城学園に入学。

御所市立大正小学校に入学。

テレビゲームが好きな子供でした。遊ぶこととといえば、ゲームばかり。

御所市立大正中学校に入学。

奈良県立香芝高等学校に入学。

大阪府立大学地域環境科学科に入学。

シンガーソングライターになるために東京へ状況。

1年後、お金が枯渇。システムエンジニアとして就職。

2008年Perlゼミ執筆開始。

2020年1月14日 木本システム株式会社設立(現・Perlクラブ株式会社)。

<h3>木本裕紀の活動</h3>

<h4>Perlゼミについて</h4>

<a href="https://perlzemi.com/">Perlゼミ</a>は、木本裕紀が、2008年に始めたPerlの入門サイトです。最初は、自分がPerlを勉強するために記事を書いていました。現在では、Perlのユーザーの皆様に広く活用していただけているようです。Perlの入門からはじめて、Perlの応用についてもなるべくわかりやすく、質・量ともに充実させることを目標にしています。

<h4>Perlクラブフォーラムについて</h4>

<a href="https://perlclub.net/forum">Perlクラブフォーラム</a>は、2020年ごろに始めた、Perlの話題を気軽に語ったり、質問したりできるSlackで作られたフォーラムです。どなたでも参加できます。仕事で取り組んでいる課題についてのものでも技術的な話題であれば、大丈夫です。

<h4>木本裕紀のPerlサポートちゃんねるについて</h4>

<a href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ">木本裕紀のPerlサポートちゃんねる</a>は、Youtubeを使って、Perlを始める方のサポートをしています。

<h4>SPVMプログラミング言語について</h4>

<a href="https://metacpan.org/pod/SPVM">SPVMプログラミング言語</a>は、木本裕紀が開発しているプログラミング言語です。Perlの文法に極めて近い静的型プログラミング言語で、Windows、Mac、Linux/Unixの実行ファイルを出力可能です。

<h4>WebフレームワークMojolicousについて</h4>

<a href="https://mojolicious.perlzemi.com/">WebフレームワークMojolicious</a>は初期開発に木本裕紀が貢献者として参加しています。Test::Mojoの初期実装を記述しました。

<a href="https://mojodoc.perlzemi.com/">Mojoliciousドキュメント日本語訳</a>でMojoliciousのドキュメントの全文を翻訳しました。

<h4>Perl O/Rマッパー DBIx::Customについて</h4>

<a href="https://dbix-custom.perlzemi.com/">Perl O/Rマッパー DBIx::Custom</a>は、木本裕紀が開発したPerlのO/Rマッパーです。SQLの記述と親和性が高いO/Rマッパーです。

<h4>Perlクラブについて</h4>

<a href="https://perlclub.net/">Perlクラブ</a>は、木本裕紀が代表取締役をしている企業です。Perlの学びと研究をテーマにしています。

<h4>仕事について</h4>

主な仕事は、これを執筆している2022年現在は、Webアプリケーション開発エンジニアです。不動産システムのWebアプリケーションを開発の責任者をしています。Perlのコードはたくさん書きます。

<h4>YAPCとのかかわりについて</h4>

Perlのお祭りYAPCの<a href="https://yapcjapan.org/2017kansai/">YAPC::Kansai 2017 OSAKA</a>では、木本裕紀は、ゲストスピーカーとして招待していただき、Mojoliciousについてお話させていただきました。

その後は、YAPCに定期的に参加して、参加者の方と交流もしています。

<h4>Perl入学式について</h4>

Perlの勉強会イベントである<a href="https://www.perl-entrance.org/">Perl入学式</a>では、Perl入学式東京のサポーターをしています。コロナ・パンデミックが落ち着いてきて、オフラインでのサポーターが積極的に参加できるようになるタイミングを待っています。

<h4>吉祥寺.pmについて</h4>

技術トークイベントである<a href="https://kichijojipm.connpass.com/">吉祥寺.pm</a>では、木本裕紀は、ときどきスピーカーとして、参加させていただいています。

