<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemprop="name">日付・時刻</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>Perlで日付・時刻を扱う</h2>



Perlでの「日付・時刻」の扱いをまとめました。

Perl 5.10以降がインストールされている場合は、日付・時刻を扱う標準モジュールTime::Pieceが標準で添付されています。まず最初にこちらを試してみるのがお勧めです。

<ul>
  <li>
    <a href="/blog/20091105124627.html">Time::Piece - 日付と時刻を扱う</a>
  </li>
</ul>

Time::Pieceよりも日付・時刻を厳密に扱いたい場合は、DataTimeモジュールがcpanからインストールできます。

<ul>
  <li>
    <a href="/blog/20090815124848.html">DateTime - 日付・時刻を汎用的に扱う</a>
  </li>
</ul>

大規模な処理になってくる場合、日付・時刻処理がボトルネックになってくることもあるかと思います。そのような場合は、パフォーマンスの優秀なTime::Momentモジュールを使うこともできます。

<ul>
  <li>
    <a href="http://search.cpan.org/dist/Time-Moment/lib/Time/Moment.pod">Time::Moment - CPAN</a>
  </li>
</ul>

<h3>日付・時刻を扱う標準関数</h3>

<ul>
  <li>
    <a href="/blog/20081008122347.html">エポックから現時点までの経過秒数を取得する - time関数</a>
  </li>
  <li>
    <a href="/blog/20081009122357.html">現在の日付と時刻(ローカル時間)を取得する - localtime関数</a>
  </li>
  <li>
    <a href="/blog/20081010122376.html">現在の日付と時刻(協定世界時)を取得する - gmtime関数</a>
  </li>
  <li>
    <a href="/blog/20081014122416.html"> 日付と時刻(ローカル時間)をエポック秒に変換する -Time::Local::timelocal()</a>
  </li>
  <li>
    <a href="/blog/20081015122417.html">日付と時刻(協定世界時)をエポック秒に変換する -Time::Local::timegm()</a>
  </li>
</ul>

<h4>特別な日付</h4>

<ul>
  <li>
    <a href="/blog/20081011122378.html">祝日一覧を取得する(Google Calendar Data API)</a>
  </li>
  <li>
    <a href="/blog/20081012122377.html">閏年(うるう年)かどうかを判定する</a>
  </li>
  <li>
    <a href="/blog/20081013122391.html">存在する日付かどうかを判定する</a>
  </li>
  <li>
    <a href="/blog/20081016122425.html">月末日を取得する</a>
  </li>
</ul>

<h4>時刻の計算</h4>

<ul>
  <li>
    <a href="/blog/20081018122442.html">時刻の差を求める(24時間を越えない場合)</a>
  </li>
  <li>
    <a href="/blog/20081020122451.html">時刻の差を求める(時刻に日付を含む)</a>
  </li>
</ul>
