<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">木本プロジェクト</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2 class="title">木本裕紀のプロジェクト</h2>



筆者が作ったPerlのモジュールやアプリケーションを紹介します。プロのエンジニアとして、品質の高いものを作るよう心がけています。ぜひ一度お試しください。

<ul>
  <li>
    <a href="/blog/20130421136653.html">GitPrep</a> ( <a href="https://github.com/yuki-kimoto/gitprep">GitHub</a> ) - GitHubのポータブルなクローン <b><span style="color:orange">【お勧め】</span></b> 
  </li>
  <li>
    <a href="/blog/20151212144988.html">Validator::Custom</a> ( <a href="http://search.cpan.org/~kimoto/Validator-Custom/lib/Validator/Custom.pm">CPAN</a> ) - HTMLフォームのバリデーション
  </li>
  <li>
    <a href="/blog/20110401130559.html">DBIx::Custom</a> ( <a href="http://search.cpan.org/dist/DBIx-Custom/lib/DBIx/Custom.pm">CPAN</a> ) - データベースへの便利なアクセス<b><span style="color:orange">【お勧め】</span></b>
  </li>
  <li>
    <a href="/blog/20160912147368.html">Object::Simple</a> ( <a href="http://search.cpan.org/dist/Object-Simple/lib/Object/Simple.pm">CPAN</a> ) - 簡単オブジェクト指向<b><span style="color:orange">【お勧め】</span></b> 
  </li>
  <li>
    <a href="/blog/20130731137527.html">Mojolicious::Plugin::AutoRoute</a>( <a href="http://search.cpan.org/dist/Mojolicious-Plugin-AutoRoute/lib/Mojolicious/Plugin/AutoRoute.pm">CPAN</a> ) - Mojoliciousのルーティングをディレクトリ構成から自動生成
  </li>
  <li>
    <a href="http://search.cpan.org/dist/Mojolicious-Plugin-INIConfig/lib/Mojolicious/Plugin/INIConfig.pm">Mojolicious::Plugin::INIConfig(CPAN)</a> - INI形式の設定ファイルを読み込み
  </li>
  <li>
    <a href="/blog/20130630137255.html">WebDBViewer</a>( <a href="https://github.com/yuki-kimoto/webdbviewer">GitHub</a> ) - Webブラウザでデータベースのデータを観覧
  </li>
</ul>

