<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">文字コード</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2 class="title">文字コード - Perlにおける文字コードの扱い</h2>



Perlでの文字コードの扱いについて書いています。Perlの文字コードの扱いについては、以下の記事を最初に読んでください。Perlの文字コードの扱いの9割は、この記事を読めば理解できます。

<ul>
  <li>
    <a href="/blog/20091118124667.html">Encode.pm - 日本語などのマルチバイト文字列を適切に処理する</a><span style="color:red">
  </li>
</ul>

<h4>文字コード関連</h4>

<ul>
  <li>
    <a href="/blog/20130612137099.html">ユニコード文字をコードポイントで表現する</a>
  </li>
  <li>
    <a href="/blog/20130610137100.html">ある文字のユニコードのコードポイントを簡単に調べる方法</a>
  </li>
  <li>
    <a href="/blog/20140425139840.html">半角カタカナを全角カタカナに変換する現代的な方法</a>
  </li>
  <li>
    <a href="/blog/20120604133938.html">Unicodeで平方メートル(m2)を表現する</a>
  </li>
</ul>


