
<h2>4月21日(金)「吉祥寺.pm 10」にトークで参加します</h2>

4月21日(金)「吉祥寺.pm 10」にトークで参加します。

<blockquote>
<a href="https://kichijojipm.connpass.com/event/53405/">4月21日(金)「吉祥寺.pm 10」</a>


「カンファレンス、勉強会、そしてPerl入学式」というテーマを設定してみました。カンファレンスや、勉強会への参加や、トークの経験談、そして別イベントでのトークの再録等々、イベントにまつわる色々なことを喋ってみて下さい。


そして、Perl界隈で一番盛り上がっている勉強会といえばPerl入学式。4月からは北海道でも始まります。


Perl入学式へ参加してこんな経験ができた、こんな事が変わった！等など、Perl入学式参加者の皆さんの経験談をお待ちしております。


そして当然ですが、テーマに関係無く、喋りたいテックトークが有る人はどしどしエントリーして下さい。Perlに関係無くても全然大丈夫です。
</blockquote>

<a href="https://twitter.com/magnolia_k_">magnoliak</a>さんが開催されている「吉祥寺.pm」。僕は前回から参加しています。今回は、トークをさせていただきます。僕の住んでいるところからすると、吉祥寺は、中央線ぞいなので、ちょうど良い場所です。

金曜日の夜に開催なので「土日は家からなるべくでたくないんだよー」という人も安心です。

トークの内容は、テーマにそって<b>「YAPC::Kansai 2017に参加して考えたこと」</b>というテーマにしようと思います。

僕は、少し前から、1ヶ月に一回くらいは、何かPerlのイベントがあれば参加しようという心持になって、千葉.pm、吉祥寺.pm、YAPC::Kansaと参加させてもらっています。

出不精だった僕が、人と会うことで得たもの。そういう話にしようかと思います。

