<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>人気の記事</h2>



サンプルコードPerl入門ではてなブックマークを集めた人気記事です。Perlでみんなが注目していることがわかる。

<ol>
  <li>
    <a href="/blog/20091226126425.html">基礎文法最速マスター</a><span class="label-orange">一番人気</span>
  </li>
  <li>
    <a href="/blog/20091120124667.html">現代的な記述方法</a>
  </li>
  <li>
    <a href="/blog/20100827127859.html">実践で役立つ正規表現</a>
  </li>
  <li>
    <a href="/blog/20100930127859.html">配列とハッシュを自由に扱う</a>
  </li>
  <li>
    <a href="/blog/20091025125219.html">よく使用する関数・標準モジュール一覧</a>
  </li>
  <li>
    <a href="/blog/20091118124667.html">日本語などのマルチバイト文字列を適切に処理する</a>
  </li>
</ol>

<div class="icon-arrow"><a href="http://b.hatena.ne.jp/entrylist?url=http://d.hatena.ne.jp/perlcodesample&sort=count">注目のあった人気記事をすべて見る</a></div>

