<h2 class="title">10月20日(金)吉祥寺.pmのスライド「Perl Mongerが不動産屋で学んだこと」が完成しました</h2>

1週間後に迫った、10月20日(金)吉祥寺.pmのスライド「Perl Mongerが不動産屋で学んだこと」が完成しました。

<blockquote>
<a href="https://kichijojipm.connpass.com/event/64456/">10月20日(金) 吉祥寺.pm 12</a>


気がつけば12回目、なんと3周年!! そしてゲストはfrom Okinawa.pm!!


今回はOkinawa.pmからCodeHex氏が参戦する、コラボpmです
</q>

<h3>スライド</h3>

社内エンジニアは、システム開発だけじゃなくって、周辺のお仕事もやります。そんな話。

[f:id:perlcodesample:20171016231821j:image]

吉祥寺.pmは人気のイベント。残り1枠。

<ul>
  <li>
    <a href="https://kichijojipm.connpass.com/event/64456/">10月20日(金) 吉祥寺.pm 12</a>
  </li>
</ul>
