<h2 class="title">札幌で6月3日(土)2回目のPerl入学式行われるようですよ。</h2>

札幌で6月3日(土)2回目のPerl入学式行われるようですよ。

<ul>
  <li>
    <a href="https://perl-entrance-sapporo.connpass.com/event/56484/">Perl入学式 in札幌 第2回 構文基礎編</a>
  </li>
</ul>


<q>
Perl入学式って?


｢プログラミングに興味があるけど, ちょっと難しそう...｣と思っている貴方!

｢他の言語使いだけど, ちょっとPerlも使ってみよっかな?｣と思っている貴方!

｢仕事や研究でPerlを使い始めたけど, ちょっと自信ないな...｣と思っている貴方!


<b>｢プログラミング未経験者｣から｢Perl初心者｣を対象としたワークショップ, ｢Perl入学式｣で一緒にPerlで学びましょう! プログラミングの｢プ｣の字も知らないあなたでも大丈夫. 経験豊富な講師とサポーターが, あなたの学びを全力でサポートします.</b>


さあ, 私達と一緒にプログラミングの楽しさを体感しましょう!
</q>

今年から北海道で始まったPerl入学式。札幌の方、札幌に近い方は、プログラミングを始める機会に参加してみるのはいかがでしょうか。会社や学校で、Perlで初学者の方などがいましたら、始まったことををぜひ教えてあげてください。

