<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop="name">演算子</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
  </li>
</ol>
<h2 class="title">ヤダヤダ演算子 - ...</h2>



特に役立つわけでもないですが、Perlには、実装していない部分で使うと、<a href="/blog/20100411127089.html">例外</a>を発生させてプログラムを終了する<b>ヤダヤダ演算子</b>というものがあります。

<pre>
# ヤダヤダ演算子
...
</pre>

僕が使うのは、サンプルコードで「何かをする」というのを、表現するときくらいかな。

<h3>サンプルプログラム</h3>

ヤダヤダ演算子を使ったサンプルプログラムです。

<pre>
use strict;
use warnings;

my $num = 4;

# まだ実装していない
...
</pre>

出力結果は以下のようになります。

<pre>
Unimplemented at a.pl line 9.
</pre>

