<h2 class="title">YAPC::Fukuoka Hakata 2017の個人スポンサーチケットを購入しました</h2>

YAPC::Fukuoka Hakata 2017の個人スポンサーチケットを購入しました。2017年7月1日(土)に行われるYAPC::Fukuoka Hakata 2017に参加します。

<ul>
  <li>
    <a href="http://yapcjapan.org/2017fukuoka/">YAPC::Fukuoka Hakata 2017</a>
  </li>
</ul>

<q>
YAPC::Japanが九州に初上陸！


YAPCはYet Another Perl Conferenceの略で、一般社団法人 JPAが主催する、Perlを軸としたITに関わる全ての人のためのカンファレンスです。


Perlだけにとどまらない多様な分野のトークセッションを通じ、情報交換や交流を行っていただくことで、 JPAのミッションである「日本におけるPerlコミュニティを脈々と続くものとして」盛り上げていくことが目標です。
今回のYAPC::Fukuokaは、YAPC::Kansaiの「温故知新」に対して、「未来」をテーマに掲げて開催します。


・新モジュールありPerl6あり、未来に向けたPerlの話
・これからますます重要になる、セキュリティに関する話
・新しい働き方、新しい技術といった、未知の世界の話


といった内容を皆様にお届けできるよう、様々な企画・トークを準備してお待ちしております！
皆さま、こぞってご参加ください！


開催日付 2017年7月1日(土)
</q>

<h3>Perlについての未来の話がメインテーマ</h3>

今回はPerlの未来についてや、新しい技術についてがメインテーマのようです。前回のYAPC::Kansai 2017は「温故知新」というテーマでしたが、今回は未来や新しいことについてですね。

面白そうなテーマです。

僕も20分枠でトークに申し込む予定です。トークが採択されたら、YACP::Fukuokaでトークをします。されなかったら、懇親会は参加するので、そこでPerlについての話などしましょう!

