<h2 class="title">「if文を使った条件分岐の構文を覚えよう」の記事を完全にリライトしました。</h2>

「if文を使った条件分岐の構文を覚えよう」の記事を完全にリライトしました。Perlで日常的に利用する9割以上の条件分岐の構文を網羅しました。

Perlの条件分岐の構文は初めて学ぶ方には見慣れないものもあると思います。ここを見ておくとだいたい理解できると思います。

<blockquote>
<a href="/blog/20161023147731.html">if文を使った条件分岐の構文を覚えよう</a>


<ul>
  <li>
    条件分岐の基礎
  </li>
  <li>
    -if文
  </li>
  <li>
    -if～else文
  </li>
  <li>
    -if～elsif文
  </li>
  <li>
    比較演算子
  </li>
  <li>
    -数値比較演算子
  </li>
  <li>
    -文字列比較演算子
  </li>
  <li>
    -数値比較と文字列比較
  </li>
  <li>
    Perlの真偽値
  </li>
  <li>
    -Perlで偽とされる値
  </li>
  <li>
    -Perlで真とされる値
  </li>
  <li>
    Perlの論理演算子
  </li>
  <li>
    -論理積(A かつ B)
  </li>
  <li>
    -論理和(A または B)
  </li>
  <li>
    -否定(Aではない)
  </li>
  <li>
    -論理演算子を組み合わせて使う
  </li>
  <li>
    やや特殊な条件分岐
  </li>
  <li>
    -unless文
  </li>
  <li>
    -失敗した処理における分岐をorで書く
  </li>
  <li>
    -後置のifと後置のunless
  </li>
  <li>
    -三項演算子
  </li>
  <li>
    -特殊な代入演算子「||=」「//=」でデフォルト値を設定
  </li>
</blockquote>
</ul>

Perlを学び始めた大学生の方、業務でPerlスクリプトのメンテナンスを頼まれた方、テキスト処理をPerlでやってみようと始めた方、そういう方にお勧めの記事です。

<ul>
  <li>
    <a href="/blog/20161023147731.html">if文を使った条件分岐の構文を覚えよう</a>
  </li>
</ul>

