<h2 class="title">9月29日(金) Gotanda.pm Petit-Hackathon #14に参加します。ハッカソンだ!</h2>

9月29日(金)のGotanda.pm Petit-Hackathon #14に参加します。

<q>
<a href="https://gotanda-pm.connpass.com/event/67909/">Gotanda.pm Petit-Hackathon #14</a>


Gotanda.pm #14 を開催します


今回は運営側の準備の都合もあり、2時間ほどのプチハッカソンにしました。 普段使ってるCPANモジュールへの機能追加のpull-reqなどを相談しながらやる場にできたらよいかなとおもいます。


詳細


日時: 2017/09/29 (Fri) 19:00開場 19:30 &#12316; 23:00


会場: 株式会社モバイルファクトリー （東京都品川区東五反田1-24-2 (東五反田1丁目ビル8階)）
</q>

五反田.pmには参加したいと思っていたのだけれど、最近やらないなぁと思っていたら、突然、開催通知があったので、初参加してみる。

ハッカソンなので、もくもくと、コーディングする感じなのかな。

まだ参加枠はあるようですよ。(僕も申し込んだのが、おとといだ。)

<q>
<a href="https://gotanda-pm.connpass.com/event/67909/">Gotanda.pm Petit-Hackathon #14 9月29日(金) 19:30 申し込み</a>
</q>

Twitterのハッシュタグは<a href="https://twitter.com/search?q=%23gotandapm">#gotandapm</a>。写真も撮るみたいなので、様子をアップしますね。



