<h2 class="title">【記事紹介】LINE株式会社の広告配信 データサイエンティストとPerlエンジニアの連携</h2>

LINE株式会社の広告配信のシステムでデータサイエンティストとエンジニアの連携いう記事を見つけたので紹介します。

<blockquote>
<a href="https://codezine.jp/article/detail/10427">エンジニアとデータサイエンティストが連携し、ユーザーフレンドリーな広告を配信――「LINE Ads Platform」最適化の舞台裏とは？</a> 

<img src="https://codezine.jp/static/images/article/10427/10427_t.jpg">


開発チームでは、<b>エンジニアとデータサイエンティストが協力</b>しあい、システムの最適化に日々、取り組んでいる。


INE Ads Platformはどのような技術で構成されているのか。広告配信システムは、Amazon EC2のサーバで動かし、<b>言語はPerlを採用</b>。パフォーマンス向上のために、一部JavaやGo言語も利用する。データベースはAmazon RDS for MySQL、Amazon ElastiCache、ログはBigQueryで保存している。


(2017/10/16 18:00)
</blockquote>

FreekOutさんもそうだけど「広告配信」というのはもしかしてPerlの強い分野のひとつなのかもね。

<ul>
  <li>
    <a href="https://codezine.jp/article/detail/10427">エンジニアとデータサイエンティストが連携し、ユーザーフレンドリーな広告を配信――「LINE Ads Platform」最適化の舞台裏とは？</a> 
  </li>
</ul>

