
<h2 class="title">「Perl文字列処理の基礎」の記事を完全にリライトしました</h2>

「文字列処理の基礎」の記事を完全にリライトしました。

<blockquote>
<ul>
  <li>
    <a href="/blog/20161003147558.html">文字列処理の基礎</a>
  </li>
</blockquote>
</ul>

文字列処理の基礎について網羅的に書いたので、これひとつで文字列処理の基礎がひととおりマスターできます。

よく使う機能について書き揃えました。

<blockquote>
<ol>
  <li>
    文字列の基礎
  </li>
  <li>
    +文字列の作り方
  </li>
  <li>
    +ダブルクォートで囲った場合
  </li>
  <li>
    +エスケープシーケンス
  </li>
  <li>
    +変数展開
  </li>
  <li>
    +文字列の連結
  </li>
  <li>
    +文字列の出力
  </li>
  <li>
    文字列処理の小技
  </li>
  <li>
    +文字列リスト演算子
  </li>
  <li>
    +改行を取り除く
  </li>
  <li>
    +指定した文字で配列の要素を連結する
  </li>
  <li>
    +指定した文字で文字列を分割する
  </li>
  <li>
    +文字列の長さを取得する
  </li>
  <li>
    +文字列の書式指定
  </li>
  <li>
    ヒアドキュメント
  </li>
  <li>
    +ダブルクォートあるいはシングルクォートで囲った文字列と同じ意味にする
  </li>
  <li>
    <a href="/blog/20100827127859.html">正規表現</a>
  </li>
  <li>
    +パターンマッチを使って検索を行う
  </li>
  <li>
    +置換を行う
  </li>
  <li>
    Perlで正しく日本語を扱う
  </li>
  <li>
    +ソースコードはUTF-8で記述し、utf8プラグマを指定する。
  </li>
  <li>
    +外部から受け取った文字列は必ずデコードする
  </li>
  <li>
    +外部へ出力する文字列は、エンコードする
  </li>
  <li>
    文字列にかかわる演算子
  </li>
  <li>
    文字列処理のための関数
  </li>
  <li>
    まとめ
  </li>
</blockquote>
</ol>

「最近Perlを始めた学生の方」や「突然Perlを読む必要になった技術者の方」にお勧めです。

<blockquote>
<ul>
  <li>
    <a href="/blog/20161003147558.html">文字列処理の基礎</a>
  </li>
</blockquote>
</ul>
