<h2 class="title">sleep関数 - 指定した時間スリープする</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<b>sleep関数</b>を使うと、指定した時間スリープすることができます。スリープとはCPU資源を使わずに、プログラムを停止することをいいます。

<pre>
# 10秒間スリープする
sleep 10;
</pre>

<h3>マイクロ秒単位でsleepする</h3>

sleep関数は秒単位でしかスリープすることができません。それ以下の秒単位でsleepするには<a href="/blog/20180309152509.html">Time::Hires</a>モジュールの<b>usleep</b>関数を使用します。指定する秒は、マイクロ秒です。マイクロ秒は1秒の「1000分の1」の「1000分の1」です。

<pre>
use Time::HiRes 'usleep';

# 300マイクロ秒スリープする
usleep(300);
</pre>

<h3>サンプルプログラム</h3>

sleep関数のサンプルプログラムです。「Hello」と表示した後に3秒スリープし、「World」と表示します。

<pre>
use strict;
use warnings;

print "Hello\n";
sleep(3);
print "World\n";
</pre>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>

