
<h2 class="title">cpm - cpanmを並列に実行して3倍早くモジュールをインストールできるツール</h2>

依存関係が多い場合にCPANからモジュールを素早くインストールしたいと思うときがあります。そんな場合はcpmを使うと、cpanmを並列実行して早くインストールできるようです。

<blockquote>
<a href="http://qiita.com/skaji/items/85b9714180329efc8bde">cpm - a fast CPAN module installer</a>


CPANモジュールインストーラといえば、cpanmが世界的に有名でたくさんの方が使っていると思います。


僕自身もcpanmを本当によく使っていますが、大量の依存があるアプリケーションを開発しているときなどcpanmだとCPANモジュールインストールにかなりの時間がかかり、もう少し早くならないかと思っていました。


そこでcpmを作りました。<b>cpmは内部でcpanmを並列に使ってCPANモジュールインストールを高速に行います。</b>
</blockquote>

