
<h2 class="title">【記事紹介】ウェブサービス型CMS「MovableType.net」を体験！ハンズオンセミナー【11月14日（火）開催】</h2>

11月14日（火）にクラウド型ブログサービスMovableType.netのハンズオンセミナーが参加費無料であるようなので紹介。

<blockquote>
<a href="https://movabletype.net/2017/10/handson20170913.html">ウェブサービス型CMS「MovableType.net」を体験！ハンズオンセミナー【11月14日（火）開催】</a>


<img src="https://movabletype.net/.assets/thumbnail/%E5%9B%B32-600wri.png" width="500">


先日ワークフロー機能が搭載されたウェブサービス型CMS「MovableType.net」ですが、レスポンシブデザインのベーステーマや、サービス版独自の機能などを日々追加しています。


2017年11月14日に開催する MovableType.net ハンズオンセミナーでは、サービスの特長から、簡単なカスタマイズ方法をハンズオン形式でご説明します。CMS選定中・情報収集中の方、ぜひお気軽にご参加ください。


【参加費】無料
【日時】2017年 11月14日（火）14:00～16:00（受付開始13:50）
【場所】関東ITソフトウェア健保会館（大久保）1F D室
東京都新宿区百人町2-27-6

</blockquote>

昔は、手動でインストールするタイプのMovableTypeだけだったけれど、最近では、クラウド型のMovableType.netのサービスが始まったので、導入も簡単そう。

企業のホームページとブログを作成するなら、価格も非常にお手頃(月額2,500円から)で、サポートもしっかりしているような印象。ここ数年で猛烈な進化を遂げているような感じがある。sixapartさんは、YAPCのスポンサーでもあります。

<a href="https://movabletype.net/2017/10/handson20170913.html">ウェブサービス型CMS「MovableType.net」を体験！ハンズオンセミナー【11月14日（火）開催】</a>

