<h2 class="title">Perlのイベント・コミュニティ・勉強会</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

Perlのイベント・コミュニティ・勉強会の紹介です。

      <ul>
        <li>
          <a href="http://yapcjapan.org/">YAPC</a>
        </li>
        <li>
          <a href="http://www.perl-entrance.org/">Perl入学式</a>
        </li>
        <li>
          <a href="http://gotanda.pm.org/">Gotanda.pm</a>
        </li>
        <li>
          <a href="http://kansai.pm.org/">Kansai.pm</a>
        </li>
        <li>
          <a href="http://kichijojipm.hatenablog.com/">Kichijoji.pm</a>
        </li>
        <li>
          <a href="http://hokkaido.pm.org/">Hokkaido.pm</a>
        </li>
        <li>
          <a href="http://okinawa.pm.org/">Okinawa.pm</a>
        </li>
        <li>
          <a href="http://fukuoka.pm.org/">Fukuoka.pm</a>
        </li>
        <li>
          <a href="https://naniwaperl.doorkeeper.jp/">なにわPerl</a>
        </li>
        <li>
          <a href="http://yonabeperl.blog.jp/">よなべPerl</a>
        </li>
        <li>
          <a href="http://yokohama.pm.org/">Yokohama.pm</a>
        </li>
      </ul>

