<h2 class="title">readdir関数 - ディレクトリの内容を読み込む</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
        <span itemprop="name">関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>

ディレクトリの内容を読み込むには<b>readdir関数</b>を使用します。

<pre>
readdir ディレクトリハンドル
</pre>

ディレクトリハンドルは<a href="/blog/20171002150691.html">opendir関数</a>によって取得されたものを指定します。戻り値として、ディレクトリの中にあるファイル名が返されます。繰り返し呼び出すことで、ディレクトリの中のすべてのファイルを読みこむことができます。

opendir関数でディレクトリハンドルを取得して、readdir関数で、すべてのファイルを読み込むサンプルプログラムを書いてみます。

<pre>
# ディレクトリ名
my $dir = 'study';

# ディレクトリオープン
opendir my $dh, $dir
  or die "Can't open directory $dir: $!";

# すべてのファイルを読み込む
while (my $file = readdir $dh) {
  print "$file\n";
}
</pre>

出力結果は以下のようにディレクトリに含まれるファイル名の一覧になります。

<pre>
.
..
a.txt
b.txt
</pre>

カレントディレクトリを表す「.」と一つ上の階層のディレクトリを表す「..」が含まれていることに注意してください。

通常は「.」も「..」も必要ないと思います。ですので<a href="/blog/20080329120687.html">next文</a>を使って、この二つに該当する場合はスキップしましょう。

<pre>
# すべてのファイルを読み込む
while (my $file = readdir $dh) {
  next if $file eq '.' || $file eq '..';
  print "$file\n";
}
</pre>

これで望んだ結果が得られます。

出力せずに、ファイル一覧を<a href="/blog/20161012147627.html">配列にしたい</a>場合は次のように書くといいです。

<pre>
my @files;
while (my $file = readdir $dh) {
  next if $file eq '.' || $file eq '..';
  push @files, $file;
}
</pre>

<h3>サブディレクトリも含めてファイル一覧を取得するには?</h3>

サブディレクトリも含めて再帰的にファイルを処理したい場合は、File::Findモジュールを使うのがいいです。

<ul>
  <li>
    <a href="/blog/20080530121229.html">File::Find - サブディレクトリを再帰的に処理する</a>
  </li>
</ul>

<h3>glob関数との使い分けを教えてください</h3>

Perlではディレクトリハンドルを使わなくっても<a href="/blog/20080529121207.html">glob関数</a>を使えば、ファイル名一覧を取得することができます。

glob関数には次のメリットがあります。

<ul>
  <li>
    「.」「..」は含まれていない
  </li>
  <li>
    ループ処理をする必要がない。<a href="/blog/20100119126425.html">grep関数</a>と組み合わせると便利。
  </li>
  <li>
    ベース名ではなくファイル名を完全なパスで取得できる
  </li>
  <li>
    ワイルドカード「*」を使える
  </li>
</ul>

率直にいうと、readdir関数の出番はあまりなく、ファイル名一覧の取得には、glob関数を使うのが簡単です。

File::Findの実装のように、きっちりと、ディレクトリ単位でファイル一覧を見たい場合などは、必須だと思います。日常的な用途では、glob関数が便利です。

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
        <span itemprop="name">関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>

