<h2 class="title">Perlは30歳になり、コミュニティは繁栄し続ける</h2>

「Perlは30歳になり、コミュニティは繁栄し続ける」という記事が、Perlの30年の歴史、Perlのコミュニティ、Perlの発展についてわかりやすく書かれていたので、紹介します。

<blockquote>
<a href="https://opensource.com/article/17/10/perl-turns-30">Perlは30歳になり、コミュニティは繁栄し続ける</a>


Larry Wallは1987年12月18日にcomp.sources.misc UsenetニュースグループにPerl 1.0をリリースしました。その後30年近く、言語とコミュニティの両方が成長し、繁栄しました。それに反して、提案にもかかわらず！


■歴史レッスン
Perl 1.0 - Perl 4.036
初期Perl 5
モダンPerl 5
Perl 6


■Perlコミュニティ

ラリー・ウォール、それを全部始める男
Perl 5 Porters
Perl Mongers
PerlMonks
CPAN
Perl Foundation
YAPCヨーロッパ財団
日本Perl協会
啓発されたPerl組織
YAPCとPerlカンファレンス
実証済みのテクノロジー...そしてそれ以上のもの
</q>

英語だけど、google翻訳すると、ほぼ内容がわかるので大丈夫。

<a href="https://opensource.com/article/17/10/perl-turns-30">Perlは30歳になり、コミュニティは繁栄し続ける</a>


