<h2 class="title">DBIx::Customを非同期クエリと一緒に使うための修正を考えている</h2>

現在DBIx::Customは実験的にMySQLの非同期クエリをサポートしているのですけれど、これはあまりよくないと考えています。

一つ目は、非同期クエリの仕組みが、RDBMSごとにかなり異なるので、ORマッパーの中で抽象化するのはあまりよくないなぁという感覚がある。

だから、この実験的なサポートを終了して、DBIx::Customは、SQLの同期実行とSQLの生成に特化しようと思う。

クエリを実行するときは、一発で実行できたほうが楽だ。でも、非同期クエリを投げるためのモジュールと連携することができなない。

だから

<ol>
  <li>
    同期クエリはそのまま実行できる
  </li>
  <li>
    非同期クエリを投げたい場合は、SQL生成したものを、他のモジュールで利用できるようにする
  </li>
</ol>

Mojo::Pgは、PostgreSQLで、非同期クエリをサポートしているのだけれど、これにSQLを渡せるようにしたい。非同期クエリを投げたいときにも対応できるようにする。



