<h2 class="title">googleのエンジニアが書いたPerlの入門記事を紹介してほしいと依頼されたので紹介するよ</h2>

1ヶ月ちょっとくらい前に、僕のgmailの方に「googleのエンジニアが150時間」かけて書いたPerlの入門記事を紹介してほしいというメールが来た。<a href="http://yapcjapan.org/2017fukuoka/">YAPC</a>などがあって忙しかったが、ようやく落ち着いたので紹介するよ。僕の<a href="http://blogs.perl.org/users/yuki_kimoto/">英語のブログ</a>の方でも紹介予定だけど、先にここで紹介しておく。

<q>
<a href="https://www.guru99.com/perl-tutorials.html">PERL Tutorial for Beginners - Complete Guide</a>
</q>

シリコンバレーのエンジニアは、Perlを紹介してくれることが少なかったような気がするけれど、最近は、<a href="/blog/20170406149147.html">Google APPエンジンのところでPerlに対応</a>したことを伝えてくれたり、<a href="/blog/20170713149995.html">Amazonの人工知能のスケーラブルなMXNetクラウド</a>では、Perlのライブラリを公式に加えてくれたりしている。

そして、一か月くらい前には、googleのベテランのエンジニアが、Perlの入門記事を150時間かけて書いているのを、まとめたので、紹介してほしいというEメールをもらった。

このサイトは、ダウンロードとインストールから初めて、以下の記事が学べるようになっている。

<q>
<a href="https://www.guru99.com/perl-tutorials.html">PERL Tutorial for Beginners - Complete Guide</a>

<ul>
  <li>
    Perlのダウンロードとインストール -  Windows、Mac、Linux
  </li>
  <li>
    Perl変数
  </li>
  <li>
    Perl配列
  </li>
  <li>
    Perlハッシュ
  </li>
  <li>
    Perlの条件付きステートメント - もしそうであれば、そうでなければ、もしそうでなければ、
  </li>
  <li>
    Perlループ - 制御構造
  </li>
  <li>
    Perl演算子
  </li>
  <li>
    Perlの特殊変数
  </li>
  <li>
    Perlの正規表現
  </li>
  <li>
    PerlファイルI / O
  </li>
  <li>
    Perlサブルーチン
  </li>
  <li>
    Perlフォーマット - 完全な出力を得る
  </li>
  <li>
    Perlコーディング標準
  </li>
  <li>
    Perlエラー処理
  </li>
  <li>
    Perlソケットプログラミング
  </li>
  <li>
    Perlモジュールとパッケージ
  </li>
  <li>
    Perlでのオブジェクト指向プログラミング
  </li>
</q>
</ul>

英語で一通りのPerlのことが学べるようになっているサイトだ。英語圏で、Perlを学んでいる人には便利だと思う。

Googleのエンジニアの方に、僕が作っているプロジェクトの<a href="https://github.com/yuki-kimoto/gitprep">GitPrep</a>と<a href="https://metacpan.org/pod/SPVM">SPVM</a>を伝えてほしいと頼んだら快く承諾していただいた。

長くサイトをやっているとこういうこともあるんだね!びっくりだね!

