<h2 class="title">OS名を取得する $^O</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161102147817.html">
        <span itemprop="name">特殊変数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<b>OS名を取得</b>するには<strong>$^O</strong>という特殊変数を使用します。

<pre>
$^O
</pre>

<h4><b>$^O の値とOSの種類</b></h4>

各OSにおける「$^O」の値をまとめました。

<table>
  <tr>
    <td>
      <span style="font-weight:bold;">$^Oの値</span>
    </td>
    <td>
      <span style="font-weight:bold;">説明とリンク</span>
    </td>
  </tr>

  <tr>
    <td>
      MacOS　
    </td>
    <td>
       <a href="http://ja.wikipedia.org/wiki/Mac_OS">MacOS</a> 
    </td>
  </tr>

  <tr>
    <td>
      MSWin32 
    </td>
  </tr>
|<a href="http://ja.wikipedia.org/wiki/Microsoft_Windows">Windows 全般</a>|
  <tr>
    <td>
      os2     
    </td>
    <td>
       <a href="http://ja.wikipedia.org/wiki/OS/2">OS/2</a> 
    </td>
  </tr>

  <tr>
    <td>
      VMS      
    </td>
    <td>
        <a href="http://ja.wikipedia.org/wiki/OpenVMS">VMS</a>
    </td>
  </tr>

  <tr>
    <td>
      epoc     
    </td>
    <td>
       <a href="http://sudo.com/index.php/archive/mobilephone/nokia/epoc-os">EPOC OS　  (たぶん) </a>
    </td>
  </tr>

  <tr>
    <td>
      NetWare  
    </td>
    <td>
       <a href="http://ja.wikipedia.org/wiki/NetWare">NetWare</a>
    </td>
  </tr>

  <tr>
    <td>
      symbian  
    </td>
    <td>
       <a href="http://ja.wikipedia.org/wiki/Symbian_OS">Symbian OS</a>
    </td>
  </tr>

  <tr>
    <td>
      dos      
    </td>
    <td>
      <a href="http://ja.wikipedia.org/wiki/MS-DOS">MS-DOS</a>
    </td>
  </tr>

  <tr>
    <td>
      cygwin   
    </td>
    <td>
       <a href="http://ja.wikipedia.org/wiki/Cygwin">cygwin</a>
    </td>
  </tr>

  <tr>
    <td>
      linux    
    </td>
    <td>
       <a href="http://ja.wikipedia.org/wiki/Linux">Linux</a>
    </td>
  </tr>

  <tr>
    <td>
      freebsd  
    </td>
    <td>
      <a href="http://ja.wikipedia.org/wiki/FreeBSD">FreeBSD</a>
    </td>
  </tr>

  <tr>
    <td>
      solaris  
    </td>
    <td>
      <a href="http://ja.wikipedia.org/wiki/Solaris">Solaris</a>
    </td>
  </tr>

  <tr>
    <td>
      Unix  ( 違うかも )     
    </td>
    <td>
       <a href="http://ja.wikipedia.org/wiki/UNIX">Unix</a> 
    </td>
  </tr>

  <tr>
    <td>
      darwin 
    </td>
    <td>
      Mac OS X
    </td>
  </tr>

  <tr>
    <td>
      CentOS
    </td>
    <td>
      Linux
    </td>
  </tr>

</table>
