<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161004147558.html">
      <span itemprop="name">標準関数</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>
<h2>system関数 - 別プロセスを実行する</h2>



<b>system関数</b>を使うと、別のプロセスを実行することができます。

<pre>
system $cmd;
</pre>

プロセスが正常に終了した場合は0が戻り値として返されます。エラーチェックは次のように行うことができます。

tarやgzipなどのコマンドを実行したい場合はsystem関数を使うとよいです。

<h3>lsコマンドを実行する</h3>

system関数のひとつの例としてカレントディレクトリの内容を表示するLinuxのlsコマンドを実行してみます。

エラーチェックとしてor演算子と<a href="/blog/20100212126425.html">die関数</a>を使用しています。

<pre>
my $cmd = 'ls';
system($cmd) == 0 or die "Can't execute $cmd: $!";
</pre>

以下のように、カレントディレクトリの一覧が表示されます。

<pre>
a.pl              gperl                             module-starter.txt                not_important_project  ringowiki  static-perl.tar
batch             Image-PNG-Simple                  mojo                              Object-Simple          role       taskdeal
crontab.txt       imager-japanese-translation.wiki  mojo-examples
</pre>

<h3>system関数に引数を渡す</h3>

system関数に渡すコマンドに引数を渡すには、コマンドを配列にしてsystem関数に渡します。たとえば「-l」と「tmp」という引数を渡したい場合は次のように記述します。

<pre>
my @cmd = ('ls', '-a', 'tmp');
system(@cmd) == 0 or die "Can't execute @cmd: $!";
</pre>

<h3>system関数のセキュリティ</h3>

system関数は、セキュリティの問題が起こりやすい関数です。たとえば、もしWebからの入力データが「rm」で、それをsystem関数にチェックせずに渡したとしたらと考えてください。

system関数によって、意図しないコマンドを実行されてしまいます。

ユーザーからの入力をプログラムで受け取っている場合は、system関数に渡す引数については、必ず入力が安全なものであることを確認してください。

