
<h2 class="title">無限大(Inf)、無限小(-Inf)、非数(NaN)を得るには</h2>

Perlで無限大(Inf)、無限小(-Inf)、非数(NaN)の数値表現を得るには以下のようにします。

<h4>無限大 Inf</h4>

正の方向でオーバーフローする浮動小数点演算を行うと無限大(Inf)を得ることができます。

<pre>
9**9**9
</pre>

<h4>無限小 -Inf</h4>

負の方向でオーバーフローする浮動小数点演算を行うと無限大(Inf)を得ることができます。

<pre>
-9**9**9
</pre>

<h4>非数 NaN</h4>

無限大を無限大で除算すると非数(NaN)を得ることができます。

<pre>
9**9**9 / 9**9**9
</pre>


(参考)<a href="http://perldoc.jp/docs/perl/5.22.1/perldata.pod#Special32floating32point:32infinity32-40Inf41-32and32not-a-number32-40NaN41">特殊浮動小数点数: 無限 (Inf) と非数 (NaN)</a>

