<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161005147566.html">
      <span itemprop="name">演算子</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20100820127859.html">
      <span itemprop="name">ファイルテスト</span></a>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li>
      <span itemprop="name">here</span>
  </li>
</ol>
<h2 class="title">ディレクトリの存在を確認する</h2>



<b>ディレクトリが存在するかどうかを確認する</b>には、ファイルテスト演算子「-d」を使用します。

<pre>
-d $file
</pre>

ディレクトリが存在すると真値を、存在しないと偽値を返します。

ファイル演算子 -d を使ってディレクトリの存在を確認するサンプルです。

<pre>
use strict;
use warnings;

# ディレクトリの存在を確認する。
# -d ディレクトリ名

print "1: ディレクトリの存在を確認する。 -d \n";
my $dir = 'd';
if (-d $dir) { 
  print "'$dir' は、存在します。\n";
}
else { print "'$dir' は、存在しません。\n" }
</pre>
