<h2 class="title">正規表現の囲み文字を変更する - m//</h2>

Perlでは正規表現の囲み文字を変更することができます。

<a href="/blog/20100827127859.html">正規表現</a>はパターンマッチ演算子を組み合わせて以下のように書くことができましたね。

<pre>
$string =~ /cat/
</pre>

でもここで、たとえば、URLのパスにマッチさせたい場合を考えてみてください。スラッシュをエスケープして次のように書けます。

<pre>
$string =~ /\/foo\/bar\/baz/
</pre>

ちょっと読みずらくないですか。Perlではこんな場合、正規表現の囲み文字「/」を別の囲み文字に変える方法があります。次のように書きます。

<pre>
$string =~ m|/foo/bar/baz|
</pre>

先頭に「m」を付けて、囲み文字を別のものに変更します。以下の組み合わせなどが囲み文字としてつかえます。

<pre>
m|正規表現|
m#正規表現#
m!正規表現!
</pre>

sを使って置換をする場合も同じように利用できます。

<pre>
s|正規表現|置換後の文字列|
s#正規表現#置換後の文字列#
s!正規表現!置換後の文字列!
</pre>

