
<h2>Perlのイベント情報</h2>

Perlのイベント情報は、Twitterのモーメントに移行しました。

<a href="https://twitter.com/i/moments/1032033153991335936">Perlのイベント情報 - Twitterモーメント</a>

<b>2018年</b>
<table>
  <tr>
    <td>
      8月25日(土)
    </td>
    <td>
      <a href="https://perl-entrance-okinawa.connpass.com/event/94299/">Perl入学式 in 沖縄 第4回 &#12316;サブルーチン/正規表現編&#12316;</a>
    </td>
  </tr>

  <tr>
    <td>
      9月8日(土)
    </td>
    <td>
      <a href="https://perl-entrance-osaka.connpass.com/event/94076">Perl入学式 in大阪 第3回 &#12316;配列/ハッシュ編&#12316;</a>
    </td>
  </tr>

  <tr>
    <td>
      9月14日(金)
    </td>
    <td>
      六本木.pm (株式会社メルカリ 六本木ヒルズ森タワー18F）
    </td>
  </tr>

  <tr>
    <td>
      9月15日(土)
    </td>
    <td>
      <a href="https://perl-entrance-sapporo.connpass.com/event/96858/"><span style="color:red">Perl入学式 in札幌 第2回 &#12316;構文基礎編&#12316;</span></a>
    </td>
  </tr>

  <tr>
    <td>
      2019年の年始
    </td>
    <td>
      <a href="http://yapcjapan.org/2018tokyo/">YAPC 東京 2018</a>
    </td>
  </tr>

</table>

<h4>終了したイベント</h4>

<b>2018年</b>

<table>
  <tr>
    <td>
      6月3日(日)
    </td>
    <td>
      <a href="https://connpass.com/event/88379/">Mishima.pm #3 (静岡県三島市)</a>
    </td>
  </tr>

  <tr>
    <td>
      6月9日(土)
    </td>
    <td>
      <a href="https://naniwaperl.connpass.com/event/89003/">なにわPerl（なにわPerl#14）</a>
    </td>
  </tr>

  <tr>
    <td>
      6月11日(月)
    </td>
    <td>
      <a href="https://perl-entrance-tokyo.connpass.com/event/89771/">Gotanda.pm Perl Technology Conference #18 (六本木編) </a>
    </td>
  </tr>

  <tr>
    <td>
      6月16日(土)
    </td>
    <td>
      <a href="https://perl-entrance-tokyo.connpass.com/event/89771/">Perl入学式 in東京 第三回 配列/ハッシュ編 </a>
    </td>
  </tr>

  <tr>
    <td>
      6月23日(土)
    </td>
    <td>
      <a href="https://hokkaidopm.connpass.com/event/87945/">北海道.pm #14 </a>
    </td>
  </tr>

  <tr>
    <td>
      6月23日(土)
    </td>
    <td>
      <a href="https://perl-entrance-okinawa.connpass.com/event/86372/">Perl入学式 in沖縄 第2回 構文基礎編
    </td>
  </tr>

  <tr>
    <td>
      7月5日(木)
    </td>
    <td>
      <a href="https://shibuyapm.connpass.com/event/89357">Shibuya Perl Mongersテクニカルトーク#18</a>
    </td>
  </tr>

  <tr>
    <td>
      7月7日(土)
    </td>
    <td>
      <a href="https://perl-entrance-okinawa.connpass.com/event/92688">Perl入学式 in沖縄 第2.5回 &#12316;いままでの復習会&#12316;</a>
    </td>
  </tr>

  <tr>
    <td>
      7月14日(土)
    </td>
    <td>
      <a href="https://perl-entrance-sapporo.connpass.com/event/90548"><span style="color:red">Perl入学式 in札幌 第1回 環境構築編</span></a>
    </td>
  </tr>

  <tr>
    <td>
      7月14日(土)
    </td>
    <td>
      <a href="https://perl-entrance-fukuoka.connpass.com/event/90570">Perl入学式 in福岡 第2回 &#12316;構文基礎編&#12316;</a>
    </td>
  </tr>

  <tr>
    <td>
      7月21日(土)
    </td>
    <td>
      <a href="https://perl-entrance-tokyo.connpass.com/event/91421/">Perl入学式 in東京 第4回 &#12316;サブルーチン/正規表現編&#12316;</a>
    </td>
  </tr>

  <tr>
    <td>
      7月21日(土)
    </td>
    <td>
      <a href="https://perl-entrance-okinawa.connpass.com/event/90507/">Perl入学式 in 沖縄 第3回 &#12316;配列/ハッシュ/リファレンス編&#12316;</a>
    </td>
  </tr>

  <tr>
    <td>
      7月27日(金)
    </td>
    <td>
      <a href="https://kichijojipm.connpass.com/event/92971/">吉祥寺.pm15</a>
    </td>
  </tr>

  <tr>
    <td>
      8月4日(土)
    </td>
    <td>
      <a href="https://perl-entrance-osaka.connpass.com/event/90179/">Perl入学式 in大阪 第2回 &#12316;構文基礎編&#12316;</a>
    </td>
  </tr>

</table>

