<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2 class="title">Perlのインストール方法 - Windws、macOS、Linux対応</h2>



Perlのインストール方法を解説します。Windws、macOS、LinuxでそれぞれPerlのインストール方法を紹介します。

<ol>
  <li>
    <a href="#windows">WindowsにおけるPerlのインストール</a>
  </li>
  <li>
    <a href="#mac">macOSにおけるPerlのインストール</a>
  </li>
  <li>
    <a href="#windows">Unix/LinuxにおけるPerlのインストール</a>
  </li>
</ol>

<div id="windows"></div>

<h3>WindowsにおけるPerlのインストール</h3>

PerlはUnix/Linux生まれの言語ですが、Windowsを使っている人も簡単にPerlをインストールすることができます。3種類の方法を紹介します。

<h4>Strawberry Perlのインストール</h4>

Strawberry Perl(ストロベリーパール)は、WindowsでPerlを使えるように設定されたPerlのひとつです。Linux環境に近い形でPerlが利用できるので、まずはこれがお勧めです。

<a href="/blog/20180808153368.html"><img style="border:1px solid #ddd" width="340" src="https://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20180808/20180808073552.png?1533681423"></a>

<a href="/blog/20180808153368.html">Strawberry Perl(ストロベリーパール)をWindowsにインストールする</a>

<h4>ActivePerlのインストール</h4>

ActivePerlも、WindowsでPerlを使えるように設定されたPerlのひとつです。ExcelなどのWindowsアプリと連携したり、GUIの画面を作ったりしたい場合は、これがおすすめです。

<a href="/blog/20080602121231.html"><img style="border:1px solid #ddd" src="https://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20180809/20180809180334.png?1533805550"></a>
<a href="/blog/20080602121231.html">ActivePerlをWindowsにインストールする</a>

<h4>msys2をWindowsにインストールしてPerlを使う</h4>

msys2はWindows上に完全なLinux環境を再現できるツールです。

たとえば、Windowsでは、<a href="/blog/20161103147817.html">プロセス間通信</a>に関する機能が通常ではうまく動きませんが、msys2上であればうまく動きます。

これによって、<a href="/blog/20140319139520.html">Mojolicious</a>の開発Webサーバーなど、プロセス間通信に依存するモジュールが問題なく動きます。

Web開発をWindowsで体験してみたい場合は、お勧めの方法です。

<a href="/blog/20180806153350.html"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20180806/20180806080447.png"></a>

<a href="/blog/20180806153350.html">msys2をWindowsにインストールしてPerlを使う</a>

<div id="mac"></div>

<h3>macOSにおけるPerlのインストール</h3>

ITエンジニアといえばmacOSというくらいに、開発者はmacOS所有率が高しです。

macOSにはPerlが標準でインストールされていますが、ユーザー環境に最新のPerlをインストールすることもできたりします。

ユーザー環境にPerlがインストールできるとシステム環境を汚さなくっても済むのでお勧めの方法でもあります。

次の記事では、macOSへのPerlのインストール方法を解説しています。

<a href="/blog/20180814153419.html"><img style="border:1px solid #ddd" src="https://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20180821/20180821072522.png"></a>

<a href="/blog/20180814153419.html">macOSへのPerlのインストール</a>

<div id="linux"></div>

<h3>Unix/LinuxにおけるPerlのインストール</h3>

Perlで作ったWebサイトを公開する場合は、最終的にはUnix/Linuxのサーバーに配置することになります。

Perlに慣れてくると開発環境をUnix/Linuxそのものにしたほうが開発効率が良くなることでしょう。

本番環境と同じ環境で開発をしたほうが、本番環境と開発環境のずれがなくって、やりやすいということもあります。

次の記事では、Unix/LinuxにおけるPerlのインストール方法を解説していますので参考にしてください。

<a alt="Unix/LinuxへのPerlのインストール" href="/blog/20180813153411.html"><img style="border:1px solid #ddd" src="https://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20180820/20180820075726.png"></a>

<a href="/blog/20180813153411.html">Unix/LinuxへのPerlのインストール</a>


