<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name"><a href="/blog/20180820153471.html">インストール</a></span>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<h2>Unix/LinuxへのPerlのインストール</h2>

Unix/Linux環境には、すでにPerlがインストールされてることが多いです。

Linuxディストリビューションとしては、<a href="https://centos.perlzemi.com/">CentOS</a>や<a href="https://ubuntu.perlzemi.com/">Ubuntu</a>があります。

以下のコマンドでPerlがインストールされているか確認してみましょう。

<pre>
perl -v
</pre>

存在する場合はすぐにPerlを使い始めることができます。

ない場合は、Unix/Linuxディストリビューションの標準のPerlをインストールすることができます。

あるいは、ユーザー環境にPerlをインストールすることもできます。


<h3>システムPerlのインストール</h3>

rootユーザー権限で以下のコマンドを実行しましょう。ディストリビューションごとに、コマンドが異なるので、自分の環境にあったコマンドを実行してみてください。

<h4>UbuntuでのPerlのインストール</h4>

UbuntuでのPerlのインストール方法です。

<pre>
# UbuntuでのPerlのインストール
sudo apt install perl
</pre>

UbuntuでのPerlのインストールについては以下の記事も参考にしてください。

<ul>
  <a href="https://ubuntu.perlzemi.com/blog/20200616085351.html">UbuntuでPerlをインストール</a>
</ul>

<h4>Redhat LinuxでのPerlのインストール</h4>

<pre>
# RedHatでのPerlのインストール
yum install perl
</pre>

<h4>CentOSでのPerlのインストール</h4>

<pre>
# Cent OSでのPerlのインストール
yum install perl
</pre>

<h4>DebianでのPerlのインストール</h4>

<pre>
# DebianでのPerlのインストール
apt-get install perl
</pre>

<h4>FreeBSDでのPerlのインストール</h4>

<pre>
# FreeBSDでのPerlのインストール
pkg_add -r perl
</pre>

<h3>ユーザー環境へのPerlのインストール</h3>

自分のユーザー環境にPerlをインストールしたい場合はperlbrewあるいはplenvというツールを使うことができます。

ルート権限が必要ないので、インストールは簡単で、OSの環境を汚しません。最新のPerlをインストールして使うことができます。

本番環境のWebサービスでPerlを実行する場合は、この方法が2018年現在は主流となっています。

perlbrewとplenvはどちらも、似ているツールで、ユーザー環境にPerlをインストールするためのツールです。お好みで選択してください。

<ul>
  <li>
    <a href="/blog/20110220130464.html">perlbrew - ユーザー環境にPerlをインストールする</a>
  </li>
  <li>
    <a href="/blog/20180816153437.html">plenv - ユーザー環境にPerlをインストールする</a>
  </li>
</ul>

<h3>Linuxサーバー管理入門</h3>

PerlゼミのコンテンツとしてLinuxサーバー管理入門があります。

Linuxの基本的なコマンドや考え方について、学びたいという場合は、ご利用ください。

<a href="https://linux.perlzemi.com/">Linuxサーバー管理入門</a>

UbuntuでPerlのWebシステム開発環境を構築したい場合は、以下のコンテンツがあります。

<a href="https://ubuntu.perlzemi.com/">Ubuntuサーバー構築入門</a>

CentOSでPerlのWebシステム開発環境を構築したい方は、以下のコンテンツがあります。

<a href="https://centos.perlzemi.com/">CentOSサーバー構築入門</a>やがあります。
