<h2 class="title">スカラコンテキスト</h2>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop="name">構文</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20080608121292.html">
        <span itemprop="name">コンテキスト</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

Perlにはコンテキストと呼ばれる概念があり、スカラとして評価される文脈を<b>スカラコンテキスト</b>といいます。

<h4>スカラ変数への代入</h4>

<a href="/blog/20161107147852.html">スカラ変数</a>への代入はスカラコンテキストです。<a href="/blog/20161012147627.html">配列</a>はスカラコンテキストで評価すると、配列の長さを返します。

<pre>
my $num = @values;
</pre>

<h4>比較演算子の項</h4>

<a href="/blog/20080318120585.html">比較演算子</a>の左右の項はスカラコンテキストです。

<pre>
$x < @values
$x == @values
</pre>

<a href="/blog/20170521149524.html">for文</a>のループで頻繁に目にします。

<pre>
for (my $i = 0; $i < @nums; $i++) {
  ...
}
</pre>

<h4>ifの条件部</h4>

<a href="/blog/20161023147731.html">if</a>の条件部はスカラコンテキストです。以下では@valuesはスカラコンテキストで評価されるので、配列の個数を返します。

<pre>
if (@values) {
  ...
}
</pre>
