
<h2 class="title">2018年のPerl入学式の紹介</h2>

2018年度の<a href="http://www.perl-entrance.org/">Perl入学式始動!</a> ということで、スケジュールを紹介しますね。

ちなみに、4月21日のPerl入学式には、僕もサポーターで参加します。

勉強会こわいなという方も、Perl入学式は、初心者に親切な勉強会なので、勇気をふるって参加してみてはいかがでしょうか。春に始まる第一回が開催されますよ!

<h4>Perl入学式 in東京 第1回</h4>

<b>2018年4月21日（土）</b>

<blockquote>
時間	13:00 - 19:00
定員	30人 (現在7名参加, 0名補欠)
会場	株式会社ガイアックス KSS五反田ビル 6階セミナールーム
住所	東京都品川区西五反田1-21-8 KSS五反田ビル6階
<a href="https://perl-entrance-tokyo.connpass.com/event/83636/">申し込みはこちら!</a>
</blockquote>

<h4>Perl入学式 in大阪 第1回</h4>

<b>2018年5月12日（土）</b>

<blockquote>
時間	13:00 - 17:30
定員	20人 (現在9名参加, 0名補欠)
会場	ニュー共栄ビル 地下会議室
住所	大阪府大阪市北区芝田2丁目5－6
<a href="https://perl-entrance-osaka.connpass.com/event/83293/">申し込みはこちら!</a>
</blockquote>

<h4>Perl入学式 in沖縄 第1回</h4>

<b>第1回は5月19日(土)</b>

<blockquote>
YAPC::Okinawaで盛り上がった沖縄でも #Perl入学式 をやって行きます!! 第1回は5月19日(土)に琉球大学工学部です! 
プログラミングを始めてみたい皆さんからPerlを新しく学びたい皆さんまで奮ってご参加ください!
<a href="https://perl-entrance-okinawa.connpass.com/event/83653/">申し込みはこちら</a>
</blockquote>

<h4>Perl入学式 in福岡 第一回</h4>

<blockquote>
<a rel="nofollow" href="https://perl-entrance-fukuoka.connpass.com/event/84255/">Perl入学式 in福岡 第1回  2018年5月19日(土) </a>
</blockquote>
