
<h2>「サンプルコードPerl入門」は「Perl入門ゼミ」に名称を変更しました</h2>

<b>「サンプルコードPerl入門」は「Perl入門ゼミ」に名称を変更します。</b>

去年お伝えしておいた通り2019年1月より名称変更になりました。

もともとは、Perlのサンプルがたくさんあれば、コピペして、そのまま使えるから便利だなという目的で始めたサイトでした。

問題の一つは、名前が言いづらかったことと長かったことです。

最初の記事は、2008年1月に投稿していますが、心機一転、11年目にして、名称変更になります。

公式サイトは、3か月以内くらいに仮公開しようかなと思っています。

公式サイト名は「Perlゼミ」になります。Twitterの名称も「Perlゼミ」。

このサイト名は「Perl入門ゼミ」で、Perlの無料テキストを公開するサイトになります。

<ul>
  <li>
    Perlゼミ 公式
  </li>
  <li>
    Perlゼミ Twitter
  </li>
  <li>
    Perl入門ゼミ 無料テキスト
  </li>
</ul>

の三本立てて運営していくので、今年からもよろしくお願いします。






