<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>

<h2>Perlで帳票を作成する - PDF::API2で帳票作成</h2>

Perlで帳票を作成する方法を解説します。ここでは、帳票とは、プリンタを使って、紙に印刷可能なファイル形式と定義します。

帳票を作るための一般的な方法は、PDFを作成することです。PDFであれば、印刷することができます。

<a href="https://metacpan.org/pod/PDF::API2">PDF::API2</a>というPerlのモジュールを使うと、PDFを作成したり、フォントを設定して字を書いたり、線を書いたり、画像を挿入したり、保存したりすることができます。

PDF::API2の使い方をマスターすれば、自由に帳票を使えるようになります。

<h3>PDF::API2のインストール</h3>

<ul>
  <li>
    <a href="/blog/20191228171458.html">PDF::API2のインストール</a>
  </li>
</ul>
