<h2>Giblog 1.0 リリース - Gitで管理できるWebサイトとブログ生成ツール</h2>

Giblog 1.0 リリース。Giblogは、Perlゼミ製作のGitで管理できるWebサイトとブログ生成ツールを生成するためのツールです。

<blockquote>
<a href="https://giblog.perlzemi.com/">Giblog公式サイト - Gitで管理できるWebサイト・ブログの作成のツール</a>
</blockquote>

<a href="https://new-website-example.giblog.net/"><img src="https://github.com/yuki-kimoto/giblog/raw/master/images/giblog-website.png/" width="100%"></a>

Gitで管理できる静的なWebサイトを簡単に作成できます。

<ul>
  <li>
    すべてのページをGit管理
  </li>
  <li>
    高度なSEO対策
  </li>
  <li>
    レスポンシブ対応
  </li>
  <li>
    お問い合わせフォーム
  </li>
  <li>
    高速な再構築
  </li>
  <li>
    高度なセキュリティ
  </li>
  <li>
    記事の検索・置換が簡単
  </li>
  <li>
    Windows Mac Linux対応
  </li>
  <li>
    Perlで自由にカスタマイズ
  </li>
</ul>

645ページを0.78秒で再構築。ページのすべてを、静的なファイルで管理できるから、Perlを使った編集・置換も自由自在。

すべてが静的なページなので、ページ書き換えなどの脆弱性を生み出さない最強のセキュリティ。

Windows、Mac、Linux対応。

Twitterカードを追加したいなどの機能要望は、Perlを使って、実現できる。

Github Pagesにアップロードすれば、あなたのページが、すぐにできちゃう。

CGIを利用できる環境であれば、お問合せフォームもサポート。

Perlゼミで実証されている、高度なSEO対策をデフォルトで提供。

デフォルトでスマートフォン対応。現代的なWebサイトデザインもCSSの修正で対応可能です。

Giblog公式サイトはもちろんGiblogで製作されていますよ!

<blockquote>
<a href="https://giblog.perlzemi.com/">Giblogを試してみる</a>
</blockquote>
