<style>
  .top {
    display:none;
  }
</style>

<h2>名古屋でのプログラミングPerlのイベント YAPC::Nagoya::Tiny 2019年11月3日(日)</h2>

<h3>YAPC::Nagoya::Tiny 2019年11月3日(日)</h3>

PerlというプログラミングのイベントがYAPC::Nagoya::Tiny、名古屋で2019年11月3日(日)に開催されます。

主催は、<a href="http://blog.yapcjapan.org/">YACP::Japan運営ブログ</a>を運営しているJAP(Japan Perl Association)です。

今回の名古屋のYAPCの地方開催は初めてなので、まだ情報をチェックしていない方は、チェックしてみましょう。

<h3>YAPC::Japanが名古屋に初登場！ </h3>

<blockquote>
<b>YAPC::Japanが名古屋に初登場！ </b>

2016年から北海道、大阪、福岡、沖縄、東京で開催してきたYAPC::JapanがTinyとなって名古屋に登場です！

YAPCはYet Another Perl Conferenceの略で草の根的に始まったPerlのカンファレンスです。私達YAPC::Japanは一般社団法人JPAが主催する、Perlを軸としたITに関わる全ての人のためのカンファレンスです。

Perlだけにとどまらない多様な分野のトークセッションを通じ、情報交換や交流を行っていただくことで、JPAのミッションである「日本におけるPerlコミュニティを脈々と続くものとして」盛り上げていくことが目標です。

☆ 懇親会についても開催を予定しております。詳細が決まり次第、順次お知らせいたします。

【運営】一般社団法人Japan Perl Association

<a href="https://yapcjapan.connpass.com/event/146727/">YAPC::Nagoya::Tiny 2019</a>
</blockquote>

<h3>YAPC::Nagoya::Tinyの参加費、場所、時間</h3>

YAPC::Nagoya::Tiny 2019の参加費は、1000円です。スポンサー企業様のご厚意によって、非常に安く設定されています。

場所は、名古屋国際センター 第1会議室。

時間は、10:30～18:00です。

イベントの後は、懇親会もあります。懇親会は別途発表で、費用は別にかかります。普段はできない、プログラミングや技術の話でわいわい盛り上がります。

<h3>YAPC::Nagoya::Tiny 2019の申し込み</h3>

申し込みは、conpassと呼ばれる、イベントを公表・申し込みができるWebサイトで受け付けています。

中部地方、愛知県、名古屋の高校・大学の学生の皆様。研究者の皆様。インフラエンジニア、Webエンジニア、WebサービスをPerlで開発されているシステムマネージャ、経営者の方、奮ってご参加ください。

遠方から名古屋へ旅行してみたいよーという方も、ご参加ください。

Perl入学式のメンバーや、Perlゼミもconnpassで参加を申し込んでいるので、Perl入学式、過去に参加された方、Perlゼミ見ているよという方も、ぜひご参加ください。

申し込みには、Paypalのアカウントが必要です。

<a href="https://yapcjapan.connpass.com/event/146727/">YAPC::Nagoya::Tiny 2019の申し込みページに移動</a>
