<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>

<h2>Perlで帳票を作成する - PDF::API2で帳票作成</h2>

Perlで帳票を作成する方法を解説します。ここでは、帳票とは、プリンタを使って、紙に印刷可能なファイル形式と定義します。

帳票を作るための一般的な方法は、PDFを作成することです。PDFであれば、印刷することができます。

<a href="https://metacpan.org/pod/PDF::API2">PDF::API2</a>というPerlのモジュールを使うと、PDFを作成したり、フォントを設定して字を書いたり、線を書いたり、画像を挿入したり、保存したりすることができます。

PDF::API2の使い方をマスターすれば、自由に帳票を使えるようになります。

<h3>PDF::API2のインストール</h3>

PDF::API2のインストール方法を解説します。

<ul>
  <li><a href="/blog/20191227161458.html">PDF::API2のインストール</a></li>
</ul>

<h3>帳票作成のためのPDFファイル操作</h3>

PDFファイルの作成方法、テキストの描画、画像の挿入、基本図形と表の作成方法を学びましょう。

<ul>
  <li><a href="/blog/20191226175520.html">PDFファイルを作成する</a></li>
  <li><a href="/blog/20191230091936.html">テキストを描画する</a></li>
  <li><a href="/blog/20191231143440.html">画像を挿入する</a></li>
  <li><a href="/blog/20200101082734.html">基本図形の描画と表の作成</a></li>
</ul>

<h3>PDF作成のユーティリティ</h3>

<ul>
  <li><a href="/blog/20200102105023.html">PDFファイルをブラウザから確認する方法</a></li>
</ul>
