<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20191228171433.html">
      <span itemprop="name">帳票作成</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<h2>テキストを描画する  - PDF::API2で帳票作成</h2>

PDF::API2で、PDFにテキストを描画するには、次のようにします。

<pre>
use PDF::API2;

my $pdf = PDF::API2->new;

my $page = $pdf->page;

# コアフォントの読み込み
my $font = $pdf->corefont('Helvetica-Bold');

# テキストを表現するコンテンツオブジェクトを取得
my $text = $page->text();

# フォントを設定
$text->font($font, 11);

# 描画位置を設定(原点は、左下。デフォルトでは、ページの幅が612単位、高さが792単位)
$text->translate(30, 750);

# テキストを描画
$text->text('Hello World!');

my $pdf_file = 'text_core_font.pdf';
$pdf->saveas($pdf_file);
</pre>

<b>フォントオブジェクトの取得</b>

フォントを表現するフォントオブジェクトをcorefontメソッドあるいはttfontメソッドを使って取得します。ここでは、corefontオブジェクトを使って描画しています。

<pre>
# コアフォントの読み込み
my $font = $pdf->corefont('Helvetica-Bold');
</pre>

コアフォントを取得するにはcorefontメソッドを使います。注意点としては、corefontでは、日本語が描画できないことに注意してください。日本語を利用したい場合は、ttfontで日本語をサポートするトゥルータイプフォントを、指定する必要があります。

<b>テキストを表現するコンテンツオブジェクト</b>

テキストを表現するコンテンツオブジェクトをページオブジェクトのtextメソッドを使って取得します。ここでは、テキストを表現するコンテンツオブジェクトをテキストオブジェクトと呼びます。

<pre>
# テキストを表現するコンテンツオブジェクトを取得
my $text = $page->text();
</pre>

<b>フォントの設定</b>

テキストオブジェクトのfontメソッドで、フォントを設定します。

<pre>
# フォントを設定
$text->font($font, 11);
</pre>

<b>描画位置の指定</b>

テキストオブジェクトのtranslateメソッドで描画位置を設定します。

<pre>
# 描画位置を設定(原点は、左下。デフォルトでは、ページの幅が612単位、高さが792単位)
$text->translate(30, 750);
</pre>

原点は、左下。デフォルトでは、ページの幅が612単位、高さが792単位です。PDF座標については、<a href="/blog/20191226175520.html">PDFファイルを作成する</a>の「用紙サイズを設定する」の解説を見てください。

注意点としては、ページの余白やテキストの行数などの設定などはできず、描画位置は、translateメソッドで指定する必要があることです。描画位置を自分で計算して指定する必要があることに注意してください。

<b>テキストの描画</b>

テキストオブジェクトのtextメソッドでテキストを描画します。

<pre>
# テキストを描画
$text->text('Hello World!');
</pre>

テキストを描画すると、現在の描画位置のx座標がテキストの終端まで移動します。この位置は、textposメソッドで取得できます。

<h3>アンダーラインを描画</h3>

テキストにアンダーラインを描画するにはtextメソッドの「-underline」オプションを指定します。「auto」で自動的にアンダーラインの位置が決まります。

<pre>
# アンダーラインを描画
$text->text('Hello World!', -underline => 'auto');
</pre>

<h3>テキストを指定位置を中心として描画</h3>

テキストを指定位置を中心として描画するには、text_centerメソッドを使用します。オプションは、textメソッドと同一です。

<pre>
# アンダーラインを描画
$text->text_center('Hello World!');
</pre>

ページの見出しなどを画面の中央に表示したい場合などに利用できます。

<h3>テキストを指定位置を右端として描画</h3>

テキストを指定位置を右端として描画として描画するには、text_rightメソッドを使用します。オプションは、textメソッドと同一です。

ページ番号などの、右下に表示したい場合などに利用できます。

<pre>
# アンダーラインを描画
$text->text_right('Hello World!');
</pre>

<h3>現在のテキストの描画位置を取得する</h3>

現在のテキストの描画位置を取得するには、textposメソッドを使用します。

<pre>
# 現在のテキストの描画位置を取得
my ($x, $y) = $text->textpos();
</pre>

この値を使って、改行すべき位置をチェックしたり、改ページすべき位置をチェックすることができます。

<h3>フォントとは</h3>

https://fontnavi.jp/zakkuri/105-font_for_mac_win.aspx
