<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20191228171433.html">
      <span itemprop="name">帳票作成</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>
<h2>画像を挿入する - PDF::API2で帳票作成</h2>

PDF::API2で、PNG,GIF,JPEGの画像を挿入する方法を解説します。

PDFには、画像を含めることができます。PDF::API2では、PNG,GIF,JPEG画像を、PDFに挿入することができます。

<h3>画像ファイルの挿入</h3>

画像ファイルを挿入するには、まず画像ファイルを読み込んで、画像表現するリソースオブジェクトを生成する必要があります。

<h4>画像ファイルの読み込み</h4>

画像ファイルを読み込んで、画像表現するリソースオブジェクトを生成しましょう。

<b>JPEGファイルの読み込み</b>

PDF::API2で、JPEGファイルを読み込むには、image_jpegメソッドを使用します。JPEG画像を表現するリソースオブジェクトが返されます。

<pre>
# JPEG画像を表現するリソースオブジェクトを生成
my $image_file = '/path/image.jpeg';
my $image_object = $pdf->image_jpeg($image_file);
</pre>

<b>PNGファイルの読み込み</b>

PDF::API2で、PNGファイルを読み込むには、image_pngメソッドを使用します。PNG画像を表現するリソースオブジェクトが返されます。

<pre>
# PNG画像を表現するリソースオブジェクトを生成
my $image_file = '/path/image.png';
my $image_object = $pdf->image_png($image_file)
</pre>

<b>GIFファイルの読み込み</b>

PDF::API2で、GIFファイルを読み込むには、image_gifメソッドを使用します。GIF画像を表現するリソースオブジェクトが返されます。

<pre>
# GIF画像を表現するリソースオブジェクトを生成
my $image_file = '/path/image.gif';
my $image_object = $pdf->image_gif($image_file)
</pre>

<h4>画像コンテンツオブジェクトの生成</h4>

画像を挿入するための、コンテンツオブジェクトを生成します。これはPDF::API2::Contentオブジェクトです。

<pre>
# 画像を挿入するために必要なコンテンツオブジェクト
my $gfx = $page->gfx;
</pre>

<h4>画像ファイルの挿入</h4>

PDF::API2で、画像ファイルを挿入するには、コンテンツオブジェクトのimageメソッドを使用します。

<pre>
# 指定した位置に画像を挿入
$gfx->image($image_object, $x, $y);

# 指定した位置に画像挿入。幅と高さを指定
$gfx->image($image_object, $x, $y, $width, $height);

# 指定した位置に画像挿入。スケールを指定(1.5倍など)
$gfx->image($image_object, $x, $y, $scale);
</pre>

指定した位置に画像が挿入されます。

幅と高さは、PDF単位であることに注意してください。

例として、600x600のイメージを600dpiの解像度で表示したい場合は、72を指定します。
