<h2>Strawberry PerlとコマンドプロンプトでLinux風環境を作る方法</h2>

Strawberry Perlとコマンドプロンプトで<a href="https://linux.perlzemi.com/">Linux</a>風の環境を作る方法を紹介します。

Perlエンジニアは、開発やサーバー運用をするときは、Linux/Unix環境で作業をしていることが多いです。

<a href="https://linux.perlzemi.com/">Linux</a>用に作ったプログラムをWindowsで試験をしたいといった場合に、実行するコマンドがLinuxとなるべく近いとやりやすいですね。

コマンドプロンプトでもLinuxと同じ感覚で作業ができる方法を紹介します。

<h3>Linux環境とコマンドプロンプトで同じ方法で作業ができること</h3>

先にLinux環境とコマンドプロンプトで、同じ方法で作業ができることはなんでしょうか? 2020年1月に、以下は、Windows 10の環境で確認した項目です。

<h4>cdコマンド</h4>

Linuxの<a href="https://linux.perlzemi.com/blog/20191012191854.html">cdコマンド</a>は、コマンドプロンプトにも、cdコマンドとして存在します。

<h4>ファイルパスの区切りは「/」でOK</h4>

Windowsのファイルパスの区切りは「\」ですが、実は「/」を使うこともできます。コマンドプロンプトのcdコマンドで、「/」を使った例です。

<pre>
cd labo/perlzemi
</pre>

<h4>gccはStrawberry Perlがインストールされていれば使える</h4>

PerlのXSモジュールをインストールするのに必要な、C言語のコンパイラであるgccは、<a href="/blog/20180808153368.html">Strawberry Perl</a>がインストールされていれば最初から使うことができます。

<pre>
gcc --help
</pre>

<h4>コマンドプロンプトを閉じる</h4>

コマンドプロンプトを閉じる場合は、Linuxのexitコマンドと同じコマンドがコマンドプロンプトにも存在します。

<pre>
exit
</pre>

<h4>右クリックで、コピーと張り付け</h4>

コマンドプロンプトの設定で、簡易編集モードにチェックをいれると、右クリックとで、コピーと貼り付けができます。

<a href="https://www.relief.jp/docs/003578.html">コマンドプロンプトのコピー＆ペーストを簡単に−右クリック</a>

<h4>&&によるコマンドの連続実行</h4>

コマンドプロンプトでも&&は、Linuxと同じように使えます。

<pre>
command1 && command2
</pre>

<h4>リダイレクトとパイプ</h4>

Linuxのリダイレクトとパイプは、コマンドプロンプトでも利用できます。

<pre>
command > file.txt
command < file.txt
command1 | command2
</pre>


<h3>コマンドプロンプトには、存在しないLinuxコマンド</h3>

次は、コマンドプロンプトには、存在しないLinuxコマンドです。存在しないのであれば、作ってしまいましょう。

Strawberry Perlがインストールされていれば、次のパスが、コマンドの検索パスに含まれているはずです。

<pre>
C:\Strawberry\perl\site\bin
</pre>

これは、ユーザーがインストールした実行ファイルやバッチファイルが格納される場所です。

このパスの中に、存在しないコマンドを書いてみましょう。

<h4>lsコマンドの作成</h4>

Linuxの<a href="https://linux.perlzemi.com/blog/20191126082723.html">lsコマンド</a>に該当するコマンドを作成しましょう。

拡張子を「.bat」にするとWindowsは、それはコマンドとして認識します。

Strawberry Perlのコマンドの検索パスの中に「ls.bat」というファイルを作成してください。

以下の内容を書き込みます。これでlsコマンドでdirコマンドを呼び出します。

<pre>
dir
</pre>

コマンドプロンプトで以下のコマンドを実行できるようになります。

<pre>
ls
</pre>

<h4>makeコマンドの作成</h4>

gmakeというコマンドは、<a href="/blog/20180808153368.html">Strawberry Perl</a>がインストールされていれば最初から使うことができます。

ですので、これをラッピングしてmakeコマンドを作成してみましょう。

Strawberry Perlのコマンドの検索パスの中に「make.bat」というファイルを作成してください。

以下の内容を書き込みます。これでmakeコマンドでgmakeコマンドを呼び出します。

<pre>
gmake %1
</pre>

%1は、コマンドライン引数です。これを指定しておくと「make test」のように、makeコマンドに引数を与えることができます。

コマンドプロンプトで以下のコマンドを実行できるようになります。

<pre>
make
</pre>

<h4>その他のLinuxコマンド</h4>

必要になれば<a href="https://linux.perlzemi.com/blog/20200113083613.html">catコマンド</a>や<a href="https://linux.perlzemi.com/blog/20191210081417.html">rmコマンド</a>なども、同じ方法で、簡単につくれそうですね。

<h3>Linux風環境を試す</h3>

さぁ、Linuxのあれをやってみましょう。例のあれです。

<pre>
cd proj/MyModule
perl Makefile.PL
make && make test
</pre>

いいですね!

<h3>コマンドプロンプトの文字コードをUTF-8に変更する</h3>

Linuxでは、一般的にデフォルトの文字コードはUTF-8です。コマンドプロンプトのデフォルトの文字コードはcp932ですが、これをUTF-8に、変更することができます。

<ul>
  <li><a href="/blog/20210903122616.html">WindowsのコマンドプロンプトでUTF-8を表示する方法</a></li>
</ul>

<h3>よくある質問</h3>

よくある質問です。

<h4>DOSKEYで、エイリアスを使えばよいのでは?</h4>

はい、これは試しました。ですが、&&を実行するときは、コマンドプロンプトは新しいプロセスを実行します。実はこのとき環境を受け継いでくれず、エイリアスが効かなくなります。よく使う「make && make test」が実行できないです。

<h4>パワーシェルではだめなのですか?</h4>

パワーシェルは、コマンドプロンプトの改良というよりは、Windowsの運用をやりやすい用に設計されたコマンドラインツールです。

リダイレクトやパイプは「.net」上に構築されていて、「.net」の内部データ構造へ変換されてしまいます。改行コードで、意図せず、予期しづらい変換がされた経験があります。

一方、コマンドプロンプトでは、リダイレクトやパイプで、そのままの情報が出力されます。

プログラム自体の動作を確認したい場合は、そのままの情報が出力される、コマンドプロンプトが優れています。
