<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop="name">構文</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161003147558.html">
        <span itemprop="name">文字列</span></a>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<h2>シングルクォート文字列のエスケープシーケンス</h2>

シングルクォート文字列のエスケープシーケンスの一覧です。

<table>
  <tr><th>エスケープシーケンス</th><th>意味</th></tr>
  <tr><td>\'</td><td>'</td></tr>
  <tr><td>\\</td><td>\</td></tr>
</table>

シングルクォートの中で、シングルクォートを表現する「\'」と、バックスラッシュ自体を表現する「\\」を覚えておきましょう。

<pre>
my $message = 'I \'m honest Perl User\\';
</pre>
