<h2>Perlの書籍</h2>

Perlの書籍の紹介。

<h3>Perl入門書</h3>

<ul>
  <li>
    <a href="/blog/20200502174033.html">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51t%2B7ZTGW6L._SX388_BO1,204,203,200_.jpg"><br>
      初めてのPerl 第7版
    </a>
  </li>
  <li>
    <a href="/blog/20200726215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/47741/4774177911.jpg"><br>
      かんたんＰｅｒｌ プログラミングの教科書
    </a>
  </li>
</ul>

<h3>Perl実践</h3>

<ul>
  <li></li>
</ul>

<h3>正規表現</h3>

<ul>
  <li>
    <a href="/blog/20200727215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/48731/4873113598.jpg"><br>
      詳説　正規表現　第３版 （第３版）
    </a>
  </li>
</ul>


<h3>データベース</h3>

