<style>
  .bottom { display:none; }
</style>

<h2>【書籍案内】Perlベストプラクティス</h2>

「Perlベストプラクティス」は、Perlの良い書き方の慣習について、書かれたものです。筆者が、現代のPerlで推奨されると考える書き方が解説されています。
<img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/large/48731/4873113008.jpg">

<blockquote>
内容説明
著者の22年間にわたるプログラミング経験による200を超えるガイドラインで学ぶ真のテクニック。
</blockquote>

<h3>Perlベストプラクティスの目次</h3>

Perlベストプラクティスの目次です。

<pre>
目次
ベストプラクティス
コードのレイアウト
命名規則
値と式
変数
制御構造
ドキュメント
組み込み関数
サブルーチン
I/O
参照
エラー処理
コマンドライン処理
オブジェクト
クラス階層
モジュール
テストとデバッグ
</pre>

<blockquote>
著者等紹介
コンウェイ,ダミアン[コンウェイ,ダミアン][Conway,Damian]
コンピュータサイエンスの博士号を取得し、オーストラリアのメルボルンにあるモナッシュ大学コンピュータサイエンス/ソフトウェアエンジニアリングスクールの名誉助教授に任命されている。現在は、Thoughtstreamという国際的なITトレーニング会社を経営しており、ヨーロッパ、北アメリカ、オーストラリアでビジナーレベルからマスターレベルまでのプログラマを育成している。1998年、1999年、2000年度のLarry Wall Awards for Practical Utilityに輝いている。毎年開催されるPerl Conferenceの最優秀研究論文賞の常連でもある。The Perl Conferenceの技術委員を務めている。Perlモジュールの作成者でもある(本データはこの書籍が刊行された当時に掲載されていたものです)
※書籍に掲載されている著者及び編者、訳者、監修者、イラストレーターなどの紹介情報です。
</blockquote>

<h3>Perlベストプラクティスの購入</h3>

<ul>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886428281&vc_url=https%3A%2F%2Fwww.kinokuniya.co.jp%2Ff%2Fdsg-01-9784873113005" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886428281" height="1" width="0" border="0">紀伊国屋書店で購入</a></li>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886663584&vc_url=https%3A%2F%2Fhonto.jp%2Fnetstore%2Fpd-book_02705017.html%3Fpartnerid%3D02vc01" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886663584" height="1" width="0" border="0">hontoで購入</a></li>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886663670&vc_url=https%3A%2F%2Fbooks.rakuten.co.jp%2Frb%2F4113678%2F%3Fl-id%3Dsearch-all-non-again%26scid%3Daf_vlc_kobo%26argument%3DbgyDAcwK%26dmai%3DVC0001" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886663670" height="1" width="0" border="0">楽天ブックスで購入</a></li>
  <li></li>
</ul>
