<style>
  .bottom { display:none; }
</style>

<h2>【書籍案内】かんたんPerl プログラミングの教科書</h2>

「かんたんPerl プログラミングの教科書」は、日本人の著者によるPerlの入門書。プログラミングを0から始める方が、Perlの基礎を学ぶのに適しています。実際に動くサンプルが300本収録。

<img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/47741/4774177911.jpg">

<blockquote>
内容説明

すぐわかる!プログラミング入門書。一歩一歩ていねいに解説。実動サンプル300本。あるあるエラーも先回り解説。
</blockquote>

<h3>かんたんPerl プログラミングの教科書の目次</h3>

かんたんPerl プログラミングの教科書の目次です。

<pre>
目次
最初はあいさつから
数と計算
文字列とコンテキスト
リストと配列
ハッシュ
枝分かれのifと真偽
繰り返しと脱出
自作関数サブルーチン
ファイル処理
日本語処理
正規表現
モジュール入門/フォルダー処理、CGI
</pre>

<blockquote>
著者等紹介

深沢千尋[フカザワチヒロ]

汎用機のSE、技術翻訳会社でのツール開発および社員教育担当を経て、現在はフリーのテクニカルライター、プログラマー(本データはこの書籍が刊行された当時に掲載されていたものです)
</blockquote>

<blockquote>
※書籍に掲載されている著者及び編者、訳者、監修者、イラストレーターなどの紹介情報です。

出版社内容情報

本書は、プログラム言語Perlの入門書です。Perlは、気楽に書けて超強力な言語として、長く親しまれています。本書ではデータ構造、アルゴリズム、ファイル処理、日本語処理、正規表現をまったくの初歩から学ぶことで、基本的な考え方から、実用的なプログラミングまで、楽しく身につけられることを目的としています。
</blockquote>

<h3かんたんPerlの購入</h3>

<ul>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886428281&vc_url=https%3A%2F%2Fwww.kinokuniya.co.jp%2Ff%2Fdsg-01-9784774177915" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886428281" height="1" width="0" border="0">紀伊国屋書店で購入</a></li>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886663584&vc_url=https%3A%2F%2Fhonto.jp%2Fnetstore%2Fpd-book_02999825.html%3Fpartnerid%3D02vc01" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886663584" height="1" width="0" border="0">hontoで購入</a></li>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886663670&vc_url=https%3A%2F%2Fbooks.rakuten.co.jp%2Frb%2F13530380%2F%3Fl-id%3Dsearch-c-item-text-01%26scid%3Daf_vlc_kobo%26argument%3DbgyDAcwK%26dmai%3DVC0001" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886663670" height="1" width="0" border="0">楽天ブックスで購入</a></li>
  <li></li>
</ul>
