<style>
  .bottom { display:none; }
</style>

<h2>【書籍案内】続・初めてのＰｅｒｌ （改訂第２版）</h2>

「続・初めてのＰｅｒｌ」では「初めてのPerl」では、扱えなかったリファレンス、複雑なデータ構造、オブジェクト指向、テストなどについて解説。Perlの基礎を学び終えて、ステップアップしたい方向けの一冊です。

<img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/large/48731/4873116287.jpg">

<blockquote>
内容説明

『初めてのＰｅｒｌ』の著者が書き下ろした続編の改訂第２版。Ｐｅｒｌ入門を済ませた読者が次のステージへと進むために必要な基礎知識やノウハウを解説。『初めてのＰｅｒｌ』では説明しきれなかった内容を扱っています。Ｐｅｒｌプログラマがステップアップするために欠かすことのできないリファレンス、ディストリビューション、Ｐｅｒｌのオブジェクト指向、テストなどについて詳しく解説し、Ｐｅｒｌを使って大規模なプログラムを書く方法を示します。ステップアップしたいＰｅｒｌプログラマの必読書です。
</blockquote>

<h3>続・初めてのＰｅｒｌ の目次</h3>

続・初めてのＰｅｒｌ の目次です。

<pre>
目次
イントロダクション
モジュールの使い方
中級者の基礎知識
リファレンス入門
リファレンスとスコープ
複雑なデータ構造の操作
サブルーチンへのリファレンス
ファイルハンドルへのリファレンス
正規表現へのリファレンス
リファレンスを使った実践的なテクニック〔ほか〕
</pre>

<blockquote>
リファレンスを使った実践的なテクニック〔ほか〕

著者等紹介

シュワルツ，ランダル・Ｌ．［シュワルツ，ランダルＬ．］ ［Ｓｃｈｗａｒｔｚ，Ｒａｎｄａｌ　Ｌ．］
Ｐｅｒｌプログラミング言語の専門家として著名な人物。Ｐｅｒｌのトレーニングおよびコンサルティングの会社（Ｓｔｏｎｅｈｅｎｇｅ　Ｃｏｎｓｕｌｔｉｎｇ　Ｓｅｒｖｉｃｅｓ）を営んでいる。また、技術的な能力、笑いを誘う間、聴衆の支持をあわせ持つため、講演者としても高く評価されている

フォイ，ブライアン・Ｄ．［フォイ，ブライアンＤ．］ ［Ｆｏｙ，Ｂｒｉａｎ　Ｄ．］
１９９８年以来、Ｓｔｏｎｅｈｅｎｇｅ　Ｃｏｎｓｕｌｔｉｎｇ　Ｓｅｒｖｉｃｅｓの講師を務めている。最初のＰｅｒｌユーザグループであるＮｅｗ　Ｙｏｒｋ　Ｐｅｒｌ　Ｍｏｎｇｅｒｓを設立した他、世界中の２００以上のＰｅｒｌユーザグループの設立を助けた非営利Ｐｅｒｌ支援グループであるＰｅｒｌ　Ｍｏｎｇｅｒｓ，Ｉｎｃ．の設立者でもある。Ｐｅｒｌコアドキュメントのｐｅｒｌｆａｑの部分の他、ＣＰＡＮのいくつかのモジュール、独立したいくつかのスクリプトをメンテナンスしている

フェニックス，トム［フェニックス，トム］ ［Ｐｈｏｅｎｉｘ，Ｔｏｍ］
１９８２年以来、教育の分野で活躍している。科学博物館で解剖、爆発、おもしろい動物の展示、高圧スパークなどの仕事に１３年間従事した後、１９９６年からはＳｔｏｎｅｈｅｎｇｅ　Ｃｏｎｓｕｌｔｉｎｇ　ＳｅｒｖｉｃｅｓでＰｅｒｌを教えている。オレゴン州ポートランドで暮らしている

伊藤直也［イトウナオヤ］
ニフティ、はてな、グリーを経て現在フリーランス。ブログやソーシャルブックマークなどＷｅｂサービス開発に１０年以上携わる

長尾高弘［ナガオタカヒロ］
１９６０年千葉県生まれ。東京大学教育学部卒。株式会社ロングテール社長（本データはこの書籍が刊行された当時に掲載されていたものです）

※書籍に掲載されている著者及び編者、訳者、監修者、イラストレーターなどの紹介情報です。
</blockquote>

<h3>続・初めてのＰｅｒｌ の購入</h3>

<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
