<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161022147731.html">
        <span itemprop="name">構文</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161003147558.html">
        <span itemprop="name">文字列</span></a>
    <meta itemprop="position" content="3" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<h2>シングルクォート文字列</h2>

<b>シングルクォート文字列</b>とは、シングルクォートで囲まれた文字列です。<a href="/blog/20201026075254.html">ダブルクォート文字列</a>とは違って、<a href="/blog/20180228151982.html">変数展開</a>は行われず、改行文字「\n」などの<a href="/blog/20201030075254.html">ダブルクォート用のエスケープシーケンス</a>も使えません。

<pre>
# シングルクォート文字列
my $name = 'Perl Tutorial Book';
</pre>

変数展開は行われず、改行文字もそのまま表示されます。

<pre>
my $message = 'I like $book\n';

# 「I like $book\n」と表示される。
print $message;
</pre>

シングルクォート文字列は、変数展開や改行文字を使わない文字列定数であることを明示的に表現したいときに使うことができます。

<h3>シングルクォート文字列のエスケープシーケンス</h3>

シングルクォート文字列のエスケープシーケンスの一覧です。

<table>
  <tr><th>エスケープシーケンス</th><th>意味</th></tr>
  <tr><td>\'</td><td>'</td></tr>
  <tr><td>\\</td><td>\</td></tr>
</table>

シングルクォートの中で、シングルクォートを表現する「\'」と、バックスラッシュ自体を表現する「\\」を覚えておきましょう。

<pre>
my $message = 'I \'m honest Perl User\\';
</pre>

シングルクォート文字列のエスケープシーケンスの解説ページは以下です。

<ul>
  <li><a href="/blog/20201029075254.html">シングルクォート文字列のエスケープシーケンス</a></li>
</ul>

もしシングルクォートが含まれた文字列をコピー＆ペーストで利用したい場合は、<a href="/blog/20100304126967.html">シングルクォート演算子</a>を使うこともできます。

<h3>シングルクォート文字列の動画解説</h3>

<ul>
  <li>
    <a href="https://www.youtube.com/watch?v=Zwqdaqj430E">シングルクォート文字列の動画解説 - Perlプログラミングちゃんねる</a>
  </li>
</ul>
