<style>
  .bottom { display:none; }
</style>

<h2>【書籍案内】プログラミングPerl〈VOLUME2〉 (第3版)</h2>

「かんたんPerl プログラミングの教科書」は、日本人の著者によるPerlの入門書。プログラミングを0から始める方が、Perlの基礎を学ぶのに適しています。実際に動くサンプルが300本収録。

<img src="https://images-na.ssl-images-amazon.com/images/I/51EHNQ64V6L.jpg">

<blockquote>
内容説明

世界中のユーザから圧倒的な支持を得て、プラットフォームを越えた定番のプログラミング言語となったPerl。その原典である本書には、「セキュリティ」や「Perlの常識」を含む「文化としてのPerl」と、特殊変数や標準関数、プラグマモジュール、標準モジュールなどをまとめた「リファレンス」の2パートを収録。言語の開発者自らが、Perlプログラムの書き方について解説した。</blockquote>

<h3>プログラミングPerl〈VOLUME2〉 (第3版)の目次</h3>

プログラミングPerl〈VOLUME2〉 (第3版)の目次です。

<pre>
目次
4部 文化としてのPerl(CPAN;セキュリティ;Perlの常識;Perlスクリプトの移植性;POD(Plain Old Documentation)
Perl文化)
5部 リファレンス(特殊変数;関数;標準Perlライブラリ;プラグマモジュール;標準モジュール;診断メッセージ)
</pre>

<blockquote>
著者等紹介

ウォール,ラリー〈Wall,Larry〉/クリスチャンセン,トム〈Christiansen,Tom〉/オーワント,ジョン【著】〈Orwant,Jon〉/近藤 嘉雪【訳】
</blockquote>

<h3プログラミングPerl〈VOLUME2〉 (第3版)の購入</h3>

<ul>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886428281&vc_url=https%3A%2F%2Fwww.kinokuniya.co.jp%2Ff%2Fdsg-01-9784873110974" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886428281" height="1" width="0" border="0">紀伊国屋書店で購入</a></li>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886663584&vc_url=https%3A%2F%2Fhonto.jp%2Fnetstore%2Fpd-book_02224721.html%3Fpartnerid%3D02vc01" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886663584" height="1" width="0" border="0">hontoで購入</a></li>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886663670&vc_url=https%3A%2F%2Fbooks.rakuten.co.jp%2Frb%2F1486332%2F%3Fl-id%3Dsearch-all-non-again%26scid%3Daf_vlc_kobo%26argument%3DbgyDAcwK%26dmai%3DVC0001" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886663670" height="1" width="0" border="0">楽天ブックスで購入</a></li>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886662145&vc_url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2583%2597%25E3%2583%25AD%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%259F%25E3%2583%25B3%25E3%2582%25B0Perl%25E3%2580%2588VOLUME2%25E3%2580%2589-%25E3%2583%25A9%25E3%2583%25AA%25E3%2583%25BC-%25E3%2582%25A6%25E3%2582%25A9%25E3%2583%25BC%25E3%2583%25AB%2Fdp%2F4873110971%2Fref%3Dsr_1_1%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26dchild%3D1%26keywords%3D%25E3%2583%2597%25E3%2583%25AD%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%259F%25E3%2583%25B3%25E3%2582%25B0Perl%25E3%2580%2588VOLUME2%26qid%3D1596244960%26s%3Dbooks%26sr%3D1-1%26tag%3Dvc-22%26linkCode%3Dure" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886662145" height="1" width="0" border="0">Amazonで購入</a></li>
</ul>
