<h2>Dモジュール</h2>

Dモジュールは、データをエンコードし標準エラー出力へダンプするユーティリティ関数を提供します。

<h3>インストール</h3>
cpanmでインストールする方法
<pre>
$ cpanm install D
</pre>

githubからダウンロードしてインストールする方法
<pre>
$ git clone https://github.com/YoshiyukiItoh/D.git
$ cd D
$ perl Makefile.PL
$ make
$ make test
$ make install
</pre>

<h3>利用例</h3>

Dモジュールは、以下のように利用します。
<pre>
use utf8;
 
# dw, du, dn関数をexportします
use D;
 
# デコードされた文字列を含むデータ(リファレンス)を準備します
my $data = [{name => 'あ'}, {name => 'い'}];
 
# リファレンスデータをエンコード(utf8)し標準エラー出力にダンプします
du $data;
 
# リファレンスデータをエンコード(cp932)し標準エラー出力にダンプします
dw $data;
 
# リファレンスデータをエンコードせずに標準エラー出力にダンプします
dn $data;
</pre>


<h3>特徴</h3>
<ul>
<p><li>du, dw, dn関数をエクスポートします。これらの関数名は、2文字のため'p' などのデバックコマンドと競合しないでください。</li></p>
<p><li>du, dw関数はリファレンスデータの全ての文字列をエンコードします。</li></p>
<p><li>duは'dump UTF-8'の短縮名です。</li></p>
<p><li>dwは'dump Windows cp932'の短縮名です。</li></p>
<p><li>dnは'dump no encoding'の短縮名です。</li></p>
<p><li>One Linerは便利です。'use D; du $data;' or 'use D; dw $data;' or 'use D; dn $data;'</li></p>
<p><li>Data::DumperのDump関数を使用してデータをダンプします。</li></p>
<p><li>行番号とファイル名を標準エラーへ出力します。</li></p>
<p><li>ダンプされたデータのハッシュのキーでソートします。</li></p>
<p><li>Data::Dumperのデフォルトとは異なり、'$VAR1 ='を出力しません。</li></p>
</ul>


<h3>エクスポートする関数</h3>
du, dw, dn関数をエクスポートします。


<h3>関数</h3>

<h4>du関数</h4>
リファレンスデータ内のすべての文字列をUTF-8にエンコードし、リファレンスデータをファイル名, 行番号とともに標準エラー出力へダンプします。
引数が文字列などの参照データでない場合も、リファレンスデータと同じ方法でダンプされます。

<h4>dw関数</h4>
リファレンスデータ内のすべての文字列をCP932にエンコードし、リファレンスデータをファイル名, 行番号とともに標準エラー出力へダンプします。
引数が文字列などの参照データでない場合も、リファレンスデータと同じ方法でダンプされます。

<h4>dn関数</h4>
リファレンスデータ内のすべての文字列をエンコードせず、リファレンスデータをファイル名, 行番号とともに標準エラー出力へダンプします。
引数が文字列などの参照データでない場合も、リファレンスデータと同じ方法でダンプされます。

<h4>バグレポート</h4>
<a href="https://github.com/YoshiyukiItoh/D" target="_blank">https://github.com/YoshiyukiItoh/D</a>

<h4>関連項目</h4>
<ul>
<li><a href="https://metacpan.org/pod/Data::Dumper" target="_blank">Data::Dumper</a></li>
<li><a href="https://metacpan.org/pod/Carp" target="_blank">Carp</a></li>
<li><a href="https://metacpan.org/pod/Data::Recursive::Encode" target="_blank">Data::Recursive::Encode</a></li>
</ul>

<h4>元ページ(meta::cpan)</h4>
<a href="https://metacpan.org/pod/D" target="_blank">https://metacpan.org/pod/D</a>
