<h2>2020年3月のPerlゼミブランドのサイト一覧</h2>

2020年3月のPerlゼミブランドのサイト一覧。

<h3>1年以内のPerlゼミブランドの新公開サイト</h3>

1年以内のPerlゼミブランドの新公開サイト、新しい順!!!

<ul>
  <li><a href="https://deeplearning.perlzemi.com/">Perlで学ぶディープラーニング入門</a>2020/2/27～</li> 
  <li><a href="https://datascience.perlzemi.com/">Perlで学ぶデータサイエンス入門</a>2020/2/27～</li> 
  <li><a href="https://bio.perlzemi.com/">Perlで学ぶ分子生物学・バイオインフォマティクス入門 高速処理対応</a>2020/2/27～</li> 
  <li><a href="https://note.com/perlzemi">エンジニアのメンタルヘルス改善ノート</a>2020/2/8～</li> 
  <li><a href="https://webdesign.perlzemi.com">Webデザイン入門</a>2020/2/6～</li> 
  <li><a href="https://education.perlzemi.com">プログラミング教育の教材</a>2020/2/6～</li> 
  <li><a href="https://laboratory.perlzemi.com">Perlゼミ ソフトウェア研究所</a>2020/2/6～</li>
  <li><a href="https://centos.perlclub.net">CentOS入門</a>2020/2/6～</li>
  <li><a href="https://mariadb.perlzemi.com">MariaDB入門</a>2020/2/6～</li>
  <li><a href="http://school.perlzemi.com">Perlゼミのプログラミングスクール</a>2020/2/6～</li>
  <li><a href="https://dbix-custom.perlzemi.com">DBIx::Custom - PerlのO/Rマッパー</a>2020/1/25～</li>
  <li><a href="https://perlzemichannel.seesaa.net">Perlゼミの「爆速」プログラミングチャンネル</a>2020/1/11～</li>
</ul>

<h3>Perlゼミブランドのサイト一覧</h3>

<ul>
  <li><a href="https://philosophy.perlzemi.com">Perlの哲学</a>2019～</li>
  <li><a href="https://linux.perlclub.net">Linuxサーバー管理入門</a>2019～</li>
  <li><a href="https://web.perlzemi.com">Mojoliciousスタートアップ</a>2019～</li>
  <li><a href="https://doc.giblog.net">Giblog日本語ドキュメント</a>2019～</li>
  <li><a href="https://giblog.perlclub.net">Giblog公式サイト</a>2019～</li>
  <li><a href="https://metacpan.org/pod/SPVM">SPVMドキュメント</a>2019～</li>
  <li><a href="https://perlcodesample.hateblo.jp">Perlテックブログ</a>2018年～</li>
  <li><a href="https://mojodoc.perlzemi.com">Mojoliciousドキュメント 日本語訳</a>2014～</li>
  <li><a href="https://tutorial.perlzemi.com/">Perl入門ゼミ</a>2009年～</li>
</ul>
