<style>
  .bottom {
    display:none;
  }
</style>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">書籍案内</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

<h2>【書籍案内】初めてのPerl - Perl入門書 定番の一冊</h2>

「初めてのPerl」はPerl入門書 定番の一冊で、オライリーから出版されています。

文章に、独特の表現は多いです。まったくのプログラミング初心者が学ぶ場合は、すこし難しく感じるかもしれません。

他のプログラミング言語を学んでいる人が、Perlプログラミングの基礎を学んだり、Perlの文化やPerlの発展歴史などを感じるのに適していると思います。

<a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886428281&vc_url=https%3A%2F%2Fwww.kinokuniya.co.jp%2Ff%2Fdsg-01-9784873118246" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886428281" height="1" width="0" border="0"><img src='https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/48731/4873118247.jpg' border='0' /></a>

<blockquote>
1993年の第1版の発刊以来、多くのPerlユーザに読まれ、Perl入門書の定番として不動の人気を誇ってきたロングセラーの改訂版です。

Perl言語を基礎からていねいに解説します。

効果的にPerlを学ぶことができるように、長年にわたって著者たちが工夫と改良を重ねており、高い評価を得て支持され続けています。

本書はPerl 5.24に対応して改訂されています。Perl 5.24では、サブルーチンと数値計算が高速化されるなどパフォーマンスが大きく改善されたほか、Unicode 8.0のサポート、新たな正規表現の追加など、機能が強化されています。

実験的機能についても積極的に取り上げています。
</blockquote>

<h3>目次</h3>

初めてのPerlの目次紹介。

<pre>
目次
はじめに

1章　Perl入門
    1.1　質疑応答
    1.2　Perlとは何の略でしょうか？
    1.3　どうすれば Perlが手に入りますか？
    1.4　どうやって Perlのプログラムを作るのでしょうか？
    1.5　Perl早わかりツアー
    1.6　練習問題

2章　スカラーデータ
    2.1　数値
    2.2　文字列
    2.3　Perlに組み込まれている警告メッセージ
    2.4　スカラー変数
    2.5　printによる出力
    2.6　if制御構造
    2.7　ユーザからの入力を受け取る
    2.8　chomp演算子
    2.9　while制御構造
    2.10 未定義値
    2.11 defined関数
    2.12 練習問題

3章　リストと配列
    3.1　配列の要素にアクセスする
    3.2　配列の特別なインデックス
    3.3　リストリテラル
    3.4　リスト代入
    3.5　配列を文字列の中に展開する
    3.6　foreach制御構造
    3.7　スカラーコンテキストとリストコンテキスト
    3.8　リストコンテキストで <STDIN>を使う
    3.9　練習問題

4章　サブルーチン
    4.1　サブルーチンを定義する
    4.2　サブルーチンを起動する
    4.3　戻り値
    4.4　引数
    4.5　サブルーチン内でプライベートな変数
    4.6　可変長のパラメータリスト
    4.7　レキシカル変数（my変数）についての注意事項
    4.8　use strictプラグマ
    4.9　return演算子
    4.10 スカラー以外の戻り値
    4.11 永続的なプライベート変数
    4.12 サブルーチンシグネチャ
    4.13 練習問題

5章　入力と出力
    5.1　標準入力からの入力
    5.2　ダイヤモンド演算子からの入力
    5.3　起動引数
    5.4　標準出力への出力
    5.5　printfによるフォーマット付き出力
    5.6　ファイルハンドル
    5.7　ファイルハンドルをオープンする
    5.8　dieによって致命的エラーを発生させる
    5.9　ファイルハンドルを使う
    5.10 標準ファイルハンドルを再オープンする
    5.11 sayを使って出力する
    5.12 ファイルハンドルをスカラー変数に入れる
    5.13 練習問題

6章　ハッシュ
    6.1　ハッシュとは？
    6.2　ハッシュの要素にアクセスする
    6.3　ハッシュ関数
    6.4　ハッシュの利用例
    6.5　%ENVハッシュ
    6.6　練習問題

7章　正規表現
    7.1　並び
    7.2　パターンの練習
    7.3　ワイルドカード
    7.4　量指定子
    7.5　パターンをグループにまとめる
    7.6　選択肢
    7.7　文字クラス
    7.8　Unicode属性
    7.9　アンカー
    7.10 練習問題

8章　正規表現によるマッチ
    8.1　m//を使ってマッチを行う
    8.2　マッチ修飾子
    8.3　結合演算子 =~
    8.4　マッチ変数
    8.5　優先順位
    8.6　パターンをテストするプログラム
    8.7　練習問題

9章　正規表現によるテキスト処理
    9.1　s///を使って置換を行う
    9.2　split演算子
    9.3　join関数
    9.4　m//をリストコンテキストで使う
    9.5　より強力な正規表現機能
    9.6　練習問題

10章　さまざまな制御構造
    10.1　unless制御構造
    10.2　until制御構造
    10.3　文修飾子
    10.4　裸のブロック制御構造
    10.5　elsif節
    10.6　オートインクリメントとオートデクリメント
    10.7　for制御構造
    10.8　ループを制御する
    10.9　条件演算子
    10.10 論理演算子
    10.11 練習問題

11章　Perlモジュール
    11.1　モジュールを探す
    11.2　モジュールをインストールする
    11.3　単純なモジュールを使う
    11.4　練習問題

12章　ファイルテスト
    12.1　ファイルテスト演算子
    12.2　stat関数と lstat関数
    12.3　localtime関数
    12.4　ビット演算子
    12.5　練習問題

13章　ディレクトリ操作
    13.1　カレントディレクトリ
    13.2　ディレクトリを移動する
    13.3　グロブ
    13.4　グロブの別の書き方
    13.5　ディレクトリハンドル
    13.6　ファイルとディレクトリの取り扱い
    13.7　ファイルを削除する
    13.8　ファイルの名前を変更する
    13.9　リンクとファイル
    13.10 ディレクトリの作成と削除
    13.11 パーミッションを変更する
    13.12 ファイルのオーナーを変更する
    13.13 タイムスタンプを変更する
    13.14 練習問題

14章　文字列処理とソート
    14.1　indexを使って部分文字列を探す
    14.2　substrを使って部分文字列をいじる
    14.3　sprintfを使ってデータをフォーマットする
    14.4　高度なソート
    14.5　練習問題

15章　プロセス管理
    15.1　system関数
    15.2　環境変数
    15.3　exec関数
    15.4　バッククォートを使って出力を取り込む
    15.5　IPC::System::Simpleによる外部プロセスの起動
    15.6　プロセスをファイルハンドルとして使う
    15.7　forkを使って低レベル処理を行う
    15.8　シグナルを送受信する
    15.9　練習問題

16章　上級テクニック
    16.1　スライス
    16.2　エラーをトラップする
    16.3　grepを使ってリストから要素を選び出す
    16.4　mapを使ってリストの要素を変換する
    16.5　便利なリストユーティリティ
    16.6　練習問題

付録A　練習問題の解答
    1章の練習問題の解答
    2章の練習問題の解答
    3章の練習問題の解答
    4章の練習問題の解答
    5章の練習問題の解答
    6章の練習問題の解答
    7章の練習問題の解答
    8章の練習問題の解答
    9章の練習問題の解答
    10章の練習問題の解答
    11章の練習問題の解答
    12章の練習問題の解答
    13章の練習問題の解答
    14章の練習問題の解答
    15章の練習問題の解答
    16章の練習問題の解答

付録B　リャマを越えて
    B.1　豊富なドキュメント
    B.2　正規表現
    B.3　パッケージ
    B.4　Perlの機能を拡張する
    B.5　データベース
    B.6　数学
    B.7　リストと配列
    B.8　ビット操作
    B.9　フォーマット
    B.10 ネットワークと IPC
    B.11 セキュリティ
    B.12 デバッグ
    B.13 コマンドラインオプション
    B.14 組み込み変数
    B.15 リファレンス
    B.16 タイ変数
    B.17 演算子オーバーロード
    B.18 Perlから他の言語を使う
    B.19 Perlを他のプログラムに組み込む
    B.20 findコマンドラインを Perlに変換する
    B.21 コマンドラインオプションを受け取る
    B.22 ドキュメントを埋め込む
    B.23 ファイルハンドルをオープンする他の方法
    B.24 グラフィカルユーザインタフェース（GUI）
    B.25 そしてまだまだ続く……

付録C　Unicode入門
    C.1　Unicode
    C.2　UTF-8と仲間たち
    C.3　みんなの同意を取り付ける
    C.4　ファンシーな文字
    C.5　Perlでの Unicodeの扱い方
    C.6　データベースの扱い
    C.7　参考文献

付録D　実験的機能
    D.1　Perl開発小史
    D.2　新しい Perlをインストールする
    D.3　実験的機能
</pre>

<h3>初めてのPerlの購入</h3>

初めてのPerlのご購入はこちらから。

<ul>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886428281&vc_url=https%3A%2F%2Fwww.kinokuniya.co.jp%2Ff%2Fdsg-01-9784873118246" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886428281" height="1" width="0" border="0">紀伊国屋書店で購入</a></li>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886662115&vc_url=https%3A%2F%2Fstore.shopping.yahoo.co.jp%2Fhmv%2F8479056.html%3Fsc_i%3Dshp_pc_search_itemlist_shsrg_title" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886662115" height="1" width="0" border="0">YAHOO!ショッピングで購入</a></li>
  <li><a target="_blank" href="https://www.amazon.co.jp/gp/product/4873118247/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4873118247&linkCode=as2&tag=yukikimoto-22&linkId=a7db7b71c054ca4822f997ea785d60d7">Amazonで購入</a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=yukikimoto-22&l=am2&o=9&a=4873118247" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
</ul>
