<h2>【書籍案内】詳説　正規表現　第３版 （第３版）</h2>

正規表現を詳細に解説した書籍です。正規表現エンジンの仕組みまで深く知りたい場合に有用です。正規表現のプログラムのサンプルとしてPerl、Java、.NET、PHPが紹介されています。

<img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/48731/4873113598.jpg">

<blockquote>
詳説　正規表現　第３版 （第３版）

内容説明
本書は正規表現の概念を詳細に解説し、言語やツールの実例を豊富に示しながら、正規表現への理解を深める解説書である。第３版では、前版のＪａｖａと．ＮＥＴに加え、新たにＰＨＰの章が追加された。正規表現の本質を読み解く決定版。
</blockquote>

<h3>詳説　正規表現の目次</h3>

詳説　正規表現の目次です。

<pre>
目次

１章　正規表現入門
２章　初心者向けのサンプル
３章　正規表現の機能と方言
４章　正規表現処理のメカニズム
５章　正規表現の実践的なテクニック
６章　効率のよい正規表現の作り方
７章　Ｐｅｒｌ
８章　Ｊａｖａ
９章　．ＮＥＴ
１０章　ＰＨＰ

著者等紹介

フリードル，ジェフリー・Ｅ．Ｆ．［フリードル，ジェフリーＥ．Ｆ．］［Ｆｒｉｅｄｌ，Ｊｅｆｆｒｅｙ　Ｅ．Ｆ．］
ケント大学（学士号）とニューハンプシャー大学（修士号）を修了し、オムロン株式会社（京都）でカーネルの開発に８年間携わった後、１９９７年にシリコンバレーへ移り、当時まだほとんど知られていなかった“Ｙａｈｏｏ！”で彼の正規表現のノウハウを金融関係のニュースやデータを処理するシステムの開発に注いだ。２００４年の春、妻と息子とともに京都へ戻った

長尾高弘［ナガオタカヒロ］

１９６０年千葉県生まれ。１９８４年東京大学教育学部卒。昭和の終わり頃から技術翻訳にかかわり、１９９７年に株式会社ロングテールを設立、社長を務める（本データはこの書籍が刊行された当時に掲載されていたものです）
※書籍に掲載されている著者及び編者、訳者、監修者、イラストレーターなどの紹介情報です。

出版社内容情報

各種プログラミング言語などに実装された、文書処理、フォーマット変換、検索処理のための基礎技術である「正規表現」の真髄を解く、世界的ロングセラーの待望の改訂版。
</pre>

<h3>詳説　正規表現の購入</h3>

<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
