<h2>Perlクラブのオンラインテキスト</h2>

Perlクラブのオンラインテキストのご紹介です。Perlを中心とし、Linux上でWebシステム開発環境の作成、Webシステムの開発の話題があります。

<ul>
  <li><a href="https://www.youtube.com/embed/51rY9Xswv0E">Perlプログラミングちゃんねる - Youtube</a></li>
  <li><a href="https://webapp.perlzemi.com">Webシステム開発入門</a></li>
  <li><a href="https://webdesign.perlzemi.com">Webデザイン入門</a></li> 
  <li><a href="https://mojolicious.perlzemi.com/">Mojolicious入門</a></li>
  <li><a href="https://mojodoc.perlzemi.com">Mojoliciousドキュメント</a></li>
  <li><a href="https://linux.perlclub.net">Linuxサーバー管理入門</a></li>
  <li><a href="https://ubuntu.perlclub.net/">Ubuntuサーバー構築入門</a></li> 
  <li><a href="https://centos.perlclub.net">CentOSサーバー構築入門</a></li>
  <li><a href="https://mariadb.perlzemi.com">MariaDB</a></li>
  <li><a href="https://dbix-custom.perlzemi.com">DBIx::Custom</a></li>
  <li><a href="https://philosophy.perlzemi.com">Perlの哲学</a></li>
  <li><a href="https://giblog.perlclub.net">Giblog</a></li>
  <li><a href="https://metacpan.org/pod/SPVM">SPVM</a></li>
  <li><a href="https://perlcodesample.hateblo.jp">Perlクラブブログ</a></li>
  <li><a href="https://datascience.perlzemi.com/">データサイエンス</a></li> 
  <li><a href="https://deeplearning.perlzemi.com/">AI・ディープラーニング</a></li> 
  <li><a href="https://bio.perlzemi.com/">バイオインフォマティクス</a></li> 
  <li><a href="https://text.perlzemi.com/">テキスト処理・正規表現</a></li>
</ul>
