<h2>紀伊国屋書店とPerlプログラミング入門ゼミが提携</h2>

紀伊国屋書店とPerlプログラミング入門ゼミが、アフェリエイト販売プログラムで、提携しました。

Perlプログラミング入門ゼミでは「初めてのPerl」と「業務に役立つPerl」を入門書として紹介しています。

こちらの販売先が、紀伊國屋書店ウェブストアになります。(一か月以内くらいで、リンクを張る予定です。)

<a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886428281" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886428281" height="1" width="0" border="0">紀伊國屋書店ウェブストア</a>

紀伊國屋書店ウェブストアから購入された場合、販売手数料が、Perlプログラミング入門ゼミに入ります。

<h3>なぜ紀伊國屋書店ウェブストアなの?</h3>

「なぜ紀伊國屋書店ウェブストアなの? Amazonや楽天やyahooショッピングならIDも持ってるしポイントももらえるのに。」

<h4>リアル店舗を持っている企業のネット通販だから</h4>

リアル店舗とネット通販の公平性を保つための規制や税制度がまだまだ不完全な2020年、リアル店舗(特に紀伊国屋に限らず)は、苦しい立ち位置が続いていると予想されます。

Perlゼミは、リアル店舗とネット通販のより良いバランスが、消費者にとって、最大の価値をもたらすと考えます。

このことをメッセージングできることが、紀伊國屋書店ウェブストアを選んだ一つの理由です。

規制や税制度が不完全な場合、消費者に、公平性に貢献できる、倫理的に優れた消費行動に気が付いてもらう必要があります。

<h4>提携できるところが、紀伊國屋書店ウェブストアだけだったから</h4>

検索したら書店のウェブストアで提携できそうなところが、紀伊國屋書店ウェブストアだけだったからです。

<h3>販売手数料は何に使われますか?</h3>

販売手数料は、Perlプログラミング入門ゼミを含めた「<a href="https://school.perlzemi.com/">Perlゼミ プログラミングスクール</a>」のコンテンツの質と量を向上させるために活用されます。

<h4>Perlゼミのコンテンツの書いてもらえる方に還元</h4>

現在Perlゼミのコンテンツは、メインは「きもとん」が書いていますが、複数人の方にお手伝いいただいています。

基本はオープンソース活動で営利ではないので、お給料を払うということはないですが、小さな謝礼として、お食事代などに当てるということが考えられます。

<h4>オフライン勉強会イベントの会場代金として</h4>

今の状況では、オフライン勉強会イベントは開けないのですが、近い将来オフライン勉強会イベントを行う予定を立てています。

その会場代金として、当てることが考えられます。

<h4>書籍化する場合の管理費として</h4>

将来的にPerlプログラミング入門ゼミの同人誌での書籍化ということも考えています。書籍の在庫を管理したり、配送したりすることになりますが、在庫リスクや配送作業が発生することになります。

この一部として販売手数料を当てるということが考えられます。

<!--

<h3>どうして「きもとん」自身は受け取らないのですか?</h3>

ご心配ありがとうございます。

え～っと、僕自身は、Webシステム開発という仕事で、十分に家族を養えているし、自分が満足できる十分な資産を蓄えることができそうだからです。

東京23区内に家を購入しましたし、電卓をたたいて計算すると、生涯の世帯の資産が、1億円近く貯まる予定なので、これ以上いらないんじゃないかと。

僕は、お金に興味がないように、思われているところがありますが、堅実にお金を貯めていくタイプです(笑)。

自分自身が損をすることは嫌いですし、相手が損をすることも嫌いです。

-->
