<h2>PERL5LIB環境変数を使ってモジュールの検索パスを追加する</h2>

PERL5LIB環境変数を使ってモジュールの検索パスを追加する方法の解説です。

<h4>Linuxのbashの環境変数</h4>

以下は<a href="https://linux.perlzemi.com/">Linux</a>の<a href="https://linux.perlzemi.com/blog/20200617103220.html">bashの環境変数</a>で「PERL5LIB」を設定して、モジュールの検索パスを追加する方法です。これを「<a href="https://linux.perlzemi.com/blog/20200616103220.html">.bashrc</a>」ファイルに追記してください。

<pre>
export PERL5LIB=/foo/lib
</pre>

複数指定する場合はコロンで区切ります。

<pre>
export PERL5LIB=/foo/lib:/bar/lib
</pre>

<h4>商用UNIXなどのcshの環境変数</h4>

FreeBSDなど商用UNIXにおけるcshの環境変数で「PERL5LIB」を設定して、モジュールの検索パスを追加する方法です。これを「~/.cshrc」ファイルに追記してください。

<pre>
setenv PERL5LIB /foo/lib
</pre>

複数指定する場合はコロンで区切ります。

<pre>
setenv PERL5LIB /foo/lib:/bar/lib
</pre>

<h4>Windowsにおける環境変数</h4>

Windowsで環境変数「PERL5LIB」を設定して、モジュールの検索パスを追加する方法です。Windowsの環境変数の設定方法は、GUIで追加するので、方法については調べてみてください。

<pre>
# 環境変数PERL5LIBの値
/foo/lib
</pre>

複数指定する場合はセミコロンで区切ります。ここはUnix/Linuxと異なる部分です。

<pre>
# 環境変数PERL5LIBの値
/foo/lib;/bar/lib
</pre>

<h4>環境変数PERL5LIBはポータブルではない</h4>

OSによって環境変数の表現方法が異なるため、環境変数PERL5LIBはポータブルな方法ではありません。

一方、スクリプトと密結合してしまいますが、<a href="/blog/20100525127859.html">libモジュール</a>はどのような環境でも同じように動きます。
