<style>
  .bottom {
    display:none;
  }
</style>

<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">書籍案内</span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

<h2>【書籍案内】初めてのPerl - Perl入門書 定番の一冊</h2>

「初めてのPerl」はPerl入門書 定番の一冊で、オライリーから出版されています。本を購入して、Perlプログラミングの基礎を学ぶのにぴったりの一冊です。

<a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886428281&vc_url=https%3A%2F%2Fwww.kinokuniya.co.jp%2Ff%2Fdsg-01-9784873118246" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886428281" height="1" width="0" border="0"><img src='https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/48731/4873118247.jpg' border='0' /></a>

Perl 5.24，Unicode 8.0対応。

<h3>ご購入を検討されている方へ</h3>

Perlゼミは<a href="/blog/20200404070954.html">紀伊国屋のアフェリエイト販売プログラムと提携</a>しています。

「初めてのPerl」の販売手数料は、教材管理費、Perlゼミコンテンツ執筆者への還元、イベントの会場費など、Perlゼミのコンテンツの品質向上に利用されます。

個人で勉強のため、コミュニティでの勉強会、企業のプログラミング研修で利用など、「初めてのPerl」を<a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886428281&vc_url=https%3A%2F%2Fwww.kinokuniya.co.jp%2Ff%2Fdsg-01-9784873118246" rel="nofollow">こちら</a>から購入いただくと、あなたもPerlに関するコンテンツの品質向上に貢献できます。
