<style>
  .bottom { display:none; }
</style>

<h2>【書籍案内】Perl言語プログラミングレッスン 入門編 (新版)</h2>

「Perl言語プログラミングレッスン 入門編」は、Perlプログラミング言語の入門書です。文字列、配列、ハッシュ、正規表現、サブルーチン、正規表現の基礎を学ぶことができます。著者は、数学ガールの結城 浩さんです。

<img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/47973/4797336803.jpg">

<blockquote>
内容説明
プログラミング言語「Perl」を初歩から学ぶための本。新版の刊行にあたって、現在の処理系にそぐわない記述を改めると共に、まとまったサンプルプログラムにuse strict;とuse warnings;を追加。
</blockquote>

<h3>Perl言語プログラミングレッスン 入門編 (新版)の目次</h3>

Perl言語プログラミングレッスン 入門編 (新版) の目次です。

<pre>
目次
Perlを始めよう
数と文字列
条件判断
配列とリスト
ハッシュ
繰り返し
正規表現の基本
もっと正規表現
コンテキスト
サブルーチン
ファイル操作
</pre>

<h3>Perl言語プログラミングレッスン 入門編 (新版)の購入</h3>

<ul>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886428281&vc_url=https%3A%2F%2Fwww.kinokuniya.co.jp%2Ff%2Fdsg-01-9784797336801" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886428281" height="1" width="0" border="0">紀伊国屋書店で購入</a></li>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886663584&vc_url=https%3A%2F%2Fhonto.jp%2Fnetstore%2Fpd-book_02723581.html%3Fpartnerid%3D02vc01" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886663584" height="1" width="0" border="0">hontoで購入</a></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
