<h2>【書籍案内】生物系のためのPerlプログラミング―バイオインフォマティクスツールの実践的活用を目指して</h2>

「生物系のためのPerlプログラミング」は、生物系の学生向けのバイオインフォマティクスでPerlを使うための方向けの書籍。

<img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/46278/4627845014.jpg">

<h3>生物系のためのPerlプログラミングの目次</h3>

生物系のためのPerlプログラミングの目次です。

<pre>
目次
第1部 初級編(Perl入門;変数とデータ型;配列とハッシュ;制御構造)
第2部 中級編(サブルーチン;文字列操作;入力と出力;Perlモジュールとパッケージ)
第3部 上級編(リファレンス;オブジェクト指向プログラミング;Bioperl)
</pre>

<blockquote>
著者等紹介
飯田行恭[イイダユキヤス]
1949年福岡県で生まれる。1975年九州大学大学院工学研究科応用物理学専攻修了。2005年桐蔭横浜大学医用工学部教授。医学博士

飯田恭弘[イイダヤスヒロ]
1976年東京都で生まれる。2000年東京大学大学院工学系研究科物理工学専攻修了。2000年日本電信電話株式会社NTT情報流通基盤総合研究所入所。2006年エヌ・ティ・ティ・コムウェア株式会社。修士(工学)

島崎亜希子[シマザキアキコ]
1982年神奈川県で生まれる。2007年桐蔭横浜大学大学院工学研究科医用工学専攻修了。修士(工学)(本データはこの書籍が刊行された当時に掲載されていたものです)
※書籍に掲載されている著者及び編者、訳者、監修者、イラストレーターなどの紹介情報です。
</blockquote>
