<style>
  .bottom { display:none; }
  img { width:200px; }
  li { list-style:none; }
</style>

<h2>Perlの書籍販売</h2>

Perlの書籍の購入はこちらから。Perl入門書、実践、正規表現、応用、バイトインフォマティクスの書籍を取り揃えています。
<h3>Perl入門書</h3>

<ul>
  <li>
    <a href="/blog/20200502174033.html">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51t%2B7ZTGW6L._SX388_BO1,204,203,200_.jpg"><br>
      初めてのPerl 第7版
    </a>
  </li>
  <li>
    <a href="/blog/20200722215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/47973/4797336803.jpg"><br>
      Perl言語プログラミングレッスン 入門編 (新版)
    </a>
  </li>
  <li>
    <a href="/blog/20200726215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/47741/4774177911.jpg"><br>
      かんたんＰｅｒｌ プログラミングの教科書
    </a>
  </li>
  <li>
    <a href="/blog/20200724215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/47741/4774192635.jpg"><br>
      Perlではじめるプログラミング超入門
    </a>
  </li>
</ul>

<h3>Perl実践</h3>

<ul>
  <li>
    <a href="/blog/20120326133275.html">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51d4T7m8NzL._SX347_BO1,204,203,200_.jpg"><br>
      業務に役立つPerl
    </a>
  </li>
</ul>

<h3>正規表現</h3>

<ul>
  <li>
    <a href="/blog/20200727215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/48731/4873113598.jpg"><br>
      詳説　正規表現　第３版 （第３版）
    </a>
  </li>
  <li>
    <a href="/blog/20200725215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/47741/4774177407.jpg"><br>
      正規表現ポケットリファレンス
    </a>
  </li>
</ul>

<h3>Perl発展</h3>

<ul>
  <li>
    <a href="/blog/20200723215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/large/48731/4873116287.jpg"><br>
      続・初めてのＰｅｒｌ （改訂第２版）
    </a>
  </li>
  <li>
    <a href="/blog/20200719215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/large/48731/4873113008.jpg"><br>
      Perlベストプラクティス
    </a>
  </li>
  <li>
    <a href="/blog/20200720215543.html">
      <img src="https://www.oreilly.co.jp/books/images/picture4-87311-096-3.gif"><br>
      プログラミングPerl〈VOLUME1〉 (第3版)
    </a>
  </li>
</ul>

<h3>バイオインフォマティクス</h3>

<ul>
  <li>
    <a href="/blog/20200721215543.html">
      <img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/46278/4627845014.jpg"><br>
      生物系のためのＰｅｒｌプログラミング
    </a>
  </li>
</ul>

