<h2>【書籍案内】正規表現ポケットリファレンス （改訂新版）</h2>

正規表現ポケットリファレンスは、正規表現についてコンパクトにまとめられた一冊。実践における正規表現を素早く覚えるのに適しています。正規表現のプログラムのサンプルとしてPerl、JavaScript、PHP、Ruby、Javaが紹介されています。

<img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/47741/4774177407.jpg">

<blockquote>
内容説明
プログラマ必携！これ１冊で正規表現がわかる！使える！基本のメタキャラクタから実例のパターンレシピまで厳選収録。Ｒｕｂｙ、Ｐｅｒｌ、ＰＨＰ、ＪａｖａＳｃｒｉｐｔ、Ｊａｖａ対応の処理系別ガイドが充実。すぐに役立つプチプログラム付き。
</blockquote>

<h3>正規表現ポケットリファレンスの目次</h3>

正規表現ポケットリファレンスの目次です。

<pre>
目次
第１章　正規表現入門
第２章　メタキャラクタ辞典
第３章　メタキャラクタ以外の正規表現要素
第４章　処理系別ガイド
第５章　正規表現パターンレシピ
第６章　プチプログラム
著者等紹介
</pre>

<blockquote>
著者等紹介
宮前竜也［ミヤマエタツヤ］
１９７４年東京生まれ。１９９８年より（有）ビットアーツ代表。２０１５年よりラグル（株）ファウンダー・取締役ＣＴＯ。１９９０年代のインターネット黎明期から４０歳代に突入した現在までＷｅｂ専門のプログラマとして活動中（本データはこの書籍が刊行された当時に掲載されていたものです）
※書籍に掲載されている著者及び編者、訳者、監修者、イラストレーターなどの紹介情報です。
</blockquote>
