<h2>PerlでWebブラウザ自動操作ロボット作成方法のまとめ - 実用的なRPAをPerlで作ってみよう(書き始め)</h2>

PerlでWebブラウザ自動操作ロボット作成方法をここにまとめていきます。Windowsのユーザーが対象です。

<h3>Strawberry PerlをWindowsにインストールする</h3>

Webブラウザ自動操作ロボットを作成するためには、Windows用にセッティングされたPerlが必要です。

Active PerlとStrawberry Perlという選択枝がありますが、ここでは、Strawberry Perlを使います。

Strawberry Perlには、Webブラウザ自動操作ロボットを作成するための、GUI操作のモジュールがインストールされています。マウス位置指定、クリック、キーボード操作、クリップボード操作などです。

<a href="https://tutorial.perlzemi.com/blog/20180808153368.html">Strawberry Perlのインストール</a>

<h3>Webブラウザ自動操作ロボット作成に使うPerlモジュール</h3>

Webブラウザ自動操作ロボット作成に使うPerlモジュールは、以下が中心です。

<ul>
  <li>Win32::GuiTest - マウス位置指定、キーボード操作</li>
  <li>Win32::Clipboard - クリップボード操作</li>
</ul>

(続く)

<h3>RPAロボットの注意点</h3>

処理自動化・業務効率化において、RPAは、課題点が多い手法です。RPAロボットは、見た瞬間に、その動きに感銘を受けますが、処理速度、プログラムのメンテナンス性、自動化の信頼性が低いということに注意しましょう。

「WindowsのアップグレードでGUI画面が変わってしまったら?」「Webの利用サービスの更新でボタンの位置やテキストの表示が変わってしまったら?」「Webの応答が5秒間返ってこなかったら?」「毎日だれが、そのプログラムをスタートさせるの? 忘れたらどうなるの?」「Linux上などで動いている他のプログラムとの連携はどうするの?」

処理自動化・作業効率化の最初に取りうる基本的で、実際に効果が高い手法は、テキスト化、コマンド化、Web化、バッチ化、RDBMS化です。

この五つの基本的な手段も含めて、まずは検討してみませんか? どうにもならない限られた部分に対して、RPAは効果を発揮するでしょう。
