<h2>保守性の高いPerl7の計画</h2>

2021年現在、保守性の高いPerl7が計画されています。Perl7は、Perlの保守性を上げ、初級者のミスを減らし、現行バージョンのPerl5との高い後方互換性を維持した、新しいバージョンのPerlです。

以下の記述で、Perl7の機能が使えるようになる計画です。リリース時期は未定です。

<pre>
use v7;
</pre>

「use v7」の記述で、Perlの文法を厳密にする「use strict;」、警告を出力する「use warnings;」が有効になり、一行の記述で、保守性の高いPerlが書けます。

say関数などのPerl5の機能として使えるようになっていた関数を使うことができます。

<pre>
use v7;

say 'Hello';
</pre>

<h3>Perl 7の発表内容はどうなったの?</h3>

2020年6月にPerl.comで<a href="https://www.perl.com/article/announcing-perl-7/">Perl 7のアナウンス</a>がありましたが、アナウンスされた内容は、現在では更新されています。

<h3>Perl6はどうなったの?</h3>

Perl5の後継としてかつて開発されていた<a href="/blog/20210605102758.html">Perl6</a>はRakuという名称に変わりました。2021年現在、情報が更新されないままPerl6のまま言及されているサイトもありますが、Perl6は、Rakuへ名称変更されたというのが、正しい情報です。

<h3>Perl 7、Perl 6、Perl 5の関係</h3>

Perl 7、Perl 6、Perl 5について、世間ではとても多くの誤解と混乱が生じています。これは、Perl側の責任だと僕は感じており、Perl 7が正式にリリースされて、数年がたつと、状況は良くなると感じます。

誤解と混乱の軽減を目的に、2021年度版 Perl 7、Perl 6、Perl 5について書きます。

<h4>Perlの最新版はPerl 5.34</h4>

2021年におけるPerlの最新バージョンは、Perl 5.34です。Perl 5の最新バージョンが、Perlの最新バージョンです。

<h4>Perl 6はRakuに改名</h4>

Perlの次期バージョンになる予定だったPerl 6は、現在は、異なるプログラミング言語と定義され、名称がRakuに変更されました。

<h4>次期PerlがPerl 7になることは決定、Perl 7のリリース日は未定</h4>

次期Perlが、現在のPerl 5と非常に高い互換性を持つ状態で、Perl 7としてリリースされることは、決定されています。

<pre>
use v7;
</pre>

という記述で、Perl 7の機能が利用できるようになります。

Perl 7のリリース時期は、2021年9月現在、未定です。

