<h2>PerlでWebブラウザ自動操作ロボット作成方法のまとめ - 実用的なRPAをPerlで作ってみよう</h2>

PerlでWebブラウザ自動操作ロボット作成方法をここにまとめていきます。Windowsのユーザーが対象です。

<h3>Strawberry PerlをWindowsにインストールする</h3>

Webブラウザ自動操作ロボットを作成するためには、Windows用にセッティングされたPerlが必要です。

Active PerlとStrawberry Perlという選択枝がありますが、ここでは、Strawberry Perlを使います。

Strawberry Perlには、Webブラウザ自動操作ロボットを作成するための、GUI操作のモジュールがインストールされています。マウス位置指定、クリック、キーボード操作、クリップボード操作などです。

<ul>
  <li>
    <a href="https://perlzemi.com/blog/20180808153368.html">Strawberry Perlのインストール</a>
  </li>
</ul>

<h3>Webブラウザ自動操作ロボット作成に使うPerlモジュール</h3>

Webブラウザ自動操作ロボット作成に使うPerlモジュールは、以下が中心です。

<ul>
  <li><a href="https://metacpan.org/pod/Win32::GuiTest">Win32::GuiTest</a> - マウス位置指定、キーボード操作</li>
  <li><a href="https://metacpan.org/pod/Win32::Clipboard">Win32::Clipboard</a> - クリップボード操作</li>
  <li><a href="https://mojodoc.perlzemi.com/Mojo::DOM.html">Mojo::DOM</a> - HTML解析</li>
</ul>

<h3>ウィンドウ操作</h3>

ウィンドウ操作について解説します。

<h4>Win32::GuiTest</h4>

Windowsで、ウィンドウの取得、マウス位置指定、クリック、キーボード操作を行うにはWin32::GuiTestを使い、必要な関数を読み込みます。

<pre>
use Win32::GuiTest (
  'UnicodeSemantics',
  'GetDesktopWindow',
  'GetParent',
  'GetWindowText',
  'GetClassName',
  'GetChildWindows',
  'GetChildDepth',
  'MouseMoveAbsPix',
  'SendLButtonUp',
  'SendLButtonDown',
  'SendKeys',
);
</pre>

以下のようにWin32::GuiTestを読み込むと、関数がすべてインポートされます。プログラムの保守性を上げたい場合は、上の記述、とりあえず楽に書きたい場合は、下の記述が使えます。

<pre>
# 関数をすべてインポート
use Win32::GuiTest;
</pre>

<h4>ユニコードセマンティクスを有効にする</h4>

PerlはPerl 5.8以降で、ユニコード対応されていますので、Win32::GuiTestの方も、ユニコードに対応したセマンティクスが使えるようにします。Perlのソースコードは、UTF-8で記述し「use utf8;」を記述していることが前提です。

<pre>
# ユニコードセマンティクスを有効にする
UnicodeSemantics(1);
</pre>

<h4>デスクトップウィンドウの取得</h4>

デスクトップウィンドウを取得するには、GetDesktopWindow関数を使用します。デスクトップウィンドウとは、デスクトップ全体を示すウィンドウのことです。

<pre>
# デスクトップウィンドウの取得
my $desktop_win = GetDesktopWindow();
</pre>

<h4>子ウィンドウの一覧を取得</h4>

Webブラウザ自動操作を行うためには、ブラウザのウィンドウを取得する必要がありますが、そのためには、まずデスクトップウィンドウの下で管理されている子ウィンドウの一覧を取得する必要があります。子ウィンドウの一覧を取得するには、GetChildWindowsを使用します。

<pre>
# 子ウィンドウの一覧を取得
my @windows = GetChildWindows($desktop_win);

# 子ウィンドウをループ
for my $window (@windows) {
  
}
</pre>

<h4>ウィンドウのテキストを取得</h4>

ウィンドウのテキストを取得するにはGetWindowText関数を使います。

<pre>
# ウィンドウのテキストを取得
my $win_text = GetWindowText($win);
</pre>

ウィンドウのテキストは、ブラウザの種類によって、異なる可能性があります。Google Chromeで確認したものでは、以下のように「ウィンドウのタイトル - アプリケーション名」になっていました。

<pre>
Perlクラブ - Google Chrome
</pre>

<h4>対象ウィンドウの取得</h4>

Webブラウザ自動操作ロボットを作る場合は、子ウィンドウの一覧から、対象のウィンドウを取得する必要があります。対象のウィンドウを取得するサンプルを記述します。確実に、対象のWebブラウザの対象のページが、一つ立ち上がっていることをチェックします。

<pre>
# 対象のウィンドウを取得(Perlクラブ - Google Chrome)
my $win;
{
  my $desktop_win = GetDesktopWindow();
  die "Oops!" if GetParent($desktop_win) != 0;

  my @browser_wins;
  my $browser_name = 'Chrome';
  for my $win (GetChildWindows($desktop_win)) {

    # ウィンドウの名前
    my $win_text    = GetWindowText($win);

    # ブラウザ名
    if ($win_text =~ /\b$browser_name\b/) {
      if ($win_text =~ /Perlクラブ/) {
        push @browser_wins, $win;
      }
    }
  }

  my $browser_wins_count = @browser_wins;
  unless ($browser_wins_count == 1) {
    die "Must be open one window");
  }
  $win = $browser_wins[0];
}
</pre>

<h3>マウス操作</h3>

マウス操作ついて説明します。

<h4>マウスを移動させる</h4>

マウスを移動させるにはMouseMoveAbsPix関数を使用します。原点は、デスクトップウィンドウの左上になります。

<pre>
# マウスを移動させる
MouseMoveAbsPix($x, $y);
</pre>

<h4>対象ウィンドウの左上の位置を取得する</h4>

ブラウザを操作する場合は、ブラウザのウィンドウの左上の位置を知りたいですね。GetWindowRect関数を使うと、対象のウィンドウの原点の位置を取得できます。

<pre>
# 対象ウィンドウの左上の位置を取得する
my ($win_left, $win_top, $win_right, $win_bottom) = Win32::GuiTest::GetWindowRect($win);
</pre>

対象ウィンドウの原点から、左100px、下200pxの位置にマウスを移動させるには次のようにします。

<pre>
# 対象ウィンドウの原点から、左100px、下200pxの位置にマウスを移動
my $left = 100;
my $top = 200;
MouseMoveAbsPix($win_left + $left, $win_top + $top);
</pre>

<h4>マウスの左ボタンを押す</h4>

マウスの左ボタンを押すにはSendLButtonDown関数を使用します。

<pre>
# マウスの左ボタンを押す
SendLButtonDown();
</pre>

<h4>マウスの左ボタンを離す</h4>

マウスの左ボタンを離すにはSendLButtonUp関数を使用します。

<pre>
# マウスの左ボタンを押す
SendLButtonDown();
</pre>

<h4>マウスを左クリックする</h4>

マウスを左クリックするには、マウスの左ボタンを押して、離します。

<pre>
# マウスを左クリックする
SendLButtonDown();
SendLButtonUp();
</pre>

<h4>マウスの左ボタンをダブルクリックする</h4>

マウスの左ボタンをダブルクリックするには、マウスの左ボタンを押して、離してを2回繰り返します。

<pre>
# ダブルクリック
SendLButtonDown();
SendLButtonUp();
SendLButtonDown();
SendLButtonUp();
</pre>

<h4>その他のマウスイベント</h4>

その他のマウスイベントです。真ん中のボタンを押す、離す、右ボタンを押す、離すです。

<pre>
# 真ん中のボタンを押す
SendMButtonDown()

# 真ん中のボタンを離す
SendMButtonUp()

# 右ボタンを押す
SendRButtonDown()

# 右ボタンを離す
SendRButtonUp()
</pre>

<h3>キーボード入力</h3>

キーボード入力ついて説明します。

<h4>キーボード入力の基本</h4>

キーボード入力するにはSendKeys関数を使用します。複数の文字を指定した場合は、デフォルトで50m間隔でキーボード入力が行われます。

<pre>
# 「a」とキーボード入力
SendKeys('a');

# 「abcde」とキーボード入力
SendKeys('abcde');
</pre>

同じ文字を、繰り返し実行する場合は<a href="/blog/20180227151973.html">繰り返し演算子「x」</a>を使うと簡単です。

<pre>
「a」を5回入力
SendKeys('a' x 5);
</pre>

<h4>アルファベット以外のキー</h4>

上下左右、タブ、ファンクションキー、Enterキーなどは、アルファベット以外のキーです。「{キー名}」という記法を使います。

<pre>
SendKeys('{DOWN}');
SendKeys('{UP}');
SendKeys('{ENTER}');
SendKeys('{TAB}');
SendKeys('{F12}');
</pre>

すべてのアルファベット以外のキー名です。<a href="https://metacpan.org/pod/Win32::GuiTest">Win32::GuiTestのドキュメント</a>から引用しました。

<pre>
{BACKSPACE}   Backspace
{BS}          Backspace
{BKSP}        Backspace
{BREAK}       Break
{CAPS}        Caps Lock
{DELETE}      Delete
{DOWN}        Down arrow
{END}         End
{ENTER}       Enter (same as ~)
{ESCAPE}      Escape
{HELP}        Help key
{HOME}        Home
{INSERT}      Insert
{LEFT}        Left arrow
{NUMLOCK}     Num lock
{PGDN}        Page down
{PGUP}        Page up
{PRTSCR}      Print screen
{RIGHT}       Right arrow
{SCROLL}      Scroll lock
{TAB}         Tab
{UP}          Up arrow
{PAUSE}       Pause
{F1}          Function Key 1
...           ...
{F24}         Function Key 24
{SPC}         Spacebar
{SPACE}       Spacebar
{SPACEBAR}    Spacebar
{LWI}         Left Windows Key
{RWI}         Right Windows Key 
{APP}         Open Context Menu Key
</pre>

TABで特定のフォーム部品にフォーカスを当てたい場合は、繰り返し使うので、繰り返し演算子と一緒に使うと便利です。

<pre>
SendKeys('{TAB}' x 5);
</pre>

<h4>Ctrl, Alt, Shift</h4>

Ctrl, Alt, Shiftを押しながらのキーボード入力は、以下の文字を、先頭につけることでできます。

<pre>
+ means SHIFT 
^ means CTRL 
% means ALT
</pre>


Ctrl, Alt, Shiftを組み合わせた例です。

<pre>
# Ctrl + c (コピー)
SendKeys('^c');

# Ctrl + v (貼り付け)
SendKeys('^v');

# Shift + a (A)
SendKyes('+a');

# Alt + l (画面ロック)
SendKyes('%l');
</pre>

<h4>日本語のフォーム入力</h3>

IMEを使って日本語をキーボードからフォーム入力するのは、難しいです。

キーボードから入力するのではなくって、Perlの内部文字列を、Windowsのクリップボードに保存して、それを、フォーム入力に貼り付けるのがお勧めです。Perlのソースコードは、UTF-8で保存してください。

<pre>
use utf8;
use Encode 'encode';

use Win32::GuiTest;
use Win32::Clipboard;

# クリップボードオブジェクトの作成
my $clip = Win32::Clipboard->new;

my $string = 'Perlゼミ';

# 文字列をクリップボードに保存
$clip->Set(encode('cp932', $string));

# 「Ctrl + v」で貼り付け
SendKeys('^v');
</pre>

<h3>クリップボード操作</h3>

クリップボード操作について解説します。テキストをコピーしたり、フォームの入力欄に、文字を貼り付ける場合に使用します。

<h4>Win32::Clipboard</h4>

Windowsのクリップボードを扱うには、Win32::Clipboardモジュールを使用します。

<pre>
use Win32::Clipboard;
</pre>

<h4>クリップボードオブジェクトの生成</h4>

クリップボードオブジェクトをまず作成します。

<pre>
# クリップボードオブジェクトの作成
my $clip = Win32::Clipboard->new;
</pre>

<h4>クリップボードにPerl文字列を保存する</h4>

Setメソッドで、Perlの文字列を保存します。Perlのソースコードは、UTF-8で記述し「use utf8;」を記述していることが前提です。Windowsのクリップボードに、Perl側から文字列を保存するときは、cp932にエンコードして渡します。Windowsのクリップボードのテキストの文字コードが、cp932だからです。

<pre>
# 文字列をクリップボードに保存
$clip->Set(encode('cp932', $string));
</pre>

<h4>クリップボードからPerl文字列を取り出す</h4>

GetAsメソッドの引数に「CF_UNICODETEXT」を指定することで、「UTF16-LE」というユニコードのひとつの符号化形式で取得することができます。これを、PerlのEncode関数のdecode関数を使って、Perlの文字列に変換します。Windowsのクリップボードの内容をPerlの文字列として取得することができます。たんなるGetText関数では、正しく取得できないので、注意しましょう。

<pre>
# クリップボードからPerl文字列を取り出す
my $string = $clip->GetAs(CF_UNICODETEXT);
$text = Encode::decode("UTF16-LE",  $string);
</pre>

<h4>クリップボードの内容をフォーム部品に貼り付ける</h4>

クリップボードの内容を、テキストフィールドや、テキストエリアなどのフォーム部品に貼り付けるには「Ctrl + c」を送信します。「^」は「Ctrl」という意味です。

<pre>
# クリップボードの内容をフォーム部品に貼り付ける
SendKeys('^c');
</pre>

<h3>画面のHTMLの解析</h3>

ブラウザとRPAを組み合わせた場合にページのHTMLを解析する手法を解説します。

<h4>画面のHTMLを取得する</h4>

RPAとブラウザと組み合わせる場合は、HTMLの解析が利用できます。ChomeやEdgeでは、開発ツールと呼ばれるものが存在し、このツールを起動して、コピーすれば、クリップボードに、ページのHTMLを取得できます。Chromeでは、このツールをF12で開くことができます。「要素」タグが選択されている状態である必要があることに注意しましょう。

HTMLを取得するサンプルです。

<pre>
# Chromeデベロッパーツールを開く
$self->SendKeys('{F12}');

# 開くのを待機
sleep 1;

# HTMLをクリップボードにコピー
$self->SendKeys('^c');

# クリップボードのテキストをUTF16-LEとして取得
my $html = $clip->GetAs(Win32::Clipboard::CF_UNICODETEXT());

# Perlの内部文字列にデコード
$html = Encode::decode("UTF16-LE", $html);

# Chromeデベロッパーツールを閉じる
$self->SendKeys('{F12}');

# 閉じるのを待機
sleep 1;
</pre>

<h4>HTMLを解析する</h4>

HTMLを解析するには、HTMLをDOMに変換してくれる<a href="https://mojodoc.perlzemi.com/Mojo::DOM.html">Mojo::DOM</a>を使うのが簡単です。取り出しが単純な場合は、<a href="/blog/20100827127859.html">Perlの正規表現</a>を使うのもよいでしょう。

Mojo::DOMで、テーブルの列をたどるサンプルです。find関数には、任意のCSSセレクタが使えます。

<pre>
use Mojo::DOM;

my $dom = Mojo::DOM->new($html);

for my $row ($dom->find('tr')->each) {
  my $row_text = $row->content;
  
  # 処理
}
</pre>

特定の言葉が含まれているかをPerlの正規表現でチェックするサンプルです。

<pre>
# 検索結果という文字列が含まれている
if ($html =~ /検索結果/) {
  # ...
}
</pre>

<h4>HTMLの保存</h4>

HTMLを保存するには、通常の<a href="/blog/20110212130370.html">Perlのファイル入出力</a>を使用します。

<pre>
use FindBin;

# 保存場所(プログラムのあるディレクトリのdata/test.html)
my $file = "$FindBin::Bin/data/test.html";

# ファイルを書き込みモードでオープン
open my $fh, '>', $file
  or die "Can't open file $file: $!";

# 書き込み
print $fh $html;
</pre>

<h3>RPAロボット作成のポイント</h3>

RPAロボット作成のポイントです。

<h4>ブラウザの起動サイズを決めておく</h4>

マウスでクリックする位置を確定させるために、ブラウザの起動サイズを決めて起動しましょう。

Chromeでは、ショートカット」「プロパティ」「リンク先」に次のように設定することで、ブラウザの起動サイズを決めることができます。

<pre>
"C:\Program Files\Google\Chrome\Application\chrome.exe" --window-position=150,10 --window-size=1505,933
</pre>

<h4>試験環境と本番環境でディスプレイのサイズをそろえる</h4>

試験環境と本番環境でディスプレイのサイズをそろえましょう。マウス移動は、ピクセル位置指定なので、ディスプレイの解像度が違うと、違う位置を指してしまいます。

<h4>ブラウザの応答を待つ</h4>

ブラウザの応答を待ちたい場合は、sleep関数を使います。ブラウザの応答が返ってくるなるべく安心な秒を設定しましょう。といっても、ネットワークの状況などに依存しますから、返ってこなくて、次の操作が始まって、動作が変になるということが、発生します。

<pre>
# 3秒待つ
sleep 3;
</pre>

<h3>RPAロボットの注意点</h3>

処理自動化・業務効率化において、RPAは、課題点が多い手法です。RPAロボットは、見た瞬間に、その動きに感銘を受けますが、処理速度、プログラムのメンテナンス性、自動化の信頼性が低いということに注意しましょう。

「WindowsのアップグレードでGUI画面が変わってしまったら?」「Webの利用サービスの更新でボタンの位置やテキストの表示が変わってしまったら?」「Webの応答が5秒間返ってこなかったら?」「マウスクリックやキーボードの入力がロストしたら?」「毎日だれが、そのプログラムをスタートさせるの?」「Linux上などで動いている他のプログラムとの連携はどうするの?」

処理自動化・作業効率化の最初に取りうる基本的で、実際に効果が高い手法は、テキスト化、コマンド化、Web化、バッチ化、RDBMS化です。

処理自動化・作業効率化を考える場合は、この五つの基本的な手段から、まずは検討してみませんか? 限られた部分に対して、RPAは効果を発揮するでしょう。
