<h2>Perlテキスト処理のエッセンスが発売されました</h2>

Perlゼミを運営する、Perl総合研究所から「Perlテキスト処理のエッセンス」が発売されました。Perlテキスト処理と正規表現の基礎が学べます。

<div style="text-align:center;">
  <a href="https://www.perlri.com/book/perl_text_essense" rel="nofollow"><img src="/images/book/perl_text_essence.jpg" style="width:260px;margin:0 auto;"></a><a href="https://www.perlri.com/book/perl_text_essense" rel="nofollow" style="font-size:20px;">Perlテキスト処理のエッセンス発売中</a>

</div>

<a href="https://www.perlri.com/account/create">Perlクラブへの会員登録</a>で、サンプルコードがダウンロードできます。<a href="https://perlgenki.hatenadiary.com/">Perlテキスト処理のエッセンスの活用ブログ</a>もあり。
