<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name"><a href="/blog/20180820153471.html">インストール</a></span>
    <meta itemprop="position" content="2" />
  </li>
</ol>

<h2>WSLを使ったWindowsへのPerlのインストール</h2>

<a href="https://docs.microsoft.com/en-us/windows/wsl/install">WSL</a> を使うと、Windows上にLinuxが利用可能になります。この記事ではWSLは、WLS2のことを意味します。一般的なLinuxディストリビューションにはPerlがインストールされているため、Perlが利用可能です。

<img style = "border: 1px solid # ddd; max-width: 600px;" src = "/images/installation/wsl2.png">

<h3>WSL のインストール</h3>

WSL をインストールしましょう。<a href="/blog/20080603121251.html">Windows コマンド プロンプト</a>で次のコマンドを実行します。コマンドプロンプトは管理者権限で実行する必要があります。「右クリック」→「管理者として実行」

<pre>
# WSL をインストール
wsl --install
</pre>

Windows を再起動して WSL を有効にします。

<h3>Ubuntuのインストール</h3>

Linuxディストリビューションのひとつである<a href="https://en.ubuntu.perlzemi.com/">Ubuntu</a>をインストールしましょう。再度、管理者として、コマンドプロンプトを実行して、以下のコマンドを実行します。

<pre>
wsl --install -d Ubuntu
</pre>

<h4>ユーザーアカウントの追加</h4>

Ubuntuのユーザーアカウントを追加しましょう。

<pre>
Installing, this may take a few minutes...

Please create a default UNIX user account. The username does not need to match your Windows username.
For more information visit: https://aka.ms/wslusers
Enter new UNIX username:
</pre>

<h4>ユーザー名</h4>

例として以下のユーザー名を入力します。

<pre>
kimoto
</pre>

Ubuntu 端末上で右クリックすると、ユーザー名を貼り付けることができます。

<h4>パスワード</h4>

次にパスワードを設定します。

Ubuntuのセットアップが完了しました。

<h3>Ubuntu を起動</h3>

Ubuntuを起動しましょう。

"スタートメニュー" | "Ubuntu"

<h3>Perl のインストールを確認</h3>

Perl はデフォルトで Ubuntu にインストールされています。 Perlのインストールを確認してみましょう。

<pre>
perl -v
</pre>

Perlのバージョンが表示されます。

<pre>
This is perl 5, version 30, subversion 0 (v5.30.0) built for x86_64-linux-gnu-thread-multi
</pre>

<h3>エクスプローラー使用してファイルを表示する</h3>

Ubuntu 上のファイルは、次のパスで参照できます。 <b>\\wsl$</b> は WSL のルート ディレクトリです。

<pre>
\\wsl$\Ubuntu\home\kimoto
</pre>
