<h2>PerlのためのPowerShell(pwsh)入門</h2>

<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">    <a itemprop="item" href="/">        <span itemprop = "name">Perl </span></a>
    <meta itemprop = "position" content = "1" />
  </li>
  &#8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">      <span itemprop = "name">here </span>
    <meta itemprop = "position" content = "2" />
  </li>
</ol>

PowerShell(pwsh) は、Windows でプログラムを実行するための <a href="https://ja.wikipedia.org/wiki/%E3%82%AD%E3%83%A3%E3%83%A9%E3%82%AF%E3%82%BF%E3%83%A6%E3%83%BC%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%95%E3%82%A7%E3%83%BC%E3%82%B9">CUI</a> ツールです
<h3>Features of PowerShell(pwsh)</h3>

<ul>
  <li>UTF-8</li>
  <li>Linux/UNIX ライクなシェル</li>
  <li>ls、echo コマンドなど</li>
  <li>文字列は "" と '' で囲むことができます</li>
</ul>

<h3>PowerShell(pwsh)のインストール</h3>

PowerShell(pwsh)は以下のページからダウンロードできます。

<a href="https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-on-windows?view=powershell-7#installing-the-msi-package">PowerShell のインストール</a>

次のリンクをクリックして、PowerShell (pwsh) をダウンロードします。

<a href="https://github.com/PowerShell/PowerShell/releases/download/v7.2.2/PowerShell-7.2.2-win-x64.msi"!>PowerShell-7.2.2-win-x64.msi</a>

そして、ダウンロードしたファイルをダブルクリックします。インストーラーが実行されます。

"Next" | "Next" | "Next" | "Install" | "Finish"

<h3>PowerShell/pwsh の実行</h3>

PowerShell/pwsh を実行してみましょう。

"スタートメニュー" | "アプリケーション" | "PowerShell" | "PowerShell 7 (x64)"

<img src="/images/installation/pwsh.png">

ホーム ディレクトリが PowerShell/pwsh に表示されます。

<pre>
PS C:\Users\kimot
</pre>

<h3>ファイル拡張子の表示</h3>

Perl プログラムの拡張子は「<b>.pl</b>」です。ファイルの拡張子が表示されると便利です。

ファイル拡張子を表示する方法は、次のページに記載されています。

<a href="https://www.pc-koubou.jp/magazine/36291">Windows 10 ファイルの拡張子を表示させる方法</a>

<h3>メモ帳の実行</h3>

Perl プログラムはテキスト ファイルです。メモ帳を使用して Perl プログラムを作成できます。

メモ帳の使い方は以下のページに記載されています。

<a href="https://www.curict.com/item/b4/b41e69d.html">11 ways to start Notepad in Windows</a>

<h3>Perl プログラムの作成</h3>

Perl プログラムを作成してみましょう。

ホーム ディレクトリに「start.pl」という名前のファイルを作成します。

<pre>
C:\Users\kimot\start.pl
</pre>

そして次のように入力します。

<pre>
print "Hello World";
</pre>

そしてそれを保存します。

<h3>Perl プログラムの実行</h3>

<b>perl</b> コマンドを使用して Perl プログラムを実行できます。

<pre>
perl start.pl
</pre>

出力は次のとおりです。

<pre>
Hello World
</pre>

<h3>PowerShell/pwsh のコマンド</h3>

PowerShell/pwshのよく使うコマンドを紹介します。

<h4>ls</h4>

「ls」コマンドは、ファイルのリストを表示します。

<pre>
ls
</pre>

<h4>cd</h4>

「cd」コマンドは、作業ディレクトリを変更します。

<pre>
cd DirectoryName
</pre>

「..」は1階層上のフォルダを意味するファイル名です。

<pre>
cd ..
</pre>

<h4>ドライブの変更</h4>

「c:」または「d:」を使用してドライブを変更できます。

<pre>
Set-Location -Path c:
Set-Location -Path d:
</pre>

<h4>コマンド履歴の表示</h4>

コマンド履歴は「↑」「↓」キーで見ることができます。

<pre>
↑
↓
</pre>

<h3>環境変数の一覧を表示</h3>

次のように環境変数の一覧を表示できます。

<pre>
ls env:
</pre>

<h3>環境変数を表示</h3>

環境変数を表示します。

<pre>
echo $env:PATH
</pre>

<h4>環境変数の設定</h4>

環境変数は次のように設定できます。

<pre>
$env:DATE=20080604
</pre>
