<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop="name">オブジェクト指向プログラミング</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<h2>クラスの作成</h2>

Perlでクラスを作成するには<a href="/blog/20090316123712.html">package</a>文を使います。

<pre>
# Pointクラス
package Point;

# Foo::Barクラス
package Foo::Bar;
</pre>

<h3>モジュール</h3>

クラスをモジュールとして利用するには、クラス名に対応したファイルを作成します。「::」を「/」に変換して「.pm」を末尾につけます。

<pre>
Point.pm
Foo/Bar.pm
</pre>

モジュールファイルの末尾には「1;」をつける必要があります。

<pre>
# Point.pm
package Point;

1;
</pre>

<pre>
# Foo/Bar.pm
package Foo::Bar;

1;
</pre>

これらのモジュールをPerlプログラムから読み込むサンプルです。「Point.pm」と「Foo/Bar.pm」は「lib」ディレクトリの中に配置してください。

ファイル配置

<pre>
class.pl
lib/Point.pm
lib/Foo/Bar.pm
</pre>

サンプルプログラム

<pre>
# class.pl

use strict;
use warnings;
use FindBin::Bin;

use lib "$FindBin::Bin/lib";

# クラスの読み込み
use Point;
use Foo::Bar;
</pre>

<h2>クラスの雛形</h2>



クラスの雛形を示しておきます。

<h3>1. クラスの雛形</h3>

以下がクラスの雛形になります。

<pre>
package Book;
use strict;
use warnings;

# コンストラクタ
sub new {
  my $proto = shift;
  my $class = ref $proto || $proto;
  my $self = {};
  bless $self, $class;
    
  $self->init( @_ );
  return $self;
}

# オブジェクトの初期化
sub init {
  my ($self, @args) = @_;
  # 追加で行いたい処理
}

# アクセッサ
sub title {
  my $self = shift;
  if (@_) {
    my $old = $self->{title};
    return $self->{title} = $_[0];
  }
  else{
    return $self->{ title };
  }
}


sub author {
  my $self = shift;
  if (@_) {
    my $old = $self->{author};
    return $self->{author} = $_[0];
  }
  else{
    return $self->{author};
  }
}

1;
</pre>
後は好きなメソッドを追加するだけですね。

