<h2>Python,Ruby,PHP,Java,JavaScript,Perlのプログラミング言語の比較</h2>

Python,Ruby,PHP,Java,JavaScript,Perlって何が違うの? Python,Ruby,PHP,Java,JavaScript,Perlのプログラミング言語が比較できます。

<h3>比較の詳細</h3>

<div class="block-link-list"> 
  <ul>
    <li>
      <a href="https://qiita.com/yuki_kimoto/items/f9c2454e7f9130ddb003">Python,Ruby,PHP,Java,JavaScript,Perlのプログラミング言語の比較</a><span>Python,Ruby,PHP,Java,JavaScript,Perlのプログラミング言語が比較できます。</span>
    </li>
  </ul>
</div>

<h3>変数宣言</h3>

Python,Ruby,PHP,Java,JavaScript,Perlには変数宣言があります。明示的に変数を宣言するPerl、Java、JavaScript。暗黙的に変数を宣言するPython、Ruby、PHP。

<h3>条件分岐</h3>

Python,Ruby,PHP,Java,JavaScript,Perlの条件分岐はif文を使いよく似ています。

<h3>繰り返し</h3>

Python,Ruby,PHP,Java,JavaScript,Perlの繰り返しはfor文、while文を使いよく似ています。

<h3>型</h3>

Python,Ruby,PHP,JavaScript,Perlは動的な型を持つプログラミング言語です。Javaは静的な型を持つプログラミング言語です。
