<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">Perl</span></a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/blog/20161030147778.html">
      <span itemprop="name">オブジェクト指向プログラミング</span></a>
    <meta itemprop="position" content="2" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <span itemprop="name">here</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<h2>カプセル化</h2>

Perlでのカプセル化について解説します。

<h3>カプセル化とは</h3>

カプセル化の一般的な解説については、<a href="https://ja.wikipedia.org/wiki/%E3%82%AB%E3%83%97%E3%82%BB%E3%83%AB%E5%8C%96#:~:text=%E3%82%AB%E3%83%97%E3%82%BB%E3%83%AB%E5%8C%96%EF%BC%88%E8%8B%B1%3A%20encapsulation%EF%BC%89,%E9%9A%A0%E8%94%BD%E3%81%A8%E5%90%8C%E7%BE%A9%E3%81%A7%E3%81%82%E3%82%8B%E3%80%82">カプセル化 - Wikipedia</a>を見てください。

<h3>アクセッサ</h3>

カプセル化の概念の一部である「フィールドに直接アクセスせずに、メソッドを使ってアクセスする」をPerlで書いてみましょう。

<a href="/blog/20090321123713.html">アクセッサ</a>と呼ばれる<a href="/blog/20220929115717.html">メソッド</a>を作成することによって、フィールドに直接アクセスすることを避けることができます。

<ul>
  <li>
    <a href="/blog/20090321123713.html">アクセッサの生成</a>
  </li>
</ul>
