<!-- bottom -->
<!--
<hr>
<div style="width:90%;max-width:400px;background:#ffcef6;border: 1px solid #ff59e6;border-radius:3px;margin:10px auto;font-size:20px;">
<a rel="nofollow" href="https://perl-entrance-osaka.connpass.com/event/125719/"><img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/c7/d9/c7d929370c08bcb1d0b37cc33f9b6b79.png" width="80px">Perl入学式大阪 大阪府大阪市北区芝田 2019年5月25日(土) 第一回 春季開校<br>Perlプログラミングを0から学ぼう。<br>テキスト処理,正規表現,if,for,変数</a>
</div>
-->

<style>
.what-is-giblog {
  border:1px solid #ff5993;
  border-radius:10px;
  background:#ffe;
  width:100%;;
  max-width:480px;
  margin: 20px auto;
  padding-bottom:30px;
}
.what-is-giblog b {
  padding-left:3px;
  padding-right:3px;
  font-size:103%;
}
.what-is-giblog ul {
  padding:10px;
}
.what-is-giblog li {
}
.what-is-giblog img {
  width:100%;
  max-width:200px;
  margin-right:auto;
  margin-left:auto;
}

</style>

<div class="what-is-giblog">
  <div>
    <img src="https://jp.giblog.net/images/giblog-logo-image-text.png">
  </div>
  <div style="letter-spacing:1px;font-size:18px;padding:0 10px;"><b>GiblogはPerlで作られた、Gitで管理できるサイト・ブログを作成するためのツールです。</b></div>
  <ul>
    <li>すべてのページをGit管理</li>
    <li>スマートフォン対応</li>
    <li>高速な再構築</li>
    <li>Perlで自由にカスタマイズ</li>
    <li>2019年8月3日リリース</li>
  </ul>
  <div>
    <a style="margin-bottom:20px;border-radius:5px;text-align:center;font-size:22px;padding:15px 0;color:white;text-decoration:none;display:block;width:90%;max-width:260px;margin:0 auto;background:#D82E5D" href="https://jp.giblog.net/">Giblogを始めよう</a>
  </div>
</div>
