<div style="font-size:22px;text-align:center;font-weight:bold;margin:30px 0 15px 0;">
  Perlの書籍販売
</div>

<div style="text-align:center";>
  <a href="/blog/20200728215543.html">Perlの書籍販売</a>
</div>

<div style="font-size:22px;text-align:center;font-weight:bold;margin:30px 0 15px 0;">
  Perlゼミフォーラム
</div>
<div style="text-align:center";>
  <a href="/blog/20200716215543.html">Perlゼミフォーラムへ登録</a>
</div>

<div style="font-size:22px;text-align:center;font-weight:bold;margin:30px 0 15px 0;">
  Perlプログラミングちゃんねる
</div>

<div style="margin-left:auto;margin-right:auto;text-align:center;">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/z_oHTUGLyls" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div style="text-align:center">
  <a href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ">Perlプログラミングちゃんねる<br>チャンネル登録・口コミ歓迎</a>
</div>
