<div class="footer-services">
  <ul>
    <li><a rel="nofollow" href="/list.html">すべての記事(新着順)</a></li>
    <li><a rel="nofollow" href="/all.html">すべての記事(カテゴリー)</a></li>
  </ul>
</div>

<div class="perlri_link">
  <a rel="nofollow" href="https://perlclub.net/ja">Perlクラブ</a>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PGRMKMYSC2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PGRMKMYSC2');
</script>
