<div class="footer-services">
  <ul>
    <li><a href="/list.html">新着情報</a></li>
    <li><a href="https://perlclub.net/campaign">キャンペーン</a></li>
    <li><a href="https://perlclub.net/book/perl_linux_file">PerlでポータブルなLinuxファイル管理</a></li>
    <li><a href="https://perlclub.net/book/perl_text_essense">Perl テキスト処理のエッセンス</a></li>
    <li><a href="https://www.amazon.co.jp/dp/4774150258">業務で役立つPerl</a></li>
    <li><a href="https://perlclub.net/lesson">プログラミング教室</a></li>
    <li><a href="https://twitter.com/hashtag/Perl%E3%82%BC%E3%83%9F%E6%9B%B4%E6%96%B0%E6%83%85%E5%A0%B1?src=hashtag_click">Twitter</a>
    <li><a href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ">Youtube</a>
    <li><a href="https://perlclub.stores.jp/items/6125d8a98a45723bbfaa9a64">書籍セール</a></li>
    <li><a href="https://perlclub.net/forum">フォーラム</a></li>
  </ul>
</div>

<div class="perlri_link">
  <a rel="nofollow" href="https://perlclub.net">Perlクラブ</a>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PGRMKMYSC2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PGRMKMYSC2');
</script>
