<style>
.what-is-perl {
  width:95%;
  margin: 20px auto;
}
.what-is-perl b {
  padding-left:3px;
  padding-right:3px;
  font-size:103%;
}
.what-is-perl ul {
}
.what-is-perl li {
  list-style:none;
}
.what-is-perl img {
  width:100%;
  max-width:110px;
}

</style>

<div class="what-is-perl">
  <div>
    <img src="/images/perl-onion-logo.png">
  </div>
  <ul>
    <li><b>Perl</b>は、<b>テキスト処理</b>の記述性とパフォーマンスに優れ、<b>正規表現</b>が言語に組み込まれているプログラミング言語です。</li>
    <li><b>Linuxサーバー管理</b>での<b>フィルタリングプログラム</b>、複数行の文字列を処理、ファイル内容の検索・置換などが得意。Mojoliciousを使った<b>Webサービス開発</b>も。</li>
    <li>Perlは、<b>git</b>や<b>openssl</b>など<b>Unix/Linuxミドルウェア</b>の支援ツールとして採用されています。</li>
  </ul>
</div>

<!-- footer -->
<a href="https://kimoto-system.co.jp/">サイト運営 木本システム Copyright © Yuki Kimoto</a>
