<h1>
  <a href="/"><img src="/images/logo.png"><span style="font-size:105%">Perl</span>入門ゼミ</a>
</h1>
<div class="header-description">
  テキスト処理、Linuxサーバー管理、Web開発ならPerl
</div>
<div class="header-otoiawase">
  <div style="display:table-cell;padding-right:3px;">
    <a rel="nofollow" style="" href="https://twitter.com/perlzemi" title="Twitter" style="padding-right:3px;"><img style="width:37px" src="/images/Twitter_Social_Icon_Square_Color.png"></a>
  </div>
  <div style="display:table-cell;vertical-align:top;">
    <a rel="nofollow" style="display:block;width:100%;background:#F048A4;color:white;text-decoration:none;padding:3px;" href="https://perlzemi.slack.com">フォーラムへ<br>ログイン</a>
  </div>
</div>
