<div class="side_list">
  <div class="side_list_body">
    <ul>
      <li>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=perlgenki-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=B097T6CBR6&linkId=f8846c68fe1594fc3e0a06a33a0b0158&bc1=ffffff&amp;lt1=_top&fc1=f00909&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=perlgenki-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=4774150258&linkId=a066bb60c746cc9ba11b3e4c72386269&bc1=ffffff&amp;lt1=_top&fc1=f00909&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>      </li>
      </li>
    </ul>
  </div>
</div>
<div class="side_list">
  <div class="side_list_body">
    <ul>
      <li>
    </ul>
  </div>
</div>

<div style="margin-bottom:30px">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
     crossorigin="anonymous"></script>
<!-- ディスプレイ縦長 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4525414114581084"
     data-ad-slot="4544919209"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="side_list">
  <div class="side_list_body">
    <ul>
      <li>
        <div class="side_list_image">
          <a rel="nofollow" href="/list.html"><img style="width:100px;margin-right:5px;" src="/images/new.png"></a>
          <a rel="nofollow" href="https://twitter.com/hashtag/Perl%E3%82%BC%E3%83%9F%E6%9B%B4%E6%96%B0%E6%83%85%E5%A0%B1?src=hashtag_click"><img style="width:100px;" src="/images/update.png"></a>
        </div>
      </li>
    </ul>
  </div>
</div>
