<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlプログラミング入門
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20180820153471.html">Perlのインストール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091226126425.html">Perl基礎文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161012147627.html">配列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161013147635.html">ハッシュ</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161023147731.html">条件分岐</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20170521149524.html">繰り返し処理</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161003147558.html">文字列</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100827127859.html">正規表現</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20100930127859.html">リファレンスと多次元データ構造</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20101130129876.html">サブルーチン</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20110212130370.html">ファイル入出力</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161107147852.html">変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perlの入門書
  </div>
  <div class="hatena-modulebody" style="text-align:center;letter-spacing:1px;">
    <ul>
      <li>
        <div style="font-size:17px;margin-bottom:5px"><b>初めてのPerl 第7版</b></div>
        <a rel="nofollow" href="/blog/20200502174033.html"><img src="https://images-na.ssl-images-amazon.com/images/I/51t%2B7ZTGW6L._SX388_BO1,204,203,200_.jpg" width="160px"></a><br>
        <div style="margin-top:10px;">Perl入門 定番の一冊</div>
      </li>
      <li>
        <div style="font-size:17px;margin-bottom:5px"><b>業務に役立つPerl</b></div>
        <a rel="nofollow" href="/blog/20120326133275.html"><img src="https://images-na.ssl-images-amazon.com/images/I/51d4T7m8NzL._SX347_BO1,204,203,200_.jpg" width="160"></a><br>
        <div style="margin-top:10px;">ログ解析など日本語を含むテキスト処理の実践!</div>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    Perl辞典
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="/blog/20161004147558.html">標準関数</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161022147731.html">構文・文法</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161005147566.html">演算子</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20091116124667.html">モジュール</a>
      </li>
      <li>
        <a rel="nofollow" href="/blog/20161102147817.html">特殊変数</a>
      </li>
    </ul>
  </div>
</div>
<div class="hatena-module">
  <div class="hatena-moduletitle">
    案内
  </div>
  <div class="hatena-modulebody">
    <ul>
      <li>
        <a rel="nofollow" href="https://perlzemichannel.seesaa.net/">YouTubeでもっと簡単にプログラミングを学ぶならPerlゼミちゃんねる</a>
      </li>
      <li>
        <a href="https://linux.perlzemi.com/">Linuxコマンドを学ぶならLinuxサーバー管理入門</a>
      </li>
      <li>
        <a href="https://webdesign.perlzemi.com/">Webデザインを学ぶならWebデザイン入門</a>
      </li>
      <li>
        <a href="https://web.perlzemi.com/">Web開発を始めるななMojoliciousスタートアップ</a>
      </li>
      <li>
        <a href="https://jp.giblog.net">ブログを作るならGiblog</a>
      </li>
      <li>
        <a rel="nofollow" href="http://www.perl-entrance.org/">プログラミングの勉強会ならPerl入学式</a>
      </li>
      <li>
        <a rel="nofollow" href="/mail.html">お問合せはこちら</a>
      </li>
    </ul>
  </div>
</div>
