<!-- entry-top -->
<style>
  .perlzemi_channel {
  }
  .perlzemi_channel a {
    background:url(/images/perlzemi-channel-image.jpg) no-repeat;
    display:block;
    width:100%;
    height:100%;
    padding-left:130px;
    text-decoration:none;
    min-height:130px;
    padding-top:20px;
  }
  .perlzemi_channel a:hover {
    background-color:#ffebfe;
  }
</style>
<div class="perlzemi_channel">
  <a rel="nofollow" href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ">
    <div>
      「初心者が動画で学べるPerlプログラミングちゃんねる始めました」
    </div>
    <div>
      「プログラミングを今から始めたい、始めたばかりという方へお勧め」
    </div>
    <div>
      「チャンネル登録でエンジニア界の裏話が聞けるコンテンツ準備中」
    </div>
    <div >
      <span style="color:black;font-weight:bold;">パールの「きもとん」と一緒に楽しく学ぼう。口コミ歓迎</span>
    </div>
  </a>
</div>
