<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  $(function() {
    $('.mail-form button').on('click', function () {
      var form_values = $('.mail-form form').serialize();
      $.post(
        "/mail.cgi",
        form_values,
        function (data) {
          if (data.success) {
            $('.mail-form').html('<div class="mail-form-success">メッセージを受け付けました。送信ありがとうございます。</div>');
          }
          else {
            // エラーメッセージ
            var errors = data.errors;
            $('.mail-form-errors').empty();
            for (var i = 0; i < errors.length; i++) {
              var error = errors[i];
              var li = $('<li></li>');
              li.text(error);
              $('.mail-form-errors').append(li);
            }
          }
        },
        "json"
      );
    });
  });
</script>

<h2>お問合せフォーム</h2>
<div class="mail-form">
  <ul class="mail-form-errors">
  </ul>
  <form>
    <label>
      <div class="mail-form-title">
        名前:
      </div>
      <div class="mail-form-body">
        <input type="text" size=50 name="name"><br>
      </div>
    </label>
    <label>
      <div class="mail-form-title">
        メールアドレス:
      </div>
      <div class="mail-form-body">
        <input type="text" size=50 name="email">
      </div>
    </label>
    <label>
      <div class="mail-form-title">
        メッセージ:
      </div>
      <div class="mail-form-body">
        <textarea name="message"></textarea>
      </div>
    </label>
    <div>
      <button type="button">メッセージを送信</button>
    </div>
  </form>
</div>
