<div class="beginning">

<h1>はじめに</h1>

「PerlでポータブルなLinuxファイル管理入門」を手に取ってくださり、ありがとうございます。「PerlでポータブルなLinuxファイル管理入門」は、Perlを使ったポータブルなLinuxのファイル管理をマスターするための書籍です。

ポータブルというのは、ひとつのソースコードが、たくさんの環境で動くという意味です。Perlで書いたプログラムは、Debian/CentOS/UbuntuなどのLinux、FreeBSD/OpenBSD/AIX/HP-UX/SolarisなどのUNIXで、同じコードが動きます。またWindowsやMac、汎用機など多くの環境で動かすことができます。

Perlは後方互換性の高い言語ですので、安定性が高く、古いコードが新しい環境でも、小さな修正で、そのまま動きます。

この書籍では、まず最初に、Linuxの特徴とLinuxの利用方法を簡単に紹介します。

次に、Linuxファイル管理で、よく使うコマンドとシェルスクリプトの簡単な解説を行います。

次に、ファイルバックアップの自動化を行う方法を解説します。

その後、Perlを使ったワンライナーとLinuxコマンドを組み合わせる方法を紹介します。

最後に、Perlプログラムで、Linuxのファイル管理を行う方法を紹介します。

Linux以外の環境、UNIX、Mac、Windowsについて、ファイル管理についてLinuxと異なる部分があれば、補助的に解説します。

表紙のキャラクターのカエルは、モジガエル、ペンギンは、ポータンという名前です。

「PerlでポータブルなLinuxファイル管理入門」で紹介したサンプルコードは、PerlクラブのWebサイトで会員登録を行うとダウンロードできます。
</div>
